[2019-10-09 15:57] hidmic commented on #863
@dirk-thomas `SetUpTestCase()` and `TearDownTestCase()` get called once per _test case_, where _test case_ in `gtest` means all the tests associated with a `::testing::TestCase` fixture subclass (not the same as `SetUp()` and `TearDown()`). Thus, in a setting like the one we had before https://github.com/ros2/rclcpp/pull/876, it won't make a difference. We could `init()` and `shutdown()` before an

[2019-10-09 21:31] wjwwood commented on #863
I agree with @hidmic, I would be surprised if shutdown in `TearDownTestCase()` made a difference, but we can still try it out.

I think it's more likely to be a discovery race condition, no? Like services from previous runs are still around at the beginning of the next test (that would explain why sleeping between tests fixes it). Unless fast rtps does something to "flush" things out in shutdown,

[2019-10-09 21:36] hidmic commented on #863
That's what I thought, but after browsing Fast-RTPS code for a while I can't realize how's that possible. And if that's the case, I think it'd be really inconvenient if there's no way to establish a "reliable" link.

[2019-10-09 21:45] dirk-thomas commented on #863
That exact case would benefit from this patch. In the repeated CI builds we run a test N times. So when the test itself doesn't shutdown correctly and doesn't unadvertise itself it might affect the re-run of itself.

[2019-10-09 21:48] wjwwood commented on #863
But I don't think shutdown does anything additional that destroying the node doesn't do. I agree something needs to be done, but I don't think shutdown will do anything. But again we can certainly test it.

[2019-10-09 21:50] wjwwood commented on #863
In https://github.com/ros2/rclcpp/pull/885#issuecomment-540215504 @dirk-thomas said:

Destroying the node is all that is needed. Shutdown (as far as I know) does nothing additional to signal to other nodes that something no longer exists.

[2019-10-11 11:28] eboasson opened #886 "Action executor doesn't allow spurious client wakeup"
ClientBase::execute doesn't gracefully handle a client that suffered a spurious wakeup: in that case the ``rmw_take_response`` returns ``RMW_RET_OK`` with ``taken = false``, which gets converted to ``RCL_RET_CLIENT_TAKE_FAILED``.

The regular client executor in
https://github.com/ros2/rclcpp/blob/b8f723708757b0d0b7f29de47544798bafc24a6e/rclcpp/src/rclcpp/executor.cpp#L404-L420 simply does nothing

[2019-10-11 18:54] jacobperron commented on #886
I think this is a bug. The documentation for [`rcl_action_take_goal_response()`](https://github.com/ros2/rcl/blob/e6739884151c302838cfbe908fc9963ef4836f8f/rcl_action/include/rcl_action/action_client.h#L360-L361) mirrors the service client API:

So, I believe the rclcpp implementation should be updated to account for this return code.

Thanks for reporting this!

Please try https://github.com/ros2/

[2019-10-13 04:16] hakuturu583 opened #889 "add toSec() function to the rclcpp::Time Class"
## Feature request
In ROS1, we can get duration and time in seconds.
Via toSec() method. (ros::TimeBase< T, D > Class Template Reference)
But now, I think there is no API to get the time and duration in Seconds.
So, I want to add toSec() method to the rclcpp::Time Class

#### Feature description

toSec() method returns the rclcpp::Time and Duration data in Seconds.

#### Implementation considerati

[2019-10-13 04:31] dirk-thomas commented on #889
That functionality already exists since #526. Please note the docblock about the potential precision loss.

[2019-10-13 04:31] #889 closed

[2019-10-14 00:57] hakuturu583 commented on #889
Thanks!

[2019-10-14 16:03] #886 closed

[2019-10-14 21:51] ivanpauno opened #893 "`Context` destructor not being called"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 18.04
- Installation type:
  -  from source
- Version or commit hash:
  -  current master
- DDS implementation:
  -  Fast-RTPS (should be DDS implementation agnostic)
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

- Add a log here https://github.com/ros2/rclcpp/blob/8e69b7d505eea36410900eeb9f708f23742

[2019-10-14 21:52] ivanpauno commented on #893
@wjwwood any idea on how to solve this?

[2019-10-14 23:45] wjwwood commented on #893
Not off hand. How are you "printing", because at some point `std::cout` is destroyed and even the stdin/stdout handles are closed, but that's usually after static globals are destructed.

It would be less error prone to set a break point and see if you reach it instead.

Does it happen with a non-composable node?

[2019-10-15 13:37] ivanpauno commented on #893
Good question. I added a breakpoint, the destructor is not being executed.

I have now tried `ros2 run composition manual_composition`, same problem.

[2019-10-15 16:52] ivanpauno commented on #893
What about storing a `std::weak_ptr` instead of a `std::shared_ptr` here:
https://github.com/ros2/rclcpp/blob/8e69b7d505eea36410900eeb9f708f2374215feb/rclcpp/src/rclcpp/contexts/default_context.cpp#L25-L26

After the first node is created (using the default context), it will have a part ownership of the context.
So, it will be kept alive:

https://github.com/ros2/rclcpp/blob/8e69b7d505eea36410900e

[2019-10-15 16:56] wjwwood commented on #893
I think you need to find the root cause of why the constructor is not getting called now. Switching away from a shared_ptr may work, but even if it does, it doesn't explain the original issue. I don't see why using a shared pointer is a problem.

[2019-10-15 16:58] wjwwood commented on #893
Also the context should be created when `rclcpp::init()` is called, not when the first node is created. You can create a wait set without a node and a wait set requires a context:

https://github.com/ros2/rclcpp/blob/8e69b7d505eea36410900eeb9f708f2374215feb/rclcpp/src/rclcpp/executor.cpp#L66

[2019-10-18 00:07] fujitatomoya commented on #893
@ivanpauno @wjwwood

let us take care of this, we will try to figure out the root cause.

[2019-10-18 12:30] ivanpauno commented on #893
Sure, I will need a fix at some point, but I'm not going to dig more into this in a few weeks.

Static variables with non-trivial destructors tend to cause cpp non-sense problems.
The google style guide, for example, forbids them https://google.github.io/styleguide/cppguide.html#Static_and_Global_Variables.
`std::weak_ptr` destructor is trivial.
I would try to avoid the pattern of having an static

[2019-10-18 17:57] wjwwood commented on #893
I don't see how the weak pointer will solve the problem. As a singleton it must exist even if someone else is not holding it until someone calls shutdown.

That's a good goal, but I think it's unrealistic in this case.

I understand the the style guide says to avoid it, but I think it's a general rule. In this case, I think it's unavoidable and until we know exactly why it isn't working (beyond th

[2019-10-21 21:06] #797 closed

[2019-10-22 22:10] bpwilcox opened #898 "API gap between Node and LifecycleNode"
I was working on a feature using `rclcpp_lifecycle::LifecycleNode` to declare a parameter when I noticed that the `declare_parameter` API on the lifecycle node interface does not include the `ignore_overrides` flag as does the version in `rclcpp::Node`. It seems that in addition to this, there are a handful of functions that have yet to be implemented in the lifecycle node. From a brief comparison

[2019-10-24 15:19] piraka9011 opened #904 "Build Farm - Tolerance flakiness in TestMultiThreadedExecutor"
## Bug report

**Required Info:**

- Operating System: OS X
- Installation type: Source (Build Farm)
- Version or commit hash: bf89dc0
- DDS implementation: FastRTPS
- Client library (if applicable): rclcpp

#### Steps to reproduce issue
Run the build farm. TestMultiThreadExecutor fails due to tolerance.

#### Expected behavior
TestMultiThreadExecutor passes.

#### Actual behavior
TestMultiThreadE

[2019-10-24 23:52] jacobperron commented on #904
Based on the comment [here](https://github.com/ros2/rclcpp/blob/8cc2a9ba8304b61f240f040bc31414502aaa412c/rclcpp/test/executors/test_multi_threaded_executor.cpp#L74-L76), we may consider relaxing the test to check that more than X seconds has passed and not have an upper bound:

[code]

[2019-10-25 08:47] Barry-Xu-2018 commented on #893
@ivanpauno @wjwwood @fujitatomoya

After investigation, the root cause is
- rclcpp/rclcpp/src/rclcpp/node_interfaces/node_graph.cpp
[code]

- ros2/rclcpp/rclcpp/include/rclcpp/context.hpp
[code]

After Context::shutdown called, context shared_ptr still is in the map 'sub_contexts_'. No one remove context share_ptr from this map. I think this problem occurs not only termination by 'ctrl+c', but als

[2019-10-25 13:06] ivanpauno commented on #893
Nice catch!

I'm not too sure about the fix, I think it's not safe to assume that the sub-context won't be created again after shutdown is called (generating again the cyclic dependency).
@wjwwood What do you think?

[2019-10-28 15:20] DensoADAS opened #908 "Reliable publisher/subscriber-connection drops messages in high frequency scenarios"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - deb packages or source
- Version or commit hash:
  - Eloquent or ros2 master branch (22. October 2019)
- DDS implementation:
  - FastRTPS, OpenSplice, RTI connext
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Create a simple publisher/subscriber pair, both having reliable

[2019-10-29 00:35] fujitatomoya commented on #908
@DensoADAS

can you describe your platform detail? what hardware are you trying to use?

[2019-10-29 06:11] DensoADAS commented on #908
Multiple machines were tested, all got the issue:

1. OS: Ubuntu 18.04
    CPU: Intel Core i5-6500 @ 3.20GHz
    RAM: 24GB
2. OS: Ubuntu 18.04
    CPU: Intel Xeon E5-2680 v4 @ 2.40GHz
    RAM: 16GB
3. OS: Ubuntu 18.04 (virtual machine on Windows 10 host)
    CPU: Intel Core i7-6820HQ @ 2.70GHz
    RAM: 8GB

The software on all machines is up-to-date. The test was executed on all machines using the

[2019-10-30 18:55] rotu opened #910 "Domain ID not changable on rclcpp::NodeOptions"
`rclcpp::NodeOptions` has no way to set the Domain ID on a per-node basis, and it's kludgy to get the domain ID `node_options->get_rcl_node_options()->domain_id`. This functionality *is* exposed on `rcl_node_options_t`, so it's just a deficiency in the c++ API.

[2019-10-30 20:48] #904 closed

[2019-10-31 14:32] Leo-Nogismus commented on #317
Sorry to bring this up again after such a long time, I have the same issue using ros dashing with Connext as far as I know. Should I open a new issue or just keep posting here?

[2019-10-31 14:56] Leo-Nogismus opened #911 "rclcpp signal_handler not working"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 Bionic Beaver With Ros2 Dashing
- Installation type:
  - From source
- Version or commit hash:
  - Master branch from September 16th 2019
- DDS implementation:
  - RTI Connext
- Client library (if applicable):
  - rclcpp

I have the same problem, as stated in this issue, I thought I would open a new one however, since it has b

[2019-11-05 14:47] hidmic opened #912 "[Dashing] Inter-process comms force copies in intra-process comms"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries
- Version or commit hash:
  - 0.7.11
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
See  https://github.com/ros2/demos/issues/412.

#### Expected behavior
Inter-process communication should not result in copies during intra-process communications.

#### Actual beha

[2019-11-05 14:52] hidmic commented on #912
So, backporting an experimental implementation doesn't sound like a great idea to me, but to solve this in the best possible way we'd need to get closer to that implementation i.e. being able to decide whether to copy or not based on the nature of the subscriptions.

[2019-11-05 16:52] dirk-thomas commented on #912
On the Dashing branch you either have to wait for the inter process publish call to return (which adds significant latency) or copy the data if it is requested externally (see https://github.com/ros2/rclcpp/blob/fadd923aa0e0ef9fff1b1ef7860ed577ac455ea6/rclcpp/include/rclcpp/publisher.hpp#L106-L111). The former was the case some time ago but the extra latency was considered to be less desired. The

[2019-11-05 17:33] hidmic commented on #912
Right. There's another option though, which is to copy `std::unique_ptr`-referred messages for inter-process communication to use. That improves owning publisher, single owning intra-process subscriber performance (that of the intra-process demo), but it penalizes owning publishers, multiple not-owning intra-process subscribers performance.

Alternatively, we can mark this as `won't fix`. Do we ha

[2019-11-05 18:27] dirk-thomas commented on #912
I don't mind which of the two options we choose.

Yes, each release page has a known issues section.

[2019-11-06 21:34] malsbat opened #913 "Intra-process subscriber does not call get_actual_qos() while publisher does, causing gtest_intra_process to fail"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - 2ed445647400bacbff6420cfb8ccc7bee86ee469
- DDS implementation:
  - DPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Run gtest_intra_process__rmw_dps_cpp.

#### Expected behavior
Test passes.

#### Actual behavior
Test fails.

#### Addi

[2019-11-11 15:47] hdino opened #915 "Stream Logging"
## Feature request

#### Feature description
Stream logging should be implemented as it
1) has better type handling (type safety and no need to change a format string if the type changes)
2) allows simple output of types not supported by the `printf` format specifiers.

#### Implementation considerations
The stream log commands could use the existing log functions. Simplified example:
[code]

[2019-11-13 19:13] hidmic commented on #912
Alright, leaving a `won't fix` here and adding this as a well-known issue in Dashing (see https://github.com/ros2/ros2_documentation/pull/416).

[2019-11-13 19:44] astere-cpr opened #919 "Action client unnecessarily creates an event every time wait_for_action_server is called"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - from source
- Version or commit hash:
  - b92db52bb14ec097946bfe44d2b337359dddfbab
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Create an action client to connect to an existing running action server and call `wait_for_action_server()'

[2019-11-14 19:08] hidmic opened #923 "Not getting service responses reliably when using CycloneDDS"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04, both AMD64 and ARM64
- Installation type:
  - Binaries and from source
- Version or commit hash:
  - b92db52bb14ec097946bfe44d2b337359dddfbab (using https://github.com/ros2/rmw_cyclonedds/commit/4089feee815a4687b30f757ab1c87bf028804c93)
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclcpp **only**

[2019-11-15 08:57] AlexisTM opened #925 "rcl_components fails to build on ros2 eloquent (placeholder is ambiguous)"
# Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  -  Eloquent from source
- Version or commit hash:
  - master on b92db52bb14ec097946bfe44d2b337359dddfbab
- DDS implementation:
  - Fast-RTPS, RTI Connext
- Client library (if applicable):
  - rclcpp_components

#### Steps to reproduce issue

[code]

#### Expected behavior

Builds without error

#### Actua

[2019-11-15 08:57] #925 closed

[2019-11-15 08:58] AlexisTM commented on #925
This was due to wrong paths and melodic being installed on the same system.

[2019-11-15 18:10] claireyywang commented on #908
Thanks for reporting this issue! I was able to reproduce this behaviour by sending 10 msgs in frequencies ranging from 1us to 1s. The higher frequency messages were sent in, the more loss I observed. It seems like Opensplice has relatively the most reliable delivery among all middleware implementations, with Fastrtps being the worst. This also confirms the dropped msgs counts. I'm currently not su

[2019-11-15 23:34] wjwwood commented on #910
This makes sense to me, we'd appreciate anyone who has time to contribute this addition to the NodeOptions. We should consider doing it in `rclpy` at the same time, if it's not already there.

[2019-11-16 05:13] dirk-thomas commented on #908
I tried to reproduce the problem and the first thing I noticed is that the talker is starting to publish messages right away without waiting for the subscriber to be discovered and matched.

You can easily reproduce that by printing `msg->data` for the first received message in the listener - it is greater than 1 and the offset matches the missing message count exactly.

Adding a sleep in the talk

[2019-11-16 12:11] Tobi2001 commented on #908
@dirk-thomas The sleep fixes the missing messages at the beginning but the general problem still exists. Messages are dropped (quite randomly as it seems) throughout the publishing process; you can check this by adding the commented out code in line 34 of the listener:
[code]
With the sleep and 100000 sent messages I still get around 80000 dropped ones with FastRTPS and the eloquent binaries.

[2019-11-17 13:20] suab321321 commented on #910
@wjwwood sir I would like to contribute

[2019-11-18 07:14] fujitatomoya commented on #908
@claireyywang @dirk-thomas @Tobi2001

confirmed this problem with Fast-RTPS. the more frequency, the more losses happen.

[2019-11-18 12:46] ivanpauno commented on #910
Note: When we finish with https://github.com/ros2/rmw/issues/183, one domain id per node will have no more sense, and it will be one domain id per context.

[2019-11-18 14:06] ivanpauno commented on #913
@malsbat Can you open a PR proposing a fix?

Thanks!

[2019-11-18 14:13] ivanpauno commented on #913
I saw you have already opened #914

[2019-11-18 17:39] wjwwood commented on #910
That's a good point @ivanpauno. In that case maybe we should hold off on this until we have a little more clear direction on that set of changes.

@suab321321 it sounds like we'd like to hold off on this for now. Our intention is to follow through with ros2/rmw#183, in which case this issue will no longer make sense. There's a chance we change our mind, in which case this issue would make sense ag

[2019-11-18 18:30] suab321321 commented on #910
@wjwwood okay

[2019-11-18 19:26] wjwwood commented on #893
Sorry for the delay in responding.

Yes, this is not a safe fix. I think the right thing to do is for anything that has a reference to the Context and could be owned by a sub context, needs to keep a weak pointer to the context instead. so in the case of graph listener, it will need to use a weak pointer rather than a shared pointer to the context and deal with any tear-down issue that follow.

[2019-11-18 22:07] #915 closed

[2019-11-19 01:35] claireyywang commented on #908
I looked into fastrtps and it is mentioned that [in high rate or large data scenarios, there are a couple of parameters need to be tuned to avoid network package drop](https://fast-rtps.docs.eprosima.com/en/v1.7.0/advanced.html#tuning). Based on the [documentation ](https://fast-rtps.docs.eprosima.com/en/latest/xmlprofiles.html#xml-profiles) and [presentation slides](https://roscon.ros.org/2017/pr

[2019-11-19 05:58] Barry-Xu-2018 commented on #893
@ivanpauno @wjwwood @fujitatomoya

Thanks for your comments.
After checking codes, we think using weak pointer doesn't cause a lot of code changes.
I have finished change.
Please review https://github.com/ros2/rclcpp/commit/5bd65eb22ed71e74488481cbfdb89ec01feea9e3

[2019-11-19 15:37] machinekoder opened #927 "Android compile error rcl_allocator_t"
## Bug report

**Required Info:**

- Operating System:
  Ubuntu Bionic 18.04
- Installation type:
  From source
- Version or commit hash:
  latest `dashing` branch
- DDS implementation:
  Fast-RTPS
- Client library (if applicable):
  rclcpp

#### Steps to reproduce issue
That's the hard part to describe since Android build/install is hardly documented.

However, I get this error when compiling a Q

[2019-11-19 17:16] dirk-thomas commented on #908
I can't reproduce the problem. With the sleep in place (and the error message commented in) the listener still reports the following for me with no error messages:

[code]

[2019-11-19 18:50] claireyywang commented on #908
@DensoADAS  @Tobi2001 @fujitatomoya

@dirk-thomas and I did more testing and found out that by default (without any args), `fastrtps` build type is `release`, which caused the ~70% msg drop. But if we build `debug` instead, which is what @dirk-thomas used, the performance will be much better: msg drop around 0-10%.

Here are the steps we took:
[code]
Please let me know if you are able to get a muc

[2019-11-19 20:57] dirk-thomas commented on #908
@richiprosima The behavior we are seeing here is pretty weird. When building FastRTPS with the build type `Release` it drops a very significant number of messages (~60%-70%). When building `Debug` it surprisingly behaves much better - it drops none (or sometimes up to 10%).

DensoADAS/high_freq_pub_example#1 contains the above example with the additional sleep to ensure the endpoints have matched.

[2019-11-20 12:51] ivanpauno commented on #927
I can't imagine what the problem is from the error message.
Having more information, and details on how to reproduce the problem would be great.

[2019-11-20 13:55] nuclearsandwich commented on #912
Since the issue is publicly listed and not going to be fixed. Can the issue itself be closed?

[2019-11-21 03:26] fujitatomoya commented on #908
@DensoADAS

i confirmed that cyclonedds does not have any message drop.
i have tested more than 10 times with cyclonedds, can you confirm for double check?

[code]

@claireyywang @dirk-thomas
it surely depends on dds implementation, need some help from each dds vendor.
do you want me to create issue for each rmw implementation such as rmw_fastrtps?

[2019-11-21 03:42] dirk-thomas commented on #908
@fujitatomoya please try to reproduce the behavior with the different build types of FastRTPS mentioned above before adding another dimension to the problem.

[2019-11-21 04:03] fujitatomoya commented on #908
@dirk-thomas

confirmed almost same behavior.

[2019-11-21 13:44] hidmic commented on #912
Now that I merged https://github.com/ros2/ros2_documentation/pull/416, yes, I think we can close.

[2019-11-21 13:44] #912 closed

[2019-11-21 22:27] jacobperron commented on #846
I believe this ticket has been addressed by #892.

[2019-11-21 22:27] #846 closed

[2019-11-22 16:25] ivanpauno commented on #471
Solved by https://github.com/ros2/rclcpp/pull/844, closing!

[2019-11-22 16:25] #471 closed

[2019-11-25 14:37] fujitatomoya commented on #898
@bpwilcox

just idea, i think rclcpp_lifecycle::LifercycleNode is built on top of rclcpp::Node. so rclcpp_lifecycle::LifecycleNode Class inherits based on rclcpp::Node and featured with lifecycle interfaces. what i really care if for code maintenance. and also i cannot think of anything that is required for rclcpp::Node but not for rclcpp_lifecycle::LifercycleNode.

if i am not understanding corre

[2019-11-25 18:46] bpwilcox commented on #898
Currently, the `Node` aand `LifecycleNode` classes are independent implementations, though both are built on top of the `rclcpp::node_interfaces` as members. For this reason, the APIs can go out of sync.

I agree, the `LifecycleNode` is primarily a superset of the `Node` interface, which is why I am opening discussion for whether we should have it inherit from the `Node` class or perhaps both inhe

[2019-12-03 01:12] jacobperron commented on #919
Fixed in #920

[2019-12-03 01:12] #919 closed

[2019-12-03 19:10] dirk-thomas commented on #874
We have discussed this in today's meeting and agree that the current use two consecutive underscores is undesired since it doesn't follow the spec.

* We don't want to go back and follow the Google styleguide either and use a single underscore since the resulting ambiguity has actually bitten us in the past and resulted in colliding header guards from different files.

* Considering the alternativ

[2019-12-03 19:10] #874 closed

[2019-12-03 19:55] elfring commented on #874
* Would you like to restrict the safe application of your software to the implementation of C++ compilers?
* Will you eventually care more for standard compliance?

[2019-12-03 19:57] dirk-thomas commented on #874
@elfring Please feel free to make concrete proposals,

[2019-12-03 19:58] dirk-thomas commented on #874
I think I have described in details in my previous comment that we would like to have a standard compliant solution which doesn't have real-world drawbacks like collisions. So I am not sure why you are asking these questions.

@elfring Please feel free to make concrete proposals.

[2019-12-03 19:59] elfring commented on #874
I found my suggestion for a better name selection concrete enough.

[2019-12-03 20:04] dirk-thomas commented on #874
Assuming you are referring to your [one-line UUID reference](https://github.com/ros2/rclcpp/issues/874#issuecomment-535183698) please describe with a few more words how you imagine that to be done.

[2019-12-03 20:08] elfring commented on #874
* It would be probably be simpler just to replace inappropriate double underscores.
* UUIDs can be added also to include guards with the help of some tools.

[2019-12-03 20:12] dirk-thomas commented on #874
The question is: with what to replace them? Please see my previous comment enumerating all the options we have considered.

Please be more concrete how exactly that process would look like on all the targeted platforms (Linux, macOS, Windows).

[2019-12-03 20:19] elfring commented on #874
* I imagine that a single underscore can be sufficient.
* But you can choose also any other standard compliant solution.

I suggest to take just another look at known approaches to generate unique identifiers (also for include guards).

[2019-12-03 20:23] dirk-thomas commented on #874
Please read the above comments. That case has been explicitly discussed and the problem with that approach pointed out.

Again: please make concrete proposals. Above we iterated over some proposed separators and also argued explicitly why we don't think they are a good solution.

[2019-12-03 20:27] elfring commented on #874
If you do still not like a single underscore as a simple replacement, you can choose a more pleasing text instead.

[2019-12-03 20:29] dirk-thomas commented on #874
Your comments are not helpful and you are repeatedly ignoring feedback already given.

I am sorry but I won't be able to iterate with you on this (without any significant new input).

[2019-12-03 20:32] elfring commented on #874
It seems to be easier for you to reject extra development efforts for achieving desirable C++ standard compliance.

[2019-12-04 21:12] wjwwood commented on #874
I think UUIDs could be a solution we would adopt, but we would need some tools to help our developers and contributors when they are making new headers. Do you have recommendations on such tools?

Note, "use editor X" is probably not a good solution, since people will want to use their own editors and not be convinced to switch for such a narrow feature. Maybe there's a website that generates them

[2019-12-05 15:31] ivanpauno opened #933 "spdlog generates a SEGFAULT when a context is being destructed"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 18.04
- Installation type:
  -  from source
- Version or commit hash:
  -  https://gist.githubusercontent.com/ivanpauno/2201f6fb5ad0fc5449d1f2e98f73a73d/raw/77582cbdc6bac5022039cc17fb0c03d0ed9f8289/ros2.repos
(used in [https://github.com/ros2/rmw_fastrtps/pull/312#issuecomment-561769677]()).
- DDS implementation:
  -  rmw_fastrtps_

[2019-12-05 15:31] ivanpauno commented on #933
@wjwwood @clalancette @hidmic any ideas?

[2019-12-05 15:55] hidmic commented on #933
Whether we usually hit this or not, we should never rely on static storage objects to be destroyed in any particular order.

I don't see why shutting down one context should result in all loggers being shut down either. But changing that won't free us from this race.

That's probably the simplest fix. It's not great, you can't clean up unused loggers, but I don't see any other alternative if we do

[2019-12-05 16:25] mjcarroll commented on #898
I'm going to add a second issue to track just adding the currently missing APIs, and we can continue discussion on how to prevent this in the future on this issue.

[2019-12-05 16:27] clalancette commented on #933
@ivanpauno Good job tracing this down and giving a thorough explanation of the problem.

Yeah, I agree.  Since it is the root logger, and we can't guarantee the shutdown order, I'd say let's get rid of that `drop`.  Please put a comment in explaining why we can't reasonably call it.

[2019-12-05 16:56] nuclearsandwich commented on #780
This fix was released in Dashing Patch 4 but the issue wasn't removed from the board so it got bumped forward. I'm taking it off now but the fix was released.

[2019-12-05 17:01] wjwwood commented on #933
You can if they are in the same translation unit. I don't know if it's possible, but we may be able to store it in the context and route all access to it from there. That would fix the issue, but it may not be possible due to needing to access it from C libraries well beneath `rclcpp`.

[2019-12-05 17:03] wjwwood commented on #933
Also, that only works if spdlog allows us to use it completely without singletons, which I'm not sure about.

[2019-12-05 17:06] wjwwood commented on #933
Just glancing at it, the answer looks like no...

[2019-12-05 17:11] hidmic commented on #933
Interesting, I had to look that up. Accidentally, I came across an [idiom](https://en.wikibooks.org/wiki/More_C%2B%2B_Idioms/Nifty_Counter) to deal with this particular problem. We just need to send a patch upstream :sweat_smile:.

[2019-12-05 17:18] clalancette commented on #933
It's been a while since I looked at it in detail, but that was my recollection as well.

That seems like a reasonable way to go about fixing it.  I'd suggest @ivanpauno test it out locally first just to make sure it actually solves his problem.  If it does, yeah, an upstream patch is the way to go for Foxy.  It's less clear if we want to backport that to Eloquent, or just remove the `drop` there,

[2019-12-05 17:44] ivanpauno commented on #893
Fixed by https://github.com/ros2/rclcpp/pull/906.

[2019-12-05 17:44] #893 closed

[2019-12-05 17:50] ivanpauno commented on #933
Ok, I will start by avoiding the use of `spdlog::drop`.

That's true. I *don't really like* the nifty counter idiom, but it's fair using it here.
I think that the we can use that idiom in [rcl_logging_configure](https://github.com/ros2/rcl/blob/3a5c3a34191bd95491cb72c7458b9409452a28f0/rcl/include/rcl/logging.h#L52-L54) and [rcl_logging_fini](https://github.com/ros2/rcl/blob/3a5c3a34191bd95491cb72c

[2019-12-05 18:06] dirk-thomas commented on #927
@machinekoder Please provide reproducible steps otherwise there is not much we can do about this.

[2019-12-05 21:33] gabime commented on #933
spdlog allows this. spdlog logger objects can be created and used like any other object. Using the registry is not mandatory and can be bypassed easily.
Also, consider calling spdlog::shutdown() at the end of main to free any sodlog registry items in a predictable place.

[2019-12-05 22:15] wjwwood commented on #933
Thanks for letting us know @gabime, is there an example of this in use or is it best to just look at the implementation of the registry?

[2019-12-05 22:55] gabime commented on #933
Create the logger object and pass it his name ans some sinks.
typical example: https://github.com/gabime/spdlog#logger-with-multi-sinks---each-with-different-format-and-log-level

[2019-12-06 17:28] ivanpauno commented on #933
Thanks @gabime !!
Proposed fixed in https://github.com/ros2/rcl_logging/pull/23.

[2019-12-06 20:40] maxlein opened #938 "Crash when reallocating in rcl_clock_remove_jump_callback"
I don't really know how I can describe this best.
My robot is running 24/7. About 7 nodes running. (driver, laser, imu, localization, navigation, etc)

And somehow the `localization_node` from slam_toolbox is dying after ~1 to 3 hours, no other node.
 It seems obvious that the toolbox does something wrong, but the stacktraces say something different.
-> [toolbox issue](https://github.com/SteveMace

[2019-12-06 23:31] jacobperron commented on #938
Based on your latter two stack traces it looks like the double-free is coming from `rcl`.

<details>
<summary>trace</summary>
<pre>
Program terminated with signal SIGABRT, Aborted.
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
51      ../sysdeps/unix/sysv/linux/raise.c: No such file or directory.
[Current thread is 1 (Thread 0x7f66f8bc4380 (LWP 23341))]
(gdb) backtrace

[2019-12-09 14:10] maxlein opened #940 "Sim time always zero"
## Bug report

My simulation time is always zero although `use_sim_time` is set.
It doesn't matter if I gazebo is running ( with ros plugins ) or not, always zero.

I also couldn't find anything in examples that would start something like a clock publisher.

I posted this question some time ago also on ros answers [here.](https://answers.ros.org/question/331532/ros2-using-sim-time-parameter-nodes-

[2019-12-09 14:24] hidmic commented on #940
@maxlein is anyone publishing on the `/clock` topic?

[2019-12-09 15:02] maxlein commented on #940
Good point, no one is publishing on /clock.
Shouldn't gazebo do that when launching with ros plugin?

I start gazebo like that:

[code]

[2019-12-09 15:17] maxlein commented on #940
Ok, i figured that out.
Took it from a bad example.
I somehow thought ros_factory derives from ros_init and is therefore not needed..

This is correct:  ( without the factory, I can't spawn a shuttle )

[code]

[2019-12-09 15:17] #940 closed

[2019-12-09 22:13] SteveMacenski opened #941 "Node and Lifecycle node is_sim_time() method"
## Feature request

#### Feature description

- A method to get if the current time is sim time, ei `is_sim_time()`
- Would help as a `Node` and `LifecycleNode` level method rather than trying to mess around with lower level clocks.

Is is a correct understanding, it would be correct to say that:

[code]

Yes?

[2019-12-10 16:38] #933 closed

[2019-12-11 13:14] maxlein commented on #938
So I now throttled the scan rate from 25Hz to 12.5Hz, and it runs for about 10 hours now.
As I never reached 10 hours before, it looks like its at least reducing the error frequency.

[2019-12-11 17:05] ivanpauno commented on #938
It sounds like this https://github.com/ros2/rclcpp/blob/4a5eed968ca6fa4979214db8ac945fb163919326/rclcpp/src/rclcpp/clock.cpp#L129-L131.

[2019-12-11 20:33] mm318 opened #943 "Implement functions to get publisher and subcription information from topic name"
## Feature request

#### Feature description

Add an API for obtaining participant information, like QoS policies, of the publishers and subscriptions on a topic name.

#### Implementation considerations

This is essentially implementing for `rclcpp` what was done for `rclpy` in https://github.com/ros2/rclpy/pull/454, which can be used as a reference.

[2019-12-12 17:56] wjwwood commented on #913
Can this be closed?

[2019-12-12 18:10] ivanpauno commented on #913
Yes, forgo about this. Closing!

[2019-12-12 18:10] #913 closed

[2019-12-16 08:42] maxlein commented on #938
Now I tried amcl also, and it resultet in a seg fault after ~5 hours.

[code]

[2019-12-16 17:58] ivanpauno commented on #938
@maxlein That error seems unrelated to the previous one.
Please, if you have a simple example for reproducing the error, it would be help for investigating the issue.

About the first one, check my previous comment https://github.com/ros2/rclcpp/issues/938#issuecomment-564640319.
I'm pretty sure the error comes from that, though I don't have time now for patching it.

[2019-12-16 20:49] SteveMacenski opened #944 "std::bind with new arguments in service callback"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 18.04
- Installation type:
  -  Source, master
- Version or commit hash:
  -
- DDS implementation:
  -   Fast RTPS
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

Hi,

Having an issue with binding service callbacks with multiple arguments. So when I do what's shown below, it compiles but crashes at run

[2019-12-16 20:55] SteveMacenski commented on #944
And I found the issue.

Looks like I didn't include `find_package(std_srvs REQUIRED)`. I wouldn't have thought it'd compile without it given the snippet below, clearly called and included

[code]

This ticket came up in research https://answers.ros.org/question/321261/ros2-crystal-member-service-linking-rosidl_typesupport_cpp/ to help me find that.

Is there not a way to have it fail on compile fo

[2019-12-16 20:55] #944 closed

[2019-12-17 02:42] fujitatomoya commented on #910
@wjwwood @ivanpauno

kinda off topic from this thread, but the same goes to [rclpy](https://github.com/ros2/rclpy) ?

actually [rclpy](https://github.com/ros2/rclpy) does not have support for ROS_DOMAIN_ID (https://github.com/ros2/rclpy/issues/484). i think that ROS_DOMAIN_ID should be supported via [rcl](https://github.com/ros2/rcl) and frontend(rclxxx) can ask the domain id to rcl. (just to redu

[2019-12-17 12:26] ivanpauno commented on #910
The `ROS_DOMAIN_ID` logic is actually implemented in `rcl`, as you suggested.
If it's not working, it must be an error in how `rclpy` is wrapping `rcl` stuff.

[2019-12-18 02:01] fujitatomoya commented on #910
@ivanpauno

sorry my bad, i should have checked.

https://github.com/ros2/rcl/blob/024c3ee50d9b79a85665efe1c191cc1225026519/rcl/src/rcl/node.c#L262-L281

and the question is why rclcpp has the same code to get the ROS_DOMAIN_ID?

https://github.com/ros2/rclcpp/blob/0c66d0c725ad1f977e2b907bc0619d6ceb6de238/rclcpp/src/rclcpp/node_options.cpp#L325-L355

i believe that we could delete the redundant co

[2019-12-18 12:44] ivanpauno commented on #910
It's needed just for better introspection. Currently, the default node options have a domain id value of `SIZEMAX`. When that value is detected in the node creation, it's updated to the value indicated by the env variable. To be able to introspect correctly the domain id if you call `get_rcl_node_options` before creating a node, the value is also get from the environment in that case.

if so, i wi

[2019-12-19 01:11] fujitatomoya commented on #910
@ivanpauno

got it, i will get it done after your PR is merged.

thanks

[2019-12-19 08:36] maxlein commented on #938
I don't feel I have the knowledge about rcl to fix this, I may break more than fix ;)
But is there anyone who can look at this?
Because I see this as a major bug if the system is not stable.
Only in the last few hours amcl and nav2 controller crashed with this error.

So either it happens only on my system or I am the only person who uses ROS2 for longer periods of time?

[2019-12-19 15:18] hidmic opened #953 "Odd parameter overrides' ordering when using wildcards"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries
- Version or commit hash:
  - Eloquent (mostly 0.8.1)
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

1. Write a parameter YAML file, `explicit_params.yaml`,  setting `use_sim_time` explicitly referring to a node:

[code]

2. Write a parameter YAML file, `wildcard_

[2019-12-19 15:26] clalancette commented on #953
My opinion is that this should be the rule.  `use_sim_time` is a bad example, but I can definitely imagine use-cases where you want to set the same parameter on a bunch of nodes, but have one that is different.

Yep, totally agreed.

[2019-12-19 20:49] ivanpauno commented on #938
@maxlein https://github.com/ros2/rclcpp/pull/954 should fix the original issue that you reported (the one related with jump callback).
Can you check if that PR solves the problem?

[2019-12-19 22:30] astere-cpr opened #955 "rclcpp_action: async_send_goal makes the goal handle available to caller before making it result aware"
In client.hpp:375 the action client sets the value of the goal handle promise, making the goal handle available to the caller via the goal handle future. The goal handle is made result aware a few lines further down in client.hpp:382.

If client code calls async_result() on the goal handle from a user thread that gets scheduled after the promise value was set but before the goal was made result aw

[2019-12-20 01:59] itfanr commented on #491
Has the client callback been impleted?

Could somebody show me a example?

[2019-12-20 12:39] maxlein commented on #938
Thanks! This will take time to test, as I have no source build on the robot yet ...

[2019-12-23 00:43] Malanchik opened #956 "Jora291175"
## Bug report

**Required Info:**

- Operating System:
  -
- Installation type:
  -
- Version or commit hash:
  -
- DDS implementation:
  -
- Client library (if applicable):
  -

#### Steps to reproduce issue

[code]

#### Expected behavior

#### Actual behavior

#### Additional information

----
## Feature request

#### Feature description

#### Implementation considerations

[2019-12-23 00:46] Malanchik commented on #956
Jorikkot

[2019-12-23 09:42] #956 closed

[2019-12-23 21:33] ivanpauno commented on #938
Reopening, until @maxlein confirms #954 fixed the issue.

[2019-12-24 09:51] Barry-Xu-2018 commented on #861
After investigate this bug, the root cause is that action client call 'async_get_result()' after the goal status has been changed to SUCCESSED.
 https://github.com/ros2/rclcpp/blob/fd3655c26cc363c128402eaab7f563bdd17a3b7c/rclcpp_action/include/rclcpp_action/client.hpp#L565-L589

While status of goal is changed to 'SUCCESSED', goal_handles_ will remove this goal ID.
And then if calling async_get_re

[2019-12-24 14:36] fujitatomoya commented on #861
@Barry-Xu-2018

this is cached in rcl action layer, right. but there is no way to get it from rclcpp. and also this is configurable on rcl via result_timeout.

i do agree with @jacobperron design and requirement, but i am not so sure how to implement in details.

best,

[2019-12-25 01:05] Barry-Xu-2018 commented on #861
@fujitatomoya

Yes.

Based on current rclcpp codes, I think ***multiple clients have to opportunity to get it*** isn't implemented. Current cached goal result in action server is only for debugging/introspection tools ?

[2019-12-25 02:20] fujitatomoya commented on #861
@Barry-Xu-2018

No, me neither.

i believe this is clearly a bug, because it is against the design.
there will be use case that client needs to be able to get the result anyway.

[2019-12-25 08:28] Barry-Xu-2018 commented on #861
@fujitatomoya

Yes.
Current action design doesn't clearly describe how multiple client get cached goal result. Author of design need to add more description (such as get cached goal result from action client side) on getting cached goal result.

[2019-12-27 08:42] fujitatomoya commented on #861
@Barry-Xu-2018

i guess that all of the clients should be able to get the result at least once.

[2019-12-28 09:25] zihui0325 opened #957 "Cross Compile rclcpp_components"
## Bug report

**Required Info:**

- Operating System:
 Ubuntu 18.04 (VM)  -> arm64v8
- Installation type:
  cross compile for aarch64 from source
- Version or commit hash:
  0.7.12
- DDS implementation:
  Fast-RTPS
- Client library (if applicable):
  rclcpp

#### Steps to reproduce issue

I skip the [Official Cross Compilation Instruction](https://index.ros.org/doc/ros2/Tutorials/Cross-compilatio

[2019-12-30 09:44] #957 closed

[2019-12-30 19:57] SteveMacenski opened #958 "Links in rclcpp_lifecycle API documentation don't exist"
Hi,

In the index (https://index.ros.org/p/rclcpp_lifecycle/) if you click on API docs it gives you a 404 (http://docs.ros2.org/dashing/api/rclcpp_lifecycle/). However this works for rclcpp, actions, etc. I think this is likely because of a missing Doxyfile (https://github.com/ros2/rclcpp/blob/master/rclcpp_action/Doxyfile) that the other elements in rclcpp repo contain, unless there's something a

[2020-01-02 03:14] God512 commented on #943
@mm318

Do you start to implement it ?
If not, I am interesting to implement it.

[2020-01-02 03:17] Barry-Xu-2018 commented on #943
@mm318

Do you start to implement this function ?
If not, I am interesting to implement it.

[2020-01-02 05:39] suab321321 commented on #943
@ivanpauno @wjwwood  sir I would to contribute to this.

[2020-01-02 18:15] mm318 commented on #943
We have not started implementation. From our perspective, it is still open for anyone to implement. Thanks!

[2020-01-02 18:40] wjwwood commented on #941
I'm going to close this for now, because this is a single instance of a more common case of "why isn't there a method to do X on the Node class?" Which we plan to address in an API review of `rclcpp`.

The thinking here at Open Robotics right now is that we want to move towards a syntax more like:

[code]

Or extending to this feature request:

[code]

where `my_node` maybe of type `rclcpp::Node`

[2020-01-02 18:40] #941 closed

[2020-01-02 18:53] wjwwood commented on #943
I feel like this should be implemented as part of https://github.com/ros2/rmw/pull/186, ideally by the original authors.

I'm still planning on reviewing that set of pull requests, and that would be my first bit of feedback, that we shouldn't merge those until an rclcpp API is proposed. If you guys (@jaisontj and friends) want to work with @Barry-Xu-2018, @suab321321, or others that's fine, but pl

[2020-01-02 19:40] mm318 commented on #943
The proposed API would just be the addition of `get_publishers_info_by_topic()` and `get_subscriptions_info_by_topic()` member functions under the `rclcpp::Node` class.

I think the most we can do additionally as part of https://github.com/ros2/rmw/pull/186 is to stub out these functions in `rclcpp`, otherwise the set of PRs is becoming unwieldy.

[2020-01-02 20:19] wjwwood commented on #943
I think it should be at least in the `NodeGraphInterface` (https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/node_interfaces/node_graph_interface.hpp), but ideally it should be symmetric to the rclpy changes, including using C++ data structures where appropriate (rather than using the C-style rmw ones).

[2020-01-02 20:34] ivanpauno commented on #943
I think that the `rclcpp` API is pretty strightforward from the `rcl` API, is just adapting the data from C style data structures to cpp style. If the proposed `rcl` API is fine, I wouldn't block more the downstream PRs.

[2020-01-02 21:24] wjwwood commented on #943
Sure, but it needs to be done. I don't want to have "oh we'll do the rclcpp one later if there's time" and then it never gets done. It needs to be done directly afterwards and not left up to someone else or only if there's timee. rclcpp and rclpy should not diverge, and we need to be stricter about that as we go forward. The best way to ensure it gets done is to require it before merging the rmw c

[2020-01-03 12:35] ivanpauno commented on #943
Yes I agree that requiring the rclcpp PR before merging the others is a good way to ensure that it's done. I also think that implementing a feature that has implications from the `rmw` implementations to the clients libraries is really being a lot of work, and getting some things merged first might do the rest of the work more "fluent". IDK what weights more.

Maybe the [developer guide](https://i

[2020-01-03 16:15] jacobperron commented on #958
Currently, there's no automated doc jobs and we manually build documentation for a small subset of packages. I checked and rclcpp_lifcycle is not in the set of packages we're building docs for, so this explains the 404. This the case for many packages; for example the API link for [launch](https://index.ros.org/p/launch/) also results in a 404.

If there's a strong desire, I can add rclcpp_lifecyc

[2020-01-03 16:15] #958 closed

[2020-01-03 21:09] wjwwood commented on #943
I would feel more comfortable merging everything but the rclpy changes, then require rclcpp be merged with it, if the concern is really to split the work up over several pull requests. What I do not want to allow is divergence between the C++ and Python client libraries.

I don't care for the idea of merging changes to the API which are not being used yet (e.g. merging API changes to rmw or rcl be

[2020-01-03 22:34] prajakta-gokhale commented on #943
@wjwwood we have not prioritized the implementation work for this right now, but we will try to soon. In the meantime, we think that the feature changes that have been approved can be merged in a staged fashion to avoid having `rclpy` and `rclcpp` go out of sync:

1. Merge all changes from `rcl` package downwards, including `rmw` and `rmw_*`
2. Work on `rclcpp` changes and merge them together with

[2020-01-03 22:38] SteveMacenski commented on #958
Ah, got it. Does the index webpage not know there’s no valid docs links? Having a bunch of hyperlinks 404 may result in alot of superfluous tickets.

I would think lifecycle should be added to the manual list since its a heavily used interface

[2020-01-03 22:50] wjwwood commented on #943
Yeah, if they _must_ be broken into parts, then that's fine with me. That's what I was suggesting when I said:

But you stated it much more clearly.

[2020-01-03 23:36] prajakta-gokhale commented on #943
We'd prefer it being broken into parts so that it's easy for us to track progress on open PRs. This feature totals [10 PRs](https://github.com/ros2/rmw/pull/186#issuecomment-570412524) right now out of which the following can be merged:

* https://github.com/ros2/rmw_implementation/pull/72, https://github.com/ros2/rmw/pull/186
* https://github.com/ros2/rmw_fastrtps/pull/336, https://github.com/ros

[2020-01-04 08:37] SteveMacenski commented on #941
I primarily opened this to start that conversation.  I think this, above other things I've seen missing, would have an immediately high value and I was planning on implementing it myself if I got the OK from the maintainers' end that this is wanted.

I think we agree that this is something that should be added to the API review, but I'll also do it in the intermediate time to get it out there. Up

[2020-01-04 15:24] jacobperron commented on #958
I'm not familiar with the implementation of ROS index. If there is no API documentation to reference, then the dead link should probably not be there. Though, I'm not sure how trivial this is considering API docs are hosted separately from the index. Consider opening an issue at https://github.com/ros-infrastructure/rosindex

[2020-01-07 07:54] Barry-Xu-2018 commented on #943
Based on above commits, I have implemented rclcpp function.

After above 10 PRs  are merged, please review my commit #960. (@ivanpauno @mm318 @prajakta-gokhale)

[2020-01-08 20:26] brawner opened #961 "std::make_shared calls are now [[nodiscard]] in MSVC and cause build warnings"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - Source install, MSVC 2019, 16,24
- Version or commit hash:
  - master

#### Issue
std::make_shared is now [annotated as [[nodiscard]]](https://github.com/microsoft/STL/blob/master/stl/inc/memory#L1583) on Windows MSVC 2019 and will cause [MSBuild warnings](https://citest.ros2.org/job/ci_windows/70/warnin

[2020-01-08 22:55] wjwwood commented on #943
I reviewed the pull requests up to `rcl`. I had one or two high level questions which may result in us wanting to refactor a bit, but I'm not sure about them.

Other than that I had one technical thing that needed to be fixed and some comments/style nitpicks. Otherwise it looks good to me, and we would be ready to next actually implement this for `rmw_connext` (as it is our other tier 1 rmw implem

[2020-01-08 23:20] dirk-thomas commented on #961
A pull request would be appreciated. I would suggest to simply assign the returned value to a local variable.

[2020-01-08 23:23] Karsten1987 commented on #961
FWIW, you might have to `(void)` that local variable then in order to avoid compiler warnings `-Wunused`.

[2020-01-09 07:56] Barry-Xu-2018 commented on #943
@wjwwood

okay. After ros2/rcl#511 is complete, I will update my commit based on new change.

[2020-01-09 18:36] ivanpauno commented on #938
@maxlein Friendly ping. Are you going to be able to test this?
If not, I will proced to close and we can reopen later if needed.

[2020-01-10 09:22] maxlein commented on #938
Problem is on my dev notebook I can't reproduce this bug although nearly the same system...
Differs just simulated hardware/sensors.

Is there a date when this fix is released in a deb pkg?

[2020-01-10 12:56] ivanpauno commented on #938
The problem is that the fix breaks ABI ...
Usually, we try to avoid breaking ABI, except there is no other option.

If that PR is really fixing something, I can ask it to be backported, and discuss if breaking ABI worth it.
But without confirmation, I'm not convinced to include it in a patch release.

Do you have a way to test the fix without a deb pkg?

[2020-01-10 13:49] maxlein commented on #938
I have time to set up a source build on the robot in about a month earliest.
And I am not sure if I can reproduce this.  Since a few days the crashes disappeared without any significant changes which is a bit worrying to me.
But I have to watch this.

[2020-01-10 16:01] ivanpauno commented on #938
Sounds good.
I'm going to close this, to avoid hitting it again in other ros2 triage meetings.
But of course, if you are able to still reproduce the problem, please reopen the issue.

Thanks @maxlein!

[2020-01-10 16:01] #938 closed

[2020-01-13 20:04] brawner commented on #961
@dirk-thomas PR opened for this issue

[2020-01-13 21:18] jacobperron commented on #861
@Barry-Xu-2018 Thanks for the investigation! Yes, it looks like the result caching mechanism isn't implemented on the client side. The action server should be properly caching the goals, and using the [rcl_action helper](https://github.com/ros2/rcl/blob/024c3ee50d9b79a85665efe1c191cc1225026519/rcl_action/include/rcl_action/action_server.h#L617) to expire them. This means I would expect the status

[2020-01-13 21:37] jacobperron commented on #955
@astere-cpr
You're right, there is a race existing in the implementation. This was brought up previously (but forgotten about): https://github.com/ros2/rclcpp/pull/701/files#r278256708

Correct me if I'm wrong, but I think if you call the client's method, [`async_get_result`](https://github.com/ros2/rclcpp/blob/d2723fb1594eb3c40dafb5fd930b52c6e42e50eb/rclcpp_action/include/rclcpp_action/client.hpp

[2020-01-14 06:59] Barry-Xu-2018 commented on #861
@jacobperron

Thanks for your comments.

Do you want to fix this yourself ?
I am also interesting to implement it. But  current design doesn't clearly describe the behavior of getting cache goal result for terminated goal. Such as  how multiple clients get cached goal result, only get cache result once or no limitation.

[2020-01-14 22:02] jacobperron commented on #861
From my investigation, it looks like the action server is caching the results as expected. For example,

1. Start an action server

        ros2 run action_tutorials_cpp fibonacci_action_server

2. Echo the status topic

        ros2 topic --include-hidden-topics echo /fibonacci/_action/status

3. Send a couple goals and let them complete

        ros2 action send_goal -f /fibonacci action_tutoria

[2020-01-15 07:19] wjwwood commented on #491
As far as I know it has not.

[2020-01-15 08:56] Barry-Xu-2018 commented on #943
ros2/rcl#511 had been merged.
I continue to update codes based on comments from @ivanpauno  and @mm318.

[2020-01-15 10:07] Barry-Xu-2018 commented on #861
@jacobperron

Thanks.

About solution, you suggest removing below codes.

https://github.com/ros2/rclcpp/blob/fd3655c26cc363c128402eaab7f563bdd17a3b7c/rclcpp_action/include/rclcpp_action/client.hpp#L580-L587

This leads to keep all goal result.  If there are many actions to done, the memory will be consumed continuously.  If the execution time is long enough, consumed memory should be a problem. O

[2020-01-15 18:35] jacobperron commented on #861
Correct, this is why I suggest replacing the code with new logic that removes goal handles when they *expire*, instead of *terminate*. I believe the action server already implements the goal cache mechanism correctly (I may be wrong). So, we just have to handle expired goals on the client side.

[2020-01-16 10:07] fujitatomoya commented on #861
@Barry-Xu-2018 @jacobperron

me neither, that something we should avoid.

agree.

agree. also 15 mins should be enough?

for multiple clients, client library just keeps results until they expire?

[2020-01-16 11:13] Barry-Xu-2018 commented on #861
@jacobperron

Yes. Action server already implemented goal cache mechanism. Do you want to notify client removing goal result while goal expire in action server? Based on this way, I think it cannot make sure  action client must receive notification.
So I think it is better that action client decides what time goal result can be removed. One solution is to remove goal result after user get goal res

[2020-01-16 11:25] Barry-Xu-2018 commented on #861
@fujitatomoya

Like action server, it is better to be configurable by user.

Do you mean multiple clients query the same result ?

[2020-01-16 18:43] jacobperron commented on #861
I suggest we use the existing status message to notify the client that a goal has expired: the goal ID will not be in the status list if it has expired. It's true that if there is poor communication that the client may miss some of the status messages, but I think this is fine. In the extreme case where the client can't contact the server, goals won't be removed from the client, but new goals won'

[2020-01-17 08:11] Barry-Xu-2018 commented on #861
About existing status, you means 'ABORTED' status (this is an example, we reuse this status) is sent from action service while goal result expires.  Only if action client receive this event, it remove goal result.

Sorry. I don't understand this senior.  'it' means action client ? What is 'one new status message' ?
Could you give an example ?

BTW, I am going to take Chinese New Year holiday. Duri

[2020-01-17 19:20] jacobperron commented on #861
Here's an example of what I'm thinking.

1. Action client sends a goal request.
2. Action server replies that it was accepted with a goal id `42`. There will be a status message with information:
    - [(goal_id: 42, status: ACCEPTED)]
3. Action client creates a goal handle for itself.
4. Action server completes the goal and sends another status message:
    - [(goal_id: 42, status: SUCCESSFUL)]
5

[2020-01-22 19:19] wjwwood commented on #961
Closing as #963 was merged.

[2020-01-22 19:19] #961 closed

[2020-01-22 19:40] wjwwood commented on #941
I think that `is_sim_time(node)` is totally fine to have. `node->is_sim_time()` is not as desirable since you need to have a method on all kinds of `node`. Which isn't too bad for one function, but just doesn't scale. Imagine we added a `supports_sim_time()` (just as an example), in the first case it's just one free function that takes a template typed node, in the latter case you need to add a me

[2020-01-22 19:48] dirk-thomas commented on #941
The current idea to use free functions taking a node argument has certainly many advantages. I just want to mention that it also comes with a downside: reduced discoverability.

For methods you can easily type `node->` and completion will tell you what methods are there to be involved.

For free functions that is not the case. You can't easily find all functions which can take a specific `node`arg

[2020-01-22 19:52] wjwwood commented on #944
I think it is because the type support is dynamically loaded (in the case that there is more than one rmw implementation) and that doesn't happen until runtime. See:

https://github.com/ros2/rosidl_typesupport/blob/1769ba822b64573a450b8fe6a716d92deba9256e/rosidl_typesupport_cpp/src/type_support_dispatch.hpp#L72

But that's only used if there are multiple rmw implementations to select from. If you

[2020-01-22 19:57] wjwwood commented on #941
That's true, but you can at least take the longer route in that case, e.g.:

[code]

But it's true higher level functions aren't as easy to find.

[2020-01-22 20:02] wjwwood commented on #927
I think we need a reproducible case or more context. Just looking at the error it seems like something is passing a function pointer where instead it should be a struct. Is it possible that you changed what `rcl_get_default_allocator()` returns as part of your effort to get it working on android?

I'm going to close this because we cannot reproduce or diagnose. Feel free to continue to comment and

[2020-01-22 20:02] #927 closed

[2020-01-22 20:37] SteveMacenski commented on #941
See, I prefer the opposite. On application level code using this API, I'm probably deriving my base class from `Node` or `LifecycleNode`. Having it be a class method would allow then the statement
[code]

Which is more clear than
[code]

which is now really a bit convoluted IMO for what should be a straight forward operation. I understand from a maintainers standpoint having just 1 templated free

[2020-01-23 20:09] ivanpauno commented on #941
It will actually be:
[code]
And I don't see much difference between the method style and this.

Just to have some context, why an inheritance based solution was discarded to mantain `Node` and `LifeCycleNode` api closer? I guess there are some old discussions about that.

Yeah, I agree that's a downside of the free function style.

PS: We have to push the c++ standard to accept the [unified call p

[2020-01-23 21:25] mschickler opened #969 "Allow node clock to be used in THROTTLE log macros"
## Feature request

#### Feature description
Current implementation of THROTTLE logger macros require rclcpp::Clock object to be a local (due to the way the lambda is defined in the macro body).  This precludes the use of the node clock or a clock data member.

#### Implementation considerations
The lambda could be changed slightly to cache a reference to the clock in a local variable which would

[2020-01-24 16:23] ivanpauno commented on #969
Sounds good, can you open a PR with the fix?
It would be good if it includes a new test case in [test_logging.cpp](https://github.com/ros2/rclcpp/blob/fdaf96f2171e70f3e013610aa44df2d7e9c866a3/rclcpp/test/test_logging.cpp#L181), just showing that it works when a temporal is passed.

[2020-01-24 19:51] mschickler commented on #969
Will do.

[2020-01-24 20:43] mschickler commented on #969
@ivanpauno I assume I need privileges in this repo to create a branch for the PR?  Is there a process for getting that level of access?

[2020-01-24 20:48] ivanpauno commented on #969
You just need to fork, and then you will be able to open a PR perfectly.

[2020-01-29 19:44] ivanpauno opened #972 "Allow passing a `std::future` to `spin_until_future_complete`"
## Feature request

#### Feature description

Currently, `spin_until_future_completes` only accepts a `std::shared_future`.
It would make sense to accept both.
See https://github.com/ros2/rclcpp/pull/971.

#### Implementation considerations

Just templatize more the current functions/methods.

[2020-01-30 10:52] maxlein opened #974 "SIGABRT: realloc(): invalid next size at remove_null_handles"
I get this crash when using newest released packages in eloquent.

I have navigation nodes which run in a screen and amcl which runs in another screen.
If I stop amcl, the global planner is complaining that global pose is missing and waiting till it's available again, which is ok.
But when I start amcl again, planner crashes. (We were talking about this here: #938)

https://github.com/ros2/rclcpp/

[2020-01-30 16:51] Shivlocin opened #975 "Add synchronous call method to Client"
## Feature request

#### Feature description

Currently I have to use a lot of boilerplate code to implement a service request in a node which is being spun by an executor.

Example:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create srv request
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;populate request
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;call async_send_request (returns future)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&n

[2020-01-31 10:36] fujitatomoya commented on #861
@jacobperron

quick question,

what if client does not send a second goal?

and expiration time window could be dependent on use cases, do you think that it should be configurable?

Best,

[2020-01-31 15:17] wieset opened #976 "lifecycle_publisher: method naming"
Probably not the most important issue but I felt like inquiring about it :)

Is there a rationale behind naming the methods `on_activate()` and `on_deactivate()` with the "on" prefix in `LifecyclePublisherInterface`?

To me, it feels wrong to call these methods directly. They feel like state transition methods that should be called internally when a state transition is requested. Just like in `Lif

[2020-01-31 16:40] Karsten1987 commented on #976
If I understand you correctly, you'd wish for `rclcpp_lifecycle` to call these functions implicitly so that the user doesn't have to call this on its own?
e.g. https://github.com/ros2/demos/blob/master/lifecycle/src/lifecycle_talker.cpp#L146-L152

That might not be a trivial change as we have to introduce some book keeping in the lifecycle node to know which lifecycle publishers exist. Also I am w

[2020-01-31 18:10] jacobperron commented on #861
My first thought was that the client will not receive a new status message and the client will not realize that the first goal has expired. I.e. the client will hold on to the first goal handle forever (or until the action server state updates again prompting a new status message).

But on second thought, since the status topic (by default) has [QoS settings *reliable* and *transient local*](https

[2020-01-31 19:34] wieset commented on #976
Thanks for your answer! Your first point is the one raised in #654 and would of course be nice to have, but would need some development effort. For now, I was mainly thinking of your second point, renaming the methods to `activate()` / `deactivate()`. I think that would make their intent clearer - to be called by the user to activate / deactivate the publisher.

[2020-02-03 12:41] fabmene opened #978 "Setting certain extra-arguments to components has no effect"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries
- Version or commit hash:
  - Eloquent
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Minimal component example:
[code]
Start a component container and load above component with extra arguments, either as launch, or via cli:
[cod

[2020-02-04 01:45] jacobperron opened #979 "Implicitly cast integer values for double parameters"
## Feature request

#### Feature description

If we try to pass an integer value to a double parameter from the command line or from a parameters YAML file we get a `rclcpp::ParameterTypeException`. For example, passing a parameter from the command line:

[code]

results in the following error:

[code]

and we can fix it by explicitly making our value a floating point number:

[code]

But, it seem

[2020-02-04 21:15] SteveMacenski opened #980 "Various race conditions in rclcpp_action"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 18.04
- Installation type:
  -  Eloquent binaries
- Version or commit hash:
  -
- DDS implementation:
  -    Fast-RTPS
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

https://github.com/ros-planning/navigation2/pull/1488/commits/4f884375a48ddb8fc6880bd175145de665bed38c

I'm noticing a few different rcl

[2020-02-05 07:59] hdino opened #982 "Logging output not shown when launched via launch script"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Installation type: Binaries from the official repository
- Version or commit hash: 0.8.4-1bionic.20200121.225230
- DDS implementation: default
- Client library (if applicable): rclcpp

#### Steps to reproduce issue
[code]

[code]

#### Expected behavior

1. The program outputs a "Hello World" log line every second.
2. If the pro

[2020-02-05 17:25] mauropasse opened #983 "Cross-compile for mips/musl: XSI-compliant strerror_r"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - cross compile for mips/musl from source
- Version or commit hash:
  - eloquent / master
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclcpp

The issue is that in [signal_handler.cpp](https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/signal_handler.cpp#L168) ther

[2020-02-06 18:29] dirk-thomas commented on #982
The `stdout` stream is by default buffered. You might want to change it in your executable to be unbuffered (e.g. https://github.com/ros2/demos/blob/fab4fc38d5ea589c019659d6a49da4ba9c20594b/demo_nodes_cpp/src/topics/talker.cpp#L41) if you want to make sure the output is flushed immediately (and you are fine with the performance impact it has).

[2020-02-07 07:22] SteveMacenski commented on #980
I believe that these issues may be introduced by the simple action server wrapper created in `nav2_util`. I'm investigating, but for the time being I think its safe to close this after reviewing commits from the last couple months and not seeing an issue.

Discussion continued here:
https://github.com/ros-planning/navigation2/issues/1489

[2020-02-07 07:22] #980 closed

[2020-02-07 19:17] SteveMacenski commented on #861
@jacobperron if you want a unit test that this triggers on, I got you :smile_cat: https://github.com/ros-planning/navigation2/blob/master/nav2_util/test/test_actions.cpp#L408

This test will fail, lets say 50% of the time, from this issue at the second instance of:
[code]

in that test. Always at the same spot and after reading this discussion, I believe its root cause.

[2020-02-07 21:55] SteveMacenski commented on #980
It was found to be an issue in the navigation2 simple action server wrapper. Disregard.

[2020-02-08 10:53] fmrico opened #985 "expand_topic_or_service_name should use get_effective_namespace()"
## Feature request

#### Feature description

`sub_node` concept is not being correctly used in some packages that use the function `expand_topic_or_service_name()`. They use with `get_namespace()` to create publishers, instead of `get_effective_namespace()`. Probably many people do not know the existence of this method or the concept of subnode. For example, [Here](https://github.com/ros-percepti

[2020-02-10 18:41] jacobperron commented on #975
I think you are describing a synchronous send request method, which sounds like a reasonable API to add. [`rclpy` has a synchronous method](https://github.com/ros2/rclpy/blob/822f19406de40f9e7df0c73aa4d52837a42bcfde/rclpy/rclpy/client.py#L67) as well.

Suggestion: instead of returning the future status and future, we can return the service response directly. In the event of a timeout we can raise

[2020-02-10 19:00] Shivlocin commented on #975
A synchronous request is exactly what I'm looking for, thank you.

[2020-02-10 19:31] jacobperron commented on #975
@Shivlocin If you would like to implement a synchronous method, I'm happy to review a pull request :)

[2020-02-10 19:32] Shivlocin commented on #975
I'll happily have a go at it. More to follow.

[2020-02-11 20:47] #982 closed

[2020-02-13 14:59] ivanpauno commented on #983
@mauropasse Doesn't musl provide a macro, something like `__GLIBC__`?
It would be good to add another `ifdef` check, with that exception, instead of checking for `__UCLIBC__` and `__GLIBC__`.

Can you open a PR with a fix?

[2020-02-13 15:31] ivanpauno commented on #978
If I'm not mistaken, it's supposed only to work with `use_intra_process_comms`.
Maybe @hidmic can clarify

[2020-02-13 17:47] mauropasse commented on #983
Hi @ivanpauno , theres no __MUSL__ . [This link](https://wiki.musl-libc.org/faq.html) answers: Why is there no __MUSL__ macro?
Checking not __UCLIBC__ and not __GLIBC__ is what I've seen for this cases

[2020-02-13 17:56] ivanpauno commented on #983
Sounds reasonable

[2020-02-13 18:21] ivanpauno commented on #979
@jacobperron you were assigned to this from waffle meeting.
I think @clalancette and @mabelzhang were also interested in this.

[2020-02-14 17:35] maxlein commented on #979
Can you add the affecting parameters name to the exception when you tackle this pls?

For example if you load a yaml file or a list of parameters in a launch file, it can be really annoying finding the wrong parameter.

[2020-02-14 17:46] hidmic commented on #978
Correct. But I don't see any fundamental reason why these other options should not be included. @wjwwood @mjcarroll thoughts? If everyone agrees, @fabmene a PR adding support for those options would be much appreciated.

[2020-02-14 18:00] ivanpauno commented on #978
I don't think that allowing configuration through the command line of `allow_undeclared_parameters` is a good idea.
Same about `use_global_arguments`.

[2020-02-14 18:04] hidmic commented on #978
What command line @ivanpauno? Extra arguments only appear in component loading service calls. Having said, I do have a hard time thinking of a use case for dynamically changing `allow_undeclared_parameters` on load.

[2020-02-14 18:23] ivanpauno commented on #978
Ups, sorry. But the same comment applies to launch files.
If the original program wasn't planned to be used with `allow_undeclared_parameters=true` or `use_global_arguments=true`, passing them from a launch file can just generate problems. Specially the first one, the second one might have an use-case I'm not seeing.

[2020-02-15 03:10] ros-discourse commented on #975
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/synchronous-request-to-service-in-callback-results-in-deadlock/12767/3

[2020-02-17 08:46] fabmene commented on #978
Thank you for providing inside on this matter. To clarify, I do not have a use case for the aforementioned arguments either, but was merely experimenting with components and their limitations.

[2020-02-17 13:44] ivanpauno commented on #978
@hidmic Does any tutorial mentions `extra_arguments` and how it can be used. I think that mentioning it in a tutorial would clarify the situation.

[2020-02-18 00:15] mm318 commented on #943
This issue has been resolved with the completion of https://github.com/ros2/rclcpp/pull/960.

[2020-02-18 00:15] #943 closed

[2020-02-18 12:39] ivanpauno commented on #969
Fixed by #970, closing!

[2020-02-18 12:39] #969 closed

[2020-02-18 16:44] wieset opened #997 "LifecycleNode: Take shutdown transition when exiting"
## Feature request

#### Feature description

When a lifecycle node is shut down using CTRL-C, it would be helpful to automatically call the `shutdown` transition. I would actually consider this "expected behavior".

Currently, the user needs to take care of calling the `shutdown` transition before exiting, for example through installing their own signal handler. Otherwise, the node is destructed

[2020-02-20 08:13] buschbapti commented on #855
Hello,

Any news on this issue? I am still unable to declare the parameter server in Lifecycle nodes and that is becoming problematic as this is an important feature. One workaround would be to declare a service for each parameters but it is bit tedious.

Thanks in advance.

[2020-02-20 14:30] ivanpauno commented on #974
@hidmic I think this one and #938 are related to the problem you're having (specially #938), can you check?

[2020-02-24 16:47] jacobperron commented on #861
@Barry-Xu-2018 Friendly ping. Let me know if you still plan to work on this.

[2020-02-24 22:09] wjwwood commented on #985
Yeah, that looks like it is just doing the wrong thing in that case.

Unfortunately, I see the problem that these things (like image transport) take the `NodeBaseInterface` and `NodeTopicsInterface` rather than a `rclcpp::Node`, and that's a problem because the subnode mechanism exists completely within a `rclcpp::Node`. We need some way to capture this and provide it to interfaces like this when

[2020-02-25 00:53] Barry-Xu-2018 commented on #861
@jacobperron

Sorry for long break since coronavirus affect work and life.
I continue to do in recent days.

[2020-02-25 10:59] fujitatomoya commented on #855
i guess that is related to https://github.com/ros2/rclcpp/issues/898, the problem is that we have separated classes rclcpp::Node and rclcpp_lifecycle::LifercycleNode. but i believe that rclcpp_lifecycle::LifercycleNode is built on top of rclcpp::Node. so rclcpp_lifecycle::LifecycleNode Class inherits based on rclcpp::Node and featured with lifecycle interfaces.

[2020-02-26 14:37] ivanpauno commented on #634
This was used to test https://github.com/ros2/ros2/issues/649, but it's outdated. Closing!

[2020-02-26 14:37] #634 closed

[2020-02-27 02:15] jacobperron commented on #861
I don't see an issue in this case. Goal IDs are unique. If the action client sends two goals, each goal should have a unique ID. Therefore, it should not be a problem to know which goal has expired. Put simply, if a goal has completed (a result message was received) and the client does not see the goal ID in the status message, then we can assume the goal has expired.

[2020-02-27 07:50] Barry-Xu-2018 commented on #861
@jacobperron

Yes. Goal ID is unique.
My question is how to choose Goal which is affected by communication problem and remove it.
First, assume we have implemented "Action server expires the goal and sends another status message. Now the goal has been removed".
If these 2 goals have got result and results aren't removed in client side, communication problem affect one of goal receiving status mess

[2020-02-27 18:21] claireyywang commented on #997
@wieset Would you like to propose a PR? We'd be happy to review it.

[2020-02-28 04:58] friendsocket commented on #855
I noticed this problem and began to deal with it these days.

As @buschbapti metioned, we can extend the constructor **SyncParametersClient(...)** to accept only rclcpp::Node. Just like the way this [file](https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/executor.hpp) handled. It is easy to implement.

If you want the **rclcpp_lifecycle::LifecycleNode** as parameter of constructor

[2020-03-01 00:20] brawner opened #1007 "Race condition in MultiThreadedExecutor with intra_process communication resulting in dequeuing ring buffer before enqueuing"
There is a race condition in the `MultiThreadedExecutor` that happens during the `test_multithreahed.multi_consumer_intra_process` test in `test_rclcpp`. The `intra_process_buffer`'s `ring_buffer_implementation` has dequeue() called without any data. It may be that some process is calling dequeue() right after another has checked has_data().

This bug results in a flakey test with test_rclcpp, but

[2020-03-01 00:44] brawner opened #1008 "test_multi_threaded_executor timer_over_take is flaky due to timer jitter"
This seems to be a reoccurring flaky test, as a test introduced in #383 has been relaxed a couple of times (#501, and #907), but the test may still fail on different platforms. The measured period between timer callbacks is supposed to be 0.1s, but the linux test result below shows that the period could be less than half of that. While the test is not meant to measure timer jitter, the results sug

[2020-03-02 03:08] ddengster opened #1009 "declare_parameter<double>() gives ParameterTypeException, expected [double] got integer"
- Operating System:
  - Eloquent
- Installation type:
  - Binaries
- Version or commit hash:
  - The same version as when you do apt-get eloquent packages

#### Steps to reproduce issue
Compile and run:
[code]

#### Expected behavior

Double types should work.

#### Actual behavior
For both lines you get a variant of the following
[code]

#### Additional information
There is a workaround for the d

[2020-03-02 17:26] Karsten1987 opened #1010 "[rclcpp_components] Make component manager public"
TL;DR: We've discussed about having the ros2_control's controller manager inherit from the `rclcpp_components` component manager as we would like to have similar functionality.

More info here: https://github.com/ros-controls/roadmap/pull/7

In order to inherit though, the component manager header has to be modified to be a public header with `virtual` functions. Is there a reason why this is curr

[2020-03-02 17:50] mjcarroll commented on #1010
No, there isn't a strong reason other than it was not necessary to support a public API for it at the time.

Since no one is currently using this as an interface, I'm not quite sure what the ABI implications are, but it would seem reasonable to do for Foxy?

[2020-03-02 17:55] clalancette commented on #1009
[code]

I have this idiom in dozens of Dashing/Eloquent packages, so I'm fairly confident it works (one example is https://github.com/ros-drivers/phidgets_drivers/blob/e87cc88829160f074ac378e7f85be4df75282be1/phidgets_gyroscope/src/gyroscope_ros_i.cpp#L65; there are many others in that repository).  My guess is that the YAML file you are using to override the parameters is specifying that paramete

[2020-03-02 18:26] Karsten1987 commented on #1010
yeah, Foxy would be great so we can work with Foxy for the ros control release.

[2020-03-02 18:40] mjcarroll commented on #1010
Are there additions to the API that will also be required in order to support the concept of a "strongly-typed component"? Or have you not quite made it far enough to determine yet?

[2020-03-02 21:32] Karsten1987 commented on #1010
I haven't really thought that through in all detail, but essentially we'd like to restrict the type of nodes the `ControllerManager` can load.

From what I understand, the `NodeFactory` is already templated in a way that can be used to restrict to load components different from `rclcpp::Node`.
In terms of API change, I believe it would be great if we could e.g. things like this https://github.com/

[2020-03-03 01:28] wjwwood commented on #978
Thinking about this more, it's like we have two categories of settings for nodes:

- settings that do not significantly affect behavior of the node APIs
  - by "do not significantly affect behavior" I mean can be changed without violating any important assumptions the node developer is making, e.g. doesn't change blocking behavior or hard coded names of resources, etc...
  - for me this includes `

[2020-03-03 04:29] ddengster commented on #1009
Yup my yaml was incorrect, thanks for pointing it out.

[2020-03-03 04:29] #1009 closed

[2020-03-04 00:29] sloretz commented on #861
@jacobperron I'm not sure this is the right direction. It goes against the design doc which says ["The purpose of the topic is for introspection; it is not used by the action client"](https://github.com/ros2/design/blob/gh-pages/articles/actions.md#goal-status-topic).

I just encountered this bug while writing a test, but there's a lot to read up on. How can the goal be gone if there's still a cli

[2020-03-04 00:42] sloretz commented on #861
@Barry-Xu-2018 @fujitatomoya I don't think multiple clients getting the result for the same goal was considered, which is why the design doc is silent on it. I think the assumption is only the client who sent the goal cares about that goal's result. If multiple clients getting the result for the same goal is important to your application, I recommend opening an issue on https://github.com/ros2/des

[2020-03-04 00:45] jacobperron commented on #861
Maybe we should make an amendment to the design doc? The current implementation makes use of the status topic already for updating the state of client goal handles.

[2020-03-04 01:36] sloretz commented on #861
I would try to fix the implementation first, unless there's a problem with the design. I don't think the status messages should be relied on since nothing guarantees that they'll be sent or when they'll be received by the client.

I think this can be fixed by the `ClientGoalHandle` destructor signaling to the `Client` when it's destructed. That gives a callback for the `Client` to do any cleanup l

[2020-03-04 06:54] Barry-Xu-2018 commented on #861
@sloretz

Yes. Current design doesn't consider this case.  If necessary, I create new issue to discuss it.

[2020-03-04 08:03] MCP-TTC commented on #880
Hi,

I was able to run the composition from both command line and launch file with standard nodes developed as components.

But if I develop lifecycle nodes as components, I can't use composition from command line and launch file. I can compose these nodes only with a new custom node that instantiate the components from code.

Did anyone try to compose lifecycle nodes from command line and/or with

[2020-03-04 13:38] DongheeYe opened #1012 "Timer does not working when reset a cancelled timer"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source
- Version or commit hash:
  - Dashing and latest
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
I tested it using changed code from https://github.com/ros2/examples/blob/master/rclcpp/minimal_timer/lambda.cpp
[code]

And chang

[2020-03-04 15:57] ivanpauno commented on #978
Yes, I agree with that. That method could still take `rclcpp::NodeOptions` as a parameter, but arguments to modify its attributes should be exposed only for a subset of them.

Other arguments that I believe enter in the first category:
- [enable_rosout](https://github.com/ros2/rclcpp/blob/f30329fbec79cb699f41a37cc27c0c475de3edc1/rclcpp/include/rclcpp/node_options.hpp#L158).
- [start_parameter_serv

[2020-03-04 17:45] hidmic commented on #978
Hmm but then that'd apply to dynamic loading only -- statically constructing a node would still allow full access to all options. I think that if we establish that some options are not to be modified by client code, then maybe those should not be accessible in `rclcpp::NodeOptions` to begin with. And of course, when writing a component one may still enable client code to change these private optio

[2020-03-04 19:31] wjwwood commented on #978
I wasn't suggesting that we change `NodeOptions` or change nodes to take something other than `NodeOptions` in their constructor, instead I was saying that we should have a new options struct that is a subset (most likely) of `NodeOptions` that is passed to the "node factory":

https://github.com/ros2/rclcpp/blob/f30329fbec79cb699f41a37cc27c0c475de3edc1/rclcpp_components/include/rclcpp_components/

[2020-03-05 18:13] dirk-thomas commented on #974
@hidmic Friendly ping.

[2020-03-06 08:23] fujitatomoya commented on #1012
@DongheeYe

can you provide the exact reproduction procedure? you can commit the branch into your own repository, so that we can reproduce the same issue based on that.
i do not see the fix in Timer destructor that could be related to this problem (if that happens).

[2020-03-06 13:03] hidmic commented on #978
Oh yeah, I got that. I still stand by what I said above. We're restricting options because we think they are not meant to be changed by a user, but we only do so for the dynamic composition case. Code composing `MyNode` manually could still affect all those options you'd rather not.

So instead of introducing an asymmetry, I'd be fine with proper documentation. People will always find ways of shoo

[2020-03-06 13:41] hidmic commented on #974
Only because of this, it may be https://github.com/eProsima/Fast-RTPS/pull/1013 which has made it into debs AFAIK. It could also be https://github.com/ros2/rclcpp/pull/999, which hasn't because it's not ABI compatible.

@maxlein would you mind upgrading your Eloquent installation and building latest `rclcpp` from source along with nav2 packages?

[2020-03-06 20:14] wjwwood commented on #978
Ok, well I don't feel strongly about it. Documentation is fine with me too.

[2020-03-06 21:30] jacobperron commented on #861
@Barry-Xu-2018 Thank you for the PR (it looks good to me), but I agree with @sloretz's assessment: it would be best if we can solve this problem without relying on the status topic.

@sloretz What if we instead maintain a list of weak pointers to goal handles in `Client`? Then anytime we need to operate on a goal handle we first check to see if it is still valid (i.e. a user still holds a referenc

[2020-03-09 01:53] Barry-Xu-2018 commented on #861
@jacobperron

Thanks for checking.
I agree with you. The idea from @sloretz is a better way.

[2020-03-09 02:36] DongheeYe commented on #1012
@fujitatomoya I add test code to my private repository. Please refer to the [here](https://github.com/DongheeYe/examples/tree/rclcpp_issue_1012/rclcpp/minimal_timer)

[2020-03-09 09:41] Barry-Xu-2018 commented on #861
@jacobperron @sloretz

I got your idea. But I find there is a limitation for user.
User must hold ClientGoalHandle.
In example code for ROS2

https://github.com/ros2/examples/blob/35674eb17494ab3f67cc5fbe5f127c614be2220b/rclcpp/minimal_action_client/member_functions.cpp#L50-L81

It doesn't hold ClientGoalHandle. It only does something in callback function.  If modify based on your way, callback fu

[2020-03-09 10:11] fujitatomoya commented on #1012
@DongheeYe

thanks, confirmed problem and fix.

i was too early to jump on the code scan, may bad.

[2020-03-09 10:59] DongheeYe opened #1018 "Fail to AsyncParameterClient get_parameter_types"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source
- Version or commit hash:
  - Dashing, master
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Parameter Service code
[code]
Parameter Client Code
[code]

#### Expected behavior
[INFO] [param_test_client]: param_type: 2
#### Act

[2020-03-09 20:58] jacobperron commented on #1018
Closed by #1019

[2020-03-09 20:58] #1018 closed

[2020-03-10 03:48] Barry-Xu-2018 commented on #898
@bpwilcox @fujitatomoya @mjcarroll @Karsten1987

About the relationship of node and lifecycleNode, I think the design has been discussed in #318.
@Karsten1987 said "We decided to favor composition mainly of being able to test/mock the individual components of the node class. As you might have noticed, we tried to keep the basic interface / public member function of the lifecycle node as similar as

[2020-03-10 09:38] fujitatomoya commented on #898
@Barry-Xu-2018

decision's been made before, but not sure we still get along with this.

@wjwwood could you share your thoughts if possible?

agree.

[2020-03-10 14:37] alsora opened #1021 "interrupt_guard_condition_ causes executor "spurious" awakes"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source

#### Steps to reproduce issue

Run a ROS 2 system made of a single node with only a timer. No publishers/subscriptions or anything else.

[code]

#### Expected behavior

The timer has a 5 seconds period, so  the executor should wake up once every 5 seconds.

#### Actual behavior

After every re

[2020-03-10 20:42] wjwwood commented on #898
I'm not sure that would be a good idea. Perhaps it could be the right approach, but part of the interface of a lifecycle node is that you do not create normal publishers but lifecycle publishers instead. Doing what you suggest doesn't remove the normal `create_publisher()` method.

So, maybe something like this could work, but not without more thought and details as to how it would work. I don't h

[2020-03-11 08:27] DongheeYe opened #1022 "ParameterClient request is not finished although executor is canceled."
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source
- Version or commit hash:
  - dashing, master
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Parameter Server code
[code]

Parameter Client code
[code]

#### Expected behavior
Although set_parameters is not finished successful

[2020-03-12 01:13] fujitatomoya commented on #898
i do not have concrete design right now, not sure which way is suitable/reasonable at this time. I would come back on this, since i do not have resource either. or somebody else takes over the consideration.

[2020-03-12 23:29] jacobperron commented on #979
I'm not sure the best way to add the parameter name, since the exception is coming from `ParamterValue`, which has no notion of the parameter name. We can probably catch the exception higher up and throw a different exception with the parameter name.

[2020-03-13 17:23] #1012 closed

[2020-03-13 17:26] ivanpauno opened #1025 "Timer class methods aren't thread safe"
## Feature request

#### Feature description

Methods are using `timer_handle_` member variable without adding any kind of thread-safe protection, e.g.: https://github.com/ros2/rclcpp/blob/96ebf59a6045a535730d98fff25e522807c7aa75/rclcpp/src/rclcpp/timer.cpp#L83

`rcl` functions aren't thread safe, so a `std::mutex` (or maybe `std::recursive_mutex`) should be added to protect concurrent access of `

[2020-03-18 17:48] jacobperron commented on #979
See #1024 for a patch that allows integer values to be cast to double. This does **not** include arrays of integers being cast to arrays of double (for technical reasons).

Regarding improving the error message, two options come to mind:

1. Catch the `ParameterTypeException` wherever rclcpp is calling `ParameterValue::get` and re-throw a new exception (`InvalidParameterTypeException`) that has a

[2020-03-18 18:37] jacobperron commented on #979
I looked into implemented both options. Option (2) certainly seems more intrusive as it requires touching all of the `ParameterValue` constructors for passing the parameter name and any code that is constructing `ParameterValue`s. I'm starting to think that (1) might make more sense.

[2020-03-18 18:58] jacobperron commented on #979
See https://github.com/ros2/rclcpp/pull/1027 for an implementation of (2).

[2020-03-19 12:57] mjcarroll commented on #1010
Ping @Karsten1987 , have you determined if there is anything else you need API-wise?  Otherwise I will proceed with just exposing it as part of the public API and we can go from there.

[2020-03-19 16:27] wjwwood commented on #54
I believe this is done in https://github.com/ros2/rclcpp/pull/614, though I don't think any tests are making use of this at the moment.

[2020-03-19 16:27] #54 closed

[2020-03-19 16:45] wjwwood commented on #103
Since intra process communication has changed a lot since this was opened, I'll close it.

[2020-03-19 16:45] #103 closed

[2020-03-19 16:46] #105 closed

[2020-03-19 16:47] wjwwood commented on #114
Closed by https://github.com/ros2/rclcpp/pull/784?

[2020-03-19 16:47] #114 closed

[2020-03-19 16:47] #154 closed

[2020-03-19 16:48] Karsten1987 commented on #1010
I think we should be okay with the changes mentioned in my comment above. The essential requirements we would have to make it work for ros-control is to be able to subclass from the component manager and modify its logic to restrict loading class instances other than `rclcpp::Node`.

[2020-03-19 16:51] wjwwood commented on #154
I think this was addressed in https://github.com/ros2/rclcpp/pull/587.

[2020-03-19 16:52] wjwwood commented on #189
Closing due to inactivity, also the logic around storing and calling callbacks has changed.

[2020-03-19 16:52] #189 closed

[2020-03-19 17:21] wjwwood commented on #200
Updated link:

https://github.com/ros2/rclcpp/blob/96ebf59a6045a535730d98fff25e522807c7aa75/rclcpp/src/rclcpp/parameter_client.cpp#L412-L426

[2020-03-19 17:37] wjwwood commented on #243
This is now the case: https://github.com/ros2/rcl_interfaces/blob/93cedce2dacd25fa4f2969d022ccbe3f2903e3fe/rcl_interfaces/msg/ParameterEvent.msg#L7-L8

[2020-03-19 17:37] #243 closed

[2020-03-19 17:42] wjwwood commented on #360
Updated link:

https://github.com/ros2/rclcpp/blob/96ebf59a6045a535730d98fff25e522807c7aa75/rclcpp/src/rclcpp/parameter_client.cpp#L453-L468

[2020-03-19 17:47] wjwwood commented on #462
@Karsten1987 what's the status on this? Is it still not possible to manually serialize/deserialize a message?

[2020-03-19 17:59] rotu commented on #1025
Could you please add the description of what the bug is to this issue description?

[2020-03-19 18:20] ivanpauno commented on #1025
Methods are using `timer_handle_` member variable without adding any kind of thread-safe protection, e.g.: https://github.com/ros2/rclcpp/blob/96ebf59a6045a535730d98fff25e522807c7aa75/rclcpp/src/rclcpp/timer.cpp#L83

`rcl` functions aren't thread safe, so a `std::mutex` (or maybe `std::recursive_mutex`) should be added to protect concurrent access of `timer_handle_`.

[2020-03-19 18:58] rotu commented on #1025
I mean in the top post - the top comment right now is basically just a link, and well, it should describe the issue

What functions aren't threadsafe that should be? All instance methods of `rclcpp::TimerBase`?

Are there any observed behavioral problems or test failures that have been linked with this issue?

[2020-03-19 19:13] ivanpauno commented on #1025
Done. If you read the old comment the post description was linking, it says almost the same thing.

All the ones that access this member variable:
https://github.com/ros2/rclcpp/blob/96ebf59a6045a535730d98fff25e522807c7aa75/rclcpp/include/rclcpp/timer.hpp#L106

No, my complain is just theoretical now.
Several methods are accessing and modifying a data structure (making using of `rcl` functions), w

[2020-03-19 21:22] Karsten1987 commented on #462
Thanks for the reminder. I am going to close this as I consider the requested feature is implemented.

The RMW interface has functions to (de-)serialize ROS messages into a `uint8`-array and vice versa:
https://github.com/ros2/rmw/blob/master/rmw/include/rmw/rmw.h#L516-L559

As already stated, different RMW implementations might differ in which format they use to serialize. In order to get that in

[2020-03-19 21:22] #462 closed

[2020-03-20 07:49] ddengster opened #1029 "Programmatically loading parameters from yaml files into nodes dynamically"
## Feature request
Programmatically loading parameters from yaml files into nodes dynamically

#### Feature description
A simple c++ function (possibly put into rclcpp::Node?) for loading parameters from yaml files after the node has been started. (ie. not via supplying a yaml file in the `ros2 run` command)

#### Implementation considerations
Not sure if the function should be under rclcpp::Node.

[2020-03-20 13:42] clalancette commented on #1029
For what it is worth, it should be possible to do this pretty easily right now.  You'd just need a small program that opened up a YAML file (maybe using yaml-cpp), formatted that YAML into a https://github.com/ros2/rcl_interfaces/blob/master/rcl_interfaces/srv/SetParameters.srv (one per node), and then called the `set_parameters` service on the node(s).

I guess we could potentially make this easi

[2020-03-20 20:40] ros-discourse commented on #1008
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2020-03-18/13313/1

[2020-03-23 17:52] wjwwood commented on #521
This is no longer the case with https://github.com/ros2/rclcpp/pull/587 and related prs.

[2020-03-23 17:52] #521 closed

[2020-03-23 18:23] wjwwood commented on #537
I think this is addressed with https://github.com/ros2/rcl_interfaces/pull/51?

I think that's better left to the configuration management system, e.g. having `launch` set all nodes based on one setting from the user.

[2020-03-23 18:23] #537 closed

[2020-03-23 18:50] wjwwood commented on #572
I'm going to close this as stale, please feel free to open a new issue for tracking the Ownership QoS feature.

[2020-03-23 18:50] #572 closed

[2020-03-23 18:51] wjwwood commented on #624
Closing since we've upgraded to new macOS since then.

[2020-03-23 18:51] #624 closed

[2020-03-23 18:52] wjwwood commented on #643
Closing with https://github.com/ros2/rclcpp/pull/698

[2020-03-23 18:52] #643 closed

[2020-03-23 18:53] wjwwood commented on #687
@ivanpauno does this still apply since we refactored intra-process in Eloquent?

[2020-03-23 18:56] wjwwood commented on #743
I haven't heard from you in a bit (which is totally fine!), but because of that I'm going to close this. If you're still working on it, feel free to speak up and I'll open it back up, or if you don't have time right now but do in the future, speak up then and I can open it again at that point.

Thanks!

[2020-03-23 18:56] #743 closed

[2020-03-23 19:03] ivanpauno commented on #687
No, it doesn't. Closing!

[2020-03-23 19:03] #687 closed

[2020-03-27 00:08] wjwwood commented on #1025
I doubt I get to this before the API freeze, What's the expectation here for triage? I don't think we need to investigate anything right? I'd either put it on the foxy board or backlog. If on the foxy board we can randomly assign it to me, but again, it will be after API freeze before I have any time.

[2020-03-27 18:21] rotu commented on #1025
FYI: not directly related to timers, but I did catch a case where the rclcpp API (`rclcpp::Node` constructor)'s lack of thread-safety caused a hard crash. I got lucky in that it was readily reproducible and visible.

I think we need a broader effort to instrument and report unsafe usage of functions that are not threadsafe.

https://github.com/ros2/rosbag2/issues/329

[2020-03-30 23:30] brawner opened #1036 "[rclcpp_action] Progress Toward Quality Level 1"
This issue tracks the progression of `rclcpp_action` to Quality Level 1 and a 1.0 version level. It follows the outline described in [REP 2004](https://github.com/ros-infrastructure/rep/blob/c2ba03bac23b8f313e47820833fad000dbbe058b/rep-2004.rst).

* [x] Version Policy
    - Follows ROS Core Quality Declaration
* [x] Version >= 1.0.0
* [x] Change Control Process
    - Follows ROS Core
* [x] PRs aut

[2020-03-30 23:38] brawner opened #1037 "[rclcpp_components] Progress Toward Quality Level 1"
This issue tracks the progression of `rclcpp_components` to Quality Level 1 and a 1.0 version level. It follows the outline described in [REP 2004](https://github.com/ros-infrastructure/rep/blob/c2ba03bac23b8f313e47820833fad000dbbe058b/rep-2004.rst).

* [x] Version Policy
    - Follows ROS Core Quality Declaration
* [x] Version >= 1.0.0
* [x] Change Control Process
    - Follows ROS Core
* [x] PRs

[2020-03-30 23:43] brawner opened #1038 "[rclcpp_lifecycle] Progress Toward Quality Level 1"
This issue tracks the progression of `rclcpp_lifecycle` to Quality Level 1 and a 1.0 version level. It follows the outline described in [REP 2004](https://github.com/ros-infrastructure/rep/blob/c2ba03bac23b8f313e47820833fad000dbbe058b/rep-2004.rst).

* [x] Version Policy
    - Follows ROS Core Quality Declaration
* [x] Version >= 1.0.0
* [x] Change Control Process
    - Follows ROS Core
* [x] PRs

[2020-03-30 23:53] brawner opened #1039 "[rclcpp] Progress Toward Quality Level 1"
This issue tracks the progression of `rclcpp` to Quality Level 1 and a 1.0 version level. It follows the outline described in [REP 2004](https://github.com/ros-infrastructure/rep/blob/c2ba03bac23b8f313e47820833fad000dbbe058b/rep-2004.rst).

* [x] Version Policy
    - Follows ROS Core Quality Declaration
* [x] Version >= 1.0.0
* [x] Change Control Process
    - Follows ROS Core
* [x] PRs automatica

[2020-03-31 21:10] rotu opened #1042 "rclcpp::Node constructor and destructor crash with multithreading"
Use of `rclcpp::Node` is unsafe in an asynchronous setting and can cause segfaults and undefined behavior if such objects are constructed and/or destructed simultaneously.

See https://github.com/ros2/rosbag2/issues/329 where this directly caused a reproducible crash. While the particular crash was averted in https://github.com/ros2/rosbag2/pull/338, the constructor/destructor still use the unsafe

[2020-04-01 08:59] rda112 opened #1046 "ROS2 Listener from demo_nodes_cpp does not work"
Operating System:
Windows 10
Installation type:
 ROS 2 Eloquent Elusor binaries
Client library (if applicable):
rclcpp

done all the steps as per the documentation.

ros2 run demo_nodes_cpp talker -> works fine

opened new terminal -> sourced the terminal
ros2 run demo_nodes_cpp listener

listener doesnot receive any data.

Could anyone help me with this?

[2020-04-01 12:08] clalancette commented on #1046
Please ask questions like this on https://answers.ros.org.  That way it is all in one place and is easily searchable in the future.

[2020-04-01 12:08] #1046 closed

[2020-04-01 21:46] mm318 opened #1048 "Add default Incompatible QoS callbacks"
## Feature request

#### Feature description

With https://github.com/ros2/rclcpp/pull/924 merged in, a user is able to provide a callback for when an participant on the topic is discovered but unable to be matched due to incompatible QoS policies. This feature request is for leveraging this feature even when a user does not provide a custom callback function, by setting a default callback functio

[2020-04-02 15:13] hamaney commented on #860
I see this issue in rclpy.
I don't know how to check the version/branch I am on, but I installed ros2 using
`curl -s https://raw.githubusercontent.com/ros/rosdistro/master/ros.asc | sudo apt-key add -`
    `sudo sh -c 'echo "deb [arch=amd64,arm64] http://packages.ros.org/ros2/ubuntu `lsb_release -cs` main" > /etc/apt/sources.list.d/ros2-latest.list'`

[2020-04-02 20:38] jacobperron commented on #860
@hamaney If you installed ROS 2 with `apt`, then the major version should be name of the package(s) you install (e.g. ros-**dashing**-desktop). Furthermore, it should also appear in the path of the setup file you source (e.g. source /opt/ros/**dashing**/setup.bash). If you are still not sure which version of ROS 2 you have installed, you can try echoing the environment variable `ROS_DISTRO` (e.g.

[2020-04-03 20:10] rotu commented on #1042
@thomas-moulard re: https://github.com/ros-tooling/aws-oncall/issues/107 (can't comment on my own ticket in aws-oncall repo)

[2020-04-04 16:28] jacobperron commented on #860
@hamaney No worries. Because ROS follows a federated model for packages, each package has a version number, but ROS distro as a whole just has a name (e.g. Dashing). If you want to know the particular version of a package, you can use the following `ros2pkg`:

[code]

[2020-04-08 16:48] mm318 commented on #1048
Relevant pull request opened at https://github.com/ros2/rclcpp/pull/1051.

[2020-04-10 14:28] cmorganBE opened #1058 "SIGINT not causing node to shut down - ros2 foxy dev build"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 20.04

- Installation type:
ros2 foxy source install from two days ago (I can provide repo revs if desired or a .repos file)

- Version or commit hash:
[my_ros2.repos.txt](https://github.com/ros2/rclcpp/files/4461892/my_ros2.repos.txt)

- DDS implementation:
Default, looks like fastrtps

- Client library (if applicable):
rclcpp

#### St

[2020-04-10 22:43] dirk-thomas opened #1061 "none of the API compiles for message types using a custom allocator"
E.g. trying to compile a call to `create_publisher` with a message type using a custom allocator fails since the corresponding typesupport symbol isn't specialized for the custom allocator type.

[2020-04-13 23:42] #520 closed

[2020-04-14 04:03] fujitatomoya commented on #1058
@cmorganBE

can you share your whole project for this package to reproduce issue?

[2020-04-14 14:53] cmorganBE commented on #1058
Hi @fujitatomoya. I appreciate that. Pushed an example repo here, https://github.com/cmorganBE/ros2_sigint_hang that reproduces the issue with a script that makes it super easy to occur. I'm not sure this is entirely what you are looking for but please let me know if there is anything else necessary and I'll work to provide it.

[2020-04-14 18:16] #1048 closed

[2020-04-15 08:48] Barry-Xu-2018 commented on #1058
@cmorganBE

After testing your test example in docker with ubuntu:focal and latest ros2.repos, I can't reproduce the error you described.

My test log as follows,
[code]

Many repositories use master branch. So I cannot make sure I use the same version as your environmetn.

Could you execute below command in your environment to get exact version for each repository.

[code]

Beside,  how frequentl

[2020-04-15 14:22] cmorganBE commented on #1058
@Barry-Xu-2018 it was occurring perhaps 20-50% of the time for me.

I updated repositories and rebuilt foxy and now it doesn't occur for me...

Foolishly on my part I didn't take the exact capture of repos before performing the update. I do have the terminal output for the update and looked at a number of the repos that were updated but didn't spot anything in the ones I thought would be the reaso

[2020-04-16 00:57] fujitatomoya commented on #1058
with https://github.com/ros2/ros2/commit/69bee87fb4ada4003c31f68bfd4c6c9018cde10f, I cannot reproduce the issue either.

@cmorganBE

i guess so, either me or @Barry-Xu-2018, we are not maintainer here, so it is up to you.

[2020-04-16 01:24] Barry-Xu-2018 commented on #1058
@cmorganBE

Got it.
As fujitatomoya' said, you can decide if this issue should be closed.
If find the same issue again, we can continue to investigate it :)

[2020-04-16 02:08] #1010 closed

[2020-04-16 11:52] cmorganBE commented on #1058
@Barry-Xu-2018, @fujitatomoya agreed. Thank you for responding and I'll keep this test case around for later. Take care!

[2020-04-16 11:52] #1058 closed

[2020-04-16 13:35] hdino opened #1066 "rclcpp::spin_some throws exception after SIGINT"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Installation type: Binaries
- Version or commit hash: 0.8.4-1bionic.20200218.183043
- DDS implementation: Default
- Client library (if applicable): rclcpp

#### Steps to reproduce issue

There are many examples, for instance the [minimal publisher example](https://github.com/ros2/examples/blob/0eb78f3745830e163faca67a23f1cf2ed60

[2020-04-17 00:01] fujitatomoya commented on #1066
i can reproduce the issue, https://github.com/fujitatomoya/examples/tree/topic-20200417-exception-after-sigin-1066

[2020-04-17 03:39] fujitatomoya commented on #1066
since Executor possibly throws exception, `Suggest to put spin_some in a try-catch block.` ?

[2020-04-17 04:54] hdino commented on #1066
Well, one could do something along those lines:
[code]

However, it feels a bit wrong as exceptions should only be thrown in exceptional situations - and an orderly shutdown should not be among them.

[2020-04-17 14:45] muawijhe opened #1071 "Dashing patch 6 / Ubuntu 18.04 Latching issue"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Installation type: Binary Installation (standard repo)
- DDS implementation: (default)
- Client library (if applicable): rclcpp

Let us consider the following piece of code:
`
// Create a QoS with 1 element of history
rclcpp::QoS oLatching = rclcpp::QoS(rclcpp::KeepLast(1));

// Enable latching accordingly to guide
oLatching = o

[2020-04-21 06:31] Barry-Xu-2018 commented on #1066
@hdino @fujitatomoya

Since allowing to throw exception inside constructor of Executor and  spin_some() doesn't return any value(such as error number), I guess author hope user handle the exception. So this issue isn't a bug.
What do you think ?

[2020-04-21 06:41] fujitatomoya commented on #1066
@Barry-Xu-2018

I do not think this is a bug either, i guess that user application needs to take care of that exception. which means that i guess we should close this issue and make issue on https://github.com/ros2/examples.

[2020-04-21 06:50] Barry-Xu-2018 commented on #1066
@fujitatomoya

Agree. I will create issue to updated example codes.

[2020-04-21 08:37] hdino commented on #1066
It's definitely not a bug, but as I said above, it feels wrong when an orderly shutdown throws an exception.

To avoid this behaviour, I'm using the following code now:
[code]
I would recommend to use this in the example.

[2020-04-21 09:12] Barry-Xu-2018 commented on #1066
@fujitatomoya

Yes. It is better to discuss in https://github.com/ros2/examples/issues.

[2020-04-21 09:14] Barry-Xu-2018 commented on #1066
@hdino

Yes. Your solution can resolve this problem. But the purpose of example is to guide user how to do.  I think author doesn't suggest user writing codes as above way. Otherwise rclcpp::spin_some() is useless.
Anyway, we can create an issue to discuss in https://github.com/ros2/examples/issues and listen to other' opinions. What do you think ?

[2020-04-22 06:39] hdino commented on #1066
Yes, I agree that we should discuss it in ros2/examples.

Will close this now in favour of ros2/examples#266.

[2020-04-22 06:39] #1066 closed

[2020-04-22 21:51] SteveMacenski commented on #715
@mjcarroll any update on this? The last of the discussion looks to be before the dashing release. We're coming up on Foxy and this feels like something that should be included in the next LTS.

[2020-04-24 18:24] hidmic commented on #953
I was discussing a larger, breaking API change in `rcl` with @ivanpauno earlier today and he brought up a good point: fixing this in `rclpy` and `rclcpp` will have the same effect and can land with Foxy.

Ideally, and if everyone agrees, I'd much like to revamp `rcl_yaml_param_parser` API and move all wilcard matching there. In the meantime, https://github.com/ros2/rclpy/pull/547 and https://githu

[2020-04-29 19:38] clalancette opened #1098 "Implement a generic way to change per-node logging levels"
## Feature request

#### Feature description

Most of the times when a developer wants to do debugging, one of the first things they do is to turn on debug logging.  One way to do that in ros2 is to run a command and increase the logging level, something like:

[code]

The problem with this is that it enables debugging on *all* components, not just the node.  While that *may* be what the user want

[2020-04-30 13:34] #1071 closed

[2020-04-30 16:02] muawijhe commented on #1071
do you know why ubuntu release does not support your command?

usage: ros2 [-h] Call `ros2 <command> -h` for more detailed usage. ...
ros2: error: unrecognized arguments: --qos-durability

On Thu, 30 Apr 2020 at 15:34, Michel Hidalgo <notifications@github.com>
wrote:

[2020-05-05 20:46] SteveMacenski opened #1104 "rclcpp_actions: Add preempted ResultCode for WrappedResult and preempt API for ServerGoalHandle"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18
  -
- Installation type: Source
  -
- Version or commit hash: N/A
  -
- DDS implementation: Fast RTPS
  -
- Client library (if applicable): rclcpp_action
  -

## Feature request

#### Feature description

Right now, there's no good way to handle preemption in `rclcpp_actions`. In the navigation2 [simple action server wrapper](https:/

[2020-05-08 12:56] ivanpauno opened #1110 "Investigate why test_multithreaded_executor fails"
## Bug report

It has been failing on linux CI:
- https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/1858/testReport/junit/rclcpp/TestMultiThreadedExecutor/timer_over_take/.

https://github.com/ros2/rclcpp/pull/1105 was an attempt to make the test more reliable, but it seems to be actually failing for good reasons (i.e. something is broken).

See discussion here https://github.com/ros2/rc

[2020-05-08 16:07] Karsten1987 opened #1111 "Failed to create interrupt: test_lifecycle_service_client"
## Bug report

**Required Info:**

- Operating System:
  - OSX
- Client library (if applicable):
  - rclcpp_lifecycle

#### Steps to reproduce issue

Looking at the test result of https://ci.ros2.org/job/ci_osx/8675/console#console-section-3
or the nightlies here: https://ci.ros2.org/view/nightly/job/nightly_osx_debug/1617/testReport/junit/(root)/rclcpp_lifecycle/test_lifecycle_service_client_gtes

[2020-05-12 09:39] Barry-Xu-2018 commented on #1110
@ivanpauno

About https://github.com/ros2/rclcpp/pull/907#discussion_r418649282,
maybe it's better to update from
[code]
to
[code]

Besides, about the test timer creating a period with 100ms
[code]

This timer expects the callback called ideally as follows,
[code]

But if there is something happened to block (or consume time, ie. thread switching) between timer ready and callback trigger, the call

[2020-05-12 13:20] fujitatomoya commented on #1110
@ivanpauno @Barry-Xu-2018

i was trying to reproduce this issue, but cannot do it so far.(using amd64 i7-3770 / Ubuntu18.04 / source build) i am not sure about the ROS2 CI back-end machines, but it depends on the system resource and situation. technically this could happen with certain condition.

(nitpick: 1st of all, 150ms is over the threshold.)

I believe this is correct,
on the other hand, te

[2020-05-12 21:10] jacobperron commented on #1039
We now have a 1.0.0 release: https://github.com/ros/rosdistro/pull/24844

[2020-05-14 09:45] Barry-Xu-2018 commented on #861
@sloretz

Friendly ping. How about your fixing ?
Besides, jacobperron have some comments. https://github.com/ros2/rclcpp/issues/861#issuecomment-595973399

[2020-05-14 12:56] ivanpauno commented on #1110
I overlooked the original code :man_facepalming: . I will try that, thanks!

[2020-05-14 18:04] #1110 closed

[2020-05-14 18:05] ivanpauno commented on #1110
Fixed by #1105

[2020-05-17 19:31] naiveHobo commented on #1104
I'd love to take a shot at this.

[2020-05-17 19:51] naiveHobo commented on #1104
Another thing to consider is adding the preemption API in ```rcl_actions```. The ```action_msgs::msg::GoalStatus``` msgs published on ```/_action/status``` will still have their status set to ```ABORTED``` when preemption takes place in through ```ServerGoalHandle::preempt()```.

[2020-05-18 02:22] jianming1481 opened #1118 "User cannot setup qos in rclcpp_action create_client"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries

- Version or commit hash:
  - N/A

- DDS implementation:
  - FastRTPS
- Client library (if applicable):
  - rclcpp_action
----
## Feature request

#### Feature description

In `rclpy`, user can set qos both on server and client. In `rclcpp_action` `create_server()`, user also can specify whic

[2020-05-18 06:25] fujitatomoya commented on #1118
@jianming1481

No i do not think so,
as you mentioned, rclcpp_action client will use default qos profile and rcl takes over this option to create endpoints. I think that this should be consistent.

[2020-05-18 21:31] SteveMacenski commented on #1104
@naiveHobo the `GoalStatus` is definitely a requirement. Anywhere that cancel exists, preempt must as well. Another example is `ResultCode`.

[2020-05-19 14:11] fujitatomoya commented on #1098
@clalancette

I do not think this is supported on current implementation. rcl logging init/fini is exclusive in process space, so log setting is global scope.

[2020-05-19 14:22] fujitatomoya commented on #1042
@rotu

does anybody work on the fix?

[2020-05-19 21:21] jacobperron commented on #955
See https://github.com/ros2/rclcpp/pull/1120, which deprecates the use of `async_result`.

[2020-05-20 00:48] jacobperron commented on #861
I've started trying a solution involving storing weak pointers to goal handles in `rclcpp_action::Client`.

[2020-05-20 06:12] rotu commented on #1042
As far as I can tell, no. @dirk-thomas is listed as the package maintainer so maybe he knows.

[2020-05-20 10:41] yuriy-universal-ivanov opened #1121 "lock-order-inversion (potential deadlock) in rclcpp::Client::wait_for_service, detected by ThreadSanitizer"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries, with apt-get
- Version or commit hash:
  - eloquent, from `deb http://packages.ros.org/ros2/ubuntu bionic main`
- DDS implementation:
  - Default (Fast-RTPS)
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Reproduced when using `rclcpp::executors::MultiThreadedExec

[2020-05-20 18:35] jacobperron commented on #861
Feedback appreciated on https://github.com/ros2/rclcpp/pull/1122

@sloretz If you have a moment.

@Barry-Xu-2018 @SteveMacenski I'd like to have a unit test that can reliable reproduce the issue, but struggling to make one. Do you have more complex scenarios where you see the bug and could perhaps check if the referenced PR helps at all?

[2020-05-20 18:36] ivanpauno commented on #1121
@yuriy-universal-ivanov can you share a complete example with reproduction steps (including how to get the tsan issue)?

From the available information, it's not obvious what's the problem.

[2020-05-20 18:43] ivanpauno commented on #1042
@rotu how it was concluded that the thread safety issue is in `Node` constructor/destructor?
From the information available in https://github.com/ros2/rosbag2/issues/329, it's not obvious to me.
Can you clarify how that conclusion was achieved?

I will try to track down the issue, but it would be great to have clearer information (and preferably, a simple example with reproduction steps).

[2020-05-20 18:49] SteveMacenski commented on #861
@jacobperron the link I showed above (https://github.com/ros-planning/navigation2/blob/master/nav2_util/test/test_actions.cpp) triggers it ~30% of the time I'd say, if you ran those action utils tests 20 times in a loop and it didn't fail in any of them, you've definitely fixed it. Those tests are also pretty portable and you're welcome to steal them and move them here. We use a simple action serv

[2020-05-20 18:52] dirk-thomas commented on #1042
While I am listed in the manifest this repo is maintainer by the whole @ros2/team.

[2020-05-20 19:07] ivanpauno commented on #1042
I think I understand the issue:

- `rcl_node_init` calls [rcl_logging_rosout_init_publisher_for_node](https://github.com/ros2/rcl/blob/85ef95514d6ee47bb8285009add84e956595c018/rcl/src/rcl/node.c#L303)
- `rcl_logging_rosout_init_publisher_for_node` [modifies](https://github.com/ros2/rcl/blob/94b5a1d7d0899aa84a1026e21488bee95e67bbd8/rcl/src/rcl/logging_rosout.c#L188) some [global state](https://gith

[2020-05-20 19:50] ivanpauno commented on #1042
Thinking about this again, I think we should actually add mutexes in `rcl` itself, protecting its global variables (e.g. https://github.com/ros2/rcl/blob/85ef95514d6ee47bb8285009add84e956595c018/rcl/src/rcl/logging_rosout.c#L83 and https://github.com/ros2/rcl/blob/85ef95514d6ee47bb8285009add84e956595c018/rcl/src/rcl/logging.c#L37).

I know there was some resistance about adding locks in `rcl`, but

[2020-05-20 20:16] rotu commented on #1042
I think that locks in `rcl` are an excellent idea. If you instrument `rcl` for it, you could even add an option to compile with or without locks, or to verbosely log lock contention to report unsafe usage of the API.

[2020-05-20 20:18] rotu commented on #1042
Please update the package to reflect reality

https://www.ros.org/reps/rep-0149.html#maintainer-multiple-but-at-least-one

[2020-05-20 21:30] jacobperron commented on #1104
We originally did not include goal states for server-side preemption in an effort to reduce the complexity of the state machine. In retrospect, having additional states would have been useful for the "simple" action use-case where we let the server cancel (instead of abort) goals.

There has already been some discussion about how this feature would be desired for implementing a "simple" action ser

[2020-05-20 21:39] SteveMacenski commented on #1104
I'm not sure what this has to do with the simple wrapper - this is largely independent. Its also possible for a worker-action that can process `N` at a time to want to create a distinction between goals stopped due to failure or due to lack of resources to process. Though I agree that the strongest thematic argument for this would be a "simple" single-goal processing action server.

I don't disagr

[2020-05-20 22:14] jacobperron commented on #1104
I thought this was the primary motivation for this ticket (it's referenced in the description). The N-goal server you described is a good example too (sounds like a generalized version of the simple action server from ROS 1).

I'm not convinced the preemption should be immediate. There's a user execution thread running that might like to do some cleanup (e.g. bring the robot into a safe state) bef

[2020-05-20 22:29] jacobperron commented on #861
With a Debug build on Linux, I was able to reproduce according to this ticket's description: uncommenting [this line](https://github.com/ros2/geometry2/blob/fc774a02a4e77df80074dbce4e554cfaa8653b4e/tf2_ros/test/test_buffer_client.cpp#L71) in `test_buffer_client`. Without a fix, it appears to fail about 15 out of 100 times. With the fix proposed in #1122, I haven't seen a test failure.

Here is the

[2020-05-20 23:00] SteveMacenski commented on #861
If nothing else, you definitely fixed _something_ then :1st_place_medal: (but yes, on review, that looks correct to me)

[2020-05-20 23:01] SteveMacenski commented on #1104
That was just more for context in case someone came back and asked where its being used. I air on the side of too much information rather than too little information.

Super fair - agreed.

[2020-05-21 00:54] wjwwood commented on #1042
👎 to adding locks to `rcl`. Why not add the locking in rclcpp?

This is the right solution that I have pointed out several times during the development of the logging API's. It is also needed to address long standing issues with static destruction order... Any other solutions are band-aids in my opinion and this particular proposed one happens to also be a step backwards in design as well, in my o

[2020-05-21 00:55] wjwwood commented on #1042
Why?

[2020-05-21 02:55] Barry-Xu-2018 commented on #861
@jacobperron

I use the same way to reproduce this problem.

[2020-05-21 13:39] ivanpauno commented on #1042
Yes, I regret having worked around a [similar issue](https://github.com/ros2/rcl/issues/551) recently, instead of have pushed for a refactor of the loggers API.
Doing that refactor is not completely trivial, and we should push for that in early G-Turtle.

Completely agreed.

I agree that writing "object oriented like" in `rcl` and then adding mutually exclusive protection of that object in the spe

[2020-05-21 14:29] hidmic commented on #1042
I have to agree with @ivanpauno. For Foxy, assuming this issue is strictly related to `rcl_logging`'s global state, we're past the time to land a proper a fix i.e. to remove all global state. Limiting the scope of the workaround by locking at the `rcl` level, as close to the global state as possible, is unfortunate but doable. That workaround can also be backported.

[2020-05-21 16:09] yuriy-universal-ivanov commented on #1121
Sure.

[rclcpp_1121_repro.zip](https://github.com/ros2/rclcpp/files/4663410/rclcpp_1121_repro.zip)

The archive contains two files: `rclcpp_1121_repro.cpp` and `CMakeLists.txt` to build it with CMake (it enables TSan). Target platform to test at - Linux (I tested at Ubuntu 18.04 with ROS2 eloquent). ROS2 should be sourced prior to invocation of CMake build so it succeeds. TSan from GCC 7+ or Clang

[2020-05-21 18:39] #955 closed

[2020-05-21 18:54] hidmic commented on #1118
@jianming1481 I don't see any fundamental limitation -- it seems `create_client()` simply doesn't an `rcl_action_client_options_t` argument and `Client` constructors use the default one. Would you be willing to contribute a patch? This will affect API, so bear in mind that it won't be merged immediately as we're in the midst of releasing Foxy.

[2020-05-22 08:04] fujitatomoya commented on #1118
@hidmic @jianming1481

could you check https://github.com/ros2/rclcpp/pull/1126?

[2020-05-22 17:11] ivanpauno commented on #1121
You should already be able to test with Foxy, see https://discourse.ros.org/t/ros-2-foxy-fitzroy-call-for-testing-and-package-releases/13998.

[2020-05-22 18:28] claireyywang opened #1129 "Remove set_on_parameters_set_callback after Foxy release"
Set as a reminder to remove `set_on_parameters_set_callback` in G-turtle, since it's deprecated in foxy https://github.com/ros2/rclcpp/pull/1123

[2020-05-22 18:41] #861 closed

[2020-05-22 18:44] jacobperron commented on #861
Thanks everyone for the discussion and reviews! It looks like #1122 resolves this bug.

[2020-05-22 21:17] #1042 closed

[2020-05-22 23:39] yuriy-universal-ivanov commented on #1121
Thanks @ivanpauno, it's unfortunately only available in Ubuntu 20 repos, but I'll check it soon.

Anyway, the deadlock thing doesn't seem to be affected by those changes, so I believe it has to be investigated (you now have repro code to test).
Please let me know if there is anything else I could help regarding the reported issue.

[2020-05-25 14:05] fujitatomoya commented on #1121
@ivanpauno

using https://github.com/ros2/ros2/commit/4eece71bc42f9b28e1c21633d270d908bb508ca7, source build with Ubuntu20.04, I can reproduce the same warning message from TSan. reproduction procedure is following,

[code]

entire log is attached, [rclcpp-issue-1121.log](https://github.com/ros2/rclcpp/files/4677468/rclcpp-issue-1121.log)

I did try a few hundreds times, but cannot actually make d

[2020-05-27 02:19] #791 closed

[2020-05-27 13:59] fujitatomoya commented on #1121
@ivanpauno

Thread Sanitizer Analysis (potential lock inversion)

- Thread-18: (created by user request thread)

[code]

M292025100016882824 is GraphListener::node_graph_interfaces_mutex_, M290617587694362920 is NodeGraph::graph_mutex_.

this thread is created on https://github.com/fujitatomoya/ros2_test_prover/blob/master/src/rclcpp_1121_repro.cpp#L60,

this is 1st call from this node, so call in

[2020-05-27 14:28] fujitatomoya commented on #1121
There is another problem detected by Thread Sanitizer about `WARNING: ThreadSanitizer: data race (pid=12656)`. Callstack is related to eprosima::fastdds::rtps, data race condition between udp socket recv and close. so I create issue https://github.com/ros2/rmw_fastrtps/issues/391.

[2020-05-27 16:49] peterpena commented on #1021
This is expected. Here is why:

The spurious wake is actually caused in:

[code]

in `Executor::execute_any_executable`.

This interrupt exist to avoid a thread, in the case the executor is multithreaded and the threads are not mutually exclusive, waiting indefinitely in `rcl_wait` in `wait.c` in `rcl`. We can use the example you have given and make it a `MultithreadedExecutor`. When thread 1 goes

[2020-05-27 18:16] alsora commented on #1021
Thank you for the detailed explanation.

However now I have another doubt.
If that interruption is required for multi thread scenarios, why is it in the single thread executor?

[2020-05-27 22:07] ivanpauno commented on #1121
@fujitatomoya can you contribute with backports to Dashing/Eloquent?

Thanks for #1135 fix!!!

[2020-05-28 00:26] fujitatomoya commented on #1121
@ivanpauno

working on that in today (Japan Local Time)

will get back to you with PR.

[2020-05-28 00:56] fujitatomoya commented on #1121
@ivanpauno

could you help to merge the followings?

- https://github.com/ros2/rclcpp/pull/1138
- https://github.com/ros2/rclcpp/pull/1137

[2020-05-28 01:34] peterpena commented on #1021
We can definitely do that so it can avoid triggering the interrupt guard condition for the single threaded executor. Would you be willing to have a PR for this?

[2020-05-28 06:53] iuhilnehc-ynos commented on #1098
@clalancette @hidmic @fujitatomoya

I'd like to implement this enhancement. The "--log-level" will be supported as following,

    a. use multiple items "--log-level", such as

        --log-level debug --log-level talker1=error --log-level talker2=warning

    b. use one item, such as

        --log-level debug,talker1=error,talker2=warning

Could you help me review this [PR](https://github.com/r

[2020-05-28 12:46] ivanpauno opened #1139 "Asynchronously shutting down while using `rclcpp::spin` `rclcpp:spin_some` in another thread throws an exception"
This nightly failure is an example of the problem:

- https://ci.ros2.org/view/nightly/job/nightly_osx_repeated/1968/testReport/junit/(root)/projectroot/test_lifecycle_service_client/

What is happening is that one thread is creating an executor, while other is trying to shutdown.
If shutdown is called before the creation of the `Executor`, an exception is thrown:

https://github.com/ros2/rclcpp/b

[2020-05-28 12:47] ivanpauno commented on #1139
Transferred the issue to `rclcpp`, as I opened it in `rmw` by mistake.

[2020-05-28 12:57] ivanpauno commented on #1139
Thanks for pointing out the duplicates.
I will try to consolidate all of them in a new issue --or edit an old one--, and close the others.

I think that both "exception like" and "notification like" behaviors are acceptable and have their pro/cons. But IMO, we're doing neither of both correctly.
If we prefer throwing an exception when the user tries "doing something" after shutdown, I think we sho

[2020-05-28 16:08] ivanpauno opened #1142 "Start using PIMPL extensively in user facing classes, to improve ABI stability"
Feature request

#### Feature description

We have run many times in the issue of not being able to backport a fix because it would break ABI.
e.g.:

- https://github.com/ros2/rclcpp/pull/1119 is almost impossible to backport.
- https://github.com/ros2/rclcpp/pull/1056

#### Implementation considerations

We should evaluate when the effort matters and where it doesn't.

[2020-05-28 18:58] clalancette opened #1143 "Reevaluate the const-ness of the classes and interfaces to rcl"
## Bug report

Over in https://github.com/ros2/rclcpp/pull/1119#discussion_r432041729 , we had a bit of a discussion about the const-ness of interfaces, particularly how it relates to how rclcpp interfaces with rcl.  After that discussion, it seems like there may be some constness problems in that interface.  We should re-evaluate how constness is used, particularly at the rcl interface boundary.

[2020-05-28 19:12] charlotteheggem opened #1144 "Rclcpp clock problems"
- Operating System: Ubuntu 18.04.4
- Installation type: Eloquent binaries
- Version or commit hash: 0.8.4-1bionic.20200218.183043
- DDS implementation: FastRTPS (also tested for Cyclone DDS)
- Client library (if applicable): rclcpp

Hi,

We have experienced problems when running Navigation2, and after debugging with GDB it seems to be due to rclcpp. (https://github.com/ros-planning/navigation2/iss

[2020-05-28 19:40] clalancette commented on #1144
It is worthwhile to test out this branch: https://github.com/ros2/rclcpp/tree/clalancette/global-clock-lock .  I'll be curious to know if that solves your problem.

[2020-05-29 01:29] peterpena commented on #877
This interrupt in `Executor::execute_any_executable`:

[code]
exist to avoid a thread, in the case the executor is multithreaded and the threads are not mutually exclusive, waiting indefinitely in `rcl_wait` in `wait.c` in `rcl`. When thread 1 goes into `wait_for_work` and adds the timer handle to `wait_set` and is woken by the timer, it starts executing the timer. At the same time, the lock is re

[2020-05-29 07:21] fujitatomoya commented on #1139
@ivanpauno

Just FYI, I think that I already did it with https://github.com/ros2/examples/pull/270.

[2020-05-29 11:02] alsora commented on #1021
Unfortunately I can't right now.
If by middle of June no one has picked it up yet, I would be more than happy to do it

[2020-05-29 13:19] ivanpauno commented on #1139
That's exactly what I don't like of how `shutdown` works right now, you only can `try/catch` a generic `RCLError`. There should be a `rclcpp::exceptions::Shutdown` error (or similar).

[2020-05-29 13:46] ivanpauno commented on #877
@peterpena I don't see the connection between your comment and @liqinghua bug report.
@liqinghua I'm closing this due to long time inactivity, we can reopen the issue if you provide an example of the problem.

PS: There was a thread safety problem that made `MultiThreadedExecutor` hung when using timers. That was fixed and backported to Dashing https://github.com/ros2/rclcpp/pull/869 at about the

[2020-05-29 13:46] #877 closed

[2020-05-30 00:57] emersonknapp opened #1147 "Topic Statistics 0 publish period publishes statistics as fast as possible"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - Fat Binary
- Version or commit hash:
  - https://ci.ros2.org/view/packaging/job/packaging_linux/1883/
- DDS implementation:
  - rmf_fastrtps_cpp
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior

Throw an error, or don't publish, not sure which

[2020-05-30 15:44] peterpena opened #1148 "Multiple wakes caused by wait_mutex in MultiThreadedExecutor"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - From source (Foxy)
- Version or commit hash:
  - Master branch
- DDS implementation:
  - FastRTPS

#### Steps to reproduce issue
[code]

#### Expected behavior
When the guard condition is triggered, the thread that has the  `TimerBase::SharedPtr` should be able to remove it from the `scheduled_timers_`

[2020-06-01 01:49] fujitatomoya commented on #1147
How about publish just once at the destruction of this subscription?

[2020-06-01 14:23] ivanpauno commented on #1121
@fujitatomoya Thanks for the fix and backports!!

@yuriy-universal-ivanov A backport to Eloquent has been merged, the fix will be available on debians in next patch release.

[2020-06-01 14:23] #1121 closed

[2020-06-01 17:38] emersonknapp commented on #1147
That would also be fine - i think the most important bit is documentation that clarifies the behavior

[2020-06-02 00:26] daisukes opened #1152 "Unreliable services"
## Bug report

**Required Info:*
Related to https://github.com/ros-planning/navigation2/issues/1788*

- Operating System:
  - Ubuntu 20.04 (Docker container)
- Installation type:
  - Foxy, source build (4772a2a9b926126567008a0d83c5c7323d5c684b)
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - Navigation 2 (master, 13d6629356e897e1717f2fd9579d807bd3c8cfc6)

#### Steps to re

[2020-06-02 01:17] fujitatomoya commented on #1152
could you define the problem what you wanna fix?
- service is available, but not responding?
- takes long time to bring up the service?

you are mentioning the reliability, so after making sure service availability, service sometimes does not respond? right?

[2020-06-02 01:53] daisukes commented on #1152
Yes. After making sure service availability, service sometimes does not respond.

Specifically, I want [clear costmap services](https://github.com/ros-planning/navigation2/blob/master/nav2_costmap_2d/src/clear_costmap_service.cpp#L43).

[2020-06-02 02:17] fujitatomoya commented on #1152
@daisukes

thanks, I would like to see the stack trace or core when exactly this `hang up` happens. just to make sure this happens in the ros2 system core stack or user implementation(in this case, clear costmap services). can you make this happen with other service example such as https://github.com/ros2/demos/tree/master/demo_nodes_cpp/src/services?

[2020-06-02 04:15] daisukes commented on #1152
After making sure the navigation2 system is working, I run a small program listed below to call a service (`/global_costmap/clear_entirely_global_costmap`) and stopped after waiting 15 secs and got the backtrace.

Also, run this snippet with 3-sec timeout hundreds of times. It randomly successes about 5% on my PC with Core i7-9750H @ 2.60GHz and about 70% on a server with Core i9-7920X @ 2.90GHz

[2020-06-02 12:59] fujitatomoya commented on #1148
@peterpena

Could you point out the source code or patch for rclcpp to emphasize what your problem is? I am not sure what the problem is.

[2020-06-02 13:04] fujitatomoya commented on #1152
https://github.com/ros2/ros2/issues/922 looks same with this problem.

[2020-06-02 13:12] hidmic commented on #1152
Indeed. @daisukes mind to try https://github.com/ros2/rmw_fastrtps/pull/390? It should mitigate the issue significantly.

[2020-06-02 16:26] daisukes commented on #1152
@fujitatomoya @hidmic
Thank you for the information.
I have tried that branch of rmw_fastrtps, however, it could not improve much.
15 success out of 213 trial, about 7%.

I found a thing, still not sure how it relates to the problem though.
It looks like the success case is determined when you make a node.
If you keep using a node that causes failure, I could not get success at all by calling waif

[2020-06-02 16:29] hidmic commented on #1152
FYI @MiguelCompany

[2020-06-02 18:27] peterpena commented on #1148
You can pull down the master branch and install from source. Then copy and paste the code I provided in the issue. When you run it, you will notice multiple wakes in `rcl_wait` happening in between the execution of the timer callbacks. The wakes can be minimized.

[2020-06-02 22:26] yuriy-universal-ivanov commented on #1121
@fujitatomoya @ivanpauno
Awesome, thank you both a lot!

[2020-06-02 23:43] fujitatomoya commented on #1152
according to https://github.com/ros2/rclcpp/issues/1152#issuecomment-637261021, it is just a client stack, thread waiting for the event which is service availability. So as requester, service (looks) IS NOT ready. and the rest is the trace triggered by signal SIGINT.

maybe we could check the service client/server debug log to see the difference? Any thoughts?

[2020-06-02 23:45] fujitatomoya commented on #1148
@peterpena

i was expecting you have some kinda debug branch of rclcpp against this problem.

[2020-06-03 06:50] daisukes commented on #1152
Sent requests from the client are sometimes taken by the server, but sometimes not.

[planner_server_19898_1591165395685.log](https://github.com/ros2/rclcpp/files/4721394/planner_server_19898_1591165395685.log)
[service_test_20379_1591165406625.log](https://github.com/ros2/rclcpp/files/4721396/service_test_20379_1591165406625.log)

service_test program creates a node and client, then call `async_s

[2020-06-03 15:39] daisukes commented on #1152
It works well if I use Fast-RTPS v1.10.0 instead of 2.0.x, which is changed in this April.
https://github.com/ros2/ros2/commit/c7c115a7f9d78985903bac05d7dd0d886b808b61

[2020-06-03 16:27] hidmic commented on #1152
Interesting.

I agree that a client hanging isn't a nice way to fail a service call, but if you don't wait for the service server the chances of the response future ever becoming ready are pretty low.

[2020-06-03 18:36] wjwwood opened #1154 "deprecation warning not working on Linux"
According to reports deprecation warnings for things like `rclcpp::exectuors::FutureResultCode` are not coming up on Linux:

https://github.com/ros2/ros2_documentation/pull/740#issue-427305703

[2020-06-04 03:54] fujitatomoya commented on #1144
traceback 1, 2 and 3 comes from multi-thread access to `clock->jump_callbacks`, related to https://github.com/ros2/rclcpp/pull/1056.

[2020-06-04 04:16] wjwwood commented on #1154
So I was able to get deprecation warnings in my 20.04 VM with this diff:

[code]

[code]

@maryaB-osr can you say what you were doing before? Maybe it doesn't work in some specific case like when building the example packages or some other corner case I'm not considering?

[2020-06-04 12:25] clalancette commented on #1154
Sorry, I should have been more explicit.  If you follow the services tutorial https://index.ros.org/doc/ros2/Tutorials/Writing-A-Simple-Cpp-Service-And-Client/ (in particular the "client" side), and build it, you'll get no deprecation warning on Linux, though you do get on on macOS.

[2020-06-04 14:18] fujitatomoya commented on #910
@ivanpauno

i got a question, since Context is introduced and mapped to dds participant, I think that domain id also should be mapped to Context (same as security) not only for NodeOptions.

i am considering the following,

- expose domain_id to NodeOptions
  default `std::numeric_limits<size_t>::max()` and ROS_DOMAIN_ID variable is set via  get_domain_id_from_env(), but user can overwrite the dom

[2020-06-04 16:12] ninamwa commented on #1144
Hi! We did check out the branch a week ago but it did not solve the problem. After the comment this morning about multi threads, we did a proper cleanup in some old threads. It still did not work with the debian rclcpp eloquent package, but the global-clock-lock branch worked like a charm! Thank you very much. We have been running Navigation2 all day without a problem! 🙂

[2020-06-04 16:16] #1144 closed

[2020-06-04 16:32] ivanpauno commented on #910
We shouldn't expose nothing in `NodeOptions`, as that will not continue to be used.
Exposing it in `InitOptions` is ok, but I would prefer to have a cleaner API (i.e.: not exposing that size_t max means "default").
[code]

[2020-06-04 17:59] SteveMacenski commented on #1144
@clalancette I think we should reopen this ticket until that PR lands in master

[2020-06-04 18:10] clalancette commented on #1144
Just to be clear, there is a fix for this on master (and will be in Foxy).  The problem with that fix is that it breaks ABI, so that particular patch isn't eligible for Eloquent.

The `global-clock-lock` branch is an attempt to fix this in an ABI-compatible way for Eloquent.  It does exactly what it says; it creates a global `std::mutex` that gets locked every time we manipulate the the underlying

[2020-06-04 18:28] SteveMacenski commented on #1144
Got it, thanks.

[2020-06-07 02:21] fujitatomoya commented on #910
I do agree with you, so maybe it is better to clean anything related to ROS_DOMAIN_ID stuff from NodeOptions. and we also update docs (if exist) explicitly about domain id with Context for user.

[2020-06-07 02:21] fujitatomoya commented on #910
@suab321321

sorry i missed it, are you up for this?

[2020-06-07 20:46] mikeferguson commented on #731
So, is this ticket basically tracking that sub nodes do not actually use the sub_namespace in the name of the parameter? For example:

[code]

I would expect the parameter to be "controller_name/type", but instead "ros2 param list" shows only a parameter named "type"? Is this expected behavior? Is this a bug?

[2020-06-08 01:39] fujitatomoya commented on #731
I am not sure about this either, I'd like to know.

currently, yes. only `type` is declared w/o namespace.

I think that this is bug, it should be extended with sub_namespace?

[2020-06-08 03:04] threeal commented on #1029
Actually there is a `rcl_parse_yaml_file()` under [rcl_yaml_param_parser](https://github.com/ros2/rcl/blob/master/rcl_yaml_param_parser/include/rcl_yaml_param_parser/parser.h) that could be used to parse parameters from yaml config. It returns `rcl_params_t` though, but the good news, there is also `rclcpp::parameter_map_from()` that could be used to convert from `rcl_params_t` to `rclcpp::Paramet

[2020-06-08 13:06] ivanpauno commented on #910
If you want to clean that up, it's welcomed too! The only reference too `domain_id` in node related API is in `rmw` IIRC.
Exposing the domain id here is not related with that change, so it can be done separately.

[2020-06-08 18:23] wjwwood commented on #731
Yeah @mikeferguson I consider it a bug, or at least I think it will be surprising to most users.

The issue (why I didn't just fix it on the spot) is that the way the node class is separated into parts complicates this. The subnode feature was added to `Node`, but not to one of the components, meaning it's hard to use from the `NodeParameters` class. This is just my recollection of the issue, but

[2020-06-08 23:40] wjwwood commented on #1142
I have some concern with the PIMPL pattern being used extensively, due to complexity and performance.

The complexity comes from just having so many more indirections within the code, especially in the case that you need to write a template method but access data via the impl class, which can cause some awkwards scenarios where you need to type erase data.

The performance is just chasing pointers

[2020-06-09 04:38] dirk-thomas commented on #972
Reopening since the merge PR was reverted: see https://github.com/ros2/rclcpp/pull/1113#issuecomment-641023007

[2020-06-09 16:43] ivanpauno commented on #1142
FastPIMPL looks good to me.

There's also a lot of places were we can take advantage of an indirection we are already doing and have ABI stability for free. e.g.:

[code]

We are already returning a pointer to the object and never the object directly.
Because we're inheriting from [enable_shared_from_this](https://github.com/ros2/rclcpp/blob/bba9dce253d98a31a3069218504d26c4be9fb8b8/rclcpp/include/

[2020-06-09 18:54] wjwwood commented on #1142
Those all seem like reasonable things to try. In general I'm in favor of going over the API and trying to find places to make use more future proof, but we should just be really thoughtful for each of them rather than blindly applying PIMPL everywhere.

[2020-06-09 19:25] ivanpauno commented on #1142
Yes I agree, I changed the title so the goal is clearer.

[2020-06-09 21:35] ivanpauno commented on #1154
It sounds like deprecating the enum (rclcpp::executor::FutureReturnCode) doesn't deprecate the enumerators (e.g. rclcpp::executor::FutureReturnCode::Success) on Linux.
I'm not sure if that can be worked around, seems to be a compiler bug.

[2020-06-11 01:45] fujitatomoya commented on #910
@ivanpauno

either me or someone else from our team can work on this, you can leave this on us. though, we would require your review for sure.

[2020-06-11 15:51] threeal opened #1166 "Programmatically configure log level"
## Feature Request

### Feature Description

A c++ function to set log level of a specific logger under the `rclcpp::Logger` class.

### Implementation Considerations

- the current implementation could be done using the following codes, but it's based on c, not c++:
[code]
- add a `void` function that throw an error on fail or add a `boolean` function that return false on fail under the `rclcpp::

[2020-06-11 16:18] ivanpauno commented on #953
This behavior change introduced a problem in launch files:

[code]

If the user doesn't explicitly pass the node name and namespace, we can't know the fully qualified node name in advance.
Thus, we generate a temporal parameter file using a **wildcard**.
Alternatively, we could pass a wildcard parameter argument `--ros-args -p <p_name>:=<p_value>`.

In both cases, the issue is that we cannot overr

[2020-06-11 16:49] jacobperron commented on #953
If we categorize this as buggy behavior (which I think it is), then I think backporting a fix should be okay.

[2020-06-11 17:12] hidmic commented on #953
So, it's important to stick to a precedence in all client libraries. That's what the PRs that were aiming to address this issue did. Before that, it was UB.

---

Your argument is a valid one. I think we may get around it in an ABI compatible way by performing wildcard matching down in `rcl_yaml_param_parser`, so that we don't have to do so in `rclpy` or `rclcpp` where that order information is no

[2020-06-11 18:08] #1147 closed

[2020-06-12 01:16] wjwwood commented on #1148
@fujitatomoya I think he does have some local changes to rclcpp to generate the additional logging messages.

[2020-06-12 01:33] fujitatomoya commented on #1148
@wjwwood got it, thanks. i will look into that.

[2020-06-12 02:35] mikeferguson opened #1174 "count_subscribers / count_publishers do not respect remapping"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04, Foxy
- Installation type:
  - From debians
- Version or commit hash:
  - rclcpp 2.0.0
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

I created a full test node here: https://github.com/mikeferguson/ros2_bugs/blob/master/rclcpp_issues/src/count_subscriber_issue.

[2020-06-12 07:16] fujitatomoya commented on #1174
+1, this seems to be clearly bug.

[2020-06-12 11:48] henningkayser commented on #281
@wjwwood any updates on this issue?  It seems like it would be really easy to add const-ref callbacks and I think it's a very reasonable default. With ROS1 const-ref callbacks were also available and we use them a lot in MoveIt.

[2020-06-12 11:50] fferri opened #1175 ""dynamic" service becomes unresponsive after being destroyed and created again"
## Bug report

Brief description of the use case: during the lifetime of a node we need to create and destroy a service various times. However, the service client fails to find the service the second and subsequent times it is created.

To test this, I create a node with one static (i.e. active for the whole lifetime of the node) service '/enable' of type std_srvs/srv/SetBool.

Calling '/enable' w

[2020-06-12 13:35] fferri commented on #1175
I get a similar problem with a "dynamic" publisher: after it is destroyed and created again, I'm unable to receive published messages anymore.

Is there some problem in removing services / publishers while keeping the node running?

[2020-06-12 20:51] mikeferguson commented on #1174
As a note, it looks like the [get_subscription_count()](http://docs.ros2.org/latest/api/rclcpp/classrclcpp_1_1PublisherBase.html#a60c84260b2ff0fb364fad688ed91234f) of PublisherBase does work with remapping.

[2020-06-12 21:17] ivanpauno commented on #1148
What is `wait_mutex`?
Where does logs came from?

[2020-06-13 00:13] wjwwood commented on #281
Nope, no one has had time. It would be a good enhancement though. We need to audit the allowed signatures as well. We did this at some point for publish and deprecated several different styles and added some others.

[2020-06-13 22:01] fujitatomoya commented on #1174
it is because rmw is not aware of remapping but rcl. for supporting this, I believe that we need to change rcl.

[2020-06-15 01:54] fujitatomoya commented on #1148
@ivanpauno

precisely `wait_mutex_`, https://github.com/ros2/rclcpp/blob/a667583821fb3b1c0830420ce3b0517df1e9f8c4/rclcpp/include/rclcpp/executors/multi_threaded_executor.hpp#L84

local changes are applied, https://github.com/ros2/rclcpp/issues/1148#issuecomment-643011637

[2020-06-16 22:03] #1118 closed

[2020-06-16 22:16] brawner opened #1177 "Double free in create_wall_timer if an invalid period is passed"
In [`create_wall_timer()` in `create_timer.hpp`](https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/create_timer.hpp#L105-L110), if a bad period duration is passed (either < 0 or > nanoseconds::max()) then rcl will throw an error. During the destructor of WallTimer, it will call cancel, which results in a double free. I haven't found exactly where.

This issue is to track the several

[2020-06-16 23:18] brawner commented on #1177
Add PR to check arguments in `create_wall_timer`: https://github.com/ros2/rclcpp/pull/1178

[2020-06-16 23:31] brawner commented on #1177
For reference, this is the error message:
[code]

[2020-06-17 03:23] fujitatomoya commented on #1177
@brawner

i do not think of `doube free` case either, but exception in destructor.

checking argument is also better, but we could change like `only issue cancel on initialized rcl_timer_t successfully`, i think that would be less exception.

[2020-06-17 07:49] fujitatomoya commented on #1177
problem confirmed,

[code]

[2020-06-17 20:27] ivanpauno commented on #953
@clalancette @hidmic friendly ping.
Do we want to recheck this decision considering the issue it causes in launch?

[2020-06-17 20:37] hidmic commented on #953
I'm fine with using command line order instead of a wildcard precedence. It's not necessarily worst. But I do think that `launch_ros` should provide means to specify a node name for a given parameter. It's too tied to the notion of one node per process still.

[2020-06-17 21:13] brawner commented on #1177
Agreed @fujitatomoya. This was the intended second PR to followup and resolve the issue. It throws an exception in the constructor if `rcl_timer_init` fails.

https://github.com/ros2/rclcpp/pull/1179

[2020-06-17 21:51] ivanpauno commented on #953
Sorry, I missed the previous comments and I pinged again unnecessarily :grin:.

We can pass the node name and namespace to `Node` action, that should be enough (as passed parameters apply to that node only).

Sounds good.

[2020-06-18 19:17] sloretz commented on #1152
Closing in favor of https://github.com/ros2/rmw_fastrtps/issues/392 since these appear to be duplicates, and `rmw_fastrtps` is a more specifc repo

[2020-06-18 19:17] #1152 closed

[2020-06-18 19:29] audrow commented on #1025
I believe that the timer class is thread safe because all of the functions that use `timer_handle_` say that they are thread safe in their documentation, except for `rcl_timer_init` which is in the constructor and is locked with a mutex from the clock.  Below are the functions and the documentation that states they are thread safe.

<details>
<summary><code>timer_handle_</code> usages in <code>tim

[2020-06-18 20:16] ivanpauno commented on #1025
Thanks for your analysis, I believe it's correct.
I've also checked some of the methods marked as thread safe in `rcl`, and they seem to be so.

I don't like much using the mutex of another object, though reading the implementation this is unfortunately needed (a refactor in `rcl` would be needed to change that).

Code blocks from other repositories aren't rendered.
An extra space/new-line might a

[2020-06-18 20:16] #1025 closed

[2020-06-18 23:26] brawner opened #1186 "Inconsistent namespaces for memory strategies"
It looks like the namespacing of memory strategies is not consistent and could be due for cleanup. Please let me know if this is intentional and should be left alone.

[code]

I'm ticketing this while it's fresh in my mind, and I plan to come back around and propose a PR.

[2020-06-19 17:23] hidmic commented on #953
One more thought about this. At the time, best match-based precedence made sense to me. It made it easy to specialize configuration with no regard for order. But I could also imagine someone trying to mass apply a change after all other configuration has been provided.

So, what about respecting order but adding a CSS' `!important` rule equivalent? I get to mass apply changes using wildcards, and

[2020-06-19 17:45] clalancette commented on #953
I think I still stand behind my previous thought that specificity should override more general terms.  That is, a specific node name should override the wildcard, because a common use case is to have a parameter that is the same across nodes, but one that is different.  While using command-line ordering is also valid (assuming it is consistent), I think it is more surprising.

If we assume that th

[2020-06-19 17:52] ivanpauno commented on #953
I think that's technically impossible. If the user doesn't specify the node name and namespace at launch time, `Node` action will have to use a wildcard.

The only thing that can be done in launch to improve the situation was proposed in https://github.com/ros2/launch_ros/pull/154.

[2020-06-19 18:20] clalancette commented on #953
I don't know the specifics here, but how can this be the case?  At some point during the startup of a process, we *have* to know the fully-qualified node name.  Otherwise how would we get that information for `ros2 node list` (and other things)?

[2020-06-19 18:30] ivanpauno commented on #953
When executing the command, the node name and namespace can't be known except remapping rules for then (_ns, _name) are passed, as they are hard-coded in the executable.
We need the node fqn before executing the command, if not we can't add the correct arguments to set the parameters (or we have to use wildcards to pass them).

---

Parameters can also be modified at runtime with services.
Those s

[2020-06-19 19:42] peterpena commented on #1154
Following @clalancette 's step in which you build `add_two_ints_client.cpp` , the deprecation warning does not appear. With the diff provided by @wjwwood  in which you declare the enum class `rclcpp:executor::FutureReturnCode` , it does produce a deprecation warning. It seems the deprecation only works for the enum class and not the actual enumerators as mentioned by @ivanpauno .

[2020-06-22 08:47] fferri commented on #1175
To simplify testing, after running the node, you can use this command:

`for ((;;)); do ros2 service call /enable std_srvs/srv/SetBool 'data: true'; sleep 1; ros2 service call /dynamic_service std_srvs/srv/Trigger '{}'; sleep 1; ros2 service call /enable std_srvs/srv/SetBool 'data: false'; sleep 1; done`

and wait for it to be stuck at "waiting for service to become available...".
Today I tested a

[2020-06-22 14:11] ivanpauno commented on #1139
We already have in `rcl` return values like `RCL_RET_NODE_INVALID`, `RCL_RET_PUBLISHER_INVALID`, etc.

After shutdown, you usually get one of those errors (e.g. https://github.com/ros2/rcl/blob/069d1f07290019b62a8297c5f95a80b58e63682a/rcl/src/rcl/publisher.c#L286).
Can we add a `RCL_RET_IS_SHUTDOWN` or `RCL_RET_CONTEXT_INVALID` in `rcl` and return that when appropriate?

We could then add in rclcp

[2020-06-22 20:59] peterpena commented on #519
@ralph-lange I would like to work on your callback-group-level Executor in `cbg-executor-foxy` branch so that it can merge with upstream if that is fine with you.

[2020-06-22 22:27] jacobperron commented on #953
I'm still trying to wrap my head around the issue. Is it possible to give wildcard params passed  on the command line higher precedence than wildcard params passed in a YAML file? Then `launch_ros` could pass dictionary params as CLI arguments instead of writing to a temporary YAML file.

[2020-06-22 22:36] hidmic commented on #953
It isn't impossible, but `rcl` would have to change. Also, wouldn't it be somewhat unintuitive?

[2020-06-23 04:28] fujitatomoya commented on #1139
i think that is feasible. one question, what is the difference between RCL_RET_IS_SHUTDOWN and RCL_RET_CONTEXT_INVALID? i was thinking RCL_RET_CONTEXT_INVALID is equal to RCL_RET_IS_SHUTDOWN. we should add specific state that tells us if shutdown is called or not? could you enlighten me a little bit?

[2020-06-23 06:37] threeal opened #1190 "Modify Parameters On Set Parameter Callback"
## Feature Request

### Feature Description

Currently the [rclcpp::Node::add_on_set_parameter_callback()](http://docs.ros2.org/foxy/api/rclcpp/classrclcpp_1_1Node.html#a0c3ad2ca5c56eb54af0227f04e943679) only support callback of `rcl_interfaces::msg::SetParametersResult callback(const std::vector<rclcpp::Parameter> &parameters)`. I see that there is a point to make the parameters constant, so the

[2020-06-23 07:23] ralph-lange commented on #519
That's of course fine for me - and I'm happy to support you.

[2020-06-23 07:25] ralph-lange commented on #519
@peterpena, please note that the current port to Foxy is not yet working properly. Somewhere in the rclcpp executor or my callback-groups extension of it, a very subtle change must have come in:
In my [example](https://github.com/boschresearch/ros2_examples/tree/cbg-executor-foxy/rclcpp/cbg-executor_ping-pong), I have two nodes (Ping and Pong) each with two callback groups "RT" and "BE" (for real-

[2020-06-23 12:38] clalancette commented on #1190
I'm not following what feature you are looking for here.  Can you explain more?

With the current callback, it is entirely possible to clamp a value as you set it.  You just use a `std::clamp` as you set the value in the callback.  As for setting the range between 0 and 100.0; to me, it seems non-sensical to set a range, and then to ignore that range and clamp it.  That is, if you want to accept *

[2020-06-23 13:56] threeal commented on #1190
@clalancette i updated my feature description. so basically, there's no way that allows a node to modify the parameters that will be set during the `on_set_parameter_callback`. Even a `std::clamp `inside the `on_set_parameter_callback` won't work as the parameter itself is immutable.

[2020-06-23 14:39] ivanpauno commented on #1139
Sorry, I think my comment wasn't clear.

Those are two names suggestions for the same new return code.
`RCL_RET_CONTEXT_INVALID` is named similarly to the other return codes.
`RCL_RET_IS_SHUTDOWN` is a more clear name for this case IMO.

[2020-06-24 01:30] fujitatomoya commented on #1190
i guess that is the setter's responsibility, since setter sets the parameter which is out of range? I would add clipping what makes sure the parameter will be set in the rage of 0.0 to 100.0 in the setter.

[2020-06-24 01:38] fujitatomoya commented on #1139
@ivanpauno

thanks for the clarification, we will take care of this.

[2020-06-24 10:10] fujitatomoya commented on #1175
This could be related to https://github.com/ros2/rmw_fastrtps/issues/392, i confirmed the problem can be observed with provided sample program. And using cyclonedds with `export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp`, I cannot reproduce the problem.

[2020-06-24 10:11] fujitatomoya commented on #1175
CC: @richiware

[2020-06-24 14:46] ivanpauno commented on #1139
Sorry, but up to now I'm the only one in favor of that change, we need to settle in what we want first.
I would like to hear other opinions before starting a change that may be rejected.

@wjwwood @hidmic @jacobperron Does a custom return code in rcl and a custom exception in rclcpp for shutdown sound like a good idea to solve the issue? Do you have any other alternative?

[2020-06-24 18:39] jacobperron commented on #1139
Introducing a new common rclcpp exception to make things consistent sounds like an incremental improvement to me +1

As a drastically different alternative, we could remove the exception and have a notification based approach by having `spin` return when it encounters an error (it could return a bool or int code). I don't know how technically feasible this is, e.g.

[code]

And existing code writt

[2020-06-24 18:46] jacobperron commented on #953
I don't know if it's intuitive, but I don't think it's counter-intuitive :smile:

[2020-06-24 19:28] ivanpauno commented on #1139
I think that the notification based approach is fine.
It could even be configurable in `InitOptions` (I'm not sure if that's a good idea or not).

IMHO, changing `spin*` signatures won't help. Our loops currently look like:

[code]

That is perfectly suitable for a notification based approach, having a return value in `spin*` functions won't add much value.
If `spin*` functions get notified and st

[2020-06-24 22:06] ivanpauno commented on #953
Maybe that's not a bad idea:

[code]

In that case, I would be really surprised if the parameter using a wildcard overrides the one using a fqn.

[code]

In that case, I'm really not surprised. It feels pretty natural besides not using `my_node:my_int:=45`

[2020-06-25 13:16] ahcorde commented on #1039
Bump QD to level 3 and fixed some links https://github.com/ros2/rclcpp/pull/1158

[2020-06-25 13:18] ahcorde commented on #1036
Bump QD to level 3 and fixed some links https://github.com/ros2/rclcpp/pull/1158

[2020-06-25 13:18] ahcorde commented on #1037
Bump QD to level 3 and fixed some links https://github.com/ros2/rclcpp/pull/1158

[2020-06-25 13:18] ahcorde commented on #1038
Bump QD to level 3 and fixed some links https://github.com/ros2/rclcpp/pull/1158

[2020-06-25 16:42] sloretz commented on #1111
@clalancette friendly ping :)

What's next for this issue? Does #1139 fix it?

[2020-06-25 16:45] sloretz commented on #1129
@claireyywang friendly ping :)

[2020-06-25 17:23] peterpena commented on #519
Hello @ralph-lange, thank you for the thorough explanation on how to test the executor-callback group feature. Based on your comment and suggestion, I have been carefully looking into the behavior of `add_callback_group`. There is one thing that might cause a bug and *might* be related to the behavior you are describing:

With `execute::add_callback_group`, the callback group is added to a map `we

[2020-06-25 17:37] wjwwood commented on #1139
Quoting myself, I think this might be the right path to take. Just make it so that shutdown does not affect the function of anything, it simply changes the state of `rclcpp::Context::ok()`/`rclcpp::ok()`.

This runs the risk of the user not noticing shutdown, but we can't keep them from all pitfalls.

[2020-06-25 17:56] ivanpauno commented on #1139
:+1: I like that option.

[2020-06-25 18:00] ivanpauno commented on #812
Closing in favor of https://github.com/ros2/rclcpp/issues/1139.

[2020-06-25 18:00] #812 closed

[2020-06-25 18:01] ivanpauno commented on #610
Closing in favor of https://github.com/ros2/rclcpp/issues/1139, which has a more recent discussion.

[2020-06-25 18:01] #610 closed

[2020-06-25 22:25] jacobperron commented on #1139
SGTM

[2020-06-25 22:35] jacobperron commented on #953
@ivanpauno To clarify, are you saying that it's not that surprising if the value was `45`? I would agree that it seems reasonable.
I do think it's kind of arbitrary though, to say that CLI params always override YAML params. At least it would be a relatively easy  rule to remember.

[2020-06-26 11:08] ralph-lange commented on #519
Thank you for reporting this finding, @peterpena and for looking even deeper into my code. I always wanted to compare the changes for Crystal (i.e. https://github.com/boschresearch/ros2_rclcpp/commit/08e9a1e9e365fb614fa04f4fe371e1528677519c) with the changes for Foxy (i.e. https://github.com/boschresearch/ros2_rclcpp/commit/807b06cb9d9e12a02bb9a4852884e1acbea80165) side-by-side but simply had no t

[2020-06-26 13:08] clalancette commented on #953
Can I suggest here that we instead change this to a design document (or modification to one) now?  I think I've seen at least 3 or 4 different proposals here (though some of them overlap), and it would be good to consolidate all of that down to one document.  Once we have agreement on the design document, then we can think about how to implement it.  What do people think?

[2020-06-26 13:45] ivanpauno commented on #953
:+1: to @clalancette proposal.
I think that the current design document is not clear about ordering between wildcard and not wildcard arguments, so it would be good to clarify that.

[2020-06-28 20:11] fujitatomoya commented on #1139
i guess we got to the consensus.

[2020-06-29 17:51] brawner commented on #1177
I believe this has been adequately addressed by #1178 and #1179.

[2020-06-29 17:51] #1177 closed

[2020-06-29 19:32] ralph-lange commented on #519
@peterpena, you were absolutely right. Removing the `node->get_callback_groups` from `collect_entities` fixed the problem. Thank you very much for pointing to this bug! I just rebased the whole implementation of the Callback-group-level Executor, including this fix, to v2.0.1 of rclcpp in the branch https://github.com/boschresearch/ros2_rclcpp/tree/cbg-executor-foxy.

[2020-06-29 20:15] ivanpauno commented on #1139
Yeap, I will check in tomorrow's meeting if everybody agrees.

Doing this change will involve coordinated work in `rcl`, `rclpy` and `rclcpp` to make sure that shutdown doesn't do more than triggering guard conditions once, invalidating the context, and calling shutdown callbacks. The only place where we should check if a context is valid or not is in `rclcpp::ok()`, `rclpy.ok()` (e.g. publish sho

[2020-06-29 22:24] #1129 closed

[2020-06-29 23:53] wjwwood commented on #1154
Well that's unfortunate, but it sounds like we should just close this. We don't have a good way to expose this deprecation on GCC that I can see.

@peterpena did you have a chance to look for a gcc bug about this? Maybe they have a suggested workaround that we didn't think about.

[2020-06-30 17:40] dirk-thomas commented on #1139
I think we should consider and address the bigger picture: how should a user perform multiple `init` / `shutdown` cycles cleanly? Atm the `shutdown()` call isn't blocking and you can't call `init()` right afterwards without being subject to a race or warnings like "logging already initialized".

[2020-07-01 00:45] fujitatomoya commented on #1139
i think that we can, and `shutdown()` call blocks with
https://github.com/ros2/rclcpp/blob/a8cd93623964a089ee132d65e8b5eda84c15740d/rclcpp/include/rclcpp/context.hpp#L345

maybe i am misunderstanding, could you elaborate?

[2020-07-01 14:40] ivanpauno commented on #1139
It should be safe to do it after `rclcpp::ok()` returns false.

We're currently finishing loggers at shutdown (see [here](https://github.com/ros2/rclcpp/blob/a8cd93623964a089ee132d65e8b5eda84c15740d/rclcpp/src/rclcpp/context.cpp#L317)), and I think that part of the idea is to stop doing that and doing it when the context is destructed.
If we do that change, `init` should make sure to handle the pr

[2020-07-01 15:56] wjwwood commented on #1139
It's not though... It's only safe to do that after the context is destructed right?

I haven't tried it recently, but you should be able to init/shutdown contexts in parallel as long as you're using different ones each time. Maybe the global logging setup doesn't make that work anymore.

[2020-07-01 16:16] ivanpauno commented on #1139
I think it's currently safe, as `shutdown` is [finishing the logger](https://github.com/ros2/rclcpp/blob/a8cd93623964a089ee132d65e8b5eda84c15740d/rclcpp/src/rclcpp/context.cpp#L317) and init will be able to setup it again correctly (supposing only one context).
If we move logging finishing to context destruction, we will need to handle that case in `init`.

It should work if one context initialize

[2020-07-01 21:59] audrow opened #1212 "Ready reentrant Waitable objects can attempt to execute multiple times"
In the `MultiThreadedExecutor`, the `run` function is bound to each running thread; the `run` function builds and checks the wait set for ready executables and seeks to run them.  The `Executor::wait_for_work()` function builds the wait set and then removes all items that do not return `true` for `is_ready()`, which for the `SubscriptionIntraProcess` class looks to see if there is a positive numbe

[2020-07-02 09:41] richiware commented on #1175
@miguelcompany could also help in this

[2020-07-06 06:56] fujitatomoya commented on #1174
@sloretz

I am wondering if this is bug now, since https://github.com/ros2/rclcpp/blob/84ae5a18977757b92eacab600c43d86c15cf431e/rclcpp/include/rclcpp/node.hpp#L885-L887 it returns the number of subscribers that `are advertised on a specific and given topic`, so i guess it should be agnostic from remap. could you share your thought on this?

[2020-07-06 12:51] mikeferguson commented on #1174
@fujitatomoya if it is decided this is "not" a bug, I'd suggest we at least update the documentation to make this clear.

[2020-07-07 00:33] fujitatomoya commented on #1174
@mikeferguson

that makes sense to me.

[2020-07-08 23:57] dawonn-haval opened #1215 "Expose --params-file option to composable nodes"
## Bug report

Moving from https://github.com/ros2/launch_ros/issues/156

Upgrading from Dashing to Foxy broke my parameter.yaml files that I was using in a composable node. After some debugging I found out that the composable node manager has it's own method for loading parameters from a yaml file that is different from rclcpp's parameter yaml file loader that was used in Dashing. The 'new' file

[2020-07-09 19:26] brawner opened #1219 "StaticSingleThreadedExecutor's spin_some, spin_all and spin_once cannot use the base class implementation"
I've been expanding the unit tests of the executors  for all three classes, and these methods in `StaticSingleThreadedExecutor` should not be using the base class implementation in `rclcpp::Executor`. Because `StaticSingleThreadedExecutor` derives and implements its own `add_node` and `remove_node`, the collection of nodes in `rclcpp::Executor` is not updated and so these spin variants won't do an

[2020-07-09 20:34] clalancette commented on #1190
Ah, I see where the disconnect is now.  When I've used this in the past, I've always had a separate member variable internal to the class that I set.  That is, my `parameterCallback()` looks something like:

[code]

Then later code uses `my_internal_foo_`:

[code]

But I think what you are trying to do is something more like:
[code]

And then later:

[code]

@threeal Can you confirm that this is t

[2020-07-10 20:48] jacobperron commented on #1139
Although not required, it would be nice if the solution to this issue (or version of it) could be backported to Foxy.

[2020-07-10 21:12] sloretz commented on #1174
@fujitatomoya I agree that it should not remap the topic name since it's part of the [NodeGraphInterface](https://github.com/ros2/rclcpp/blob/549988277385fcfde410e419172a874cad2413c8/rclcpp/include/rclcpp/node_interfaces/node_graph_interface.hpp#L200-L204) which uses functions [that don't consider remap rules](https://github.com/ros2/rcl/blob/944068f3d99d6a4b1130fd62e38c69b96f0e759e/rcl/include/rc

[2020-07-10 21:35] sloretz commented on #1174
Opened #1225 to document that graph functions in rclcpp don't apply remap rules.

[2020-07-10 23:57] #1174 closed

[2020-07-13 05:55] ralph-lange commented on #519
Relates to PR https://github.com/ros2/rclcpp/pull/1218/.

[2020-07-13 17:03] peterpena commented on #519
@ralph-lange That is great to hear. Thank you for mentioning the PR here.

[2020-07-14 15:48] #1007 closed

[2020-07-15 01:38] brawner opened #1230 "Investigate possible segfaults in expanded executors unit tests"
The executors unit test is being expanded in https://github.com/ros2/rclcpp/pull/1222, and running it consecutively hundreds of times shows that about 5-6% it will exit with a segfault across several different executors in several different functions. Unfortunately, simple tracing with gdb is not yielding much info.

Copying the results of the investigation here:

Here were all the instances of se

[2020-07-15 01:54] brawner opened #1231 "StaticSingleThreadedExecutor throws rcl error (couldn't add guard condition to wait set) if node goes out of scope before spin"
When expanding the test_executor unit test to StaticSingleThreadedExecutor (in https://github.com/ros2/rclcpp/pull/1222), the temporary node test fails for this executor.

[code]
Example of temporary node unit test.
https://github.com/ros2/rclcpp/blob/0986fbb0f7b0dd735dac02677be5c92a9180f8e5/rclcpp/test/rclcpp/test_executor.cpp#L65-L69

[2020-07-15 13:36] clalancette commented on #1098
This was actually solved with https://github.com/ros2/rcl/pull/664, so closing.

[2020-07-15 13:36] #1098 closed

[2020-07-20 06:19] MiguelCompany commented on #1175
@fujitatomoya @fferri This should have been solved by eProsima/Fast-DDS#1295

[2020-07-20 20:35] hidmic commented on #1139
A few comments here and there:

I see. It's a valid point. Perhaps spinning a entity associated with a shutdown context shouldn't throw an exception?

I guess the question is, what's the point of having a third _shutdown_ state besides the usual init-fini cycle? If we only intend it to be a generic notification with no side-effects of its own, why making it a separate state? Why restricting it to

[2020-07-20 21:34] wjwwood commented on #1139
That's what I imagined as well, but I think there's a need for another use case too, but whether or not that should be part of the same mechanism, I'm not sure. For example, we need a "you should stop, cleanup, and exit your node's main functions". That's what `shutdown()` meant in ROS 1 for the most part.

[2020-07-21 13:39] hidmic commented on #1139
Yeah, I see it. I'm just not convinced that's `Context::shutdown()` purpose. And for the record, I'm not advocating for having both if we don't think it's worth the effort. Perhaps what we're looking for is some `Context::interrupt()` primitive?

[2020-07-21 14:34] ivanpauno commented on #1139
In ROS 1, calling shutdown from a different thread was safe.
A lots of the functions were a noop after shutdown happen, and didn't raise an exception.
e.g:
- [publish](https://github.com/ros/ros_comm/blob/80cbe5b267afe74e5aae2c56f565a28d317e62be/clients/roscpp/src/libros/topic_manager.cpp#L708-L711)
- calling a service
- If you called `spin` after shutdown, it returned immediately.
- I'm not compl

[2020-07-21 16:30] hidmic commented on #1139
Agree about not destroying things, and raising unknown exceptions is never an option. But that happens because we don't deal with shutdowns properly yet.

I can't argue about the need for use cases. And I agree that it should be made thread-safe. What I'm calling out, based on the preceding discussion, is the attempt to turn `shutdown` into something conceptually different in the process. If the p

[2020-07-21 16:50] ivanpauno commented on #1139
What does "dealing with shutdowns properly" mean?
I think that's the main question here, and I'm failing to get a consensus of what it means.

AFAIS, in ROS 1 it was actually a flag.
After that flag was `true`, some things start behaving as a noop but never retrieved an error.

I'm not sure what "separate context state" is referring to.

I would say that a `KeyboardInterrupt` can be considered a `

[2020-07-21 17:07] hidmic commented on #1139
Agreed.

---

But to entertain the discussion:

IMHO to have APIs behave in a well-defined, thread-safe, and documented way when a shutdown occurs (no random exception, no UB, etc.).

I'm not onboard with how ROS 1 did lots of things. Whether ROS 2 should mimic for the sake of familiarity or depart in an attempt to improve is a somewhat philosophical discussion.

To have an _invalidated_ context a

[2020-07-26 00:53] Michael-Equi opened #1239 "this->get_clock()->now() when using sim time updates slowly"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Binaries
- Version or commit hash:
  - rclcpp version 2.0.2 and ROS2 Foxy
- DDS implementation:
  - Cyclone
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Run an rclcpp node that gets the time using `this->get_clock()->now()` at a frequency greater than 10Hz with a gazebo s

[2020-07-28 10:08] mdtoom opened #1242 "High cpu usage when creating a node in on_activate of lifecycle node"
## Bug report

**Required Info:**

- Operating System:

  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - 2.0.2
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp-lifecycle

#### Steps to reproduce issue

Run this node and start it using a life cycle manager.

[code]

#### Expected behavior

Node should start and activate after which CPU

[2020-07-29 02:41] iuhilnehc-ynos commented on #1242
@mdtoom

I can reproduce the issue by your source code.
https://github.com/iuhilnehc-ynos/ros2_issues_test.git

[code]

I used 'RMW_IMPLEMENTATION=rmw_cyclonedds_cpp' to test again, the issue didn't happen.
**Maybe this is an issue of FastRTPS.**

Run the test with '--ros-args --log-level debug'
[code]

[2020-07-29 05:52] iuhilnehc-ynos commented on #1242
After checking, I found it's a problem related to rmw_fastrtps_cpp.

https://github.com/ros2/rmw_fastrtps/blob/8fc9ca3d98a64118590a205b2162559e17309a27/rmw_fastrtps_shared_cpp/src/rmw_take.cpp#L77-L86

patch as follow,
[code]

[2020-07-29 06:22] fujitatomoya commented on #1242
@iuhilnehc-ynos

it would be helpful if we make the PR to [rmw_fastrtps](https://github.com/ros2/rmw_fastrtps) !!!

CC: @MiguelCompany

[2020-07-29 06:28] iuhilnehc-ynos commented on #1242
@fujitatomoya

Got it. I'll do it.

[2020-07-30 17:18] dirk-thomas commented on #1219
@brawner Can you comment what you think should happen on this ticket: assign it to you, assign it to someone else, enhancement for backlog, ...?

[2020-07-30 17:59] brawner commented on #1219
It's not exactly an enhancement, after dealing with the backport in #1229, I'll assign it to someone else.

[2020-07-30 20:44] SteveMacenski opened #1248 "rclcpp::Duration does not include a sleep() method"
## Bug report

**Required Info:**

- Operating System: Ubuntu
  -
- Installation type: N/A
  -
- Version or commit hash: Main
  -
- DDS implementation: N/A
  -
- Client library (if applicable): rclcpp
  -

## Feature request

#### Feature description

Add a `sleep()` method to `Duration` analog to `Rate` to sleep for a specified duration rather than at a given rate, when semantically more logical.

[2020-07-31 18:59] brawner opened #1250 "[rmw_connext_cpp] Destructing node, specifically a default waitable, is slow (> 3s) for rmw_connext_cpp"
The rclcpp unit tests take significantly longer for rmw_connext_cpp than other middleware implementations.

Compare ConnextDDS unit tests with rclcpp (11 minutes)
http://build.ros2.org/view/Rci/job/Rci__nightly-connext_ubuntu_focal_amd64/32/testReport/rclcpp/

vs FastRTPS (1 min 30 s):
http://build.ros2.org/view/Rci/job/Rci__nightly-fastrtps_ubuntu_focal_amd64/34/testReport/rclcpp/

I've narrowed

[2020-08-03 12:02] stevewolter opened #1254 "allocator_common.hpp overallocates 100x memory & invokes UB on dealloc"
rclcpp/include/rclcpp/allocator/allocator_common.hpp has two severe correctness issues in memory allocation:

 1. retyped_allocate takes the "size" parameter (which is size in bytes as defined by rcl_allocator_t) and passes it to it's allocator's allocate function (which takes number of elements as its parameter). So when asked to allocate N bytes, it actually allocates N*sizeof(T) bytes, where T

[2020-08-03 12:39] maxlein opened #1255 "[BUG] Namespacing the parameter blackboard node leads to wrong events topic"
## Bug report

Our system has all nodes namespaced, e.g. /robot_1/param_server.
Now we switched from eloquent to foxy, and all parameter events failed to fire.

After a bit of testing and asking a [question](https://answers.ros.org/question/358170/parameter-events-on-foxy/?comment=358296#post-id-358296), I found out that adding a namespace breaks parameter events.

Output from demo parameter black

[2020-08-03 12:51] ivanpauno commented on #1215
Closing in favor of https://github.com/ros2/launch_ros/issues/156.

[2020-08-03 12:51] #1215 closed

[2020-08-03 19:41] jacobperron commented on #1230
Looks like I hit a related segfault in this PR job: http://build.ros2.org/job/Rpr__rclcpp__ubuntu_focal_amd64/210

[2020-08-03 19:55] brawner commented on #1230
Possibly related: https://github.com/ros2/rclcpp/issues/447

I suspect these segfaults, which occur during destruction, would occur for a test that just initializes and destroys many nodes.

[2020-08-03 19:56] brawner commented on #1230
@jacobperron Yup, that looks like one of these failures. Are you seeing it show up more often than the 5% I found on local testing?

[2020-08-03 21:18] jacobperron commented on #1230
I just noticed it once during the Rpr job in https://github.com/ros2/rclcpp/pull/1257 and in searching if it was a known issue came across this ticket. Just reporting it in case it's any help.

[2020-08-04 05:08] fujitatomoya commented on #1255
@maxlein
CC: @clalancette

I confirmed that problem's fixed, but it would be nice if you could double check. then we can close this.

[2020-08-04 08:05] fujitatomoya opened #1258 "InitOptions::auto_initialize_logging(true) does not work with assignment operator."
## Bug report

- Operating System:
  - Ubuntu20.04
- Installation type:
  - source build
- Version or commit hash:
  - https://github.com/ros2/ros2/commit/91d8a43ed28edbe04f4ea361c493b19758e35877
- DDS implementation:
  - N.A
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

- build the following test.
[code]

- run application
[code]

#### Expected behavior

[code]

###

[2020-08-04 08:17] fujitatomoya commented on #1258
i will be working on this after https://github.com/ros2/rclcpp/pull/1165.

[2020-08-04 12:37] ivanpauno commented on #1255
Fixed in https://github.com/ros2/rclcpp/pull/1257.

@maxlein If it doesn't work for you, let me know and I will reopen (the bug was corrected in master, it hasn't been fixed in Foxy yet).

[2020-08-04 12:37] #1255 closed

[2020-08-04 14:33] clalancette commented on #1239
My understanding on how this works is that the time is published via a [Gazebo ROS plugin](https://github.com/ros-simulation/gazebo_ros_pkgs/blob/e1de3c14d089e4588d7b3ffd0d03453403effdbb/gazebo_ros/src/gazebo_ros_init.cpp#L133).  In turn, that publication (I believe) is tied to the world update loop inside of Gazebo.  So I don't think this directly has to do with rclcpp, though I could be wrong.

[2020-08-04 17:50] wjwwood opened #1259 "[api review] Calling Syntax and Keeping Node-like Class APIs in Sync"
This is a result of the API review done in March 2020:

https://github.com/ros2/rclcpp/blob/master/rclcpp/doc/api_review_march_2020.md#calling-syntax-and-keeping-node-like-class-apis-in-sync

----

### Summary of the Issue

Currently, much of the API is exposed via the `rclcpp::Node` class, and due to the nature of the current architecture there is a lot of repeated code to expose these methods an

[2020-08-04 17:56] wjwwood opened #1260 "[api review] Scoped Versus Non-Scoped Entities (e.g. Publishers/Subscriptions)"
### Summary of the Issue

Currently, Publisher and Subscription (and similar entities) are scoped, meaning that when they are created they are added to the ROS graph as a side effect, and when they are let out of scope they remove themselves from the graph too.
Additionally, they necessarily have shared state with the system, for instance when you are spinning on a node, the executor shares owners

[2020-08-04 17:56] wjwwood commented on #239
Notes from the API review in March 2020:

**Notes from 2020-03-19**:

- (wjwwood) it depends on the QoS setting, but many don't make sense, mostly because they can change some of the behaviors of underlying API
- (dirk) Should developers expose a parameter instead?
- (multiple) should be a feature that makes configuring them (after opt-in) consistent
- (jacob) customers feedback was that this was

[2020-08-04 20:48] chapulina commented on #1239
Yup, it is.

Besides the RTF, it's also important to note the update rate. By default, Gazebo is updated at 1000 Hz, so I'd expect that to be the frequency of new messages being published.

Are those print outs of the seconds? I'm not sure what the `0` mean.

I don't think that's a good idea. You can do extra interpolation on top of the time you're receiving, but when using simulation, I think it'

[2020-08-04 20:58] Michael-Equi commented on #1239
@chapulina Those are seconds. The zeros are from when now - last time = 0. The node I am using this for is supposed to use the difference between the read times of the current and last message published at 200Hz in order to compute wheel velocity but whenever now = last time this causes division by zero. The world is running at 1000Hz as noted in my world file `     <real_time_update_rate>1000</re

[2020-08-04 22:00] chapulina commented on #1239
Ok, I remember now that the default clock frequency is 10 Hz. You can test locally with:

[code]

You can change that with the [publish_rate](https://github.com/ros-simulation/gazebo_ros_pkgs/blob/e1de3c14d089e4588d7b3ffd0d03453403effdbb/gazebo_ros/src/gazebo_ros_init.cpp#L141) parameter.

It would be great to have this documented on a tutorial [here](http://gazebosim.org/tutorials?cat=connect_ros

[2020-08-05 00:12] stonier commented on #239
Oh, hanging out in the attic. This is old :)

Given the potential change in behaviour that can happen when changing QoS, I'd retract the comparison with topic remapping. Apples and oranges.

My revised thoughts are mostly in line with @wjwwood's. Reason being that certainty in complex systems is valuable. Certainty about what is to be delivered, what can be expected and what is going wrong. This c

[2020-08-05 13:12] clalancette commented on #239
Could you elaborate on what other approaches you've been trying out, and what has been working for you?  I can imagine ways to do it, but most of the ones I've come up with are kind of ugly (essentially writing "bridging" nodes between reliable and best-effort).

I think the problem with that is that it ends up being a lot of boilerplate inside of each ROS node that is created, and likely the auth

[2020-08-05 16:23] #910 closed

[2020-08-05 18:24] #855 closed

[2020-08-05 19:16] wjwwood commented on #239
I still think having the developer opt into what options can be changed at runtime (startup only, not during runtime) is the best option. One way to do that today is to create parameters to control this behavior. As pointed out this is labor intensive and produces a lot of boilerplate code. That being said, I think it is the best approach (this is a very opinionated stance), but for the reasons th

[2020-08-05 23:52] gbiggs commented on #239
In DDS, specifying QoS is generally considered a system-level thing. The spec allows a fair amount of freedom to configure QoS externally to a participant. However my impression is that it is expected that the person who writes the application's code is the same person who does the system-level integration. I don't think this is the same in ROS, where we have a much higher emphasis on re-use of no

[2020-08-06 01:24] wjwwood commented on #239
Exactly this, my experience has been that the DDS user base historically is very vertically integrated, so dealing with these issues is easier, and you don't have the need to develop something that needs to work in a variety of scenarios. Of course there are exceptions to this, but just as general observation.

[2020-08-06 13:53] stonier commented on #239
We almost never bridged. As you say, kind of ugly, costly too either in terms of latency or compute bandwidth. In development, we stopped doing things like rviz debugging over wifi and instead ensured our robots had ethernet ports that we could hard wire into. That was a good decision regardless of the reliable/unreliable inflexibility. For product over robot-robot or robot-server connections, we

[2020-08-06 17:11] jacobperron commented on #1175
eProsima/Fast-DDS#1295 has been released into Foxy.

@fferri, can you confirm if this bug still exists? If so, feel free to re-open this ticket and leave a comment.

[2020-08-06 17:11] #1175 closed

[2020-08-06 23:58] fujitatomoya commented on #1242
@dirk-thomas

I think that you can close this.

[2020-08-07 00:08] #1242 closed

[2020-08-07 14:46] stonier commented on #239
For the record, I like the idea of a) permit external configuration by default with option to suppress by the node developer or b) suppress by default with option to open up by the node developer.

Permits certainty when needed while at the same time allowing for wild west flexibility situations.

[2020-08-09 05:14] fujitatomoya opened #1264 "Expose QoS settings for /rosout publisher"
follow-up for https://github.com/ros2/rcl/issues/581

[2020-08-09 05:14] fujitatomoya commented on #1264
PR: https://github.com/ros2/rclcpp/pull/1247

[2020-08-09 05:15] fujitatomoya commented on #1264
CC: @Ada-King

[2020-08-09 20:54] rpaaron opened #1265 "support wildcards for just namespaces, or just nodes"
## Feature request

#### Feature description
support wildcards for just namespaces, or just nodes

[code]

would be nice also to have
[code]
and
[code]

is there a way currently to achieve this?

[2020-08-10 13:30] daisukes opened #1266 "SIGSEGV at set_clock"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Foxy release src build
- Version or commit hash:
  - rclcpp 2.0.2
- DDS implementation:
  - Fast-DDS v2.0.1
- Client library (if applicable):
  - Navigation2

#### Steps to reproduce issue

It is hard to reproduce the problem intentionally but happens in some nodes randomly.
Here is the backtrace.

[co

[2020-08-10 13:37] clalancette commented on #1266
Thanks for looking into this.  I agree with you; we need a lock at all three places.  Would you mind opening a PR for that?

[2020-08-10 14:17] daisukes commented on #1266
Sure, I will add two more locks and make a PR.

[2020-08-10 14:21] clalancette commented on #1266
Thanks!

[2020-08-10 17:59] dirk-thomas opened #1268 "allocator memory strategy test failing with CycloneDDS"
The test is failing with CycloneDDS since it was added.

See http://build.ros2.org/view/Rci/job/Rci__nightly-cyclonedds_ubuntu_focal_amd64/44/testReport/rclcpp/TestAllocatorMemoryStrategy/number_of_entities_with_subscription/

[2020-08-10 18:03] dirk-thomas opened #1269 "test_executors test failing with CycloneDDS"
The test is failing with CycloneDDS since it was added.

See http://build.ros2.org/view/Rci/job/Rci__nightly-cyclonedds_ubuntu_focal_amd64/44/testReport/(root)/rclcpp/test_executors_gtest_missing_result/

[2020-08-11 15:22] #1258 closed

[2020-08-11 16:55] brawner commented on #1268
Addressed with #1270

[2020-08-11 16:55] #1268 closed

[2020-08-11 16:56] brawner commented on #1269
Addressed with #1270

[2020-08-11 16:56] #1269 closed

[2020-08-11 20:27] dirk-thomas opened #1273 "topic statistic tests failing with Connext"
In the nightly jobs using only Connext these test fail since they have been added in #1080:

* http://build.ros2.org/view/Rci/job/Rci__nightly-connext_ubuntu_focal_amd64/43/testReport/rclcpp/TestSubscriptionTopicStatisticsFixture/test_receive_stats_for_message_no_header/
* http://build.ros2.org/view/Rci/job/Rci__nightly-connext_ubuntu_focal_amd64/43/testReport/rclcpp/TestSubscriptionTopicStatistic

[2020-08-11 23:22] dabonnie commented on #1273
I can take a look (next week), but it looks like you beat us to it :-)

[2020-08-12 00:56] dirk-thomas commented on #1273
It would still be good to take another look at the test. While my PR makes it pass with Connext I am not sure why the original test assumed every metrics message has not-zero samples.

Please consider reviewing the pending pull request if you have a chance.

[2020-08-12 18:26] dabonnie commented on #1273
@dirk-thomas will review by EOD.

[2020-08-13 04:30] #1273 closed

[2020-08-13 20:14] #1266 closed

[2020-08-14 15:30] clalancette commented on #1254
Thanks for bringing up this issue.  After reading the documentation, I agree with both of your points.  I'd be OK with removing this implementation entirely and just using the default rcl allocator for now instead.  But pinging @ros2/team for other opinions.

[2020-08-14 16:04] wjwwood commented on #1254
Yeah we can just remove it, I think it should be fixable, but I don't think anyone is really using it and we plan to move to the polymorphic allocator (we think) in the future anyways, so we can fix it then.

[2020-08-14 16:11] clalancette commented on #1254
Great, thanks for the feedback.  @stevewolter if you are interested in working on this, we'll be happy to review.  Thanks.

[2020-08-17 12:15] stevewolter commented on #1254
Thanks Chris, I'll give it a shot and send a PR.

[2020-08-17 21:45] ros-discourse commented on #609
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/security-ramifications-of-global-parameter-events/15924/8

[2020-08-19 13:49] clalancette commented on #1248
I'm honestly not sure that this makes sense.  `Duration` represents exactly that; the representation of the difference between one time and another.  It makes sense to me to *use* Duration as an input to an action to sleep, but it doesn't make sense to me to perform an action directly on it.  Also in order to implement sleep, you'd have to attach a clock to the Duration object, which again doesn't