[2020-08-19 17:48] ivanpauno commented on #239
Closing in favor of https://github.com/ros2/design/issues/280.
Feedback in the current proposal is really welcomed https://github.com/ros2/design/pull/296!!

[2020-08-19 17:48] #239 closed

[2020-08-19 18:28] SteveMacenski commented on #1248
An example would be if you wanted to throttle an update loop (which I know this example is internally implemented in `Rate` but could be simplified using a `Duration` sleep). You aim to throttle a loop to 10hz but the workers are only taking 20ms to compute a task. You take a time when you start the loop and after you finish the work. This `Duration` then has the amount of time taken. Subtracting

[2020-08-19 19:51] clalancette commented on #1248
I guess that's the part that doesn't make much sense to me; a time interval (a `Duration`) doesn't sleep.  The thread it is on, or the Rate, does sleep, and can take a `Duration` as the amount of time to sleep.  But I just don't think it makes logical sense for the Duration itself to sleep.  Making an analogy to the C++ `std::chrono` API, there is no `sleep` method on [duration](https://en.cpprefe

[2020-08-19 19:56] SteveMacenski commented on #1248
Both of those options would totally work, I suppose I wasn't creative enough to come up with that :smile_cat:

I'd prefer the `sleep_for` of the two, but I think both would find use.

[2020-08-19 20:17] hidmic commented on #1248
Both would be nice additions. Though unlike `ros::Duration::sleep()` , `rclcpp::sleep_for()` knows nothing about ROS clocks  and so all sleeps are system time sleeps. Just bear that in mind if you expect this to work against a simulated clock.

[2020-08-19 20:48] wjwwood commented on #1248
I think it makes sense for `sleep_for` to not consider clocks, take `std::this_thread::sleep_for` and `std::this_thread::sleep_until` for examples. The first takes a `std::chrono::duration` which has no clock associated, and the second takes a `std::chrono::time_point` which is templated on a clock type. We would probably want to emulate that pattern.

The only reason `rclcpp::sleep_for` exists, r

[2020-08-19 21:19] hidmic commented on #1248
That's fair. I'm just pointing out that as of today's [rclcpp](3270aad95eda0bc5ac7a3a79d4b1e07273154340), `rclcpp::sleep_for` is not a `ros::Duration::sleep` equivalent. I've had to workaround it before using timers bound to the node's clock, and it's a bit of hassle.

A `chrono`-like API would be great. But whether it's `sleep_for` or `sleep_until`, it think it'd be nice to have some sleep API th

[2020-08-19 21:28] SteveMacenski commented on #1248
I agree, that would be the most ideal outcome, but I think everything brought up here are good suggestions.

![](https://media.giphy.com/media/3ohfFhG5VDtDTzQv2o/giphy.gif)

[2020-08-20 14:59] clalancette commented on #1248
This discussion is orthogonal to the proposal here (though it is something I'd like to discuss in the future).

For this particular proposal, I think we have agreement to have both a new `rclcpp::sleep_for(const Duration &)` and a new `Rate(const Duration &)` method.  @SteveMacenski if you'd like to propose a patch, I'd be happy to review.

[2020-08-20 17:08] dirk-thomas opened #1282 "test_executors test failing on Windows debug"
See https://ci.ros2.org/view/nightly/job/nightly_win_deb/1712/testReport/junit/projectroot/test/test_executors/ for the first failing build.

It seems this regressions was introduced in #1270.

[2020-08-20 17:26] clalancette commented on #1250
This is essentially a duplicate of https://github.com/ros2/rmw_connext/issues/325 .  I'm going to close this out as a duplicate of that one, copying in your investigation here so it isn't lost.

[2020-08-20 17:26] #1250 closed

[2020-08-20 17:31] tfoote commented on #1248
I would strongly recommend that if we make sure that the simplest way to sleep that is our recommended pattern will follow the ROS clock. If we make the bare function `rclcpp::sleep_for` the default pattern then many algorithms will fail in subtle ways when run on simulated time. These bugs will be very hard to debug and will cause future problems. I'd almost recommend that we make this bare funct

[2020-08-20 17:43] brawner commented on #1282
Thanks for bringing this to my attention. This might be related to what I was discussing in #1230, but it looks like it's more repeatable than what I was discovering and more targeted to individual tests.

[2020-08-20 18:21] clalancette commented on #1239
My understanding here is that this is not a bug, though the tutorials could be updated.  As such, I'm going to close this out here, but please feel free to open an issue/PR to the Gazebo tutorials to fix this up.  Thanks.

[2020-08-20 18:21] #1239 closed

[2020-08-20 20:28] wjwwood commented on #1248
Well then I think we shouldn't have a `sleep_for` and instead we should have a `sleep_until` that only takes a Time. Connecting sleep_for and/or duration to a clock isn't the right approach.

[2020-08-20 21:01] stevewolter commented on #1254
Quick update: It will be some time - I'm on vacation for 2 weeks now, but I'll send a PR afterwards.

[2020-08-20 21:14] brawner commented on #1282
Having trouble reproducing on bare-metal. While my docker image is building, I'm also running this CI job:

[![Build Status](https://ci.ros2.org/buildStatus/icon?job=ci_windows&build=11969)](https://ci.ros2.org/job/ci_windows/11969/)

[2020-08-23 19:58] nyxaria opened #1283 "deserialize SerializedMessage into arbitrary message type on runtime?"
Hello,

I am just starting to use ROS2 and am looking into creating a generic subscriber which can subscribe to any topic, get rclcpp::SerializedMessage and then convert it to the message_type of the topic that the message came from.

So far I have the generic subscriber working and have a SerializedMessage, but am confused how to go about converting it to a normal ros message.

My thought is to u

[2020-08-23 21:19] Karsten1987 commented on #1283
There's pretty much exactly what you need inside rosbag2_transport:
* https://github.com/ros2/rosbag2/blob/master/rosbag2_transport/src/rosbag2_transport/generic_publisher.hpp
* https://github.com/ros2/rosbag2/blob/master/rosbag2_transport/src/rosbag2_transport/generic_subscription.hpp

There was work started in [here](https://github.com/ros2/rclcpp/pull/1077) to factor this out of rosbag and make

[2020-08-23 22:20] nyxaria commented on #1283
Thank you @Karsten1987, I have used a generic subscriber to get SerializedMessages, but I'm unsure how to extract the data from it into a key value pair array.

[2020-08-23 22:33] nyxaria commented on #1283
I have found this code from [here](https://stackoverflow.com/questions/60282296/how-to-read-data-from-rosbag2-in-ros2)

`    // deserialization and conversion to ros message
    my_pkg::msg::Msg msg;
    auto ros_message = std::make_shared<rosbag2_introspection_message_t>();
    ros_message->time_stamp = 0;
    ros_message->message = nullptr;
    ros_message->allocator = rcutils_get_default_alloca

[2020-08-24 06:47] fujitatomoya commented on #1265
I think that it would be really nice to describe wildcard format in https://index.ros.org/doc/ros2/Tutorials/Node-arguments/#setting-parameters-from-yaml-files. (After this PR is merged.)

[2020-08-24 16:57] Karsten1987 commented on #1283
does the snippet from the demos help you here? It's converting an incoming serialized message into a ros2 message.
https://github.com/ros2/demos/blob/master/demo_nodes_cpp/src/topics/listener_serialized_message.cpp#L56-L63

I feel though your ticket here is actually better suited for a question at https://answers.ros.org/questions/

[2020-08-24 18:44] nyxaria commented on #1283
I asked on ros answers, but did not get anywhere. The demo you posted is ALMOST what I want -- in that code, you know the data type is going to be `std_msgs::msg::String`, but what if you only had the message type as a string from `node.get_topic_names_and_types()`? Can you change this `using MessageT = std_msgs::msg::String;` in this demo into `using MessageT = class_from_string("std_msgs::msg::S

[2020-08-24 19:26] Karsten1987 commented on #1283
The `rclcpp::Serialization` class takes a pointer to a message type support: https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/serialization.hpp#L56

So the question really boils down to how to get this typesupport from a string. That's a little bit tricky, but can be done with the typesupport helper functions we've implemented within rosbag2: https://github.com/ros2/rosbag2/blob/ma

[2020-08-25 07:54] iuhilnehc-ynos commented on #1265
@rpaaron

Let me confirm the feature as following,

- The following configuration can be accepted by a node on 'some_namespace' namespace, whatever the node name is.

[code]

- The following configuration can be accepted by a node name 'some_node' on whatever the namespace is.

[code]

If the maintainer here accepts these features, I'd like to contribute to it.

[2020-08-25 07:58] iuhilnehc-ynos commented on #1265
@rpaaron

Sorry, I didn't see your PR. Delete my previous comment.

[2020-08-25 18:35] brawner commented on #1282
I'm still working on this, but I have to take a break to address other things. I'll come back to this soon.

[2020-08-26 07:16] iuhilnehc-ynos commented on #1166
@threeal

Do you want to make a PR for this? If you're busy, I'd like to contribute to this feature.

[2020-08-26 08:45] threeal commented on #1166
@iuhilnehc-ynos sure, you may contribute to this feature

[2020-08-26 16:34] daisukes opened #1285 "rclcpp_action server could cause deadlock with its wrapper's mutex"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - Foxy release src build
- Version or commit hash:
  - https://github.com/ros2/ros2/commit/4109e26bf96d0a0a9ef755364dabc851556f3089
- DDS implementation:
  - tried with Fast-RTPS, cyclonedds
- Client library (if applicable):
  - Navigation 2

#### Steps to reproduce issue

The original issue is here and

[2020-08-26 17:38] SteveMacenski commented on #1285
And to be clear, this isn't just a specific issue with Navigation2, any users that have mutex locks on their resources will run into this problem. We typically don't run into this issue because we don't in quick succession call an action server immediately after returning a result.

If you were to use actions as workers though, you'd absolutely run into this issue more frequently.

[2020-08-27 14:45] ivanpauno commented on #1190
@threeal friendly ping

[2020-08-27 16:43] threeal commented on #1190
I'm sorry, I haven't reached this thread for a while. Yes that's exactly what i means, as described by @clalancette.

[2020-08-31 19:57] clalancette commented on #1190
Right, thanks for the feedback.  There are two different things here:

1.  I think we have a long-term goal of being able to automatically clamp values for parameters based on the parameter description.  That way you wouldn't even have to write a parameter callback to accomplish this.  I don't think anyone is currently working on this, so help here would be appreciated.  It should be pretty straig

[2020-09-02 03:40] #519 closed

[2020-09-02 03:44] wjwwood opened #1287 "[rclcpp] refactor Executor::add_callback_group to not need a node pointer"
In https://github.com/ros2/rclcpp/pull/1218 the `add_callback_group()` method was added, but it required us to pass the node associated with the callback group as well, because it was still needed internally in the executor and because the callback group doesn't have a back reference to the node that created it.

We need to change this so it is no longer required because the library can have all t

[2020-09-02 03:44] wjwwood commented on #519
Follow up issue: https://github.com/ros2/rclcpp/issues/1287

[2020-09-03 17:22] dirk-thomas opened #1288 "foonathan memory leak reported"
When running the the `rclcpp` tests (e.g. https://ci.ros2.org/view/All/job/test_ci_linux/46/foonathan-memory-leaks/).

See https://github.com/ros2/ci/pull/509#issuecomment-682852626

[2020-09-03 17:58] clalancette commented on #1254
@stevewolter Thanks for the heads up.

[2020-09-03 19:11] sloretz commented on #1248
It seems like this ticket has become a discussion of where a ROS time aware `sleep()` method should live. In that sense, it seems like a duplicate of #465. This ticket has more discussion so I'm inclined to close the older one. Anyone have thoughts on which should stay open (@tfoote especially yours since you opened #465)?

---
Personally I'm a fan of `rclcpp::sleep_for(clock, duration)` as long a

[2020-09-03 19:14] SteveMacenski commented on #1248
I think the discussion has steered in that direction, but the intend of the 2 tickets are different. My intent is somehow to get a `Duration` based `sleep()` somewhere. The discussion on ROS time aware `sleep()` I think has progressed as a "OK, if we're going to do this, lets do that at the same time", but isn't a requirement for this ticket to be fulfilled.

[2020-09-04 22:25] azeey opened #1289 "cppcheck timesout on nightly_osx_release CI"
## Bug report

**Required Info:**

- Operating System:
  - macOS Mojave
- Installation type:
  - source
- Version or commit hash:
  - 01d6f52e3281f6df2c191690527f9208006a5c50

#### Steps to reproduce issue
cppcheck is timing out since #1218. See builds [1797](https://ci.ros2.org/view/nightly/job/nightly_osx_release/1797/testReport/(root)/projectroot/cppcheck/) and [1798](https://ci.ros2.org/view/n

[2020-09-08 20:49] #1289 closed

[2020-09-10 07:43] iuhilnehc-ynos opened #1295 "Client/Service might be memory leak"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - d66cd96f254648de5fa68f6c28a34968563294fb
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior
No memory leak

#### Actual behavior

<details><summary> memory leak log <

[2020-09-10 07:52] iuhilnehc-ynos commented on #1295
Hi, if you agree on method two, I'll continue to update it.

[2020-09-10 07:58] iuhilnehc-ynos commented on #1295
Let me put `client` as an example,

https://github.com/ros2/rclcpp/blob/d66cd96f254648de5fa68f6c28a34968563294fb/rclcpp/src/rclcpp/client.cpp#L43-L64

to

[code]

[2020-09-10 13:25] clalancette commented on #1283
@nyxaria @Karsten1987 Can we close this issue now?

[2020-09-10 13:30] nyxaria commented on #1283
Yes, thank you for your help

[2020-09-10 13:30] #1283 closed

[2020-09-10 19:18] clalancette commented on #1265
@rpaaron Thanks for the issue and the pull request implementing it.  Before we go too far on the implementation, though, we should settle on the design first.  Towards that end, could you please propose a modification to http://design.ros2.org/articles/static_remapping.html for the design?  Thanks.

[2020-09-10 23:45] fujitatomoya opened #1299 "rclcpp memory leak check via valgrind"
## Overview

This is a meta-ticket to manage and organize rclcpp test memory leak problems with valgrind.

## Requirement

- Check all of rclcpp test executable with valgrind.
- List all the memory leak issue and address to each one of them.

## Memory Leak List

test executable file | memory leak | Issue | PR | Description
-- | -- | -- | -- | --
./test_allocator_memory_strategy | YES | #1295 | #1

[2020-09-10 23:46] fujitatomoya commented on #1299
CC: @Barry-Xu-2018 @iuhilnehc-ynos

[2020-09-11 02:18] iuhilnehc-ynos opened #1300 "memory leak because SubscriptionTopicStatistics not destroyed"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - d66cd96f254648de5fa68f6c28a34968563294fb
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior
No memory leak

#### Actual behavior

<details><summary> memory leak log <

[2020-09-11 05:03] Barry-Xu-2018 commented on #1299
@fujitatomoya @iuhilnehc-ynos

Thanks for creating this ticket.

Currently, we execute rclcpp test and find below memory leak cases.
    rcl: 511fc40ca305fe075cd53e0b97176cc7be272d69
    rclcpp: 01d6f52e3281f6df2c191690527f9208006a5c50
    rmw_fastrtps_cpp: bbe2ac2e3e63c145e9dabd4f073c62d672521a57

| test executable file | memory leak | Issue | PR |  Description |
|:--|:-:|:--|:--|:--|
| ./test_al

[2020-09-11 07:32] iuhilnehc-ynos opened #1302 "StaticExecutorEntitiesCollector not destoryed because of member dependency"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - d66cd96f254648de5fa68f6c28a34968563294fb
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior
No memory leak

#### Actual behavior

<details><summary> memory leak log <

[2020-09-11 08:45] iuhilnehc-ynos opened #1304 "Extracted msg from LoanedMessage not destroy"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - d66cd96f254648de5fa68f6c28a34968563294fb
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior
No memory leak

#### Actual behavior

<details><summary> memory leak log <

[2020-09-11 10:55] Barry-Xu-2018 opened #1306 "Not finalize guard condition while destructing SubscriptionIntraProcess"
## Bug report

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - [d66cd96](https://github.com/ros2/rclcpp/commit/d66cd96f254648de5fa68f6c28a34968563294fb)
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior

No memory leak

#### Actual behavior

Memory

[2020-09-11 18:55] #1166 closed

[2020-09-14 00:05] iuhilnehc-ynos commented on #1302
I detected a memory leak about `test_static_executor_entities_collector` which depends on the previous commit,
so I'll fix two issues here.

<details><summary> memory leak </summary>
<p>

[code]

</p>
</details>

[2020-09-16 13:18] fujitatomoya commented on #1295
@iuhilnehc-ynos

i see what you are trying to do here.

i am not the original author so i am not sure but i believe that `weak_ptr` is intentionally used here. i guess it is used to avoid reference chain and memory leak. maybe we could wait for opinions from others.

[2020-09-17 01:38] iuhilnehc-ynos commented on #1295
I believed so, that's why I need somebody's confirmation.
I thought the following before, let me use a sample to explain.
[code]

[2020-09-17 02:00] iuhilnehc-ynos commented on #1295
In ros2, node_handle is created before client_handle, so I think `node_handle must be destructed after client_handle` is the correct order, which must be promised inside the library.

- client_handle can use the shared_ptr of node_handle
- if there is a statement to set shared_ptr of client_handle to node_handle, that's wrong.

[2020-09-17 18:14] ivanpauno opened #1318 "Add the `/clock` subscription QoS profile to NodeOptions"
## Feature request

#### Feature description

See https://github.com/ros2/rclcpp/pull/1312#issuecomment-693118844.
An equivalent option should be added in `rclpy`.

[2020-09-18 22:07] sloretz commented on #1288
`foonathan::memory` leaks in https://ci.ros2.org/view/All/job/test_ci_linux/46

<details><summary>rclcpp: test_create_subscription</summary>

[code]
</details>

<details><summary>rclcpp: test_executors</summary>

[code]
</details>

<details><summary>rclcpp: test_subscription_topic_statistics</summary>

[code]
</details>

<details><summary>rclcpp: test_subscription_options</summary>

[code]
</detai

[2020-09-21 21:06] Blast545 opened #1323 "rclcpp/context lacking a const method for `shutdown_reason`"
Adding coverage tests for `context` module (#1321), we have realized there is no `const` method for the `shutdown_reason` method. See [link to the code](https://github.com/ros2/rclcpp/blob/3a4ac0ca2093d12035070443692798b0c9f9da3a/rclcpp/include/rclcpp/context.hpp#L153 )

This issue is to track the conversation [here](https://github.com/ros2/rclcpp/pull/1321#discussion_r491231948) and get some feed

[2020-09-21 22:00] brawner commented on #1323
Link to `.cpp` (https://github.com/ros2/rclcpp/blob/3a4ac0ca2093d12035070443692798b0c9f9da3a/rclcpp/src/rclcpp/context.cpp#L289-L294). This function requires locking the `init_mutex_` which prevents it from being const. I suggested @Blast545 open this issue, just to see if others thought there might be more preferred ways of doing this.

One possible solution would be to make `init_mutex_` and per

[2020-09-22 22:19] wjwwood commented on #1139
We should definitely have some meetings to nail this down.

----

With respect to the topic of emulating ROS 1 or not in this case, I think we shouldn't. This is mostly based on my experience with clients like Apex, where consistent behavior is key, and having a variety of reactions from the API when shutdown is called makes it hard to know (without 100% familiarity with the entire API) what will

[2020-09-22 22:43] wjwwood commented on #1248
I think @tfoote's feeling (and my own) is that we should not provide a way to sleep that does not respect ROS Time. Adding `sleep()` to `Duration` would be doing that. So I think we're saying that's not a good idea.

We already have `rclcpp::sleep_for(chrono duration)`, but perhaps we should deprecate that and/or put it into a detail namespace as well.

In the vein of avoiding subtle bugs, as @tfo

[2020-09-23 18:37] ivanpauno opened #1374 "Timers being executed more than once by the multithread executor"
## Bug report

**Required Info:**

- Operating System:
  -  Any
- Installation type:
  -  Any
- Version or commit hash:
  -  https://github.com/ros2/rclcpp/commit/2531787550084307a5c8144a68c0195fcdd6442a or previous commits (i.e. current master)
- DDS implementation:
  -  Any
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

The test [here](https://github.com/ros2/rclcp

[2020-09-23 18:49] stevewolter commented on #1254
OK, this will take 4 commits to sort out. I'll first make get_rcl_allocator into a family of freestanding functions instead of a function template with explicit instantiation, so that current users of allocators (tlsf_cpp, demo_node) can add overrides for their custom allocators. Then I'll add these overrides, and finally delete the generic allocator implementation that causes the UB.

[2020-09-23 19:03] stevewolter commented on #1254
First PR https://github.com/ros2/rclcpp/pull/1324 is ready for review. Chris, could you PTAL?

[2020-09-25 01:24] Barry-Xu-2018 commented on #1306
The fixing #1307 has been merged.
So close this issue.

[2020-09-25 01:24] #1306 closed

[2020-09-25 15:15] atb033 opened #1335 "ROS2 image topic publisher freezes when a subscriber is initiated at a remote PC"
## Bug report

My aim was to send a video stream as a ros-topic to a remote PC (Raspberry Pi 4). To do this, I published an image stream using the `cam2image` node of [image_tools](https://github.com/ros2/demos/tree/master/image_tools) package

At the remote PC (which was connected using WiFi), when I initiated the subscriber using `showimage` node of the same package, the `cam2image` node froze a

[2020-09-25 19:09] SteveMacenski commented on #1285
@clalancette any thoughts?

[2020-09-28 18:28] stevewolter opened #1339 "Publisher and subscription options pass dangling pointer to get_rcl_allocator"
In rclcpp/include/rclcpp/subscription_options.hpp and rclcpp/include/rclcpp/publisher_options.hpp, the conversion to RCL options ("to_rcl_publisher_options") passes a reference to a C++ allocator that goes out of scope at the end of the function:

    auto message_alloc = std::make_shared<MessageAllocatorT>(*this->get_allocator().get());
    result.allocator = get_rcl_allocator(*message_alloc);

T

[2020-09-28 19:51] Blast545 opened #1340 "graph_listener cleaning memory managed by parent context"
I found this issue when adding coverage tests for `rclcpp`, PR: #1330.

This is the causing problems, just in MacOS:
[code]

#### Expected behavior
graph_listener is destroyed cleanly

#### Actual behavior
graph_listener causes segfault when calling its shutdown method (destruction).

The portion of code causing a problem is:

[code]

The `shutdown_guard_condition_` memory is allocated at the `con

[2020-09-28 20:03] Blast545 opened #1341 "graph_listener error when mocking rcl_node_get_graph_guard_condition,"
I found this problem when adding coverage tests #1330. The following test is failing in Windows (and it's flaky on MacOS):

[code]

Reference build: https://ci.ros2.org/job/ci_windows/12411/testReport/junit/projectroot/test/test_graph_listener/

I haven't investigated the reason yet, I'll take a look later this week.

[2020-09-29 19:43] brawner opened #1348 "Should rclcpp::Parameter throw if trying to stringify an unset parameter?"
This is a follow-up issue to a comment left by @clalancette over at https://github.com/ros2/rclcpp/pull/1344.

Currently rclcpp::Parameter will convert an unset parameter into a string if requested (either by `to_string` or using the `<<` operator). Should this be expected or should it throw some sort of exception?

[2020-09-29 19:55] clalancette commented on #1348
Just to be clear, if you have the following code:

[code]

What you get as output is:
[code]

That seems really non-intuitive to me.  It's kicking the can down the road to users; to be really robust, users would have to check for this magic string anyway.

[2020-09-29 21:47] Blast545 opened #1351 "rclcpp::Time and rclcpp::Duration max values not near max int64_t"
Follow up Issue to track the conversation _in https://github.com/ros2/rclcpp/pull/1347#discussion_r496920298_

Basically this is to consider a new approach to the one agreed on #538. The `max` method for Time and Duration IMO should return the max value of the representation in nanoseconds.

Not sure if that was a constrain in the past, but the sum / substraction operators can handle properly over

[2020-09-30 00:38] brawner opened #1354 "Add describe_parameters API to parameter_client"
Both of the async/sync versions of the ParameterClient do not have API for calling the describe_parameters service, but it seems like it would be a useful addition. The ParameterClient does have an `rclcpp::Client` for the describe_parameters service so this should be straightforward to implement.

[2020-09-30 02:42] iuhilnehc-ynos opened #1356 "failed to finalize context because context is zero-initialized"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - e73b613a019e9ff763f68fa3b9bf2300789c1491
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior

[code]

#### Actual behavior

[code]

[2020-09-30 05:24] fujitatomoya commented on #1356
confirmed as following,

[code]

[2020-09-30 16:29] andre-nguyen opened #1362 "rclcpp_components_register_nodes doesn't work with recursive cmake setups"
## Bug report

When `rclcpp_components_register_nodes` is called in a subdirectory instead of the top level CMakeLists.txt it fails to register the component.

**Required Info:**

- Operating System:
  -  Ubuntu 18.04
- Installation type:
  -  ROS2 dashing from binaries
- Version or commit hash:
  -  dashing
- DDS implementation:
  -  default fast-rtps
- Client library (if applicable):
  -  rclcpp

[2020-09-30 16:34] #1356 closed

[2020-10-05 12:27] #1295 closed

[2020-10-06 05:40] YoavFekete opened #1381 "Windows compile error - min, max macro compile bug"
So the compilation of my code is not working as the Rhino plugins use windows.h
I managed to locally fix the problem with the following solution:

Replace all uses of std::numeric_limits<double>::max();  with
                               (std::numeric_limits<double>::max)();   (the additional partness solve the complier confusion, same for min)

In files of Duration and Time ,  add to to of head

[2020-10-06 20:24] #1318 closed

[2020-10-07 09:48] tfoote commented on #1248
Also cross referencing this to longstanding feature request https://github.com/ros2/rclcpp/issues/465 which has high overlap.

[2020-10-07 18:34] SteveMacenski commented on #1248
We could close this ticket if you feel that the other one covers the scope

[2020-10-07 21:04] nuclearsandwich opened #1391 "TestGraphListener error_run_graph_listener_destroy_context fails consistently on Windows Debug"
## Bug report

**Required Info:**

- Operating System:
  - Windows
- Installation type:
  - Source
- Version or commit hash:
  - Introduced in #1330
- DDS implementation:
  - N/A
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Nightly builds since #1330 merged and https://ci.ros2.org/job/ci_windows/12590/testReport/rclcpp/TestGraphListener/error_run_graph_listener_dest

[2020-10-07 21:45] brawner commented on #1391
Thanks for the report. This might be caused by similar issues to https://github.com/ros2/rclcpp/issues/1282 which is also a windows debug only error.

[2020-10-08 05:41] fujitatomoya commented on #1335
Using `cyclonedds` solve this problem.

[code]

[2020-10-08 13:46] fujitatomoya commented on #1335
Raspi4 source build with https://github.com/ros2/ros2/commit/ca09b31ce2851773cf722e1fe1e64b70ee651fdd, this can be observed with https://github.com/ros2/rmw_fastrtps. (https://github.com/ros2/rmw_cyclonedds does not have this problem) I think that this issue needs to be moved to https://github.com/ros2/rmw_fastrtps.

[2020-10-08 14:44] atb033 commented on #1335
Thank you for your response.

Yes, the performance did improve when I used `cyclonedds`. I will close this issue and move it to https://github.com/ros2/rmw_fastrtps

Also, it looks like many of my network-related problems are now being solved when I use `cyclonedds`. Do you think it is superior to the default `fastrtps`?

[2020-10-08 14:44] #1335 closed

[2020-10-08 15:20] schornakj opened #1392 "Streamline creation of subscriptions in callback groups"
## Feature request

#### Feature description
The motivation behind this is that I would like a convenient way to create a subscription associated with a callback group within a node's initializer list. It is straightforward to do this for actions and services, since `rclcpp::create_service`, `rclcpp_action::create_server`, etc., allow me to pass a callback group as an argument. However, the `rclcp

[2020-10-08 22:50] fujitatomoya commented on #1335
would you mind if you could share them?

I think there is always Pros/Cons and trading-off, I would say that depends on the use case.

[2020-10-09 18:42] #1300 closed

[2020-10-09 19:59] jacobperron commented on #1265
Correct me if I'm wrong, but using wildcards as proposed here looks consistent with how [name matching is described in the design doc](http://design.ros2.org/articles/static_remapping.html#match-part-of-a-rule). It still might be useful to add concrete examples when it comes to using them in parameter files, either in the design doc or in the tutorial as @fujitatomoya suggests.

[2020-10-09 20:44] schornakj opened #1399 ""Executing action client but nothing is ready" exception thrown when client sends goal"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 LTS
- Installation type:
  - Binaries
- Version or commit hash:
  - Eloquent
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
I will work on creating a portable minimal environment that can reproduce this issue, since my application is somewhat complex.

I have th

[2020-10-12 03:10] fujitatomoya commented on #1399
I would check the following,

- use Node C with SingleThreadedExecutor to see if this problem still can be observed. (expecting no)
- use Node C with MutuallyExclusive callback group to see if this problem still can be observed. (expecting no)

and if reproducible test program is available, that would be really helpful.

[2020-10-12 10:32] Serafadam commented on #1399
Hi, I've been having similar issues with an action server. The setup is pretty much the same as with node C (Multithreaded executor & Reentrant CB group). Is this issue caused by this configuration? As for reproducing the results, it would be a little hard, since it involves hardware

[2020-10-12 14:03] guru-florida commented on #898
This may be far out but....what about deriving Node from LifecycleNode? IMO LifecycleNode is a beautiful implementation and should be defacto and pushed as best-practice. Node can just provide a default transition impl for on_configure|activate|deactivate|etc and also transition itself (unless a "self_manage" parameter is explicitly false or something). I think this fits the c++ best practices of

[2020-10-12 14:59] schornakj commented on #1399
I changed Node C to use a MutuallyExclusive callback group and the crash I was seeing no longer occurred. I wasn't able to use the SingleThreadedExecutor but I can represent that in a standalone test case.

[2020-10-12 17:20] schornakj commented on #1399
I created a standalone package that reproduces this error: https://github.com/schornakj/rclcpp_action_exception_test

Interestingly, I was able to get the node with the action client to crash without having a second client node (in terms of my previous example, I only have Node A and Node C). It looks like this may be caused specifically by assigning an action client to a Reentrant callback group.

[2020-10-12 19:44] rpaaron commented on #1265
I think these changes are inline with what's written in the design document already.  If not, could someone please advise what needs to change.

[2020-10-12 22:32] jacobperron commented on #1265
It wasn't obvious to me where the best place to document this feature is, but I think I've found an appropriate place and opened a PR: https://github.com/ros2/design/pull/303

Reviews are appreciated :slightly_smiling_face:

[2020-10-12 23:13] brawner commented on #1391
See #1401 for potential solution and discussion.

[2020-10-13 00:14] brawner commented on #1391
Also, it looks like this issue is a duplicate of https://github.com/ros2/rclcpp/issues/1340

[2020-10-13 00:34] brawner opened #1402 "Memory error when attempting to clean up expired nodes or callback groups."
This issue was introduced with https://github.com/ros2/rclcpp/pull/1218 and it's failure is exhibited during TestExecutors.addTemporaryNode. In `Executor::wait_for_work()`, `weak_ptr` to nodes and callback groups are cleaned up if they have expired. However, if a node has already been destructed, its associated guard_condition has already been deallocated.

Specifically the `node_guard_pair->secon

[2020-10-13 09:16] atb033 commented on #1335
My code was taking unusually long to discover services/actions after I upgraded to foxy.

In my code, there is a section where I call a service that brings up a behavior-tree. Since this behavior tree has nodes that are clients to many services/actions, it initializes many service/action clients. This step was taking a long time when I was using `rmw_fastrtps_cpp`. The discovery has now become a l

[2020-10-13 19:31] ivanpauno commented on #1402
@wjwwood can you take a look to this one?

[2020-10-13 19:34] ivanpauno commented on #1399
I think this is the same kind of issue that https://github.com/ros2/rclcpp/pull/1241 was trying to solve, I will try to take a closer look again but I'm not sure what's the right fix.

[2020-10-13 19:37] ivanpauno commented on #1392
I prefer the first option, but I think both are ok. PRs are welcomed.
Thanks for opening the issue @schornakj.

[2020-10-13 19:38] ivanpauno commented on #1264
I think this was solved in https://github.com/ros2/rclcpp/pull/1247, closing!

[2020-10-13 19:38] #1264 closed

[2020-10-13 19:51] ivanpauno commented on #1381
This is not an issue in `rclcpp`, but your include of `windows.h` is affecting later includes of `rclcpp` headers.

You can use `NOMINMAX` to avoid the issue (e.g. https://github.com/ros2/rcutils/pull/229).

It's also possible to prevent the issue here, see:
- https://github.com/ros2/rclcpp/pull/1053/files
- https://github.com/ros2/rclcpp/pull/1053#issuecomment-611326100

If you can open a PR impl

[2020-10-13 21:56] brawner opened #1403 "test_subscription_topic_statistics fails with rmw_connext_cpp"
This is a reoccuring failure over at:
http://build.ros2.org/view/Rci/job/Rci__nightly-connext_ubuntu_focal_amd64/106/testReport/rclcpp/TestSubscriptionTopicStatisticsFixture/test_receive_stats_for_message_no_header/

It was probably introduced in https://github.com/ros2/rclcpp/pull/1281, which aligns with when this failure started showing up.

[2020-10-14 00:04] brawner commented on #1391
PR for fix in rolling: https://github.com/ros2/rclcpp/pull/1404

[2020-10-14 00:04] brawner commented on #1340
PR for fix with rolling: https://github.com/ros2/rclcpp/pull/1404
PR for fix with foxy: #1401

[2020-10-14 08:20] fujitatomoya commented on #1399
as @ivanpauno mentioned, this is similar problem with https://github.com/ros2/rclcpp/issues/1212, but this case is about `ClientBase` (inherited from rclcpp::Waitable). I believe that problematic sequence is the following,

in `MultiThreadedExecutor`

1. Thread-1 gets the executable(action client waitable), and the release the wait_mutex_.
2. Thread-2 re-collect the entities, then gets the same ex

[2020-10-14 13:57] ivanpauno commented on #1392
Another option is to use the parameter idiom (similar to `NodeOptions`) in `SubscriptionOptions`, that's maybe better than having lots of different constructors.

[2020-10-15 12:05] #1302 closed

[2020-10-15 17:15] sloretz commented on #1362
There's an answer about this problem on ROS answers. In short, there's not really a good solution to it.

https://answers.ros.org/question/361289/ros2-components-registration-from-subdirectory-cmakelists-file/

Would you be willing to make a PR documenting that the register component macros can only be used by `ament_cmake` packages and must be called in the same `CMakeLists.txt` file as `ament_pa

[2020-10-15 17:24] clalancette commented on #1351
@mabelzhang Make sure to read the linked issues and discussion, and talk to @Blast545 and @wjwwood about this one.  My personal opinion is that we should make `Time::max` and `Duration::max` be the `int32::max` value for both seconds and nanoseconds; that just seems consistent.

[2020-10-15 18:08] andre-nguyen commented on #1362
Thanks, for getting back to me, what's your opinion of using the cmake cache to propagate the values upwards?

https://github.com/ros2/rclcpp/blob/018cfaa2197b94ed1517cc2860758e1b8db02bdb/rclcpp_components/cmake/rclcpp_components_register_nodes.cmake#L66-L68

to something like

[code]

and something similar for the single target version `rclcpp_components_register_node`.

Or is this approach unsus

[2020-10-16 21:46] fujitatomoya commented on #1399
Just FYI,

https://github.com/schornakj/rclcpp_action_exception_test is for eloquent, and cannot run with master https://github.com/ros2/ros2/commit/d2f6b73d7cce6dad5a76e4d4ac5036eb74aeb744 since rclcpp_action interface and launch description is different. https://github.com/fujitatomoya/rclcpp_action_exception_test can be built with master.

[2020-10-19 10:33] iuhilnehc-ynos commented on #1403
I can reproduce this failure, refer to
[code]

I am sure it's introduced in #1281.

#1281 lost logic,
[code]

[2020-10-20 01:02] fujitatomoya commented on #1399
@Serafadam @schornakj

It would be nice if you could check if https://github.com/ros2/rclcpp/pull/1409 fixes the problem.

[2020-10-20 09:09] iuhilnehc-ynos opened #1412 "init_and_remove_ros_arguments parse arguments two times"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - 018cfaa2197b94ed1517cc2860758e1b8db02bdb
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior
[code]

#### Actual behavior

[code]

#### Additional information

https://github

[2020-10-20 09:17] iuhilnehc-ynos commented on #1412
@ivanpauno

Could you confirm whether this issue should be fixed or not?

[2020-10-20 09:53] Serafadam commented on #1399
My project is currently built on dashing, it will take some time before I update it, unfortunately

[2020-10-20 12:53] ivanpauno commented on #1412
I'm not sure if that helps, as context init doesn't seem to have failed.

If you have a way of avoiding to parse the arguments twice without adding much complexity, I think that would be ok.

[2020-10-21 06:42] iuhilnehc-ynos commented on #1412
Thank you for your response. That helped much.
I'll use another way to update this issue, and I hope that it's not much complexity for you.

[2020-10-21 08:05] Myzhar commented on #715
I cannot understand why `ComposableNode` cannot work in the same way as `Node` works...

I'm facing this issue too: I could not understand why my component manually composed in a launch file did not correctly load the parameters from the YAML files and I finally found this issue.

I think that the workarounds proposed by @mjcarroll are good, but I cannot use both of them:

1. My node loads the par

[2020-10-21 15:27] hidmic commented on #978
Circling back! It seems we were discussing whether to restrict options for composable nodes only OR just allow everything and document potential side-effects. I was and still am inclined towards the latter. Patch is small if you guys @wjwwood @ivanpauno agree.

[2020-10-21 16:20] wjwwood commented on #978
Documentation is ok for me.

[2020-10-21 22:48] jacobperron commented on #1154
Closing this since the deprecation warning was removed in https://github.com/ros2/rclcpp/pull/1327

[2020-10-21 22:48] #1154 closed

[2020-10-21 23:05] brawner opened #1417 "Creating/destroying a node results in inconsistent heap allocations"
While adding performance tests (see #1411) for creating a basic rclcpp::Node, we noticed that the number of heap allocations during each iteration can vary during each call to rclcpp::Node's constructor. Even calling init/shutdown each time didn't help the variation.

With further investigation this may lead to some potential performance improvements.

Example of benchmark:
[code]
Result with `rmw

[2020-10-22 07:50] iuhilnehc-ynos opened #1418 "core dumped in rcl_logging_external_log after ctrl+c in some case"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - 5d9db5de748e936c102352121f7910c7d64ba2ad
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Using directly call for the executable file can easily reproduce the issue(frequency: 1/3),
[code]

#### Expecte

[2020-10-22 07:52] iuhilnehc-ynos commented on #1418
@ivanpauno

Could you confirm this issue?

[2020-10-22 16:08] ivanpauno commented on #1417
If instead of calling `rclcpp::init()` and `rclcpp::shutdown()` repeatedly you create a `rclcpp::Context` in the loop, the allocations should be more consistent. The reason is that the destructor of `rclcpp::Context` does more things that only calling `rclcpp::Contex::shutdown`, and part of that state might be create in the first `rclcpp::Node` creation.

Bear in mind that creating a `rclcpp::Node

[2020-10-22 16:11] ivanpauno commented on #1417
Is there any actionable item in this issue?

I mean, though I would prefer heap allocations to be consistent, this doesn't sound like something that anybody is going to work in the near future.
If that's the case, I would prefer closing the issue.

[2020-10-22 16:14] ivanpauno commented on #1418
@iuhilnehc-ynos Can you extend the explanation of the issue?
I don't understand what's causing the segfault.

[2020-10-22 17:58] brawner commented on #1417
I should note that the issue still remains if you don't init/shutdown inside the loop. I was just trying to init/shutdown inside the loop because the first call to the constructor yielded about 20% more allocations than the subsequent calls. It turns out that did not make the heap allocations consistent across the first and subsequent calls.

[code]

This might be investigated as part of the perfo

[2020-10-22 19:05] ivanpauno commented on #1417
Yeah, what I mean is that the following should avoid the big difference in the first node construction:

[code]

[2020-10-22 19:08] ivanpauno commented on #1417
The difference in the first allocation I know why it's caused.
All `nodes` in the same context are sharing a DDS participant, and that participant is created in the first node construction.

About the small differences in the remaining loops, I'm not sure.

[2020-10-22 19:54] brawner commented on #1417
Adjusting your example slightly to work correctly yields similar results. I'm not seeing any improvement in reduced inconsistency. This example creates a new context for each node, and shuts it down, which in turn should destroy the dds participant, correct?

[code]
rmw_cyclonedds_cpp
[code]

rmw_fastrtps_cpp
[code]

[2020-10-22 20:16] ivanpauno commented on #1417
Yes, that should be destroying the participant and creating a new one.

DDS vendors might have some data of static lifetime that is initialized on first use and generates allocations, e.g.: most of them have a "domain participant factory" singleton.
But I'm not sure if that's the case here.

[2020-10-23 03:06] iuhilnehc-ynos commented on #1418
@ivanpauno

Let me try to explain this.

Please refer to the following steps, it seems that `g_root_logger` might be nullptr at `step 6`.

- important steps in two threads

main thread:

[code]

deferred_signal_handler thread:

[code]

- external log

[rcl_logging/rcl_logging_spdlog/src/rcl_logging_spdlog.cpp](https://github.com/ros2/rcl_logging/blob/23841efda69315754cdc7b19b5a95e3e15ac1fe7/rcl_lo

[2020-10-23 12:59] ivanpauno commented on #1418
Ok, based on your comment this sounds like another instance of https://github.com/ros2/rclcpp/issues/1139, right?
This one is a bit more severe, because it segfaults instead of only logging an error.

Do you have any fix in mind for this case?
I will try yo see if I have time for continuing the discussions in https://github.com/ros2/rclcpp/issues/1139.

[2020-10-23 14:40] schornakj commented on #1399
@fujitatomoya I'm not set up to test code using the ROS2 master branch right now, so it would also take me some time before I could try out your PR. Conceptually I think it looks good!

[2020-10-23 17:05] brawner opened #1423 "test_subscription_topic_statistics fails on nightly with "Failed to find library ...""
Example failure:
https://ci.ros2.org/view/nightly/job/nightly_linux_release/1713/

[code]

[2020-10-23 17:25] brawner commented on #1423
It looks like this was somehow triggered by https://github.com/ros2/rclcpp/pull/1422

[2020-10-23 18:36] #1423 closed

[2020-10-24 11:38] iuhilnehc-ynos commented on #1418
@ivanpauno

Thanks for your information.

Yes. It seems you had already discussed this kind of issue, which asynchronously shutting down causes some problems.

Yes, but it might be just a workaround, I thought that `we could delay calling rcl_logging_fini inside __delete_context` before.
After referring to https://github.com/ros2/rclcpp/issues/1139, I think it's better to wait for the official dis

[2020-10-27 13:09] ivanpauno commented on #1418
Maybe that isn't a bad idea, but I'm not sure if that avoids completely a segfault.

[2020-10-27 13:22] ivanpauno commented on #1418
I'm not sure how this is happening, when logging finalization and the output handler are synchronized:
- https://github.com/ros2/rclcpp/blob/5d9db5de748e936c102352121f7910c7d64ba2ad/rclcpp/src/rclcpp/context.cpp#L329
- https://github.com/ros2/rclcpp/blob/5d9db5de748e936c102352121f7910c7d64ba2ad/rclcpp/src/rclcpp/context.cpp#L134

[2020-10-27 14:52] iuhilnehc-ynos commented on #1418
@ivanpauno

Thank you for your response.

1. https://github.com/ros2/rclcpp/blob/5d9db5de748e936c102352121f7910c7d64ba2ad/rclcpp/src/rclcpp/context.cpp#L133
2. https://github.com/ros2/rclcpp/blob/5d9db5de748e936c102352121f7910c7d64ba2ad/rclcpp/src/rclcpp/context.cpp#L329-L340
3. https://github.com/ros2/rclcpp/blob/5d9db5de748e936c102352121f7910c7d64ba2ad/rclcpp/src/rclcpp/context.cpp#L134-L136
 to

[2020-10-27 15:00] iuhilnehc-ynos commented on #1418
Another fix method?

[code]

[2020-10-27 16:12] ivanpauno commented on #1418
That patch makes sense to me

[2020-10-28 14:38] ivanpauno commented on #1403
@dabonnie does @iuhilnehc-ynos comment make sense to you?
Would reintroducing that logic fix the issue?

[2020-10-28 16:47] dabonnie commented on #1403
I don't think so (context [here](https://github.com/ros2/rclcpp/pull/1274/files#r469641061).

For that test I'm curious why it's only failing for connext. Notice how line [243](https://github.com/ros2/rclcpp/pull/1281/files#diff-9ee0b8f919cc9341189b14d6e4b47cd9d22fb2d740b0a4e2a66dd0729be8ea9cR243) introduces a check for empty messages, which is used at line [416](https://github.com/ros2/rclcpp/pul

[2020-10-30 06:33] 849631323 opened #1431 "publish message which is 200KB per 100ms，ros2 topic hz /topicName can not get 10Hz"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  -
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):

#### Steps to reproduce issue
#include <chrono>
#include <functional>
#include <memory>
#include <string>

#include "rclcpp/rclcpp.hpp"
#include "rclcpp/qos.hpp"
#include "std_msgs/msg/string.h

[2020-10-30 12:16] fujitatomoya commented on #1431
I was trying to reproduce this problem with source build https://github.com/ros2/ros2/commit/4aeefc197b1e7a4c267ae0e36147db15e565e849, but so far I cannot reproduce this issue in my environment.

[code]

average rate is 10Hz as expected.

[2020-10-30 16:06] ivanpauno commented on #1418
Fixed in https://github.com/ros2/rcl/pull/844.

[2020-10-30 16:06] #1418 closed

[2020-11-02 06:07] 849631323 commented on #1431
@fujitatomoya  thanks for your attention.
I wonder to know that with which version you test ,is dashing or foxy ? in foxy it won't reproduce the bug until the payload more than 800KB. and I can't see your payload on you test result .
in my environments , if  the payload eg, the publish  string size is 200KB or more than that will always reproduce the problem, what's more, the the payload of 16-lin

[2020-11-02 06:29] fujitatomoya commented on #1431
@849631323

master. this is said on my previous comment, `with source build ros2/ros2@4aeefc1`

i can check that with 800KB or bigger. btw, i just borrowed your test code and created reproducible project https://github.com/fujitatomoya/ros2_test_prover/commit/bfd07c872da2ed76b038cccf1746e6eb20ce51b4, so that we can easily just import and colcon build. as you can see, it is set with [200KB](https:/

[2020-11-02 07:23] fujitatomoya commented on #1431
@849631323

tested with 1MB data payload, I still cannot reproduce the problem.

[code]

I see some jitter exists but I think that depends on the application how much accuracy it requires. maybe something you'd want to try is to use `rmw_cyclonedds` instead? you could refer to https://github.com/ros2/rmw_cyclonedds

[2020-11-02 15:12] #1412 closed

[2020-11-02 20:26] agoeckner commented on #1283
Hello @nyxaria. Would you be able to post your completed code?

Also, is there a way to do this using ROS2 Eloquent? It seems that Eloquent does not have the `rclcpp::Serialization` class mentioned above by @Karsten1987 .

[2020-11-02 20:57] Karsten1987 commented on #1283
The functionality was already available in Eloquent, unfortunately just not in a cleaner C++ API:
https://github.com/ros2/demos/blob/eloquent/demo_nodes_cpp/src/topics/talker_serialized_message.cpp#L58-L112

[2020-11-02 22:28] agoeckner commented on #1283
Thanks for the response, @Karsten1987! That's very helpful. My issue right now is that I don't know the message type at compile-time. I only have a string describing the type, like "sensor_msgs/msg/BatteryState", from which I derive the `rosidl_message_type_support_t` object. How can I create a message object given only the `rosidl_message_type_support_t`?

[2020-11-02 23:08] Karsten1987 commented on #1283
That should be answered via the previous comment in [here](https://github.com/ros2/rclcpp/issues/1283#issuecomment-679319807). It's part of the typesupport helpers within rosbag2, where we load the message type based on a string.
It's essentially a dynamic lookup of the library where we expect the symbol for the `rosidl_message_type_support_t` to be present.

[2020-11-04 21:02] ivanpauno commented on #732
IIUC, this was fixed in https://github.com/ros2/rclcpp/pull/875.

[2020-11-04 21:02] #732 closed

[2020-11-04 21:06] ivanpauno commented on #1348
I don't see anything wrong with stringifying a `rclcpp::PARAMETER_NOT_SET` parameter variant.
Maybe the `"value": "not set"` part in the message is weird, but that could be improved.

[2020-11-04 23:09] clalancette commented on #1348
But its an arbitrary string that doesn't mean anything.  Worse, it sort of converts the type into a string, so after stringifying it you can't really tell the difference between a NOT_SET parameter and a STRING parameter that happened to contain the string "not set".

For me, it seems like it should be an error to try to stringify a NOT_SET parameter.  The result can only be undefined, and so I th

[2020-11-05 00:27] fujitatomoya commented on #1348
I think as long as user can see and tell the difference NOT_SET and STRING after stringifying, that would be no problem. but if it cannot, it would be nice to notify the user application.

[2020-11-05 02:49] 849631323 commented on #1431
@fujitatomoya hi ,have you ever test on ARM platform such as nvidia TX2 or xavier, or raspberry pi
unfortunately I met the same issuse just as some one has test on xavier as below:
https://github.com/ros2/ros1_bridge/issues/218

[2020-11-05 03:21] fujitatomoya commented on #1431
No, i just checked with a couple of Intel PC. i dont have arm64 platform for now.

[2020-11-05 12:59] ivanpauno commented on #1348
In the case of `rclcpp::to_string(rclcpp::Parameter & param)`, which is the example shown [before](https://github.com/ros2/rclcpp/issues/1348#issuecomment-700951172), I don't see a problem as it seems to be a debug stringified version of the parameter where you can perfectly recognize the type:

[code]

The one that might be a problem is `rclcpp::to_string(const ParameterValue & value)`, which out

[2020-11-05 14:27] fujitatomoya commented on #1399
I think https://github.com/ros2/rclcpp/pull/1241 should fix this, i will confirm that.

[2020-11-06 01:41] fujitatomoya commented on #1399
@ivanpauno

I confirmed https://github.com/ros2/rclcpp/pull/1241 can fix this issue 👍
I used master https://github.com/ros2/ros2/commit/4aeefc197b1e7a4c267ae0e36147db15e565e849 and [reproducible test](https://github.com/fujitatomoya/rclcpp_action_exception_test). In 15 mins, there was no exception happens.

[2020-11-06 22:38] chapulina commented on #1282
This test has been failing consistently for a long time. I'm suggesting disabling it in https://github.com/ros2/rclcpp/pull/1443

[2020-11-13 02:11] wjwwood commented on #1351
I don't think the concern is about overflowing operations, I think the concern is that if you create a `Time(std::numeric_limits<int32_t>::max(), 999999999)` and then add a second, you will not overflow the time object (as the  internal `int64_t` can store it and we don't artificially cap the value) but if you tried to convert it to the ROS message type, it would not fit as it uses int32 for the s

[2020-11-13 10:46] v-lopez opened #1454 "Executor quick destruction after spin hangs"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: Binaries
- Version or commit hash: 5.0.0-1focal.20201007.211227
- DDS implementation: Fast DDS
- Client library (if applicable): rclcpp

#### Steps to reproduce issue
[code]

#### Expected behavior
That the test ends.

#### Actual behavior
Very frequently, the test hangs on the future destruction, waiting for

[2020-11-13 10:58] v-lopez opened #1455 "Segmentation fault on wait_for_work"
## Bug report

As a workaround for https://github.com/ros2/rclcpp/issues/1454 I tried to create a utility to avoid a hard coded sleep, that blocks until the spin() is active and a callback has been called, before returning.
It causes a segmentation fault very unfrequently.

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: Binaries
- Version or commit hash: 5.0.0-1focal.202

[2020-11-13 16:59] ivanpauno commented on #1454
The semantics of `cancel` is strange:

- If `spin` is already running, it will return. But you can spin again afterwards, and those will continue blocking.
- A `cancel` that happens while the executor is not spinning doesn't have any effect (the first `wait` of the executor will be awaken immediately because a guard condition was triggered by `cancel`, but `spin` won't return and will continue doi

[2020-11-13 17:06] ivanpauno commented on #1455
My guess is that removing the timer while spinning (`timer.reset();`) might not be thread safe, but I'm not sure if that's the issue.

@v-lopez could you try building with debug info to get more information in the backtrace? (i.e., line numbers), thanks!

[2020-11-13 19:11] brawner commented on #1417
Based on some investigative work, I believe these inconsistencies are to be expected, and I think I figured out where.

I prototyped some code to track allocations and their locations. It was pretty rudimentary, but it identified the main source of variability (fast-rtps) and it also helped identify the locations of initial cache allocation.
 1. The main source of initialization on the first go lo

[2020-11-13 19:11] #1417 closed

[2020-11-13 19:23] brawner opened #1456 "Dereference value-initialized map/set iterator in test_executors addTemporaryNode test (windows debug)"
I believe this failure is different from other windows debug test_executor failures. @ivanpauno pointed out after resolving the previously existing issue in executors/graph_listener in #1404 (fixes #1282, #1340, #1391) that windows debug job flagged, this error also existed.

As with most windows debug failures, it's generally finding issues that exist on other platforms, but windows debug can be

[2020-11-16 07:22] fujitatomoya commented on #1454
What about providing the status if spinning or not to user application? so that user can do the following.

[code]

[2020-11-16 08:44] v-lopez commented on #1455
Adding debug callstack from rclcpp master (dd0f97f1790de0384caeeb94a7c1c49e4b9f08ed):

Thread 2:
[code]

Thread 1
[code]

[2020-11-16 13:05] ivanpauno commented on #1454
That doesn't seem to solve the problem, the code seems to have the same race as before.

[2020-11-16 13:14] ivanpauno commented on #1455
Thanks for the additional information @v-lopez !

This seems to have been introduced in https://github.com/ros2/rclcpp/pull/1218.
It might be the same issue than in https://github.com/ros2/rclcpp/issues/1402, or a different one.

@wjwwood FYI

[2020-11-16 22:55] brawner opened #1460 "[rclcpp_lifecycle] The get_available_transitions method and get_available_transitions service produce different results"
I noticed this while writing up the benchmarks, but calling `rclcpp_lifecycle::LifecycleNode::get_available_transitions()` will return all 25 transitions, but calling the `get_available_transitions` service will only return the available transitions for the current state. In order to get all 25 transitions from a service, you need to call the `get_transition_graph` service.

Perhaps it would make

[2020-11-17 03:09] wjwwood commented on #1460
Makes sense to me to make it consistent between the two.

[2020-11-17 14:42] #1212 closed

[2020-11-17 23:15] wjwwood commented on #1455
I'll have a look ASAP. Thanks @ivanpauno

[2020-11-18 03:40] fujitatomoya commented on #1399
@ivanpauno

i think we can close this since https://github.com/ros2/rclcpp/pull/1241 has been merged. I did confirm https://github.com/ros2/rclcpp/pull/1241 can fix this issue. (see https://github.com/ros2/rclcpp/issues/1399#issuecomment-722753647)

[2020-11-18 07:01] fujitatomoya commented on #1455
according to the stack trace, I think this is because [weak_nodes_](https://github.com/ros2/rclcpp/blob/de353f9e45ca2ef191708e557f217eda843ab46a/rclcpp/include/rclcpp/executor.hpp#L566-L567) is not protected by mutex.

[2020-11-18 14:44] #1399 closed

[2020-11-19 05:02] guru-florida opened #1468 "SEGV caused by order of destruction of Node sub-interfaces"
## Bug report
The SEGV is caused due to some sub-iface destructor code expecting living references to the node base or other interface but it was already released earlier in the Node destructor. Memory corruption occurs and eventually malloc checks abort later in the execution, usually somewhere in malloc_consolidate, FastRTPS library or waitfor collection resizing.

The destructor for the Node cl

[2020-11-22 09:04] fujitatomoya commented on #1460
@brawner @wjwwood

could you review https://github.com/ros2/rclcpp/pull/1472 when you got time?

[2020-11-22 11:14] ipa-hsd opened #1473 "get_action_names_and_types not exposed in NodeGraph"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Client library (if applicable):
  - rclcpp

---
While working on the `action_bridge` in https://github.com/ros2/ros1_bridge/pull/256, I realized that `get_action_names_and_types` is not exposed in [NodeGraph](https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/node_interfaces/no

[2020-11-24 01:20] brawner commented on #1391
I believe this was resolved by #1404 (rolling) and #1401 (foxy)

[2020-11-24 01:20] #1391 closed

[2020-11-24 01:21] brawner commented on #1340
This issue was resolved by #1404 (rolling) and #1401 (foxy).

[2020-11-24 01:21] #1340 closed

[2020-11-24 01:25] brawner commented on #1282
This was resolved by #1404 (rolling) and #1401 (foxy).

[2020-11-24 01:25] #1282 closed

[2020-11-25 00:06] sloretz opened #1475 "test_publisher run_event_handler test fails with CycloneDDS"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu Focal
- Installation type:
  - From source
- Version or commit hash:
  - master
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior

All tests should pass

#### Actual behavior

[code]

#### Additional information

The test started failing

[2020-11-25 00:06] sloretz commented on #1475
@ivanpauno Mind taking a look since you're familiar with ros2/rclcpp#1241 and also a maintainer of `rmw_cyclonedds`?

[2020-11-25 20:37] schornakj opened #1478 ""UnawareGoalHandleError" exception thrown when action client tries to wait for goal result future"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 LTS
- Installation type:
  - Binaries
- Version or commit hash:
  - Eloquent
- DDS implementation:
  - CycloneDDS, FastRTPS
- Client library (if applicable):
  - rclcpp

#### Summary

I have an action client/server pair that handles a large number of goals in parallel. The client node eventually throws an `'rclcpp_action::exce

[2020-11-26 00:35] chapulina commented on #1036
Reached level 1! :tada: https://github.com/ros2/rclcpp/pull/1477

[2020-11-26 00:35] #1036 closed

[2020-11-26 00:36] chapulina commented on #1039
Level 1 achieved :100: https://github.com/ros2/rclcpp/pull/1477

[2020-11-26 00:36] #1039 closed

[2020-11-26 00:37] chapulina commented on #1037
Level :one: done! https://github.com/ros2/rclcpp/pull/1477

[2020-11-26 00:37] #1037 closed

[2020-11-26 00:37] chapulina commented on #1038
Level 1: complete! https://github.com/ros2/rclcpp/pull/1477

[2020-11-26 00:37] #1038 closed

[2020-11-26 08:42] y-okumura-isp commented on #1392
I think the following API is used in this use case.
But it is usefull to use parameter idiom, so I sent PR above.
By the way, I dont know "parameter ideom" well, and I believe it is type of [method chaining](https://en.wikipedia.org/wiki/Method_chaining). Please tell me if I misunderstand.

[code]

Thank you.

[2020-11-27 07:22] fujitatomoya opened #1482 "inconsistent parameter service behavior with non-exist parameter request."
## Bug report

- Operating System:
  - ubuntu20.04
- Installation type:
  - source build
- Version or commit hash:
  - https://github.com/ros2/ros2/commit/c059de9aadbf3d9ad189ca17d62f0110683c0a65
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

once node is created, there are built-in services to access parameters. there seems to be inconsistent behavior for these

[2020-11-27 07:30] fujitatomoya commented on #1482
CC: @clalancette

[2020-11-27 07:48] y-okumura-isp commented on #1431
I can reproduce with RPi4 8GB.

Environment
- master
- rclcpp: de353f9e45ca2ef191708e557f217eda843ab46a
- Fast-DDS: e7e96153a52d29e97c5a69a056bbd0cbb090b515

I test several cases:
- 2 process
  - 200KB payload -> 10 Hz
  - 1MB -> 9.6-10 Hz
  - 10MB -> 9.1-9.4 Hz (I describe resources below)
- 1 process
  - 200KB payload -> 10Hz (result is omitted in this post)
  - 10MB -> 9.6-10Hz

In 2 process se

[2020-11-29 05:56] fujitatomoya commented on #1478
@schornakj

done, we can run parallel test based on https://github.com/fujitatomoya/rclcpp_action_exception_test/tree/feature/parallel-client-master. (create PR if you want to take it, https://github.com/schornakj/rclcpp_action_exception_test/pull/2)

so far, i cannot reproduce the problem... could you share core stack trace if you can?

[2020-11-30 02:28] fujitatomoya opened #1483 "expose rcl_graph interfaces with test cases"
## Feature request

#### Feature description

The following [rcl_graph](https://github.com/ros2/rcl/blob/master/rcl/include/rcl/graph.h) interfaces are not exposed to `rclcpp::node_interfaces::NodeGraph`.

- rcl_get_publisher_names_and_types_by_node
- rcl_get_subscriber_names_and_types_by_node
- rcl_get_client_names_and_types_by_node
- rcl_get_node_names_with_enclaves

#### Implementation consider

[2020-11-30 02:30] fujitatomoya commented on #1473
i think that the followings need to be exposed to `rclcpp`, (`rclpy` does have them already)

- rcl_action_get_client_names_and_types_by_node
- rcl_action_get_server_names_and_types_by_node
- rcl_action_get_names_and_types

[2020-11-30 05:52] y-okumura-isp commented on #1431
I got extra results.

## Summary

(1) Only 5-6 Hz is obtained in CycloneDDS 10 MB x 10 Hz
(2) 700 Mbps is a limit of RPi4, loopback UDP communication. So, 10 MB x 10 Hz looks a too high goal to RPi4 in my setting.
(3) About 9.7 Hz is obtained in 8 MB x 10 Hz which is lower then 700 Mbps.
(4) But **changing kernel parameter, CyclonDDS can do 8 MB x 10 Hz**. FastDDS cannot.

Here are the details.

#

[2020-11-30 16:32] ivanpauno commented on #1392
Yeap, the "named parameter idiom" and "method chaining" is the same thing.
Thanks for opening a PR @y-okumura-isp !

[2020-11-30 18:30] #1456 closed

[2020-12-01 04:57] fujitatomoya commented on #1483
@ivanpauno

not urgent. but when you got time, could you take a look and share your thougths?

[2020-12-01 18:47] schornakj commented on #1478
Interesting! I haven't tried this on the rclcpp master yet. If this issue only shows up in Eloquent does that imply that the root cause might have been fixed elsewhere? I see that there's been a lot of work targeting threading issues in the rclcpp action handling code.

I'll get a stack trace for you. Do I need to build ROS2 from source to get sufficiently useful information?

[2020-12-01 21:03] hidmic commented on #974
@maxlein now that Eloquent is EOL, and unless you're still experiencing issues, I'm inclined to close this ticket.

[2020-12-01 21:30] maxlein commented on #974
We are already on foxy and have no issues anymore.
So it's ok for me.

[2020-12-01 21:44] #974 closed

[2020-12-01 23:01] fujitatomoya commented on #1478
thanks 👍

I think if we could reproduce this issue based on master:HEAD, that would be really useful. but as you mentioned on previous comment, this might be fixed in master. there is a possibility this depends on environment, so it would be really nice to try with source 😄

[2020-12-02 01:44] brawner commented on #1402
I believe this was addressed by https://github.com/ros2/rclcpp/pull/1404

[2020-12-02 01:44] #1402 closed

[2020-12-02 01:47] brawner commented on #1455
#1402 has been resolved. But I think this issue is different. Does the issue still occur with the most recent commits?

[2020-12-02 01:50] brawner commented on #1230
I think these have been cleaned up finally, especially with https://github.com/ros2/rclcpp/pull/1404

[2020-12-02 01:50] #1230 closed

[2020-12-02 05:23] y-okumura-isp opened #1485 "Publishing is very slow with CycloneDDS 1 pub-2 sub on RPi4"
(2020/12/09 title update from "publishing is very slow in 1 publisher and 2 subscribers situation at RPi4")

## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04, Raspberry Pi 4
- Installation type:
  - build
- Version or commit hash:
  - de353f9e45ca2ef191708e557f217eda843ab46a
- DDS implementation:
  - CycloneDDS 9842f92fea76e8cc9a03a6fa40472b0ac0cca682
- Client library (if ap

[2020-12-02 09:39] v-lopez commented on #1455
Yes it does still crash as of ea0ee50318a9609843cd7295c4542c42a7ed339c

[2020-12-02 23:12] fujitatomoya commented on #1460
@brawner

i think that we can close this.

[2020-12-02 23:28] brawner commented on #1460
Resolved by #1472, thanks @fujitatomoya

[2020-12-02 23:28] #1460 closed

[2020-12-04 16:02] alsora commented on #1475
The same problem happens to me when running a pub-sub single process application that uses intra-process communication .
I can reproduce with both cyclonedds and fastdds.

From the backtrace
[code]

[2020-12-08 13:08] buschbapti opened #1487 "Publishing is slow in Docker with MutliThreadedExecutor"
I am using ros2 foxy from the official [ros2 docker images](https://hub.docker.com/_/ros) to build [ros2_control](https://github.com/ros-controls/ros2_control) and test their new implementations. I have noticed that when starting a joint state publisher that is set to publish at 200hz, monitoring the topic with `ros2 topic hz /joint_states` gives at best 30hz.

I know this has nothing to do specif

[2020-12-08 13:40] clalancette commented on #1487
So if I understand this bug report right, this is happening with some combination of `LifecycleNode`, `MultiThreadedExecutor`, and `Docker`.  You've already swapped out the `SingleThreadedExecutor`, and that seems to make it work better.

One other test that would be interesting to do is to write your own very simple version of the `ros2 hz` command in C++.  That might tell us if the problem is in

[2020-12-08 13:57] buschbapti commented on #1487
That is right. I will try to make some more tests indeed to narrow it down. And give the results here.

[2020-12-08 15:34] buschbapti commented on #1487
Ok so here is the code for the simple publisher I am using:

[code]

Results:

* SingleThreadedExecutor:

[code]

* MultiThreadedExecutor

[code]

Sometime a bit more (max 300Hz).

Simple `Node` doesn't change the issue so we can remove that from the equation.

[2020-12-08 15:55] buschbapti commented on #1487
Very interestingly I tried the exact same code (made a small package from scratch only dependent on rclcpp) on tested on `eloquent` installed directly on my computer (non dockerized). I have the exact same behavior:

* SingleThreadedExecutor

[code]

* MultiThreadedExecutor

[code]

So what I thought is the combination of Docker and `MultiThreadedExecutor` can actually be narrowed it down to the `

[2020-12-09 10:27] buschbapti commented on #1487
Same thing in a fresh `foxy` install.  And same behavior observed with ros2_control as when using the Docker container. So the problem is definitely not coming from Docker

[2020-12-09 13:05] fujitatomoya commented on #1487
I think the reason is the same with https://github.com/ros2/ros2/issues/1035#issuecomment-700040870, I tried to use https://github.com/ros2/rclcpp/pull/1382 to see if it can also fix the problem. it can be better but with this high frequency it cannot fix the problem completely. I think that to address this problem, the same TimerBase object should be taken once and not being scheduled on other th

[2020-12-10 07:10] iuhilnehc-ynos commented on #1487
I am interested in this issue.

[2020-12-10 07:27] iuhilnehc-ynos commented on #1487
After checking the source code, I found the mutex `wait_mutex_`
https://github.com/ros2/rclcpp/blob/eddb938aec3287f585fed1607723681c583d2b1d/rclcpp/include/rclcpp/executors/multi_threaded_executor.hpp#L84
is overused at
https://github.com/ros2/rclcpp/blob/eddb938aec3287f585fed1607723681c583d2b1d/rclcpp/src/rclcpp/executors/multi_threaded_executor.cpp#L79-L97
and
https://github.com/ros2/rclcpp/blob

[2020-12-10 14:24] buschbapti commented on #1487
Just tested on the  `nightly` image of ros2 and I got better results:

[code]

So I guess something has already been implemented in one previous commit. Yet it is not entirely resolved.

[2020-12-10 14:49] buschbapti commented on #1487
Confirmed that @iuhilnehc-ynos solution makes things better:

[code]

It also resolves the problem with ros2_control_demo. I am not sure what side effects it can have but at least it does solve this issue.

[2020-12-11 00:28] fujitatomoya commented on #1487
@iuhilnehc-ynos

thanks! yeah, i thought that way in the past. but i think there will be multi-thread problem with that fix.

please see inline comment,

[code]

I gotta admit that is really rare, but it cannot guarantee that `the same Timer will not be executed twice or more`. also i believe that almost same idea is https://github.com/ros2/rclcpp/pull/1168. maybe you could take a look. IMO, `get_

[2020-12-11 01:45] iuhilnehc-ynos commented on #1487
@fujitatomoya

It definitely helped. Thanks.
I am still a bit confused.

`get_next_executable` protected by a mutex `wait_mutex_` make sure `any_exec` getting from two threads are different.

[code]

Anyway, I'll see related issues later.

[2020-12-11 01:53] fujitatomoya commented on #1487
not at all😄  i might be missing something, but if the `Timer` is taken exclusively and not being scheduled on other threads in current implementation, i think it would be okay to go with your fix.

[2020-12-11 02:17] iuhilnehc-ynos commented on #1487
It seems https://github.com/ros2/rclcpp/pull/1168 already did the same thing, so I will not create a new PR for it, maybe we could push https://github.com/ros2/rclcpp/pull/1168 to be merged ASAP.

[2020-12-11 11:29] TakaHoribe opened #1490 "Node with a namespace doen't subscribe the clock topic in Foxy"
## Bug report

**Required Info:**

- Operating System: Ubuntu20.04
- Installation type: binary
- Version or commit hash: 2.2.0-1focal.20201103.150639 (for ros-foxy-rclcpp)
- DDS implementation:
- Client library (if applicable):

#### Steps to reproduce issue
Launch a node with a namespace (without passing the `use_sim_time` arg). Then set the `use_sim_time` to true from terminal. The node should s

[2020-12-11 13:19] hsgwa opened #1491 "topic statistics's message age include callback duration."
## Bug report

- Operating System:
  - ubuntu 20.04
- Installation type:
  - from source
- Version or commit hash:
  - foxy branch
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

1. add 100ms sleep to subscribe callback of topic_statistics_demo.
    [Here is source code diff](https://github.com/hsgwa/demos/commit/7c915464fb94945b60a850b628048b3c26f87ee1). This code cal

[2020-12-14 01:45] fujitatomoya commented on #1491
sounds reasonable to me. I think this statistics intends to calculate communication latency but not execution time, which btw really depends on application. (https://index.ros.org/doc/ros2/Concepts/About-Topic-Statistics/#how-statistics-are-calculated)

[2020-12-14 06:05] hsgwa commented on #1491
Thank you for your comment!
Exactly, this issue depends on purpose and use-cases.
it looks to me that topic statistics purpose is to measure communication latency.
I posted a draft PR to discuss.
If modification is accepted, I'll add test case.

[2020-12-14 15:08] TakaHoribe commented on #1490
I found this is solved in the newest version (released on Saturday: `1.0.4-1focal.20201210.062444`). Close this issue.

[2020-12-14 15:08] #1490 closed

[2020-12-15 00:14] fujitatomoya commented on #1354
CC: @brawner @clalancette

close this since https://github.com/ros2/rclcpp/pull/1453 is merged.

[2020-12-15 00:15] fujitatomoya commented on #1354
@brawner

i thought i opened this one...could you close this?

[2020-12-15 00:18] brawner commented on #1354
Closed via #1453

[2020-12-15 00:18] #1354 closed

[2020-12-15 00:19] brawner commented on #1482
@fujitatomoya can this be closed?

[2020-12-15 00:25] fujitatomoya commented on #1482
@brawner
CC: @clalancette

no, not yet. I didn't start implementation, still waiting for design comment. (see https://github.com/ros2/rclcpp/pull/1453#issuecomment-734687708 and https://github.com/ros2/rclcpp/pull/1453#issuecomment-743359918)

[2020-12-15 05:23] y-okumura-isp commented on #1485
Hmm, after I rebooted my RPi4,I can not reproduce this issue.
So I close this. Sorry for the confusion.

[2020-12-15 05:23] #1485 closed

[2020-12-17 12:17] nnmm commented on #849
This bug still exists – @wjwwood is the linked PR addressing this?

[2020-12-17 13:51] clalancette commented on #1478
@schornakj Friendly ping, have you been able to try this out on the latest?  You could either build from source or use the rolling binaries as a test.

[2020-12-17 15:34] schornakj commented on #1478
@clalancette I've been tied up with other work for the past couple weeks, sorry about that.

[2020-12-17 15:47] clalancette commented on #1478
No worries.  Feedback when you have a chance is appreciated.

[2020-12-17 20:10] wjwwood commented on #849
@nnmm No, unfortunately I got hung up trying to figure out how to do it in a deprecation cycle and never got around to it.

[2020-12-18 17:31] ivanpauno commented on #1454
My opinion is that instead of setting the `spinning` flag to false we could:

- Set a `cancel=true` flag, the current/next spin will reset the flag `cancel=false` and return immediately.
  In this case the behavior of cancel is: "cancel the current spin() loop or the following call to spin()"
- Set a `cancel=true` flag, the current and all the following spin() calls return immediately.
  In this c

[2020-12-18 18:02] ivanpauno commented on #1483
I'm marking this as `help wanted` `good first issue`, as anybody that need those methods exposed in `rclcpp` can create a PR.

Up to now, those were only exposed in `rclpy` and are mainly being used in the `ros2cli` tools (I don't know of much user code making use of them directly).

[2020-12-18 18:10] ivanpauno commented on #1483
Ah, I didn't see there was a PR already open :grimacing:

[2020-12-18 20:40] wjwwood commented on #1454
`cancel()` is only meant to interrupt spin, not prevent future spins.

Change it to be "cancel the current spin() loop or the following call to spin()" just moves the problem around I think, because what if you want to spin(), then either spin finish itself or cancel it asynchronously, then spin again. If you do that then it's a race to see if cancel will stop the first spin or if it fires off jus

[2020-12-18 22:06] ivanpauno commented on #1454
Don't you still have the same problem with `wait_for_spin()`?
Note: I guess "spin finishes normally" means for example using `spin_some()` that can "finish normally" also be cancelled, because IIRC `spin()` never finishes (except if the `rclcpp::Context` is shutdown, the executor is cancelled).

The usefulness of a `shutdown()` method would be pretty similar to the usefulness of `rclcpp::shutdown(

[2020-12-18 22:34] wjwwood commented on #1454
Right, or `spin_until_future_complete()`.

I don't think so? Because the reason for the first `spin*()` call exiting no longer matters, and if the `cancel()` happens after the `spin*()` finishes then it will be harmless (a no-op), so in any result of the race between `spin*()` finishing and `cancel()` being called, the second `spin*()` will do work and will never return immediately due to the prev

[2020-12-21 17:28] ivanpauno commented on #1454
mmm, I will provide more detailed examples to see if I understand:

1.

[code]

will always cancel the first `spin()` (if `wait_for_spin` returned `true`).

2.

[code]

might cancel either the first `spin_some()` or the second `spin()`, because the following can happen: `wait_for_spin()` returns true, context switch, `spin_some()` finishes, `spin()` starts, `cancel()` is executed cancelling the se

[2020-12-21 21:02] ivanpauno commented on #1475
@alsora can you share a minimal reproducible example for that issue?

Though both have been probably introduced in the same PR, I don't think they are exactly the same issue.

[2020-12-21 22:33] #1475 closed

[2020-12-22 01:47] wjwwood commented on #1454
For case 2, I think that's just not going to work as intended, as you said your proposed change to how cancel works would still not work for case 2. Further more, I don't see the point in case 2, I think you'd want to test something in between, e.g.:

[code]

If you're testing some interaction with `spin_some` followed by `spin`, then I'd recommend a condition variable:

[code]

For case 3, you ca

[2020-12-22 15:55] eboasson opened #1498 "test_publisher/run_event_handlers is broken"
## Bug report

**Required Info:**

- Operating System:
  - macOS Big Sur, Linux
- Installation type:
  - from source
- Version or commit hash:
  - 504b082d8be8c14076db631807b98a4dc2b3234a
- DDS implementation:
  - Cyclone DDS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Run the test ...

e.g. `cd build/rclcpp/test && RMW_IMPLEMENTATION=rmw_cyclonedds_cpp ./test_publ

[2020-12-22 16:00] clalancette commented on #1498
@eboasson Do you think #1497 fixes this?

[2020-12-22 16:05] eboasson commented on #1498
@clalancette It definitely should, the surprising message will still be there, but otherwise it should be fine.

[2020-12-22 16:12] clalancette commented on #1498
All right, I'm going to go ahead and close this with #1497 fixing it.  If you think we need to change anything else, feel free to reopen.

[2020-12-22 16:12] #1498 closed

[2020-12-22 23:48] fujitatomoya commented on #360
@wjwwood

thanks for the review, i think we can close this.

[2020-12-23 02:24] #360 closed

[2021-01-06 23:37] Karsten1987 opened #1506 "Make the lifecycle services optional"
There is currently no way to not have services attached to the lifecycle node. That prevents an easy setup of a lifecycle management system as each loaded lifecycle node can be individually controlled and thus does not have to go through the management system.
This is a precise use case we see at ros control, where each controller is a lifecycle node but should solely be controlled via the control

[2021-01-06 23:42] Karsten1987 commented on #1506
* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=13357)](http://ci.ros2.org/job/ci_linux/13357/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=8284)](http://ci.ros2.org/job/ci_linux-aarch64/8284/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=11086)](http://ci.ros2.org/job/ci_osx/11086/

[2021-01-07 18:04] #1491 closed

[2021-01-08 14:18] ivanpauno commented on #1482
Closing as linked PRs were merged, feel free to reopen if this is not solved.

[2021-01-08 14:18] #1482 closed

[2021-01-08 14:20] ivanpauno commented on #1455
@v-lopez I would expect https://github.com/ros2/rclcpp/pull/1505 to fix the issue, could you give it a try?

[2021-01-08 14:32] ivanpauno commented on #1431
@y-okumura-isp based on the comments this seems to be a rmw vendor dependent "network tweaking" problem, is that right?
IIUC the UDP max buffer size on linux is "small", and under large data size or medium data size and high rate you need to either tweak the kernel buffer sizes or configure your DDS implementation in a way that "doesn't send data that fast".

(in my experience Fast-RTPS defaults s

[2021-01-08 14:36] ivanpauno commented on #1381
Closing, as the user can currently workaround the issue.
A PR modifying all uses of `min` and `max` in `rclcpp` in a way that doesn't conflicts with `windows.h` as mentioned above would still be welcomed!

[2021-01-08 14:36] #1381 closed

[2021-01-08 14:38] v-lopez commented on #1455
Before I would get a crash in a few seconds of attempts, now it took over a minute but I still got a segfault.

Running it with valgrind to see if I can catch it.

[2021-01-08 14:39] ivanpauno commented on #1362
Closing in favor of https://github.com/ament/ament_cmake/issues/227 (which IIUC is the same issue).

[2021-01-08 14:39] #1362 closed

[2021-01-08 14:41] ivanpauno commented on #1362
@andre-nguyen your proposal looks similar too https://github.com/ament/ament_cmake/issues/227#issuecomment-750501962.
It might work fine, but it's kind of an abuse of cmake cache variables (though maybe we should give it a try).

[2021-01-08 21:44] ivanpauno commented on #1455
@v-lopez I tried your example locally and I think that after last #1505 commit I got it right.
(I'm still going to run the reproducer for some minutes more, as in my system it was hard to make the example segfault)

[2021-01-08 22:53] v-lopez commented on #1455
Without these latest changes, it took me 4h of gdb to catch a crash, but I'm attaching the callstack.

[callstack.txt](https://github.com/ros2/rclcpp/files/5789666/callstack.txt)

I'm running now with the latest changes and so far no crashes. I'd consider it fixed.

[2021-01-10 01:18] fujitatomoya opened #1510 "inconsistent parameter service behavior with non-exist parameter request."
revived from https://github.com/ros2/rclcpp/issues/1482,

## Bug report

- Operating System:
  - ubuntu20.04
- Installation type:
  - source build
- Version or commit hash:
  - https://github.com/ros2/ros2/commit/c059de9aadbf3d9ad189ca17d62f0110683c0a65
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

once node is created, there are built-in services to access para

[2021-01-10 01:19] fujitatomoya commented on #1510
see https://github.com/ros2/rclcpp/pull/1453#issuecomment-734687708 and https://github.com/ros2/rclcpp/pull/1453#issuecomment-743359918

[2021-01-11 13:32] ivanpauno commented on #1455
I'm confident that it's fixed now as that callstack is the same I got before the latest commit (segmentation fault while copy constructing), so we only need to wait for a review of #1505 :tada: .

[2021-01-12 08:54] fujitatomoya commented on #1510
for `rclcpp` with NodeParameters::allow_undeclared_(false), `describe_parameters` and `get_parameter_types` looks good to me. if any undeclared parameters included in the request, it will return empty list. we would want to change the behavior for `get_parameters` to keep it consistent.

[2021-01-13 14:43] ivanpauno commented on #1510
See https://github.com/ros2/rclcpp/pull/1514#pullrequestreview-567284794, I don't think that omitting parameters will work.

[2021-01-14 15:27] guillaumeautran commented on #832
Sorry for the extremely late reply. We obviously moved on and in the end, we ended up extending the multi-threaded executor and implementing our own (for several reasons).

Will close this issue is no-one else is experiencing problems.

[2021-01-14 15:27] #832 closed

[2021-01-14 16:18] ivanpauno commented on #832
Thanks for the reply!
I know the current multi-threaded executor has many quirks and isn't ideal, so it would be great if you can share what were the reasons to not use the current implementation and, if possible, explain how those were solved in your own implementation.

[2021-01-14 19:33] ivanpauno commented on #1374
Closing as the description of the issue is not accurate, https://github.com/ros2/rclcpp/issues/1487 seems to be the real issue (?).

[2021-01-14 19:33] #1374 closed

[2021-01-14 20:16] ivanpauno commented on #1487
I have no idea of how to fix this, so I will unassign myself (cc @clalancette).

Well I have ideas of things to try, but the scope of this is much bigger of what I would expect from a randomly assigned issue.
Maybe there's an obvious fix I'm not seeing, but the whole executor code in `rclcpp` needs some **months** of love really (not particularly to fix this issue, but there's a lot of performance

[2021-01-14 20:17] ivanpauno commented on #1487
I now remembered about https://github.com/ros2/rclcpp/pull/1328, which I opened a while before.
That's sort of a hack, but maybe it fixes this issue so I will give that a try before unassigning myself.

[2021-01-14 21:49] ivanpauno commented on #1487
#1328 effectively fixes this issue.
It's not an ideal workaround, but I guess that's fine for the moment.

[2021-01-14 22:31] wjwwood commented on #1487
I don't think that's ok to forbid. It's completely reasonable to want to execute the same callback multiple times in parallel, less so for timers, but definitely so for subscriptions. Even for timers, I think it's a reasonable thing to want to do, though I don't know of any cases where that's what you'd want. Perhaps you're using a timer to poll for work to be done, and so sometimes the callback i

[2021-01-18 16:48] ivanpauno commented on #1285
Closing as it seems to have been fixed by https://github.com/ros2/rclcpp/pull/1313 (and #1518 will fix it for Foxy, where the bug was reported), feel free to reopen if that's not the case.

[2021-01-18 16:48] #1285 closed

[2021-01-19 01:05] fujitatomoya commented on #1487
@buschbapti

would you mind trying to use @ivanpauno 's fix https://github.com/ros2/rclcpp/pull/1516 to check the performance? that would be really appreciated.

[2021-01-19 09:12] LouisChen1905 opened #1519 "terminate called after throwing an instance of 'std::system_error' what(): Resource deadlock avoided"
## Bug report

**Required Info:**

- Operating System:
  - ubuntu 20.04-->
- Installation type:
  - from source
- Version or commit hash:
  - eloquent
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
I'm writing gtest scripts. My SetUp():
[code]
In `TEST_F()`, if I used `executor.spin_until_future_complete()` to wait some messages, tes

[2021-01-19 13:31] clalancette commented on #1519
Are you really using Eloquent on Ubuntu 20.04?  That isn't a supported combination (and in point of fact, Eloquent is end-of-life now anyway).  Can you try this on Foxy on Ubuntu 20.04 and see if you are still running into problems?

[2021-01-19 16:03] ivanpauno commented on #1455
Yes, closing

[2021-01-19 16:03] #1455 closed

[2021-01-21 01:45] chapulina opened #1521 "👩‍🌾 TestExecutor.spin_some_fail_wait_set_clear test failure"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  -  source
- Version or commit hash:
  - `master/ros2.repos`
- DDS implementation:
  - default
- Client library (if applicable):
  - `rclcpp`

#### Steps to reproduce issue

The test failed once on the repeated nightly CI, see [test history](https://ci.ros2.org/job/nightly_linux-aarch64_repeated/1479/test

[2021-01-21 08:24] iuhilnehc-ynos commented on #1519
@LouisChen1905

I am interested in this issue.
Could you provide a sample or test that can be built and run to reproduce this problem?

BTW:
[code]
Did you change the `rclcpp` source code? (https://github.com/ros2/rclcpp/blob/eloquent/rclcpp/src/rclcpp/intra_process_manager.cpp#L83-L87)

About `std::system_error Resource deadlock avoided!`, it seems there are two places to call `std::unique_lock<s

[2021-01-21 08:27] LouisChen1905 commented on #1519
@iuhilnehc-ynos

I’ll write a sample program and upload soon.

[2021-01-21 11:09] LouisChen1905 commented on #1519
@iuhilnehc-ynos

I didn't change the source code.

Finally, I found the way to reproduce the error. If I implement the callback of subscription in the `TestClass`, the program runs ok. If I implement the callback in another class `Module1` whose instance is a member of `TestClass`, the error is reproduced.
[code]
The project is upload in the attached zip file.
[bug_test.zip](https://github.com/ros

[2021-01-21 12:12] LouisChen1905 commented on #1519
The problem also has something to do with the singleton implementation of `TestClass`. When `TestClass` is written like:
[code]
And SetUp() is:
[code]
the test program runs OK.

[2021-01-22 02:17] iuhilnehc-ynos commented on #1519
I don't want to argue about whether the design of the sample is reasonable or not,
but I think `rclcpp` should not make users' application aborted no matter how user application to use this library.

We can find that

https://github.com/ros2/rclcpp/blob/b1ff2d5bdc9a7fcc2c0e2aeee0216ebe8d22751d/rclcpp/src/rclcpp/intra_process_manager.cpp#L83-L85
[code]

How about adding a new `recusive_mutex` for `

[2021-01-22 03:00] chapulina opened #1523 "👩‍🌾 test_graph_services_by_node regression"
## Bug report

**Required Info:**

- Operating System:
  - Linux
- Installation type:
  - source
- Version or commit hash:
  - <master
- DDS implementation:
  - default
- Client library (if applicable):
  - `rclcpp`

#### Steps to reproduce issue

Test `rclcpp_lifecycle.TestDefaultStateMachine.test_graph_services_by_node` failed for the first time in nightly CI on 2021/01/21.

See [test history](h

[2021-01-22 05:54] fujitatomoya commented on #1519
@iuhilnehc-ynos

could you elaborate why adding recursive_mutex is gonna address this issue?

the root cause of this is dead lock as following,

[code]

https://github.com/gcc-mirror/gcc/blob/e90bb02d5ba3853b4abb0c66f3e9a41bd03a4294/libstdc%2B%2B-v3/include/std/shared_mutex#L186-L188

trying to rwlock with writer access, it detects EDEADLK from glibc then raise exception.

[2021-01-22 06:08] iuhilnehc-ynos commented on #1519
@fujitatomoya

About std::system_error Resource deadlock avoided!, it seems there are two places to call std::unique_lock<std::shared_timed_mutex> lock(mutex_); in one thread. (As I mentioned at https://github.com/ros2/rclcpp/issues/1519#issuecomment-764467045)

[code]

which mutex do you think can fix this kind of error? From what I know, `recursive_mutext` is a better choice.

[2021-01-22 06:39] fujitatomoya commented on #1519
i think in that case, `device_or_resource_busy (EBUSY)` should be seen on stack trace because that is not a deadlock?

[2021-01-22 08:24] iuhilnehc-ynos commented on #1519
@fujitatomoya

Thank you for your suggestion.

I think `lock a mutex twice` is also a simple type of deadlock,
so calling `std::unique_lock<std::shared_timed_mutex> lock(mutex_);` twice to throw EDEADLK is acceptable.

Based on your suggestion about throws exception in this case, so it's the users' responsibility to catch the exception.
I'll wait to hear others' opinions.

[2021-01-22 14:23] buschbapti commented on #1487
it definitely improves things but the rate is inconsistent. Here are some results:

[code]

Expected rate is 1khz which the SingleThreadedExecutor can follow perfectly fine. See the results above @iuhilnehc-ynos solution could track it more accurately.

[2021-01-23 02:23] fujitatomoya commented on #1487
@buschbapti thanks for checking. that really helps. according to https://github.com/ros2/rclcpp/issues/1487#issuecomment-742886519, it does have multi-threaded problem as i mentioned. so i'd like to go with @ivanpauno 's fix at this moment.

[2021-01-23 06:45] BaiCai1990 opened #1524 "rclcpp::spin_some(node) Occasionally crash."
## Bug report

**Required Info:**

- Operating System:
   Debian 10 buster
- Installation type:
  from source
- Version or commit hash:
  ref: refs/heads/master
- DDS implementation:
  Fast-RTPS
- Client library (if applicable):
  rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior
run normal
#### Actual behavior
When state switch from WALK to IDLE, the program will  occationally

[2021-01-23 07:08] wjwwood commented on #1524
Please use the issue template:

https://raw.githubusercontent.com/ros2/rclcpp/master/.github/ISSUE_TEMPLATE.md

It should have been pre-filled into your description when creating a new issue.

Also, please provide a traceback if you can. Though not specific to `rclcpp` the ROS Nav2 project has a nice tutorial for how to get this:

https://navigation.ros.org/tutorials/docs/get_backtrace.html

I'll

[2021-01-23 08:49] buschbapti commented on #1487
Perfect, at least it gives some pretty decent improvements and make it usable even at those frequencies. Thanks for taking care of this and thanks @ivanpauno for the solution.

[2021-01-23 09:23] BaiCai1990 commented on #1524
Done.
Thinks for your attention.

[2021-01-24 11:32] LouisChen1905 commented on #1519
@iluetkeb
Is it better for  the output behaviour  of `rclcpp`for users to be  independent of the configuration input by  `NodeOptions`. Since if `.use_intra_process_comms(true)` the code chrashes. If parameter is `false`, it runs without crashing. AFAK, the differencee between them is the different communicaton mechanisms leading to higher or lower efficiency. If one the options makes user's progr

[2021-01-24 17:26] hyunseok-yang opened #1525 "[Bug?] warning messages when set parameters through rclcpp::NodeOptions().arguments() function"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binary foxy latest version
- Version or commit hash:
  - dpkg -l | grep ros-foxy-rclcpp
  - ii  ros-foxy-rclcpp   **2.3.0-1focal.20201228.140355**          amd64        The ROS client library in C++
- DDS implementation:
  - Fast RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduc

[2021-01-25 01:52] fujitatomoya commented on #1525
No, this is not a bug.

as you see warnings, the syntax has been deprecated. `--ros-args` flag is introduced on Eloquent and later, you can refer to https://index.ros.org/doc/ros2/Tutorials/Node-arguments/.

[2021-01-25 01:54] fujitatomoya commented on #1525
@hyunseok-yang

if you don't have further question, i think we can close this one.

[2021-01-25 04:56] iuhilnehc-ynos commented on #1525
It seems a wrong format, please use the following,

[code]
or
[code]

[2021-01-25 07:29] y-okumura-isp opened #1526 "ASAN error in rclcpp_action test_server"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - build
- Version or commit hash:
  - 8d5af66858f3be48fc6513a560769155301d45d7
- DDS implementation:
  - FastDDS
- Client library (if applicable):
  - rclcpp_action

#### Steps to reproduce issue
Build with [ASAN](https://discourse.ros.org/t/introducing-ros2-sanitizer-report-and-analysis/9287) and run `t

[2021-01-25 08:05] hyunseok-yang commented on #1525
@fujitatomoya
yes, I know the deprecated syntax. @iuhilnehc-ynos  gave me a solution like above :)

I used wrong syntax in .arguments() api.

This format is working good! perfect :+1:
[code]

[2021-01-25 08:05] #1525 closed

[2021-01-25 08:11] fujitatomoya commented on #1525
@hyunseok-yang Yeah 😄 i was too early to reply, my bad sorry about that! anyway @iuhilnehc-ynos thanks for the follow-up 👍

[2021-01-25 13:00] iluetkeb commented on #1519
@LouisChen1905 I think you tagged me by mistake, right? I haven't been involved in this ticket before.

[2021-01-25 20:13] facontidavide commented on #715
I have been bitten by this too :(

[2021-01-25 22:26] RFRIEDM commented on #715
Me too! I ran into it in Foxy. We cannot use the same param files for `ComposableNode` as `Node`

[2021-01-26 02:44] #1526 closed

[2021-01-26 06:01] y-okumura-isp opened #1528 "ASAN error in rclcpp_action test_goal_handle"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - build
- Version or commit hash:
  - 8d5af66858f3be48fc6513a560769155301d45d7
- DDS implementation:
  - FastDDS
- Client library (if applicable):
  - rclcpp_action

#### Steps to reproduce issue
Build with [ASAN](https://discourse.ros.org/t/introducing-ros2-sanitizer-report-and-analysis/9287) and run `t

[2021-01-26 08:40] #1304 closed

[2021-01-26 08:41] fujitatomoya commented on #1299
@Barry-Xu-2018

i think everything's been addressed by now, could you confirm and help to close this one?

[2021-01-26 08:43] Barry-Xu-2018 commented on #1299
@fujitatomoya

Yeah. Please close it.

[2021-01-26 08:45] #1299 closed

[2021-01-26 13:26] ivanpauno commented on #715
The fact that in launch the parameters file format is different when using `ComposableNode` than when using `Node`, is a `launch` issue and not an issue in rclcpp, so I will close in favor of https://github.com/ros2/launch_ros/issues/156.

The other issues mentioned here seem to have been resolved.

[2021-01-26 13:26] #715 closed

[2021-01-27 18:50] #1528 closed

[2021-01-28 05:52] iuhilnehc-ynos commented on #1519
- refer to https://github.com/ros2/rclcpp/issues/1519#issuecomment-764560425

[code]

- PR to fix this issue

https://github.com/ros2/rclcpp/pull/1530

[2021-01-28 06:35] hsgwa opened #1531 "topic statistics results include measurement values out of window"
## Bug report

topic statistics results don't reset by window updating so that the results include values out of a window.
For instance, this behavior can cause steady-state results hidden if the maximum value is recorded at the start-up phase.

I think statistics results should be calculated within a window.

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - from s

[2021-01-28 23:59] fujitatomoya opened #1533 "Support sync_send_request in Service Client"
## Feature request

#### Feature description

Currently service client does not support `synchronous` send_request, but only `asynchronous`. thinking of affinity for ROS1 and [SyncParametersClient](https://github.com/ros2/rclcpp/blob/963b5bbea3d1face8d24707f60972e8e0e2b3fff/rclcpp/include/rclcpp/parameter_client.hpp#L263), it would be nice to support `sync_send_request`.

https://github.com/ros2/d

[2021-01-29 00:17] ros-discourse commented on #1533
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/my-ros2-minimal-examples-difficulties-coming-from-ros1/18705/4

[2021-01-29 01:35] clalancette commented on #1533
I've said this before elsewhere, but I think this is actually a bad idea.  It is just way too easy for a user to misuse.  You can see a full thread of my thoughts on it over at https://github.com/ros2/ros2_documentation/issues/901#issuecomment-726767782 .

Additionally, if a user *really* knows what they are doing, and really wants it to be synchronous, it is trivial to do so with a `future.wait()

[2021-01-29 07:30] fujitatomoya commented on #1533
@clalancette thanks for the guide 👍  it makes sense and i am with your consideration for this. i will keep this open for a week, if nothing comes up, i will close this.

[2021-01-29 10:29] matemat13 commented on #1533
@clalancette Why not give the user as many useful tools as he might need and let him decide what he wants instead of making decisions for him and assuming that he's too stupid to use the provided tools properly? This is not Java after all, this is C++, so why not stick with C++'s philosophy?

In the other thread that you mention (if I'm reading it correctly) you mostly argue that calling a service

[2021-01-29 15:58] klaxalk commented on #1533
Hey @clalancette, I would gladly use the `future.wait_for()`, however, it seems to block the whole program from finishing the service call. Maybe I am doing something wrong there. I made a minimalistic example [here](https://github.com/ctu-mrs/ros2_examples/blob/master/src/service_client_example.cpp) (one of the examples that spawned this issue) with other alternatives on how to make the mechanism

[2021-01-29 16:10] matemat13 commented on #1533
@clalancette

OK, I did not catch this information from that thread (admittedly, I've only skimmed through it). So are you talking about a situation where you only have a single thread processing callbacks in the ROS2 program? Then I can see how blocking this thread until a callback is processed can be a problem (since there is no free thread to process it).

However, although now I can better see

[2021-01-30 05:57] wjwwood commented on #1533
Right, in a single threaded executor it will deadlock because you need the future to be completed, which will not happen if you're not spinning, which you cannot do from within a callback that was executed as the result of spinning (e.g. another service callback, a subscription callback, or a timer callback).

A multi-threaded executor could allow you to wait for the future (the one created by an

[2021-02-02 08:11] stertingen commented on #1533
What about C++20 coroutines? (https://en.cppreference.com/w/cpp/language/coroutines)

[2021-02-02 13:24] UsatiyNyan commented on #1533
I also thought about that and made a lot of research by myself and got something pretty similar to what is in rclpy working in C++. Meaning I have some kind of task pool with call stacks of each async task. It is promising to be compatible with current Executor implementation but still needs work. If you are interested I can share my repo next week.

[2021-02-02 19:39] wjwwood commented on #1533
The new coroutines could be something we use in the future, but we only support C++17 right now.

Also, many of these frameworks require that you use their event loop to wait for events, and since we have to have `rmw_wait` which under the hood will call something like DDS's wait function, it's not possible for us to integrate this with existing event loops most of the time. Sometimes these are ca

[2021-02-03 00:10] sloretz opened #1539 "Foxy Flaky test: rclcpp_action.TestClientAgainstServer.execute_rcl_errors Fails: error taking result response"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - Source
- Version or commit hash:
  - 6756ccfb50590225c8f24d9c8b96d0598a124093
- DDS implementation:
  - Connext, CycloneDDS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior
Test always passes

#### Actual behavior

Occasionally fails with:

[co

[2021-02-03 01:40] #1519 closed

[2021-02-03 02:28] iuhilnehc-ynos commented on #1519
@LouisChen1905

Could you run your sample with `master` branch, at your convenience? Consider this PR breaking the ABI, I'll not provide a patch for `eloquent` or `foxy`.

If you have any questions, please reopen this. Thanks.

[2021-02-03 11:27] doisyg opened #1540 "Unify clock behavior between use_sim_time true/false"
## Feature request
It is my understanding that one can get very different behavior when asking for the node time when `use_sim_time` is `true` and the simulation time is published on the `/clock` topic, compared to when it is `false`.
See for instance this code that blocks forever in the timer_callback when `use_sim_time` is `true` and that behave properly when `use_sim_time` is `false`:

[code]

[2021-02-03 17:59] sloretz commented on #1539
I am able to reproduce it with colcon `--retest-until-fail` with a large number `>500`, but so far unable to reproduce with gdb.

Currently trying:

[code]

then
[code]

Where `client.c:318` is: https://github.com/ros2/rcl/blob/7ddea6c155fc4e6b4331f8c0de964f6e6f673cb1/rcl/src/rcl/client.c#L318

[2021-02-04 05:08] wjwwood commented on #1540
I think this should be "won't fix", as you shouldn't be blocking in a callback.

The reason it blocks is that you're using a single threaded executor (default for `rclcpp::spin()`), and it could be fixed by using a multi-threaded executor, but a well designed node should not depend on that.

If you need to have long running callbacks, I'd recommend instead having your own thread that can run those

[2021-02-04 05:11] wjwwood commented on #1540
It may not seem like it, but this is actually the same issue as https://github.com/ros2/rclcpp/issues/1533, which to generalize it is to "be able to wait on asynchronous things within a ROS callback safely". In this issue it's waiting on the message on the `/clock` topic to be handled and in the other issue it is waiting on the response from the service server to be received.

I'm actually gonna c

[2021-02-04 05:11] #1540 closed

[2021-02-04 09:02] doisyg opened #1542 "Insulate /clock callback on specific thread"
## Feature request
As discussed here: https://github.com/ros2/rclcpp/issues/1540. By design, and in the words of @wjwwood , by default it is NOT possible to "wait on asynchronous things within a ROS callback safely", see https://github.com/ros2/rclcpp/issues/1533
The issue (or more accurately behavior by design) is well know.
However with the current implementation of simulation time which listen

[2021-02-04 09:03] doisyg commented on #1540
Thanks for your detailed answer, I thought of using CallbackGroup to solve this issue and your example is very useful to show how to do it properly. And I agree and also identified the same issue as https://github.com/ros2/rclcpp/issues/1533
However I will open a new issue on the insulation of the `/clock` : https://github.com/ros2/rclcpp/issues/1542

[2021-02-04 12:36] doisyg commented on #1540
add_callback_group is not part in foxy, would it be possible to port it ?

[2021-02-05 10:35] wjwwood commented on #1540
Hmm, I don't think so. I could check again, but I think the changes are not easily modified to be ABI compatible with Foxy (the requirement for a back port). You'll have to either get it from source or wait for Galactic I think.

[2021-02-05 10:54] doisyg commented on #1540
I compiled from source from foxy branch + cherry pick of the commit adding this functionality and it works (but would be amazing if you find a way of backporting it at some point)

[2021-02-05 20:55] #1531 closed

[2021-02-05 22:16] sloretz commented on #1539
I was unable to reproduce in gdb or `rr record --chaos`, but am able to reproduce it on it's own with `--retest-until-fail`

[2021-02-07 07:29] zhoulaifu opened #1544 "Undefined behavior in subscription_options.hpp"
Undefined behavior is detected by running a unit test from the tf2_ros package with Undefined Behavior Sanitizer (UBSAN, https://www.kernel.org/doc/html/v4.14/dev-tools/ubsan.html).  The unit test used here is tf2_ros_test_message_filter from the geometry2 package.

Tested on ros2 eloquent.  The error points to `/opt/ros/eloquent/include/rclcpp/subscription_options.hpp:79:62: runtime error: refere

[2021-02-07 09:55] zhoulaifu commented on #1544
Just found out that the same error can be triggered by running tf2_monitor of geometry2, with Undefined Behavior Sanitizer on.

[code]

[2021-02-07 16:58] clalancette commented on #1544
@zhoulaifu Can you try with rolling or from sources instead of Eloquent?  Eloquent is out of support, and we've had more than a year of fixes since then, so these results aren't too helpful.

[2021-02-07 18:35] zhoulaifu commented on #1544
On foxy, these are what I got.
Let me know if you need a dockerfile to reproduce the errors.

[code]

[2021-02-07 18:52] zhoulaifu opened #1545 "Memory leaks: Error in destruction of rcl action client handle: the Node Handle was destructed too early."
Memory leaks are found when running test_buffer_client of tf2_ros. with the Address Sanitizer (https://en.wikipedia.org/wiki/AddressSanitizer) on.

Below is the error message. Let me know if you need a dockerfile to reproduce it.

[code]

[2021-02-08 01:00] fujitatomoya commented on #1545
@zhoulaifu

could you share the complete procedure to reproduce this issue? i want to check if this still happens in source build.

[2021-02-08 01:02] fujitatomoya commented on #1544
could we have a complete procedure to reproduce this issue? i want to check if this happens with source build.

[2021-02-08 09:17] zhoulaifu commented on #1544
You can use this Dockerfile [here](https://gist.github.com/zhoulaifu/747c31439ccda47c9502f17bfad5490e) to reproduce the environmental setting. In the docker container, you have a rox:foxy system with geometry2 compiled with the Undefined Behavior Sanitizer (UBSan). Then run the two binaries from the tf2_ros package to reproduce the bugs:

First, run ${ROS_WS}/build/tf2_ros/tf2_ros_test_message_fil

[2021-02-08 09:26] zhoulaifu commented on #1545
You can use this [dockerfile](
https://gist.github.com/zhoulaifu/230cd4a4d5b53c7040c59048a39a84e0
) to reproduce the environmental setting.

In the docker container, you have a rox:foxy system with geometry2
compiled with the Address Sanitizer (ASan). Then run the following
binary from the tf2_ros package to reproduce the bug.
${ROS_WS}/build/tf2_ros/test_buffer_client

Please let me know if anyth

[2021-02-08 12:12] wjwwood commented on #1521
I believe that this an issue with `rmw_cyclonedds_cpp`, because we don't specify the address to bind to in our code, so we have no choice over it. So that fact that it could not bind to the chosen address because it is in use is an issue out of our control.

I'll move the issue there.

[2021-02-08 13:16] fujitatomoya commented on #1544
I cannot reproduce this issue with source build https://github.com/ros2/ros2/commit/9552559b4d811f4cc613d5c65e3d560b18579b2c.

[code]

[2021-02-08 13:19] fujitatomoya commented on #1545
memory leak confirmed with source build https://github.com/ros2/ros2/commit/9552559b4d811f4cc613d5c65e3d560b18579b2c

[code]

[2021-02-08 13:25] fujitatomoya commented on #1545
could be similar with https://github.com/ros2/rclcpp/pull/1296

[2021-02-08 13:28] zhoulaifu commented on #1544
That is good to know. Thanks.

BTW, which ROS version do you refer to by "source build"? Does a bug reported on ROS foxy remain relevant?

[2021-02-08 13:47] clalancette commented on #1544
All of the development for ROS 2 is done on the "master" or "ros2" branches of the repositories.  After we fix whatever issues are happening, we then determine if we can backport it to still supported distributions (which are Foxy and Dashing at the moment).

You can build from source by following the instructions here: https://index.ros.org/doc/ros2/Installation/Rolling/Linux-Development-Setup/

[2021-02-08 20:30] zhoulaifu commented on #1544
@fujitatomoya   Perhaps you are aware of this: above, you were compiling with  `--packages-select test_tf2`, but later ran package in the command line but then ran a unit test in tf2_ros, `tf2_ros/tf2_ros_test_message_filter`. A bit strange. Maybe double check you indeed had compiled tf2_ros with ASan before doing the test.

[2021-02-08 22:26] zhoulaifu commented on #1544
Besides, @fujitatomoya . FYI, I just checked that the errors remain in ros:rolling, but I have not tried with the upstream branch.

[2021-02-08 22:35] clalancette commented on #1544
This actually looks similar to https://github.com/ros2/rclcpp/issues/849 , though this is for the `subscription_options` instead of the `publisher_options`.

[2021-02-08 23:06] fujitatomoya commented on #1544
yeah, my bad 😢 it's mixed up with https://github.com/ros2/rclcpp/issues/1545. but i reconfirmed that the problem is gone with master.

[code]

i've done quick code scan, i am not sure which commit fixes this issue yet.

[2021-02-08 23:45] fujitatomoya commented on #1544
I tried to use https://github.com/ros2/ros2/tree/foxy, but i was unable to reproduce the issue with my environment.

[2021-02-09 05:41] fujitatomoya commented on #1544
https://github.com/ros2/rclcpp/pull/1324 is not really related to this issue, though it will remove the `runtime error: reference binding to null pointer of type` because the error code will be removed. but it is originally introduced for different bug for allocate/de-allocate.

i believe that the problem here is not to use `get_allocator()` in `to_rcl_subscription_options`. the following could fi

[2021-02-09 07:28] fujitatomoya commented on #1544
@zhoulaifu it would be really appreciated if you had a chance to try https://github.com/ros2/rclcpp/pull/1547 to see if the problem is fixed on your environment.

[2021-02-09 08:19] zhoulaifu commented on #1544
@fujitatomoya  you said you were not able to reproduce the bug on Foxy. That looks like a bigger issue to me. I got the error with this [dockerfile](https://gist.github.com/zhoulaifu/747c31439ccda47c9502f17bfad5490e). Do you think there is anything wrong with my dockerfile?

I will check $1547

[2021-02-09 08:29] zhoulaifu commented on #1544
BTW, I suppose #1547 is on master but not on rolling yet, right? Is there a pre-built docker image corresponding to the master branch of ros2? So far the best I got is ros:rolling, but as @clalancette mentioned, ros:rolling is still behind master.

[2021-02-09 11:09] fujitatomoya commented on #1544
@zhoulaifu thanks for quick response!

along with https://index.ros.org/doc/ros2/Installation/Rolling/Linux-Development-Setup/, https://github.com/ros2/rclcpp/pull/1547 can be patched. (as far as i know, this procedure pulls repo file from master branch, that is the same source build environment that i have)

No, i don't think so. i use Ubuntu18 host system for development and docker images ubuntu

[2021-02-09 11:14] fujitatomoya commented on #1545
just sharing debug information.

<details><summary>stack trace via gdb</summary><div>

[code]

[2021-02-10 11:32] fujitatomoya commented on #1544
foxy backport: https://github.com/ros2/rclcpp/pull/1548

[2021-02-11 02:09] fujitatomoya commented on #1544
@zhoulaifu Just FYI, here is the foxy based fix: https://github.com/ros2/rclcpp/pull/1548

[2021-02-11 13:31] clalancette commented on #1544
@fujitatomoya Now that the fix has been merged both into master and foxy, can we close out this issue?

[2021-02-11 15:09] zhoulaifu commented on #1544
Is ros:foxy updated? Just tried with that one and got memory leaks. Maybe I misuse something, or maybe it is no more an rclcpp issue? tf2_ros_tesT_message_filter passes but triggers memory leaks; tf2_monitor now works.  I am testing with the same dockerfile.

[code]

[2021-02-11 15:14] clalancette commented on #1544
We've merged into Foxy, but we haven't done a release (which means it isn't in the binary packages yet).  So you'd have to build `rclcpp` from source on Foxy to see the fix.

In any case, though, what you are showing above is memory leaks, not undefined behavior.  This issue is particularly about fixing the undefined behavior we were seeing.

[2021-02-11 15:35] tylerjw opened #1550 "add_on_set_parameters_callback callback takes vector of parameters but only returns a single SetParametersResult"
https://github.com/ros2/rclcpp/blob/d9377dc740d4424d0740131e79cfdb2a31dcf87c/rclcpp/include/rclcpp/node_interfaces/node_parameters_interface.hpp#L40-L46

https://github.com/ros2/rcl_interfaces/blob/836c8653825f0cf6e6ee46d6a3837b370678004b/rcl_interfaces/msg/SetParametersResult.msg#L1-L7

https://github.com/ros2/rcl_interfaces/blob/836c8653825f0cf6e6ee46d6a3837b370678004b/rcl_interfaces/srv/SetPara

[2021-02-11 22:26] clalancette commented on #1524
@BaiCai1990 The information provided is more helpful (it shows us that it is down in the Fast-RTPS layer).  But it is much easier for us to debug if you can provide a completely compiling, working example.  Could you please do that so we can try to assign it to the right people?

[2021-02-11 23:25] jacobperron opened #1552 "test_multithreaded_executor is flaky"
## Bug report

**Required Info:**

- Operating System:
  - macOS
- Version or commit hash:
  - 09950ba

#### Steps to reproduce issue

Latest failure: https://ci.ros2.org/job/nightly_osx_release/1962/testReport/rclcpp/TestMultiThreadedExecutor/timer_over_take/

Looks like it has been failing for a while now, but not consistently:

https://ci.ros2.org/job/nightly_osx_release/1962/testReport/rclcpp/

[2021-02-12 01:51] fujitatomoya commented on #1544
@zhoulaifu i am closing this one, but just in case if you see the problem again, please do feel free to open another issue. thanks!

[2021-02-12 01:51] #1544 closed

[2021-02-12 01:58] clalancette commented on #1552
I did take a quick look into it a while ago, and I think it is a real bug.  If you look closely at when it fails, the timer is supposed to take *at least* 0.75 seconds.  If you look at the output there, it only took 0.4 seconds, so it is clearly expiring much too early.  macOS has the most "interesting" CPU scheduler of our target platforms, so that is likely why we only see it there.

[2021-02-12 08:14] wjwwood commented on #1550
I don't think this is actually a problem. The reason that the `OnParametersSetCallbackType` takes a vector of parameters to be set but returns only one result is that it could either be called as a result of setting one parameter or several parameters _atomically_.

The Service interface choose to call set parameter for each parameter, getting a separate result for each one. We could have another

[2021-02-12 08:19] fujitatomoya commented on #1550
btw, I think `SetParametersResult` and `SetParameters` are the other way around in your description. ([SetParametersResult.msg](https://github.com/ros2/rcl_interfaces/blob/master/rcl_interfaces/msg/SetParametersResult.msg), [SetParameters.srv](https://github.com/ros2/rcl_interfaces/blob/master/rcl_interfaces/srv/SetParameters.srv))

I don't see in that way. it is really clear to me that server tak

[2021-02-12 08:21] fujitatomoya commented on #1550
i was one step behind... :cry: after all, i agree with https://github.com/ros2/rclcpp/issues/1550#issuecomment-778047330

[2021-02-12 08:21] wjwwood commented on #1550
Annnnd we do 🙃

At least we agree 🤷

[2021-02-12 16:35] tylerjw commented on #1550
I don't understand what this means with respect to how I should implement the callback.  Should I expect to validate all parameters together as a group and only change the internal state if all parameters that I receive in the vector if all of them are valid to handle if the "automatic" functionality is turned on for that node?

If that's so should some documentation about this be updated to give

[2021-02-12 21:08] tylerjw commented on #1550
Point me to where I can submit a PR for documenting advice on implementing the callback and close this issue.  Now that I understand the concept of _automatic_ parameters the interface makes sense the way it is.

[2021-02-12 21:13] tylerjw opened #1553 "SyncParametersClient can't be used in component node"
Because `SyncParametersClient` calls `spin_until_future_complete` it can't be used in component nodes.

A workaround for this might be to have some way of discovering if the node is a component and then just calling `get()` on the future instead of trying to spin the node (as the Node should already be added to an executor and executing).  Another option would be to leave spinning the Node on an e

[2021-02-14 09:42] fujitatomoya commented on #1550
as a service client of application, you can choose either

https://github.com/ros2/rclcpp/blob/18b112fcce90ef41fb2a312dda59508f2164dc5e/rclcpp/include/rclcpp/parameter_client.hpp#L141-L147

or

https://github.com/ros2/rclcpp/blob/18b112fcce90ef41fb2a312dda59508f2164dc5e/rclcpp/include/rclcpp/parameter_client.hpp#L149-L155

you can also refer to the following services provided by service server,

[

[2021-02-15 07:35] fujitatomoya commented on #1553
i think this is related to https://github.com/ros2/rclcpp/issues/1533, since ParameterClients are based on services.

[2021-02-15 07:43] fujitatomoya commented on #1553
@tylerjw could you elaborate what you really want to do with more description or sample package that we can build with colcon workspace?

i think [component_container_mt](https://github.com/ros2/rclcpp/blob/master/rclcpp_components/src/component_container_mt.cpp) could solve your problem. to use that with launch file you can change the following into `component_container_mt`.

https://github.com/r

[2021-02-15 08:39] zhoulaifu commented on #1545
Just find out that the same memory leaks can be exposed by running three other binaries (besides `tf2_ros/test_buffer_client`) from `geometry2`, with Address Sanitizers on:

- `test_tf2/test_message_filter`
- `tf2_ros/buffer_server`
- t`f2_ros/tf2_ros_test_time_reset
`
The leaks can be reproduced on the ros:foxy docker with the same dockerfile above. I have not tested with the recent rclcpp though

[2021-02-16 13:57] clalancette commented on #1550
There are 2 places we can think about adding some documentation:
1. In the doxygen header block for [add_on_set_parameters_callback](https://github.com/ros2/rclcpp/blob/18b112fcce90ef41fb2a312dda59508f2164dc5e/rclcpp/include/rclcpp/node.hpp#L757).
2. In a new page/tutorial at https://index.ros.org/doc/ros2/

Which one we choose I think depends on how much content we are going to add.  If it is jus

[2021-02-16 22:19] suab321321 commented on #1454
@wjwwood I would like to start contributing to this, can you help me get started, I have built `rolling` from source, but I wont be able to do version control from there. So first I should fork this clone the forked, and then work on it right? But if I do this then how do I test whether my changes are compiling successfully?

[2021-02-16 22:34] wjwwood commented on #1454
You should use this file for development:

https://github.com/ros2/ros2/blob/master/ros2.repos

You can use git from there.

[2021-02-17 13:19] clalancette commented on #849
Running the rclcpp tests, I don't see any instances of this particular UBSAN problem anymore.  Thus I'm going to close this PR out.  If this is still a problem, please feel free to reopen and we can look at it again.

[2021-02-17 13:19] #849 closed

[2021-02-17 19:09] ivanpauno commented on #1524
@BaiCai1990 please also provide a multithreaded traceback (`thread apply all bt` in gdb), and what exactly was the error message and return code when crashing.

[2021-02-17 19:24] #1487 closed

[2021-02-18 02:18] clalancette commented on #1523
Well, we haven't seen this fail since that one time (almost a month ago).  It might be an extreme flake, but I'm just going to close it out for now and we can revisit it if it comes back.

[2021-02-18 02:18] #1523 closed

[2021-02-18 19:33] clalancette commented on #1542
Assigning to one of the rclcpp maintainers to decide what to do with this feature request; whether to put it on the backlog, help-wanted, or to close it out.  Once we have figured out the status, feel free to unassign yourself.

[2021-02-18 19:53] suab321321 commented on #1454
@ivanpauno is this issue not beginner friendly?

[2021-02-19 06:47] fujitatomoya commented on #1542
@doisyg could you elaborate a little bit?

isn't that supposed to be `synchronous`? if im not mistaken.

this means that clock topic is being published certain frequency, right? but it still gets stuck on subscription callback on topic `/clock`?

[2021-02-19 08:53] doisyg commented on #1542
These are @wjwwood words, but I believe asynchronous is the right term for anything going through topics.

Exactly, when `use_sim_time` is `true`,  it gets stuck on the subscription callback which is not executed while any other callback is served. Hence a node clock is not having the same update behavior from the user perspective when `use_sim_time` is `true` versus `use_sim_time` is `false` (whe

[2021-02-19 13:29] clalancette commented on #1542
While I will say that the difference between `use_sim_time = True` and `use_sim_time = False` is unfortunate, I will also say that the code you are using as an example is an anti-pattern.  In particular, it is a bad idea to do long sleeps from within callbacks.  That's because in the single-threaded executor case (which is the default), you are preventing *any* other callbacks from running in your

[2021-02-19 13:58] doisyg commented on #1542
I definitely agree that the example is an anti-pattern, but I believe the symmetry of behaviors between `use_sim_time = True` and `use_sim_time = False` should be independent from the good / bad coding practice.
The example given is extreme, but nonetheless, without knowing the internal mechanics of how the simulated clock is implemented, it is hard for a naive user to get that the clock that he's

[2021-02-19 17:23] ivanpauno commented on #1454
I'm not pretty sure what we want to do here, so resolving the issue involves first discussing what's desired.
After that is resolved, implementing it shouldn't be a problem, but the `good first issue` label doesn't feel accurate at the moment.
If you have any opinion of how it should work feel free to chime in.

I will try to reread the comments again in a few days and post something.

I also feel

[2021-02-20 03:26] fujitatomoya commented on #1542
thanks for sharing thoughts 👍

I really do not know this is anti-pattern or not, but just care about application perspective.

this makes sense to me, application does not want to adjust the sequence based on this parameter. (it can do, but does not want to, i guess)

would you care to share one actual use case, if you have? i am interested in it.

[2021-02-20 11:09] zhoulaifu commented on #1545
Besides, the same memory leak can also be triggered without sanitizers. Just compile with plain `colcon build` and run `tf2_ros/test_buffer_client` a couple of times triggers the bug on my machine.

`for i in {1..20};  do ${ROS_WS}/build/tf2_ros/test_buffer_client ;done`

[2021-02-20 19:09] doisyg commented on #1542
Any accurate usage of the node clock in a callback. I can think of time-stamping sensor data for instance

[2021-02-21 14:47] suab321321 commented on #1323
@clalancette should I follow @brawner and make it the `init_mutex_` mutable?

[2021-02-21 17:23] zhoulaifu commented on #1545
Sorry. Just realized the memory leaks have been addressed recently.

[2021-02-22 03:05] fujitatomoya commented on #1545
we've fixed some memory leaks in a couple of month, but i can still see this problem.

[2021-02-22 13:36] clalancette commented on #1323
Yeah, that is the usual way to deal with this problem.  Making `init_mutex_` mutable seems totally reasonable to me.

[2021-02-22 21:55] chapulina opened #1555 "👩‍🌾 New test failures: failed to create domain"
## Bug report

**Required Info:**

- Operating System:
  - macOS nightly CI (repeated)
- Installation type:
  - source
- Version or commit hash:
  - `master`
- DDS implementation:
  - default
- Client library (if applicable):
  -  `rclcpp`

#### Steps to reproduce issue

Run the same setup as macOS nightly CI.

#### Expected behavior

Test passes 100% of the time

#### Actual behavior

Some tests

[2021-02-22 22:08] chapulina commented on #1008
I think this may be a duplicate of #751.

This test is still flaky one year later. Here's the failure

[code]

On #751, there was a suggestion to "remove the upper bound condition on the test", which I think may refer exactly to the offending expectation, and @clalancette agreed at the time (2 years ago!) that it was a good idea.

---

https://github.com/osrf/buildfarmer/issues/161

[2021-02-22 22:49] wjwwood commented on #1555
I think this is a duplicate of https://github.com/ros2/rmw_cyclonedds/issues/281, which started out here, but I moved to rmw cyclone because it's not something rclcpp can control most likely. Though there's on going discussion there. Either way this is a duplicate I think.

[2021-02-22 22:49] #1555 closed

[2021-02-22 22:57] clalancette commented on #1008
Actually, I don't think we have the upper bound anymore.  I'm going to close out #751.

When I've looked into this in the past, it does look like a real bug in the multithreaded implementation.  That is, we are setting up a timer to expire once a second.  We should reasonably expect that timer to execute *no more than* once a second.  However, these failures show that sometimes callbacks happen mu

[2021-02-22 22:57] clalancette commented on #751
We don't actually have the upper bound anymore, so I'm closing this out.

[2021-02-22 22:57] #751 closed

[2021-02-24 19:19] ros-discourse commented on #588
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/the-design-of-waitable/19136/3

[2021-02-25 07:50] fujitatomoya commented on #1545
@zhoulaifu

could you try https://github.com/ros2/rclcpp/pull/1562? i tried more than hundreds times, no memory leak observed.

[2021-02-25 12:23] doisyg commented on #1542
PR here: https://github.com/ros2/rclcpp/pull/1556

[2021-02-25 17:12] azeey opened #1563 "👨‍🌾 Regression in Rci benchmark in ParameterClientTest"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - 4e7c3e7c71d26a3203c431a65d6a69a5cf121d67
- DDS implementation:
  - Default
- Client library (if applicable):
  - rclcpp

The test suite `ParameterClientTest` in `test/benchmark/benchmark_parameter_client`  started failing on build https://build.ros2.org/view/Rci/job

[2021-02-25 18:57] ivanpauno commented on #1563
Ups, thanks for reporting this!!!

[2021-02-25 20:29] #1563 closed

[2021-03-01 22:16] jacobperron opened #1566 "Node parameters callback called five times for changes to use_sim_time"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - from source
- Version or commit hash:
  - dc7e95aaa524f758ff8ccf903698065420f9cc48
- DDS implementation:
  - N/A
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Build the following node:
[code]

Run it and then set the `use_sim_time` parameter on it:

[code]

#### Expected

[2021-03-02 02:57] Karsten1987 commented on #1506
CI once more:

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=13774)](http://ci.ros2.org/job/ci_linux/13774/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=8639)](http://ci.ros2.org/job/ci_linux-aarch64/8639/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=11482)](http://ci.ros2.org/jo

[2021-03-02 09:54] fujitatomoya commented on #1566
This is because that after enabling `use_sim_time`, it will create subscription on topic `/clock` with qos_override enabled. so the following parameters will be declared after `use_sim_time`.

[code]

i think that these are meant to be exposed to control and override the QoS setting. i am not sure if this is bug or not.

i guess that this is because qos_override is not enabled. we can have the sam

[2021-03-02 13:20] ivanpauno commented on #1566
I think this is not a bug, seems to be ok behavior to me

[2021-03-02 13:21] ivanpauno commented on #1566
This also will happen the first time `use_sim_time` is set to  `True`, but not afterwards (because the qos overrides parameters are already declared the second time).

[2021-03-02 14:14] zhoulaifu commented on #1545
Just saw this. @fujitatomoya you mean try the newly merged one (related to another issue) ? By the way, I just realize that no Continuous Integration is used for rclcpp: https://index.ros.org/r/rclcpp/,  or I may misunderstand?

[2021-03-02 14:39] clalancette commented on #1545
Unfortunately, the index doesn't understand all of the ways we do Continuous Integration.  We actually have several forms of CI for rclcpp (and all of the core ROS 2 packages, for that matter).

Every time a PR is opened a "PR job" is run (you can see one of the runs for rclcpp [here](https://build.ros2.org/view/Rpr/job/Rpr__rclcpp__ubuntu_focal_amd64/911/)).  That job is helpful to give early fee

[2021-03-02 23:19] fujitatomoya commented on #1566
@jacobperron how do you think about this? on this, i am with @ivanpauno 's opinion.

[2021-03-02 23:24] jacobperron commented on #1566
I see, it due to the qos overrides parameters being declared.

While I agree it's not really a bug, it might be confusing to users (like it was to me). We already have a way for users to provide a validation callback for QoS overrides, so it doesn't seem necessary to additionally trigger parameter callbacks. I think this is briefly discussed in the [design doc](http://design.ros2.org/articles/qos_

[2021-03-02 23:25] fujitatomoya commented on #1545
@zhoulaifu

yes, you can use either rolling or foxy from the source. (I already did confirm the problem is gone, but just in case) or if it is okay for you to close issue, we can do that too.

[2021-03-03 00:39] fujitatomoya commented on #1566
as a matter of fact, so was I. probably these parameter events (happens only start-up time once, and read-only) should be concealed for user application, validation_callback is responsible to validate the overriding parameters at the start-up. it seems unnecessary event for user callback.

[2021-03-04 05:14] witignite opened #1569 "goal_handle attempted invalid transition"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Binaries
- Version or commit hash:
- DDS implementation:
- Client library (if applicable):
  - rclcpp
- ROS Version:
  - Foxy

#### Issue

It seems that if the function `handle_cancel` (passed to the function [`create_server`](https://docs.ros2.org/foxy/api/rclcpp_action/namespacerclcpp__action.html#aa

[2021-03-04 16:39] coalman321 opened #1570 "Rclcpp node crashes when using TinyXML inside service callback"
## Bug report
- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Binaries
- Version or commit hash:
  - Foxy
- DDS implementation:
  - default (FastRTPS?)
- Client library (if applicable):
  - rclcpp, TinyXML

#### Steps to reproduce issue
When using TinyXML inside a service to parse and manipulate an xml doc, the node will silently exit at the end of the service callback function.

see

[2021-03-04 17:17] coalman321 commented on #1570
I found some more interesting behavior. If I convert the TinyXML documents, and other objects to pointers and manage them manually, the node will function as expected.
The original behavior of the node exiting silently is still not clear, and is likely due to an object being de-referenced at the end of the function call when it had already been freed.

[2021-03-04 21:00] clalancette commented on #1570
I took a look at this, just because it is weird and I was curious.

As far as I can tell, yes, this is the case.  I'm pretty sure the problem is because of the line:

[code]

That is creating the `poseElem` as a stack variable, and then feeding it into the document.  But when the destructor for `TiXmlDocument` runs, it expects to be able to free that memory from the heap.  Since `poseElem` is on t

[2021-03-04 21:00] #1570 closed

[2021-03-04 21:36] zhoulaifu commented on #1545
@fujitatomoya Could you share a Dockerfile or something that specifies your environment where this bug disappears? Probably i misuse something as I still got the error with the following Dockerfile.
[code]

Perhaps something is wrong with this Dockerfile since it mixes rolling and foxy?

[2021-03-04 22:01] clalancette commented on #1545
Yes, that's a problem (we haven't backported all of the fixes from rolling to foxy).  You should change that to:

[code]

(notice that we checkout the `ros2` branch now)

[2021-03-04 23:07] zhoulaifu commented on #1545
@fujitatomoya  FYI,  I tried with a corrected dockerfile (thanks to @clalancette),

[code]
**I got no errors with a single run, but still got memory leaks after many runs**

- This is okay: `./build/tf2_ros/test_buffer_client`
- This triggers memory leaks again: `for i in {1..10}; do ./build/tf2_ros/test_buffer_client; done`

[2021-03-05 01:13] clalancette commented on #1545
Can you give us the stack trace of the leak?

[2021-03-05 01:14] coalman321 commented on #1570
That is a fair point, and I was able to get it running by converting it to pointers.
From a relatively new user perspective though it still was not entirely clear what was going on. It would be helpful if the node could give an indication that there was an error while executing the callback function itself, and not just silently exiting. Not sure if this is feasible though, but just a user experie

[2021-03-05 01:17] fujitatomoya commented on #1545
@zhoulaifu

i tried with source build https://github.com/ros2/ros2/blob/master/ros2.repos, cannot make that happen.

[2021-03-05 01:21] clalancette commented on #1570
Unfortunately, this is C++, and there is nothing we can do about it.  The code implemented in a callback can always cause a segfault, at which point all bets are off and the problem is completely out of our hands.

[2021-03-05 02:12] coalman321 commented on #1570
That is a good point. I have not used callbacks in c++ very much and was not sure if it would be possible.

[2021-03-05 12:37] zhoulaifu commented on #1545
Okay @fujitatomoya Then please ignore my message above.  I thought you meant that testing on rolling would be, in this case, the same.

Also, I do not know if this is easily doable: is it possible to have a Dockerfile published on the ROS website which specifies the build instructions of ROS2 from the latest source. In this way, if one finds a bug in a release version such as foxy,  he/she can rea

[2021-03-05 12:55] fujitatomoya commented on #1545
@zhoulaifu thanks for the consideration, please feel free to re-open or open new issue anytime 😃

[2021-03-05 12:55] #1545 closed

[2021-03-06 09:14] rpaaron commented on #491
If you don't mind duplicate a few layers of existing code:

[code]

is it safe to call `send_request` from some arbitrary thread?
Is there an existing mechanism for the main loop to wait on a promise? or other async structure?

[2021-03-08 12:10] fujitatomoya commented on #1569
i think this is supposed to happen, because application returns `rclcpp_action::CancelResponse::ACCEPT` after finish the request. i think application has full control of this, here are some examples i can think of.

- if executing prevails to cancellation, `handle_cancel` can check with `goal_handle->is_executing()`, and if that is true, it can return `rclcpp_action::CancelResponse::REJECT`.
- if

[2021-03-08 12:10] fujitatomoya commented on #1569
i see the same behavior with uncomment [publish_feedback](https://github.com/witignite/demos/blob/100fb00f7290714b260d4c12414f84265301551d/action_tutorials/action_tutorials_cpp/src/fibonacci_action_server.cpp#L120)

[code]

the same termination as following.

[code]

[2021-03-08 22:03] tfoote commented on #1552
This came up again last night on two separate builds with an even larger underun of 0.22 vs 0.75 seconds.

`/Users/osrf/jenkins-agent/workspace/nightly_osx_release/ws/src/ros2/rclcpp/rclcpp/test/rclcpp/executors/test_multi_threaded_executor.cpp:91
Expected: (diff) > (PERIOD - TOLERANCE), actual: 0.220429 vs 0.75`

Observed in [OSX nightly repeated](https://ci.ros2.org/job/nightly_osx_repeated/2275

[2021-03-09 20:14] mabelzhang commented on #1431
Closing based on comment above. Feel free to reopen.

[2021-03-09 21:07] mabelzhang commented on #1468
Looks like the associated PR has been merged. Can this be closed?

I didn't follow the entire discussion there but sounds like this is an okay fix for now, the more "appropriate" fix being more involved. If needed, a summarizing comment can be added here (and I don't know enough to write that comment), or we can close this and open a followup issue.

[2021-03-09 22:55] #1468 closed

[2021-03-10 01:48] guru-florida commented on #1468
Yes, fix as described here was merged. We discussed other options but opted for this simpler fix for now. Agreed, this ticket can be closed.

[2021-03-10 01:49] fujitatomoya commented on #1468
@mabelzhang @guru-florida thanks for checking and comments, it's been closed.

[2021-03-10 22:02] wjwwood commented on #491
I think so yes.

You mean like `rclcpp::spin_until_future_complete`? Maybe I'm misunderstanding the question though.

[2021-03-10 22:08] rpaaron commented on #491
I thought it may be necessary to return a `future<Response>` so that ROS could wait on it and send the response when it becomes available.
But if the user is free to call `send_request`, this would be simpler.  But reasonable to burden the user with this responsibility?

[2021-03-10 22:52] wjwwood commented on #491
I'm sorry, I don't exactly understand what you're asking. What might need to return a future? Do you mean `send_response` when you're asking if the user is free to call it?

[2021-03-10 23:04] rpaaron commented on #491
yes, sorry `send_response`.

[2021-03-10 23:09] rpaaron commented on #491
What would be the ideal API for this?  I have a couple of ideas.

First idea where ROS sends the reply as usual
[code]

Second idea, where its the users responsibility to finish the job
[code]

[2021-03-11 23:31] jacobperron commented on #1566
I think so. This is noted in the design doc, that we might just want to avoid user callbacks for read-only parameters.

[2021-03-11 23:37] clalancette commented on #1566
I'm mildly opposed to this.  One thing you can do today is install a parameter set callback, then declare all of your parameters, and you'll get a callback for all of them.  That way all of your parameter-handling code is in one place, and it is easy to add things there.  If we make it so that read-only parameters don't trigger a callback, then you have to split your parameter handling code over t

[2021-03-11 23:58] jacobperron commented on #1566
That's fair. Though in the case of `qos_overrides` parameters, we should probably avoid triggering user callbacks. If someone declines one of those parameter changes, the node blows up (core dump). I think this could easily happen by accident if a user isn't aware of this implementation detail.

[2021-03-12 01:45] jacobperron commented on #465
There's also a proposal to add common functionality to `rcl`: https://github.com/ros2/rcl/issues/898

[2021-03-12 13:37] ivanpauno commented on #1566
It shouldn't blow up, if the parameter is rejected it's just not applied and the original qos settings will be used.
I would expect anybody setting a parameter callback to be filtering by parameter names and only check for the ones they want, and accept the others.

[2021-03-12 13:40] ivanpauno commented on #1566
I would keep triggering the `on parameter set` callback in all `read-only` parameters including `parameter overrides`.
You can also use the qos validation callback which is more convenient for this case, but I would still trigger the others.

[2021-03-12 17:02] federicomassa opened #1580 "Inconsistent behaviour of spin_some after closing and reopening publisher"
## Bug report

**Required Info:**

- Operating System:
  - Pop!OS_20.04 LTS
- Installation type:
  - docker
- Version or commit hash:
  - ros:foxy
- DDS implementation:
  - default
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

This bug (if it is a bug) is probably not exactly reproducible as is on every device. On my system, the steps are:

-  Insert the following co

[2021-03-12 18:24] jacobperron commented on #1566
In this case, what is the original QoS? I didn't override any QoS settings, but I can reject the declared value and the node crashes.

I agree. I can close this particular ticket, but I'll open up a new issue related to the node crashing when I reject a qos override.

[2021-03-12 21:07] ivanpauno commented on #1566
ah yeah, that's true.
But well, you can also declare a parameter with a default value that doesn't pass the validation callback with the same consequence.

[2021-03-14 08:06] fujitatomoya commented on #1580
I do not think that this is bug, it is just about the frequency and QoS setting for publisher and subscription.

[2021-03-15 13:09] federicomassa commented on #1580
Interesting. Can you elaborate on why you think it should be expected behavior to have two different results during the first and the second iteration of the publisher? I mean, wouldn't it be desireable that it deterministically works (or not work)?

[2021-03-15 15:26] clalancette commented on #1580
For what it is worth, I can't reproduce on foxy on Ubuntu 20.04.  I can switch the publisher back and forth between the test strings, and the subscriber continues to receive them.  Indeed, if this didn't work, basically nothing in the ROS 2 ecosystem would work.

I'm not saying that there isn't a problem, just that there is probably something more involved going on here.  Possibly environment or d

[2021-03-15 19:07] rpaaron commented on #1454
seems much of the problem is the need to perform an action *before* (or after) some other action, requiring additional machinery to coordinate this in a multithreaded environment.  And theres not a lot of guidance about how best to go about that.
I understand the desire not to change the existing behaviour of the API, the conflicting desire to have functions behave consistently, and the question a

[2021-03-15 19:32] ivanpauno commented on #1454
@rpaaron that's a great example, you can already do that with `spin_until_future_complete()`:

[code]

[2021-03-15 20:57] rpaaron commented on #1454
thanks @ivanpauno .  Is this approach the current advice, in order to avoid a race condition here?
I've seen in other pull requests, and perhaps existing code that uses this kind of construction:
[code]
which seems like it would be vulnerable to a race situation, ie if the object is destructed before `executor_.spin()` is called in the new thread.
What should be the advice in this case?  Use a saf

[2021-03-15 21:29] ivanpauno commented on #1454
Yeah, that code looks racy.

I think that something like the example above would work.
The bad thing of using a flag is that you have to do some "busy-waiting" until the executor is actually cancelled, which is not great but also works.

[2021-03-16 00:55] fujitatomoya commented on #1580
my bad, i didn't mention on that. i cannot so far reproduce your problem. I also use container ros:foxy and also checked with source build based on ubuntu:20.04 container. (My env is AMD Ryzen 9 3900X 12-Core Processor and host system is Ubuntu18.04)

[2021-03-16 01:38] Karsten1987 commented on #1506
@fujitatomoya @clalancette What's the final verdict here? We'd like to get this in before the API freeze in order to move forward with ros-control in Galactic.
It looks like the rcl related PR (ros2/rcl#882) got approved, the rclcpp PR (#1507) is lacking an approval/review.

[2021-03-16 02:09] fujitatomoya commented on #1506
@Karsten1987

i will re-visit https://github.com/ros2/rclcpp/pull/1507 in today.

we could use at least another review for both, i guess.

[2021-03-16 05:10] witignite commented on #1569
@fujitatomoya Hmm, that's strange. I rechecked again with *uncommented* [`goal_handle->publish_feedback(feedback);`](https://github.com/witignite/demos/blob/100fb00f7290714b260d4c12414f84265301551d/action_tutorials/action_tutorials_cpp/src/fibonacci_action_server.cpp#L120) and the  [`execute`](https://github.com/witignite/demos/blob/100fb00f7290714b260d4c12414f84265301551d/action_tutorials/action_

[2021-03-16 20:56] rpaaron commented on #491
perhaps the least invasive approach is to have a different method name? eg `create_async_service`
[code]

[2021-03-16 23:37] squizz617 opened #1581 "Throwing exception while creating a service or a subscription on request can cause clients to wait forever"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04.5
- Installation type: From source
- Version or commit hash: Dashing (`e8cf066d`)
- DDS implementation: Fast-RTPS
- Client library (if applicable): Both rclcpp and rclpy

#### Steps to reproduce issue

1. Run `turtlesim_node`
[code]

2. Send request to topic `/spawn` with any invalid name (e.g., 256 bytes of "A"s)
[code]

3. The r

[2021-03-17 12:51] clalancette commented on #1581
Part of the problem is that there is no way we have currently to return an error from a service.  So if the service call fails, we just have no signaling mechanism to return to the client.

I agree that this is a problem, but I'm really not sure that handling this should be the responsibility of the `rcl` layer.  Doing it there means that none of the higher level code gets a chance to handle it if

[2021-03-17 23:36] wjwwood commented on #1581
We don't have the ability for a service server to signal an error and cause the client to fail, but we do have a timeout option for the client. It should give up after a while. If you have control over the service you could have an optional field to indicate an error occurred have the service server return that being set if it fails rather than crashing and causing the client to wait until its tim

[2021-03-19 08:26] AugusteBourgois opened #1585 "Declaration of parameter of type std::vector<int> won't build"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: binaries
- Version or commit hash: Foxy
- DDS implementation: Fast-RTPS
- Client library (if applicable): rclcpp

#### Steps to reproduce issue
1. Create a ros2 package
[code]
2. Create a simple node the declares a parameter of type `std::vector<int>` in file `src/test_vector_int.cpp`
[code]
3. Adjust the CMak

[2021-03-19 13:20] BriceRenaudeau opened #1586 "Create load_parameters and delete_parameters methods on rclcpp::[A]syncParametersClient"
## Feature request

#### Feature description
It would be great to add these two methods to rclcpp::[A]syncParametersClient:

1. `load_parameters` to do the same as `ros2 param load [node] [yaml_file]`
2. `delete_parameters` to do the same as `ros2 param delete [node] [parameters]`

#### Implementation considerations
Right now, I am using a system call to execute these two commands.

[2021-03-19 14:14] BriceRenaudeau commented on #1586
To delete a parameter one can use :
[code]

[2021-03-19 16:19] Karsten1987 commented on #1506
one more CI after rebase:
* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=13988)](http://ci.ros2.org/job/ci_linux/13988/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=8813)](http://ci.ros2.org/job/ci_linux-aarch64/8813/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=11683)](http://ci.

[2021-03-19 19:45] wjwwood commented on #1586
Makes sense to me, we only have them implemented in `rclpy`. Bonus points for considering if working it into `rcl` so `rclpy` and `rclcpp` can share the same implementation of these two functions makes sense.

[2021-03-19 19:51] wjwwood commented on #1585
Thanks for the thorough bug report! If anyone has time to investigate why this is, it would be appreciated.

I think what you're trying to do _should_ work, since it's initialization only, but we do only support `int64_t` and `double` under the hood, so if you use `vector<int>` or `vector<float>` it would be converted to `vector<int64_t>` and `vector<double>` respectively.

[2021-03-19 20:45] jacobperron opened #1587 "Avoid calling user parameter callbacks for "qos_overrides" parameter changes"
## Feature request

This is less of an explicit request, and more a question about how we should interact with user-defined parameter callbacks.

#### Feature description

If a user registers a callback with  `rclcpp::Node::add_on_set_parameters_callback()`, should the callback be triggered for any `qos_overrides*` parameters that are internally created by the node (since https://github.com/ros2/r

[2021-03-19 20:48] jacobperron commented on #1566
I've opened a separate ticket describing the issue related to `qos_overrides`: https://github.com/ros2/rclcpp/issues/1587

[2021-03-19 20:48] #1566 closed

[2021-03-20 07:51] fujitatomoya commented on #1323
done with https://github.com/ros2/rclcpp/pull/1578

[2021-03-20 07:51] #1323 closed

[2021-03-22 00:48] rpaaron commented on #1585
so `vector<int>` is not `std::is_convertible` to `vector<int64_t>`, and so no valid class can be deduced from the template.
Is there a consensus on the correct fix?  If so, perhaps this would make a good first issue?

Without knowing too much about the background, I think I'd want it *not* to silently convert these vectors, and perhaps instead a template specialization to give a more explicit erro

[2021-03-22 14:55] clalancette commented on #1587
I think we should do 2 regardless of what we decide elsewhere.  As you say, it is bad practice since we have the ability to have multiple callbacks.

For 3, I agree it is weird to pass some of the internal parameters and not others.  I would say that either we go all the way (and pass all of the internal parameters to user callbacks, like we have now), or none of the way (don't pass any internal p

[2021-03-22 17:16] wjwwood commented on #1585
Not sure, but it does seem like a small, self-contained issue that could make a good first issue.

Well, since it is initialization only, I don't actually see a problem with implicitly using the `vector<int>` to initialize a `vector<int64_t>`, since there's no risk of loss of precision and we were gonna allocate a new vector anyway (make a copy of the input).

Either way, an explicit specializatio

[2021-03-22 17:40] BriceRenaudeau opened #1589 "Add automatically_add_executor_with_node option on create_callback_group for rclcpp::LifecycleNode"
## Feature request

#### Feature description
When creating a callback_group for a lifecycleNode, the method `create_callback_group` uses the default value `true` for automatically_add_executor_with_node. It could be good to open this as a parameter like for rclcpp::Node.

#### Implementation considerations
It is possible to do it by using the lifecycle->get_base_node_interface.

[2021-03-22 18:32] wjwwood commented on #1589
👍

This would be a good first contribution for someone, but generally we would appreciate help with this change.

[2021-03-22 18:41] wjwwood commented on #1587
I think 2 is the right path, honestly.

We could try to separate "user" and "internal" parameters, but I'd recommend something like what we did with leading `_` in topic names, so that the creator of the parameter could decide if it is "hidden" by default or not just using the name, similar to `.name` in filesystems on Linux. Then we could not pass "hidden" parameters to these callbacks by default

[2021-03-22 19:31] jacobperron commented on #1587
I've added to the rclcpp API docs to encourage users to avoid rejecting unknown parameters: https://github.com/ros2/rclcpp/pull/1590

I can do something similar to Python.

I don't think we have any tutorials to update, but I can also add a note to Galactic about it.

[2021-03-22 22:31] jacobperron commented on #1523
I've seen this failure locally and in some PR jobs, e.g. https://build.ros2.org/job/Rpr__rclcpp__ubuntu_focal_amd64/1022/

[2021-03-22 22:33] Karsten1987 commented on #1506
With state machine options struct:
* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=14023)](http://ci.ros2.org/job/ci_linux/14023/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=8845)](http://ci.ros2.org/job/ci_linux-aarch64/8845/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=11718)](h

[2021-03-23 01:07] fujitatomoya commented on #1510
https://github.com/ros2/rclcpp/pull/1514 is merged, close this.

[2021-03-23 01:07] #1510 closed

[2021-03-23 06:18] k0suke-murakami opened #1591 "Callback is not called"
## Bug report

**Required Info:**

* Operating System: Ubuntu 20.04
* Installation type: binaries
* Version or commit hash: Foxy
* DDS implementation: Fast-RTPS
* Client library (if applicable): rclcpp

#### Steps to reproduce issue

1. Clone AutowareArchitectureProposal
[code]
2. Follow How to setup
https://github.com/tier4/AutowareArchitectureProposal.proj/tree/ros2#how-to-setup-1

3. Clone sub

[2021-03-23 10:16] k0suke-murakami commented on #1591
Not sure how it works, but changing DDS to cyclone_dds might resolve the issue.

[2021-03-23 15:40] mjeronimo commented on #1581
In general, I would say that it's the responsibility of the middleware to communicate the messages and the responsibility of the application to respond to application-level exceptions. In this case though, the middleware is throwing an exception to enforce a policy regarding the topic name length, but it's doing it on the receiving side where there is nothing that the receiving node can do about i

[2021-03-23 16:16] Karsten1987 commented on #1506
(hopefully) the last round before merging:
* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=14037)](http://ci.ros2.org/job/ci_linux/14037/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=8858)](http://ci.ros2.org/job/ci_linux-aarch64/8858/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=1

[2021-03-23 18:04] clalancette commented on #1581
I think that makes sense as long as we have the validation on *both* sides.  In the nominal case where users are using our libraries, then they'll get nice error messages on the client side.  In the more unusual case of someone integrating with ROS 2, but not using our libraries, we'll be defended from undefined behavior on the server side with the additional checks there.

[2021-03-23 18:27] Karsten1987 commented on #1506
closing with #1507 and https://github.com/ros2/rcl/pull/882

[2021-03-23 18:27] #1506 closed

[2021-03-23 18:27] wjwwood commented on #1581
In the example given, I do not thing there is an opportunity to do the validation on the sending side. It is being sent with `ros2 service call`, which has no knowledge of the semantic meaning for the fields of the request. It's only on the receiving side that this string is interpreted as a topic name.

So while "check on the sending side first", is a fine suggestion in general. I don't think it

[2021-03-23 18:31] mjeronimo commented on #1581
That's true, but I was thinking that using the CLI was just an easy way to demonstrate the issue. I'll leave it to @squizz617 to confirm or not.

[2021-03-23 19:39] squizz617 commented on #1581
Thanks for having a productive discussion regarding the issue!
You're correct @mjeronimo. I created this issue with an oversimplified example just for the sake of simplicity. I've actually built a testing framework for ROS-powered robotic systems, and running the prototype implementation revealed similar issues in some of the tested systems that do not handle exception on the server side. Enforcin

[2021-03-24 05:36] #1591 closed

[2021-03-24 14:54] BriceRenaudeau commented on #1586
Linked issue #1029

[2021-03-25 23:14] federicomassa commented on #1580
Thank you for your feedback! It's a pity that it's so hard to reproduce, I'll try to go deeper in the future and let you know if I find out something!

[2021-03-26 06:24] fujitatomoya commented on #1589
@BriceRenaudeau

thanks for the contribution 👍
i am going to close this since it's been addressed with https://github.com/ros2/rclcpp/pull/1594.

CC: @wjwwood

[2021-03-26 06:25] #1589 closed

[2021-03-26 15:52] Omega-Phone opened #1597 "Node parameter callback function never called"
## Feature request

#### Feature description
Hi, I'm trying to add a parameter callback function on a node, but I can't find how to make it work properly.

If I take the same node code as in https://github.com/ros2/rclcpp/issues/1566 things work as expected and I'm able to called the callback function even with a custom parameter (other than use_sim_tim). But I'm looking to put all this code into

[2021-03-27 11:10] KavenYau opened #1599 "node crashes while received a cancel request if the state is SUCCEEDED"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries or source
- Version or commit hash:
  - 47f21dab3d2c01710c8ea04784e970eec4a92e15
- DDS implementation:
  -  Fast-RTPS
- Client library (if applicable):
  - rclcpp (rclcpp_action)

#### Steps to reproduce issue

- I commented the code `std::lock_guard<std::recursive_mutex> lock(update_mutex_);`

[2021-03-28 13:29] fujitatomoya commented on #1597
because `rclcpp::node_interfaces::OnSetParametersCallbackHandle` is already gone when parameter gets updated.

actually there should be compile error something like this.

[code]

you can take a look at my sample based on yours, it works okay.

https://github.com/fujitatomoya/ros2_test_prover/blob/0e666c9ab7e60e45295b77e57164dfb39f79c760/src/rclcpp_1597.cpp#L27

[2021-03-28 13:30] fujitatomoya commented on #1597
since this is not bug for ros2, i am just go ahead to close. feel free to re-open if you have anything.

[2021-03-28 13:30] #1597 closed

[2021-03-28 14:02] fujitatomoya commented on #1599
@KavenYau thanks for opening issue.

i might be mistaken but, i am not really sure what exactly the problem is.

why? could you elaborate here? exception eventually goes to the application, and the process gets crashed since application does not catch it.

i do not think this could be a justification...exception is meant to be sent to user application, because this needs to be notify the user appl

[2021-03-29 12:58] BriceRenaudeau opened #1601 "What is "oh yeah destructuro""
## Bug report

Useless messages appear when killing a lifecycle node.

**Required Info:**

- Operating System:
Ubuntu
- Installation type:
Binary
- Version or commit hash:
master
- DDS implementation:
Cyclone
- Client library (if applicable):
lifecycle_node_interface

#### Steps to reproduce the issue
When killing my lifecycle node "assisted_teleop" this message appears:

[code]

#### Expected beh

[2021-03-29 13:10] christophebedard commented on #1601
It was introduced by https://github.com/ros2/rclcpp/pull/1507. Seems like it was just left behind and no one caught it.

[2021-03-29 13:58] #1601 closed

[2021-03-29 15:28] Karsten1987 commented on #1601
lol. Now y'all know my advanced debugging techniques ;-)

Thanks @ivanpauno for taking care of it!

[2021-03-29 17:42] nnmm opened #1604 "Add callback signature with MessageInfo to GenericSubscription"
## Feature request
Follow-up issue from https://github.com/ros2/rclcpp/pull/1452

#### Feature description
A generic subscription should have access to MessageInfo. This could be useful for rosbag2.

#### Implementation considerations

It seems to me like it could use `AnySubscriptionCallback`.

[2021-03-29 18:07] clalancette commented on #979
Given that we closed #1024, we can close this as well.  @jacobperron feel free to reopen if you think this is in error.

[2021-03-29 18:07] #979 closed

[2021-03-29 18:26] jacobperron commented on #979
I closed #1024 since there wasn't a clear path to a solution and I don't intend to spend more time working on it.
But maybe this is still something we want to tackle at some point in the future and worth leaving open; I'm not sure.

[2021-03-29 22:30] jacobperron commented on #1587
We have consensus that rejecting unknown parameters is bad practice. I've added documentation about this in the following places:

- https://github.com/ros2/rclcpp/pull/1590
- https://github.com/ros2/rclpy/pull/734
- https://github.com/ros2/ros2_documentation/pull/1267

I'm satisfied, so I'm closing this ticket. Feel free to continue commenting if you think there's more to be done.

[2021-03-29 22:30] #1587 closed

[2021-03-29 22:46] fujitatomoya commented on #1542
close this, since https://github.com/ros2/rclcpp/pull/1556 has been merged.

[2021-03-29 22:46] #1542 closed

[2021-03-29 22:49] fujitatomoya commented on #1601
lol 😆

[2021-03-29 22:54] jacobperron opened #1605 "Flaky test_lifecycle_node tests"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - 63e79223f98867ba00c059eb612438ca9461a2f7
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Induce some stress in one terminal
[code]

In another terminal run the test
[code]

#### Expected behavior

Tes

[2021-03-30 07:20] KavenYau commented on #1599
@fujitatomoya thanks for your reply.

Here is the backtrace. https://gist.github.com/KavenYau/c32ef04f62d9894ed1edeab2ef65b9e2

I think I can catch the exception here(https://github.com/ros-planning/navigation2/blob/41996f409fcd7b005cf779e0376273cee3de6d76/nav2_util/src/node_thread.cpp#L29).
Although the crashing problem is solved, it is alreadly outside of the node, like this code. And the node w

[2021-03-30 14:04] fujitatomoya commented on #1599
thanks for sharing additional information.

just to confirm, cz i am confused a bit.
so you saying that application callback returns `CancelResponse::ACCEPT` but system processes it with `CancelResponse::REJECTED` if exception happens? in application perspective, it is really strange behavior for me...if i am not mistaken.

i think current behavior is better. application is responsible to tell wha

[2021-03-30 15:39] clalancette commented on #1552
I'm going to close this one as a duplicate of #1008, since we see this on all platforms.

[2021-03-30 15:39] #1552 closed

[2021-03-30 21:42] #1605 closed

[2021-03-31 13:51] anaelle-sw opened #1611 "Callback not reached, using callback group and Fast-RTPS"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Binaries
- Version or commit hash:
  - [8.1.0](https://github.com/ros2/rclcpp/releases/tag/8.1.0) ROS2 Rolling
  - **Edit**: Also reproduced on latest release: [8.2.0](https://github.com/ros2/rclcpp/releases/tag/8.2.0) ROS2 Rolling
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):

[2021-04-01 00:17] fujitatomoya commented on #1542
i believe that rclpy has the same problem like this.

[2021-04-02 03:18] Karsten1987 opened #1614 "rclcpp::LifecycleNode is not en pair with rclcpp::Node"
The current lifecycle node lacks quite a bit of functionality (e.g. sub_namespaces) compared to rclcpp's node. They should ideally be en pair.

[2021-04-02 08:34] k0suke-murakami opened #1618 "High CPU usage when using MultiThreadedExecutor & TimerCallback"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - 2.3.0-1focal.20210225.215848
- DDS implementation:
  - cyclone_dds
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Clone test package: https://github.com/k0suke-murakami/multi_thread_sample
[code]
Build & Run
[code]

#### Expected beha

[2021-04-03 00:05] Karsten1987 commented on #544
After quite some time, I am happy to close this ticket with https://github.com/ros2/rclcpp/pull/1452

[2021-04-03 00:05] #544 closed

[2021-04-03 00:37] wjwwood opened #1619 "Deprecate the `void (shared_ptr<MessageT>)` subscription callback signatures"
We decided we wanted to do this (see discussion here: https://github.com/ros2/rclcpp/pull/1598#issue-601958688), but decided against doing it so close to the Galactic API freeze.

These are signatures in question:

https://github.com/ros2/rclcpp/blob/1037822a63330495dcf0de5e8f20544375a5f116/rclcpp/include/rclcpp/any_subscription_callback.hpp#L192-L214

[2021-04-06 14:02] KavenYau commented on #1599
Emm...
In this perspective. it's really strange. I'm sorry about misleading you.

In some cases, it's difficult to control it.

1. If now it is not publishing succeeded state, but handling cancel callback. so returns `ACCEPT`.
2. Once the cancel callback has returned. `ServerGoalHandleBase::_succeed` is called, and the goal_state has transformed to `SUCCEEDED`. Then waiting to erase the `goal_hand

[2021-04-09 01:13] fujitatomoya commented on #1618
checked with source build https://github.com/ros2/ros2/commit/0e6cc1ca0b89e236f7330857b3a623c2a0014663, i cannot reproduce the problem.

- terminal-1

[code]

- terminal-2

[code]

[2021-04-09 01:51] Karsten1987 commented on #1618
We had the same issue over at ros2-control: https://github.com/ros-controls/ros2_control/pull/275

Even without any load, the multithreaded executor would exhaust all CPU and could not achieve the desired update rates.

[2021-04-09 01:55] fujitatomoya commented on #1618
I think this can be also fixed by https://github.com/ros2/rclcpp/pull/1516, which introduces [MutexTwoPriorities](https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/detail/mutex_two_priorities.hpp) to reduce race condition for `get_next_executable`.

before [MutexTwoPriorities](https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/detail/mutex_two_priorities.hpp), it is re

[2021-04-09 06:19] mitsudome-r commented on #1618
@Karsten1987 @fujitatomoya

I'm writing on behalf of @k0suke-murakami. Thank you for your information. We have confirmed that the CPU usage decreased significantly on master. (We were originally testing on foxy)

Do you know if this feature is going to be back-ported to foxy?

[2021-04-09 07:45] fujitatomoya commented on #1618
good to know 👍 thanks for the confirmation.

as far as i see, it will break the ABI. so i guess it is unlikely to happen...but i think this could change user experience significantly.

@ivanpauno @clalancette what do you think about this backport?

[2021-04-09 12:05] clalancette commented on #1618
Yes, if it changes ABI, we can't put it into Foxy.  However, if someone were to come up with an ABI-compatible version of it, we could consider putting that into Foxy.

[2021-04-09 15:43] mitsudome-r commented on #1618
Thanks. We will take a deeper look into https://github.com/ros2/rclcpp/pull/1516 and see if we can do that without breaking the ABI.

[2021-04-09 19:54] ivanpauno commented on #1618
I cannot imagine a ABI compatible fix for this, but if someone can figure out a ABI compatible fix that would be great.

The bug is fixed in master though, so I think that we can close this ticket.
@mitsudome-r @k0suke-murakami do you think that's ok.

[2021-04-09 20:43] jacobperron commented on #1585
Interestingly, it looks like using the `NodeParametersInterface` directly works:

[code]

However, implicit conversion to `rclcpp::ParameterValue` does not work (I thought it would :shrug:):

[code]

[2021-04-12 21:24] ivanpauno commented on #1008
There was some investigation done [here](https://github.com/ros2/rclcpp/pull/1624#issuecomment-816069407).
https://github.com/ros2/rclcpp/pull/1628 will (hopefully) fix the issue.

[2021-04-13 00:54] #1618 closed

[2021-04-13 20:36] #1008 closed

[2021-04-14 16:32] flynneva opened #1630 "rclcpp::lifecycle cannot be used on windows"
## Bug report

while trying to see if we could build the [`ros-drivers/transport_drivers`](https://github.com/ros-drivers/transport_drivers) packages on windows I ran into this problem which seems to be a bug with `rclcpp::lifecycles`.

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - [binaries](https://ms-iot.github.io/ROSOnWindows/GettingStarted/SetupRos2.html)
- V

[2021-04-14 16:34] flynneva commented on #1630
[stdout.log](https://github.com/ros2/rclcpp/files/6312361/stdout.log)

here is the `stdout.log` from the build which might help with debugging

[2021-04-14 17:00] clalancette commented on #1630
For what it is worth, there are definitely demos and examples that use lifecycle nodes on Windows in the Foxy core.  One example is https://github.com/ros2/demos/blob/master/lifecycle/src/lifecycle_talker.cpp .  So while there might be a problem, it doesn't seem like it is completely broken.

Given the errors in the log there, this very much feels like some kind of missing command-line arguments o

[2021-04-14 17:32] flynneva commented on #1630
i was just using the simple `colcon build` commmand. for compiling on windows does there need to be specific arguments passed in? @clalancette

[2021-04-14 17:56] clalancette commented on #1630
Not usually, no.  Sometimes there needs to be something in the `CMakeLists.txt`, depending on what features you are using, but that isn't really that common either.  Getting the verbose compile-line output will be helpful here.

[2021-04-14 18:03] flynneva commented on #1630
`colcon build`:
[command.log](https://github.com/ros2/rclcpp/files/6312805/command.log)

`colcon build --symlink-install`:
[command.log](https://github.com/ros2/rclcpp/files/6312814/command.log)

[2021-04-14 18:12] christophebedard commented on #1630
just a random shot in the dark, but did you install Visual Studio (2019)?

[2021-04-14 19:47] flynneva commented on #1630
@christophebedard yes. and i can confirm I can compile on windows other ROS2 packages that are not lifecycle nodes.

[2021-04-14 19:56] flynneva commented on #1630
i think im going to go ahead and try to install ROS2 myself by downloading it rather than using the "choco install" approach.  thanks for the tips, ill go ahead and close this.

[2021-04-14 19:56] #1630 closed

[2021-04-15 07:37] DensoADAS commented on #1524
perhaps this is related to https://github.com/ros2/rclcpp/pull/1632 ?
I had at least a similar issue and solved it for me like this

[2021-04-15 16:20] ros-discourse commented on #773
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/code-smells-in-ros-code/19905/5

[2021-04-15 18:32] sloretz opened #1633 "cppcheck test times out on OSX"
## Bug report

**Required Info:**

- Operating System:
  -  OSX
- Installation type:
  -  source
- Version or commit hash:
  -  ec70642c553cce307e099af7802ae7cbe509bf1b
- DDS implementation:
  -  N/A
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

Run this job https://ci.ros2.org/job/nightly_osx_release/2029/

#### Expected behavior

#### Actual behavior

[code]

####

[2021-04-15 19:15] wjwwood commented on #1633
I think so. This isn't the first time we've had to raise it. `cppcheck` is just slow.

[2021-04-15 21:10] ivanpauno commented on #1633
We could make it faster though, the main reason it's so slow is that we're not passing preprocessor definitions (see https://github.com/ament/ament_lint/issues/270).

[2021-04-16 15:46] gftrobots commented on #1186
Is this issue still open? The ros2_control_node indicates in the source code that there is a dependency to this issue.

https://github.com/ros-controls/ros2_control/blob/master/controller_manager/src/ros2_control_node.cpp

[2021-04-16 16:23] flynneva commented on #1630
in case anyone from google ends up here.....I figured out my issue.

I had a bunch of typos in my code: `cylce` instead of `cycle`, mis-spelled class methods, etc.

In short: double check you've implemented all the lifecycle methods and spelled everything correctly....that should fix your issue.

[2021-04-16 16:47] clalancette commented on #1186
This one is still open, but this is not the issue that is referenced there.  That code references #1168 , which is still open.  That being said, we've fixed a lot of issues recently with the MultiThreadedExecutor and timers, so it would be worthwhile to retest the original problem and see if it is fixed.

[2021-04-18 04:02] fujitatomoya commented on #1611
I can reproduce this issue with provided samples. as far as i checked, on service server's subscription, fast-dds receives the event and notify wait_set via condition variable. (saying fast-dds seems to be okay)

[2021-04-19 08:06] adamdbrw opened #1637 "High CPU use of executor"
## Report

Ubuntu 20.04
Rolling
Both packages and my own build
Commit: 61fcc766f84848c5effabc999b639d684b63814a
Independent of rmw implementation (tested both FastDDS and CycloneDDS).

#### Steps to reproduce issue

This was first reported and confirmed by me when recording a rosbag2 (which uses SingleThreadedExecutor). Investigating CPU load, I noticed that the majority of resource use is due to

[2021-04-19 12:50] clalancette commented on #1611
The weird thing, though, is that the upper layers also seem to be doing the correct thing, as it works in CycloneDDS.  So I'm a bit confused as to where the issue is.

@MiguelCompany any thoughts on what might be happening here?

[2021-04-19 14:43] BriceRenaudeau opened #1638 "Possible memory leak in spin_some()"
## Bug report

When using `rclcpp::spin_some(node);`, the node resources increase forever.

**Required Info:**

- Operating System:
  -  Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - Rolling
- DDS implementation:
  - Fast-RTPS or CycloneDDS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Compile and execute this simple node.
[code]
Using `

[2021-04-19 14:51] clalancette commented on #1638
Can you be more specific on what version you are using?  Is it Foxy, is it Rolling?

[2021-04-19 16:15] clalancette commented on #1638
OK, yeah, confirmed.  It is definitely leaking in the latest from-source build as well.

[2021-04-20 03:35] fujitatomoya commented on #1638
confirmed this happens with https://github.com/ros2/ros2/commit/2c3dcb37040365ee5f09eede264cd05910134076. (cyclonedds and fastdds)

[code]

[2021-04-20 03:37] fujitatomoya commented on #1638
@Barry-Xu-2018 @iuhilnehc-ynos i guess this is high priority, we would want to take a look.

[2021-04-20 03:56] Barry-Xu-2018 commented on #1638
Okay. We check it now.

[2021-04-20 04:31] iuhilnehc-ynos commented on #1611
Hi all,

The main reason to cause this issue seems like the `guard_conditions` in `rmw_wait` can not be triggered after a new subscription created. (Notice that the `rmw_wait` in the new thread only care about `guard_conditions` at the beginning.)

We expected that `rmw_create_subscription` will update graph to call `GraphCache::associate_reader` that will call `GraphCache::on_change_callback_` to

[2021-04-20 04:53] iuhilnehc-ynos commented on #1611
I have added experimental source code as below, and then the behavior of `rclcpp_1611_server` on rmw_fastrtps_cpp is the same as rmw_cyclonedds_cpp.

[code]

[2021-04-20 05:03] iuhilnehc-ynos commented on #1611
I'll check whether there exist some other events that can be used.

[2021-04-20 08:01] Barry-Xu-2018 commented on #1638
The cause is related to below codes

https://github.com/ros2/rclcpp/blob/b8df9347a10bff383fdc8890c5b1bfdf16430d8f/rclcpp/src/rclcpp/executor.cpp#L59-L65

In the construct of `Executor`, one callback function is added to `on_shutdown_callbacks_` of `Context`
But in the destructor of `Executor`, this callback isn't removed from `on_shutdown_callbacks_`.

Test codes is
[code]
Executor is created cont

[2021-04-20 08:03] fujitatomoya commented on #1638
ah, i was one step behind... :cry:

i was going to say that. actually i believe that is correct, i confirmed that using gdb.

[code]

really huge list...

[2021-04-20 08:22] fujitatomoya commented on #1638
agree, this needs to be done. and `shutdown_guard_condition_` is shared with `weak_ptr`, so if `Executor` is already gone, this callbacks does not do anything via context shutdown.

i don't have it either.

[2021-04-20 08:26] fujitatomoya commented on #1638
@wjwwood @clalancette would you share your thoughts how we wanna go? after that, we can work on the fix. besides, i guess that this should be fixed in Galactic, but currently it requires to break ABI, i think.

[2021-04-20 13:03] clalancette commented on #1638
As a general comment, it is still fine to break ABI for bugfixes at this time.  So there is no trouble about doing that.

I need to look at this in more detail to see if I have any other ideas for solving it.

[2021-04-20 14:07] clalancette commented on #1638
In general, I like this idea.  My one concern with it is the lifetime of the Executor pointer vs. the Context, but as long as we can ensure that we won't run into trouble there, I think this is a good idea.

As far as I can tell, nothing in the ROS 2 core ever calls `get_on_shutdown_callbacks`.  Given how low-level it is, I think we could probably drop that API completely.  Worst case, if we reall

[2021-04-20 14:21] ivanpauno commented on #1638
SGTM

`Executor` retains shared ownership of the associated context https://github.com/ros2/rclcpp/blob/b8df9347a10bff383fdc8890c5b1bfdf16430d8f/rclcpp/include/rclcpp/executor.hpp#L542, so this should be fine.

---

I think `rclcpp::spin_some()` and alike should use a global executor instance instead of creating and destroying an executor each time (caveat: you cannot call `rclcpp::spin_some()` co

[2021-04-20 14:27] clalancette commented on #1638
Certainly that is more efficient; you won't have to allocate and initialize an Executor each time it is called.  Given where we are in Galactic, I'm somewhat hesitant to make a change that big.  As you say, it subtly changes the semantics of `rclcpp::spin_some`, so it might be a surprise to existing users.  And I think we can fix this particular issue without doing that, so I'll suggest we switch

[2021-04-20 14:30] ivanpauno commented on #1638
Yes, it's certainly not something to do for Galactic.
I only mentioned it as an improvement for the future, removing the shutdown callbacks as suggested should fix the memory leak.

[2021-04-20 15:56] wjwwood commented on #1638
I do not think it is a good idea to have `Executor` be known to the context...

Instead we could use `get_on_shutdown_callbacks()` to get the vector and remove the callback in the destructor of the executor (it returns a non-const vector).

Or we could have callback handles returned by `on_shutdown`, and then have a `remove_on_shutdown(handle)` that takes the handle to remove. We do something like

[2021-04-20 15:58] wjwwood commented on #1638
If we implemented the handle system with a remove function, then I could see making `get_on_shutdown_callbacks` return a const reference or a copy of the vector, at least.

[2021-04-20 16:09] ivanpauno commented on #1638
Yes, that's a good point.

The problem is that we're storing a `std::vector` of `std::function`, and all non `nullptr` `std::function` [compare non-equal](https://en.cppreference.com/w/cpp/utility/functional/function/operator_cmp).
i.e. we currently can't remove a on_shutdown_callback from the vector.

We could solve this by returning an identifier in `on_shutdown_callback()` (instead of returning

[2021-04-20 16:58] wjwwood commented on #1638
i.e. we currently can't remove a on_shutdown_callback from the vector.

Ah, ok, then we need the handle, something like you described or return a shared_ptr to them (not ideal) like here:

https://github.com/ros2/rclcpp/blob/b8df9347a10bff383fdc8890c5b1bfdf16430d8f/rclcpp/include/rclcpp/parameter_event_handler.hpp#L202-L203

We could also just use a static `uint64_t` to be a running counter, and s

[2021-04-20 16:59] wjwwood commented on #1638
Also, since we cannot use the non-const vector we should make it a copy/const-ref.

[2021-04-21 00:12] fujitatomoya commented on #1638
@wjwwood @clalancette @ivanpauno thanks for the thoughts.

i am good to go with this.

also agree.

@Barry-Xu-2018 would you take care of this fix?

[2021-04-21 00:14] fujitatomoya commented on #1638
related to https://github.com/ros2/rclcpp/pull/1632#discussion_r614334638

[2021-04-21 01:23] Barry-Xu-2018 commented on #1638
@wjwwood @clalancette @ivanpauno @fujitatomoya

Thanks for sharing your thought.
I will make this fix.

[2021-04-21 02:44] msy22 commented on #1231
Is this an issue that is going to or has already been fixed in Foxy? Currently I get this error when I call `spin_some` on a StaticSingleThreadedExecutor:

[code]

This is dispite the fact that the [StaticSingleThreadedExecutor API](https://docs.ros2.org/foxy/api/rclcpp/classrclcpp_1_1executors_1_1StaticSingleThreadedExecutor.html#details) clearly states that this is a public member function inher

[2021-04-21 07:51] iuhilnehc-ynos commented on #1611
After diving into the source code, I think I made a mistake at https://github.com/ros2/rclcpp/issues/1611#issuecomment-822965587.

1. Here is the correct location to [notify the executor](https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/node_interfaces/node_topics.cpp#L110:L118) while creating a subscription, not the `GraphCache::on_change_callback_`

2. The example of this issue uses

[2021-04-21 08:09] MiguelCompany commented on #1611
@iuhilnehc-ynos Thanks for the thorough checks!

I guess changing [this line](https://github.com/ros2/rmw_fastrtps/blob/7bb3563bebd20c3cae03231c2e321bf132651449/rmw_fastrtps_shared_cpp/src/types/guard_condition.hpp#L46) to a `notify_all` would do the trick. Would you mind checking?

[2021-04-21 08:42] iuhilnehc-ynos commented on #1611
@MiguelCompany

Thanks for your reply. Actually, I have tried that before, but it didn't work.

- rmw_cyclonedds

[code]

- rmw_fastrtps_cpp

[code]

Use `notify_all` instead of `notify_one` is not working. The conditionVariable_ in two threads is different.

[code]

[2021-04-21 15:39] fujitatomoya commented on #1637
@adamdbrw

Just FYI, there's been discussion on this stuff, https://discourse.ros.org/t/singlethreadedexecutor-creates-a-high-cpu-overhead-in-ros-2/10077. how about using [StaticSingleThreadedExecutor](https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/executors/static_single_threaded_executor.hpp)? which cannot collect entities dynamically, but it would be worth to see how much impr

[2021-04-21 15:59] adamdbrw commented on #1637
Thank you for the suggestion - it was something I checked right away looking through available executors. I checked the Static one, observed only minimal improvement in my case as described above, probably because it doesn't solve the core issue.

[2021-04-21 18:58] #1633 closed

[2021-04-22 02:12] iuhilnehc-ynos commented on #1611
I am considering if we could update [GuardCondition](https://github.com/ros2/rmw_fastrtps/blob/7bb3563bebd20c3cae03231c2e321bf132651449/rmw_fastrtps_shared_cpp/src/types/guard_condition.hpp#L27) as
- use a list to manage multiple [conditionMutex_ and conditionVariable_](https://github.com/ros2/rmw_fastrtps/blob/7bb3563bebd20c3cae03231c2e321bf132651449/rmw_fastrtps_shared_cpp/src/types/guard_condit

[2021-04-22 04:12] fujitatomoya commented on #1599
@KavenYau

see https://github.com/ros2/rclcpp/pull/1635#discussion_r618062059, now i see that not throwing exception is the way to do according to the action design. (my bad, sorry about that 😢 ) anyway, we could keep this open for discussion.

[2021-04-22 09:17] fujitatomoya commented on #1611
right.

https://github.com/fujitatomoya/ros2_test_prover/blob/080fb53d18ccaf6881ee9f155efbe0fd0b05c5cd/prover_rclcpp/src/rclcpp_1611_server.cpp#L49

this is taken care by

https://github.com/fujitatomoya/ros2_test_prover/blob/080fb53d18ccaf6881ee9f155efbe0fd0b05c5cd/prover_rclcpp/src/rclcpp_1611_server.cpp#L89

main thread `rclcpp::spin()` (thread id - 1)

callback_group_executor_thread_ will be i

[2021-04-22 10:01] iuhilnehc-ynos commented on #1611
Let me make it more clear, the reason why the condition variable can't be triggered in callback_group_executor_thread_ is that [detaching GuardCondition](https://github.com/ros2/rmw_fastrtps/blob/7bb3563bebd20c3cae03231c2e321bf132651449/rmw_fastrtps_shared_cpp/src/types/guard_condition.hpp#L61) will set the mutex and condition_variable with `nullptr` in the main thread(spin). so calling [rcl_trigg

[2021-04-22 10:08] MiguelCompany commented on #1611
The solution proposed [on this comment](https://github.com/ros2/rclcpp/issues/1611#issuecomment-824487651) may work. What bothers me is that [getHasTriggered()](https://github.com/ros2/rmw_fastrtps/blob/7bb3563bebd20c3cae03231c2e321bf132651449/rmw_fastrtps_shared_cpp/src/types/guard_condition.hpp#L75) will only return `true` for one of the conditions. That said if the only reason to add them is to

[2021-04-22 18:31] wjwwood commented on #1611
It would be great to have a new regression test to expose this problem.

[2021-04-23 02:41] KavenYau commented on #1599
Thanks!! :smile:

Just to be sure, is there someone handling this issue now? If not, I could make a PR for it.

[2021-04-23 04:08] fujitatomoya commented on #1599
i do not think so. you can just go ahead for it 👍

[2021-04-25 05:41] iuhilnehc-ynos commented on #1611
I'll add a test case for `rclcpp` firstly, and then update `rmw_fastrtps_cpp`, finally, I'll continue to update `rmw_connextdds`.

[2021-04-25 08:18] iuhilnehc-ynos commented on #1611
@wjwwood @MiguelCompany @fujitatomoya

Could you help to review these two PRs(https://github.com/ros2/rclcpp/pull/1640, https://github.com/ros2/rmw_fastrtps/pull/527)?

[2021-04-26 18:36] doisyg commented on #1638
Is there an expected time for a fix to land ? Or would you advise not the use `rclcpp::spin_some(node);` directly for the time being and work around it ? For instance declare an executor more globaly, link it to the node and then do `executor.spin_some();` locally ?

This is affecting or code in multiple places (and I bet we are not the only ones)

[2021-04-26 18:44] wjwwood commented on #1638
We're working on a fix in https://github.com/ros2/rclcpp/pull/1639. We'll land it in Rolling and Galactic I think (despite the API change). I'm not sure about backporting to other releases though.

[2021-04-26 18:53] doisyg commented on #1638
Great!

[2021-04-26 20:04] mauropasse opened #1642 "High CPU usage when using DDS intra-process communication"
CPU profiling of a ROS2 application shows that using the DDS intra-process communication uses almost twice CPU time than using the rclcpp IPC (handled by the intra-process manager).

This happens due the executor makes a copy of the message when a subscription is ready to take it: https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/executor.cpp#L628

The copy is made regardless of the use

[2021-04-27 05:00] fujitatomoya commented on #1642
@mauropasse thanks for detailed information, really interesting.

what about using [LoanedMessage](https://github.com/ros2/rclcpp/blob/fba080cf34256243705e45b1eadc1c49057b5896/rclcpp/include/rclcpp/loaned_message.hpp#L32) instead? the following seems to support zero copy via `LoanedMessage`, which means that application can write / read the same exact physical memory address. i believe that this c

[2021-04-27 08:33] irobot-ros commented on #1642
Yes, if it's possible we should try to reuse the logic for `LoanedMessages`.

The rclcpp code shouldn't really care about whether the message comes from the same process or from a different process via a shared memory layer, as long as the underlying DDS supports optimized intra-process communication.

[2021-04-27 15:56] asorbini commented on #1611
Is this allowed by design? Judging from the RMW implementations, it isn't a supported use case.

[2021-04-27 16:54] iuhilnehc-ynos commented on #1611
Actually, I thought about this before.
I don't know whether a non-supported use case means ros2 not support anymore even if a use case seems a very normal case.

[2021-04-27 17:14] asorbini commented on #1611
I think it could become a supported case, but it should be considered a new feature. As with any new feature, the implications of adding it should be vetted and qualified, designs should be created/updated, and the community should come to an agreement on whether to support it or not.

At this point, I read this issue like "this unsupported use case happens to work with one RMW implementation" mor

[2021-04-27 20:02] wjwwood commented on #1611
Using a single guard condition with two wait sets is not supported, but using two (or more) executors with a single node is supported. However, each executor used does not necessarily use the node's (single) graph guard condition. Usually that is waited on in one place and used to wake other waiting entities in turn with either a condition variable (in the case of the `rclcpp::GraphListener`) or b

[2021-04-27 20:07] wjwwood commented on #1611
I amended what I said.

[2021-04-27 20:37] mauropasse commented on #1642
Hi @fujitatomoya
I tested both CycloneDDS and FastDDS branches, but `LoanedMessage` can't still be used because:

https://github.com/eclipse-cyclonedds/cyclonedds/blob/iceoryx/src/core/ddsc/src/dds_data_allocator.c#L130 returns `false`
https://github.com/eProsima/rmw_fastrtps/blob/loan-messages/rmw_fastrtps_cpp/src/publisher.cpp#L299 is `false`

[2021-04-27 22:35] asorbini commented on #1611
@wjwwood thank you for looking into my question.

Could an alternative solution to this issue be rclcpp creating multiple graph conditions for each node, one per executor associated with the node?

This way RMW implementations would not have to support conditions attached to multiple waitsets.

[2021-04-27 22:44] wjwwood commented on #1611
That's definitely not supported. If that's happening then it's a bug in `rclcpp`.

[2021-04-27 23:01] asorbini commented on #1611
If I understand it correctly, the [solution](https://github.com/ros2/rclcpp/issues/1611#issuecomment-824487651) outlined by @iuhilnehc-ynos earlier in this thread seems to be going in that direction, hence why I asked (see also ros2/rmw_connextdds#51 which implements it for `rmw_connextdds`).

[2021-04-28 00:40] wjwwood commented on #1611
Ah, well then I misunderstood the fix. It is documented (though all the `rmw` docs are quite thin) that you cannot do this for a wait set:

https://github.com/ros2/rmw/blob/f9f4ef46f8dd3ef938526a1140a3c57c155a259f/rmw/include/rmw/rmw.h#L2400-L2401

So the bug is likely in `rclcpp`.

The (relatively) new `rclcpp::GuardCondition` class guards against this (as do the other entities) with the `exchang

[2021-04-28 03:31] iuhilnehc-ynos commented on #1611
So we need to add some state setting before
https://github.com/ros2/rclcpp/blob/fba080cf34256243705e45b1eadc1c49057b5896/rclcpp/src/rclcpp/executor.cpp#L239
such as,

[code]

add after https://github.com/ros2/rclcpp/blob/fba080cf34256243705e45b1eadc1c49057b5896/rclcpp/src/rclcpp/executor.cpp#L314
such as,

[code]

and expect the example of this issue to catch the exception.

Could you give me some

[2021-04-28 03:48] fujitatomoya commented on #1642
thanks for sharing, as far as i know about rmw_fastrtps, data structure has to be bound data type. sorry i am not sure about cyclonedds. (actually we've tried zero copy via rmw_fastrtps PRs, which works okay.)

i was hoping that could be one of them 😄

[2021-04-28 05:45] iuhilnehc-ynos commented on #1611
`creating multiple graph conditions for each node, one per executor associated with one graph condition of the node` seems work, if it's acceptable, I'll use this way.

[2021-04-28 06:40] fujitatomoya commented on #1611
Ah, it is clearly documented...i was thinking that this use case is okay, so i was expecting no constraints. @iuhilnehc-ynos
@ablasdel sorry 😢 my bad, appreciate for bringing discussion and reconsideration here 👍

although this works, i guess that is an enhancement. so probably we would want to create another issue on this?

i am bit inclined to do this, since this is not designed or recommended.