[2014-09-02 15:23] BobDean opened #2 "management of subscribers/publishers"
Not sure if this is the way to make a comment or not, so please forgive.

Why should create_X return a handle for a publisher or subscriber when that information can be managed internally? What flexibility does it provide? Most topics are openend/closed at start/shutdown, with a single type on a single topic.  With the current mechanism, there are 3 APIs: node, publish, subscribe.  If the Node man

[2014-09-04 03:03] wjwwood opened #3 "Consider renaming rclcpp::ok"
Discussed names were:
- `bool rclcpp::is_shutdown` and `bool rclcpp::is_not_shutdown`
- `bool rclcpp::is_shutting_down`
- `State rclcpp::state` and compare to predefined states
  - e.g. `while (rclcpp::state() == rclcpp::RUNNING)`
  - or `while (rclcpp::state() != rclcpp::SHUTDOWN)`

[2014-09-04 03:06] wjwwood opened #4 "Non deterministic double free or corruption on ctrl-c"
This has been observed in the `talker` using opensplice:

[code]

[2014-09-04 03:16] wjwwood opened #5 "avoid redundant memory allocations in wait_for_work"
This function, `wait_for_work` which is in the `rclcpp::Executor` class:

- https://github.com/ros2/rclcpp/blob/860f47829492c2c2c5441ae8e41e4478eebc202d/rclcpp/include/rclcpp/executor.hpp#L167
- TODO's:
 - https://github.com/ros2/rclcpp/blob/860f47829492c2c2c5441ae8e41e4478eebc202d/rclcpp/include/rclcpp/executor.hpp#L211
 - https://github.com/ros2/rclcpp/blob/860f47829492c2c2c5441ae8e41e4478eebc20

[2014-09-08 21:35] wjwwood opened #6 "timers: consider implementation of timers which uses wait thread"
Currently timers are naively implemented using a thread per timer, but it should be possible to implement the timers using a timeout argument to the `ros_middleware_interface::wait` function. This would potentially be much more efficient and at least more ellegant, as the total number of threads and `ros_middleware_interface::GuardConditionHandle`'s would be significantly reduced. A stepping stone

[2015-03-02 22:12] tfoote commented on #2
Sorry wrong button

[2015-03-03 23:18] wjwwood opened #8 "Add support for services API to rclcpp"
Acceptance Criteria:

- [x] make the services calls work
- [x] add an example

[2015-03-05 07:06] wjwwood opened #9 "move rmw_implementation?"
I think it made sense for `rmw_implementation` to be in the `rclcpp` repository when it only used by `rclcpp`, but now I think it probably belongs in `rmw`.

Thoughts?

[2015-03-05 09:48] dirk-thomas commented on #9
Since `rmw_implementation` is unrelated to and does not depend on any client library I would choose the `rmw` repository instead of `rclcpp`.

[2015-03-05 20:04] wjwwood commented on #9
Ok, unless someone disagrees I'll create a card for that and do it this sprint.

[2015-03-05 20:04] #9 closed

[2015-03-05 20:07] wjwwood opened #10 "Move rmw_implementation to the rmw repo"
Currently this repository contains the `rmw_implementation` package which provides an interface to list and select an implementation for the `rmw` API. It also sets the default implementation. We agreed that it should be in the `rmw` repository as a peer to the `rmw` package instead.

Acceptance Criteria:

- [x] `rmw_implementation` package moved
- [x] git history preserved
- [x] ros2 is still bui

[2015-03-07 00:14] esteve commented on #4
Happens for me too with `libopensplice64`, but haven't been able to reproduce it with `libopensplice63`

[2015-03-07 09:52] dirk-thomas commented on #10
It was a bad idea to move it into the `rmw` repository since that generates a bad dependency chain:

    rmw_implementation (in rmw) -> rmw_opensplice_cpp (in rmw_opensplice) -> rwm (in rmw)

That was actually the reason why it was not in the rmw repo before.

[2015-03-07 09:54] dirk-thomas commented on #10
![ament_graph](https://cloud.githubusercontent.com/assets/1335366/6540931/3ff298cc-c4b8-11e4-9e1f-95f6a0694bb1.png)

[2015-03-07 09:55] dirk-thomas commented on #10
For the same reason `rosidl_default_generators` should be moved out of the `rosidl` repo.

[2015-03-07 10:31] wjwwood commented on #10
What's wrong with the dependency chain? Just that you can't easily get `rmw` without the `rmw_implementation` package?

[2015-03-07 10:57] dirk-thomas commented on #10
Two repositories depending on each other is a not desired circular dependency.

[2015-03-07 22:11] wjwwood commented on #10
Ok, I agree, then what should we do? As I see it we can either move `rmw_implementation` to a different existing repository or move it to its own repository.

I am leaning towards its own repository, but it would be nice to not have yet another repository to deal with.

[2015-03-07 23:47] dirk-thomas commented on #10
I share your concern to keep the repo count low. But I don't think it fits well into any of the existing repos and therefore I also lean towards a new separate repo.

[2015-03-09 19:02] #8 closed

[2015-03-10 20:57] wjwwood opened #13 "Configure and Enable clang_format QA tool"
We have a tools for checking our code with `clang_format` but it is not configured to our liking yet.

Acceptance Criteria:

- [ ] Decide on a configuration with the team
- [ ] Reenable the linter
- [ ] Create tasks for fixing failing packages

[2015-03-10 21:36] #13 closed

[2015-03-10 21:36] wjwwood commented on #13
Reopened as ros2/ros2#13

[2015-03-30 21:39] dirk-thomas commented on #4
The new unit test added in ros2/examples#7 fails for exactly that reason. Both executables (`test_publisher`, `test_subscriber`) return code 134.

[2015-03-31 01:46] wjwwood commented on #10
What should we call this repository? Just `rmw_implementation`?

[2015-03-31 05:30] dirk-thomas commented on #10
I don't have a better suggestion and would therefore suggest to keep the name as-is.

[2015-03-31 18:39] wjwwood commented on #10
The new repository is here: https://github.com/ros2/rmw_implementation

[2015-03-31 18:43] wjwwood commented on #10
Ok, I've opened pull requests to address the move. Please review.

[2015-03-31 19:15] dirk-thomas commented on #10
lgtm

[2015-03-31 23:26] #10 closed

[2015-04-01 00:38] #4 closed

[2015-04-20 20:24] esteve opened #21 "Pass request header to server callbacks"

[2015-04-22 21:05] #21 closed

[2015-05-05 20:22] dirk-thomas opened #29 "support lamba in create_service"
This blocks writing the service tests in ros2/ros2#42.

[2015-05-18 21:34] dirk-thomas commented on #29
Addressed with #33.

[2015-05-18 21:34] #29 closed

[2015-05-26 22:00] tfoote opened #35 "Add support for a service response callback with request payload embedded"
This was identified as potentially valuable during the parameter API review.

The use case is that there are a sequence of queries in a request, the response objects can be sorted in the same order as the requests, instead of requiring the response to be entirely self describing.

[2015-06-19 23:21] esteve opened #44 "Fix 'broken promise' error in parameter client"

[2015-06-24 23:53] dirk-thomas opened #48 "refactor into library"
Currently all functions are defined in the header files directly. This makes it impossible to create executables from multiple C++ files since each will include its own version of the symbol and then collide at link time.

[2015-06-25 21:19] esteve opened #49 "Add support for parameter events in the synchronous parameters client"

[2015-06-25 22:55] #44 closed

[2015-06-26 20:29] #49 closed

[2015-06-30 18:03] esteve opened #52 "Subscriptions are not triggered sometimes"
In the parameter events examples, the callback function is not always triggered. However further testing shows that the data was received, but the executor didn't trigger the callback. This may indicate that there's an issue in the way SingleThreadedExceutor is used.

[2015-07-01 23:12] wjwwood commented on #48
To be changed: https://github.com/ros2/ros1_bridge/commit/b41b472b7b4f18257196e16de342ccc4e8f870ba#diff-d1066de058a30ec5a5edd4febc16451cR23

[2015-07-01 23:20] dirk-thomas commented on #48
Also to be changed: https://github.com/ros2/ros1_bridge/commit/587ec6ede433a36ef159b2d4a95253082d9e3aee#diff-af3b638bc2a3e6c650974192a53c7291R98

[2015-07-07 21:11] gerkey commented on #52
Happens in OpenSplice and Connext, so it's likely in our code somewhere.  Consider writing a test that reproduces the problem.  Also walk somebody else on the team through the problem.

[2015-07-10 00:12] dirk-thomas opened #54 "allow to start a node without a ParameterEvent publisher"
For unit tests it would be good to start nodes without any additional overhead as it simplifies debugging.

https://github.com/ros2/rclcpp/blob/5baa5195dbad2ab04a571d3f51ca39d0df5a1bd1/rclcpp/include/rclcpp/node_impl.hpp#L60-L61

[2015-07-22 18:47] jacquelinekay commented on #5
This was resolved by https://github.com/ros2/rclcpp/pull/56, correct?

[2015-07-22 19:49] wjwwood commented on #5
I don't think so because we still `malloc` and `free` each time we go through the loop. I think to resolve this ticket we need to have the default memory strategy only `malloc` or `realloc` when there is not enough space, otherwise reusing memory already allocated.

[2015-07-28 00:24] jacquelinekay commented on #6
Assigning this to myself and thinking about it this week because of its relationship to real-time performance.

[2015-07-30 23:48] dirk-thomas commented on #52
The same fix as implemented for subscriptions (https://github.com/ros2/rmw_connext/pull/62 https://github.com/ros2/rmw_opensplice/pull/57) needs to be applied for server and client.

[2015-08-04 20:12] tfoote opened #75 "ParameterVariant constructor with hard coded string gets interpreted as bool"
`rclcpp::parameter::ParameterVariant("bar", std::string("hello"))` is intepreted as a string correctly.
`rclcpp::parameter::ParameterVariant("bar", "hello")` is interpreted as a bool with value true.

From testing in ros2/system_tests#14

[2015-08-04 20:30] jacquelinekay opened #76 "Ordered single-threaded executor"

[2015-08-04 20:31] jacquelinekay opened #77 "Lock-free executor"

[2015-08-04 20:50] dirk-thomas commented on #52
We will try to write a test which fails before and passes afterwards. E.g. similar to the subscription: calling two services, spin and likely the second request is never handled.

[2015-08-04 21:25] tfoote commented on #75
Probably need a const char * constructor explicity.

[2015-08-04 23:43] #75 closed

[2015-08-10 16:21] #6 closed

[2015-08-13 21:54] jacquelinekay opened #85 "Add implementation of `spin_some` for `MultiThreadedExecutor`"

[2015-08-13 22:03] jacquelinekay opened #86 "Pub/sub across different nodes in same executor does not work"
Branch `multiple_nodes` in `system_tests`, package `test_rclcpp`, illustrates this bug:
https://github.com/ros2/system_tests/tree/multiple_nodes

Case 1 fails:
node1 and node2 are both added to one executor.
node1 publishes "foo", node2 subscribes to "foo"
node2 publishes "bar", node2 subscribes to "bar"
Both publishers publish 5 times.
0/5 messages are received for both subscribers.

Case 2 passe

[2015-08-13 22:22] wjwwood commented on #86
Is this consistent across vendors?

[2015-08-13 22:24] jacquelinekay commented on #86
Actually, it looks like it's specific to Connext. I should probably move
this issue from rclcpp to rmw_connext, then.

On Thu, Aug 13, 2015 at 3:22 PM, William Woodall <notifications@github.com>
wrote:

[2015-08-13 22:27] #86 closed

[2015-08-25 01:20] dirk-thomas opened #95 "services are broken in multiple ways"
* `add_two_ints_server__rmw_opensplice_cpp` / `add_two_ints_client__rmw_opensplice_cpp`: the server receives additional uninitialized requests
* `test_replier_cpp__rmw_opensplice_cpp` / `test_requester_cpp__rmw_opensplice_cpp` has the same problem - the test does not cover that (even with ros2/system_tests#34) since the client succeeds

* `add_two_ints_server__rmw_connext_cpp` / `add_two_ints_clie

[2015-08-25 16:19] esteve commented on #95
I've created three tickets to track these issues, thanks for testing these cases. I wonder what may have changed, the latter two examples used to work fine and I hadn't seen the first issue, but I can reproduce these issues on my local machine.  I created a branch with tests to exercise some of these cases: https://github.com/ros2/system_tests/tree/test-services

[2015-08-25 16:38] #95 closed

[2015-09-01 01:51] esteve opened #101 "add_two_ints_* binaries do not work on Windows"
However, they work fine if built from source.

[2015-09-01 01:52] #101 closed

[2015-09-02 22:08] wjwwood commented on #48
I'm going to work on this, since my prototyping is now stalled on being able to build things into separate object files and then combine them later into a library or executable.

[2015-09-08 21:17] jacquelinekay opened #103 "Real-time safe intra-process communication"
- [ ] Implement RT allocator and incorporate into examples and demos
- [ ] Implement lock-free synchronization alternative to the mutex in publisher (`intra-process_publish_mutex`) ros2/rclcpp#77
- [x] Extract memory allocations from `take_intra_process_message` and `store_intra_process_message` for pool alternative (solution: allocator template)
- [x] Alternative for `std::map` in `IntraProcessMa

[2015-09-08 21:17] jacquelinekay opened #104 "Real-time safe services"

[2015-09-08 21:17] jacquelinekay opened #105 "Real-time safe parameters"

[2015-09-11 00:53] jacquelinekay commented on #85
This relates to the upcoming discussion about the rcl API: how should we define the "spin" functions in Executor?

`spin`: Blocking call, do work indefinitely as it comes in.

`spin_once`: Do one "cycle" of work, with optional timeout. In a single-threaded executor, this means executing the first available executable. In a multi-threaded executor, does this mean executing exactly one executable, o

[2015-09-12 02:38] BobDean commented on #104
there are a couple of open items with out descriptions. If those could be populated, even with something simple, it would help understand what is being worked on but is not yet in the public repos.

[2015-09-12 05:24] BobDean opened #108 "nodelets vs thread pool"
If I understand this executor correctly, it's is a somewhat standard thread pool. there are n threads and m executable things. is it intended that "nodelets" will run under a similar scheme? I.e. That nodelet X will not be tied specifically to thread Y for the duration of the nodelet lifecycle?

[2015-09-12 15:14] gerkey commented on #104
@BobDean: FYI, everything we're doing is in public repos, but perhaps on branches.  But I take the point about having more descriptive tickets, as it gives more information about what remains to be done (which will hopefully make it easier for external contributors to pitch in).

[2015-09-12 15:37] BobDean commented on #104
@gerkey my "public" comment was due to reading tickets which seemed to relate to something on the developers machine, which I did not see when browsing the github source. So maybe the ticket progress/resolution had not been pushed to github yet. Which is fine, that's how software development goes. The description would let me fill in the gap while browsing.

[2015-09-12 16:00] BobDean opened #109 "parameter client question"
so...
node caches parameters locally.
but sends them out to the parameter_event channel... so if all nodes are up, all nodes can get the events.
but it seems the parameter server does not listen to this channel, it relies on a service to set params in its cache.  the server requires a separate api for access (parameter_client).
are the parts just not hooked up yet? or am i missing something?

[2015-09-12 16:07] BobDean opened #110 "Context class"
why was the Context pattern chosen over a traditional Singleton pattern?

[2015-09-12 22:47] dirk-thomas commented on #110
From my point of view when using dependency injection (which the context object is) the code can usually be used more flexible. Especially when it comes to testing it is much easier with DI then when the code uses singletons internally (which the ROS 1 code relies on heavily).

Just a few random references on the topic:
* http://googletesting.blogspot.de/2008/05/tott-using-dependancy-injection-to.

[2015-09-14 17:07] jacquelinekay commented on #108
Yes, the multi-threaded executor that is currently implemented will not tie work coming from a particular node to a particular thread.

[2015-09-14 17:17] wjwwood commented on #108
The executor could be more sophisticated and have some notion of affinity. We don't currently have this, but it would be interesting to try it out to see if our abstractions provide enough information to achieve it.

[2015-09-14 17:23] tfoote commented on #109
Hmm it looks like we've overlooked the parameter design document.

I'm working up a draft design document that I hope can answer most of your questions. https://github.com/ros2/design/issues/57

[2015-09-14 17:27] jacquelinekay opened #111 "Add tests for spin_until_future_complete"
A recent PR ros2/rclcpp/pull/107 added a return code and a timeout to this function. We should add tests for this function to test_rclcpp (and possibly for other Executor::spin functions).

[2015-09-14 17:40] jacquelinekay commented on #108
Agreed. I'm not sure what @BobDean had in mind when he opened this question, but one use case I see for thread affinity is prioritizing work from a certain node by scheduling it in a high-priority/realtime thread.

It should be fairly easy to implement a "ThreadAffinityExecutor" (or whatever we want to call it), since the `AnyExecutable` struct has a shared pointer to the parent node of the execut

[2015-09-14 17:43] BobDean commented on #108
I am wondering about its applicability to tightly timed nodes, and the ability to debug multi-threaded behavior when the worker is moving between threads between executions. what is the use case for the multithreaded executor? did i miss it on the design docs?

[2015-09-14 17:56] jacquelinekay commented on #108
I think the use case for the multi-threaded executor is to take advantage of multiple core systems to execute as many jobs in parallel as possible. Though I also don't recall seeing it mentioned in the design documents. If you take a look at `multi_threaded_executor.hpp`, it uses `std::thread::hardware_concurrency` to  determine the number of threads to spawn:

https://github.com/ros2/rclcpp/blob/

[2015-09-14 17:59] wjwwood commented on #108
Well, there is also the callback groups, which can prevent certain user provided code from being run in parallel or in a reentrant fashion. This might let the user avoid having their own synchronization patterns and can allow the system to avoid things like locking the worker threads. See my roscon talk:

http://roscon.ros.org/2014/wp-content/uploads/2014/07/ROSCON-2014-Why-you-want-to-use-ROS-2.p

[2015-09-14 18:18] wjwwood commented on #110
It's also worth noting that if you do not specify a Context, nodes use a singleton Context.

[2015-09-14 18:19] wjwwood commented on #110
https://github.com/ros2/rclcpp/blob/release-alpha1/rclcpp/include/rclcpp/contexts/default_context.hpp#L36-L41

[2015-09-14 19:10] BobDean commented on #110
thanks, i'm just trying to understand the ros2 code. The Context looked "weird".  The links were very helpful. Why is the context not just a service locator (which is apparently also bad(tm) according to stack overflow)?

[2015-09-14 20:16] wjwwood commented on #110
Well, the `rclcpp::Context` object is sort of a service locator, since you can get a sub-context of any type as a singleton. For instance, this is how the intra process manager singleton is gotten by the nodes:

https://github.com/ros2/rclcpp/blob/release-alpha1/rclcpp/include/rclcpp/node_impl.hpp#L149-L150
https://github.com/ros2/rclcpp/blob/release-alpha1/rclcpp/include/rclcpp/context.hpp#L43-L7

[2015-09-14 20:48] BobDean commented on #110
Dirk's links led to a large amount of reading over the weekend, and there
are a lot of conflicting opinions on single class instance mechanims
(singletons, contexts, locators etc.) For example, I am pretty sure there
was an article stating contexts were evil, which I did not quite agree
with. I am just trying to understand the design decisions that have been
made and the rationale.

is it my job t

[2015-09-14 20:51] wjwwood commented on #110
@BobDean the feedback is welcome! Design patterns are rarely agreed on unanimously. The context seems appropriate here to me, and my intuition is to continue until we have cause to change direction.

Please close an issue if your question is resolved. We'll eventually come through and close them with a note to comment if that's in error.

[2015-09-15 01:31] tfoote commented on #109
@BobDean I've put together a first draft of a parameter design dock. please follow up on ros2/design#58

[2015-09-15 01:31] #109 closed

[2015-09-15 19:12] wjwwood commented on #48
Ok, I've been iterating on things in a simplified example in https://github.com/wjwwood/weak_linking.git.

I have one pr (https://github.com/wjwwood/weak_linking/pull/3) which is (as near as I can tell) functionally the same as what we have now with the implementation moved into a cpp file from the header. It has Linux passing but OS X and Windows failing.

The crux of the issue is that the cpp fi

[2015-09-15 19:18] dirk-thomas commented on #48
Can you please add a list of the symbols which are not available and currently need to be linked weak.

[2015-09-15 19:20] wjwwood commented on #48
In `ros2`? All `rmw_*` symbols which would be used in the cpp file of `librclcpp`. I don't see the point in making a list.

[2015-09-15 19:34] wjwwood commented on #48
To be more specific, it is any symbol used in a cpp file of `librclcpp` which is declared in a header or is forward declared, but is defined in the implementation specific rmw library or message library.

Off the top of my head `rmw_init`, `rmw_create_node`, and `rmw_destroy_node` were in the list, since the constructor of `rclcpp::node::Node` was the first thing I tried to put in the `rclcpp` lib

[2015-09-15 19:57] dirk-thomas commented on #48
Let's assume we would follow our idea originally from the mindmup to create a dynamic rmw implementation which loads a specific rmw implementation at runtime using `dlopen`. Then all `rmw_*` symbols would be available at link time of the user land code while the specific rmw implementation will be selected at runtime e.g. based on an environment variable.

I assume there will still be other symbol

[2015-09-15 20:08] wjwwood commented on #48
Well there are pros and cons to that approach as well, which I think we should consider before assuming that is the way to go. For example, this strategy basically excludes the possibility of a statically linked executable. It also adds a lot of complexity to our code, which probably why we didn't out doing it that way. I'm not saying that we shouldn't do it, but it's not clear to me that it's the

[2015-09-15 20:17] dirk-thomas commented on #48
I am not suggesting the `dlopen` approach as the only way to move forward. But I expect the remaining symbols to be even more difficult to address and think we should investigate them first (to know what further constraints exist). It should be easy to figure out this list by just linking against an empty rmw implementation.

[2015-09-16 20:27] wjwwood opened #114 "Provide CMake infrastructure for creating a node"
This is a spin off from https://github.com/ros2/ros2/issues/55.

Basically we need to add some lubrication to the process of making a node which can be loaded as a library into a container or run as a stand-alone executable. This is what I imagine it would look like:

[code]

The `rclcpp_add_node` macro would create a target `my_node` which builds a shared library, and also creates a target which

[2015-09-16 20:31] wjwwood opened #115 "Create a generic node container"
This is a spin-off from: https://github.com/ros2/ros2/issues/55

We need a generic program which can be run and then remotely instructed to load and execute a node.

This program should probably:
- Allow configuration of the internal executor.
- Provide ROS Services for loading and running a node.

This is not really useful until we have the ability to make, find, and dynamically load nodes, see:

[2015-09-17 21:20] #111 closed

[2015-09-17 21:37] wjwwood commented on #48
Rather than make a fake library for `rmw`, I just tested out having `rclcpp` depend on `rmw_implementation` and use the default implementation to build `librclcpp`. These are the additional missing symbols:

[code]

Which are symbols generated by message packages for the two messages currently used in `rclcpp`.

[2015-09-17 23:37] wjwwood commented on #48
I should clarify that these are the only missing symbols so far. I haven't converted all of rclcpp into a library yet. I'll continue working towards that looking for more issues.

[2015-09-17 23:47] dirk-thomas commented on #48
That also explains why my class_loader / pluginlib example branch was working before. At that time there was neither intra process comm nor parameter events.

[2015-09-21 16:46] wjwwood commented on #48
Summarizing our meeting.

----

We have two main use cases:

- Single node as an executable.
 - This node executable chooses an rmw implementation at link time, by linking to exactly one rmw implementation.
 - It should an option to statically link everything into this executable (at least on Linux and OS X).
- Single node as a shared library, loaded dynamically into a container with other nodes.

[2015-10-09 18:25] jacquelinekay opened #118 "Subscribing with a `ConstSharedPtr` in the callback signature/publishing a `ConstSharedPtr`"
Nowhere on the master branches of ROS 2 repositories do we subscribe to a topic with a callback signature receiving a `MessageT::ConstSharedPtr` (`shared_ptr<const MessageT`>, or publish a `ConstSharedPtr`.

I tried to do this and there two problems:

1. `AnySubscriptionCallback` doesn't have definitions for the `ConstSharedPtr` type. This is easy to fix and I have an upcoming pull request for it.

[2015-10-13 20:23] wjwwood commented on #48
@codebot pointed me to http://alain.frisch.fr/flexdll.html which looks promising. I'm still working on a prototype that uses this to accomplish what we want on Windows.

[2015-10-13 21:03] jacquelinekay commented on #118
TODO for me: investigate if 2 is still a problem (maybe add a test for publishing a ConstSharedPtr)

[2015-10-13 23:16] #118 closed

[2015-10-14 00:09] jacquelinekay opened #124 "Intra-process pipeline between different nodes in same process"
In ros2/rmw_connext#76 I complained about nondeterministic startup behavior for 2 nodes communicating in the same process (but this was before the intra-process pipeline was implemented)). It was argued that this is acceptable behavior, since the two nodes are being initialized through DDS and DDS discovery can't make timing guarantees.

I would expect nodes within the same process to be able to a

[2015-10-14 00:13] wjwwood commented on #124
The intraprocess communications still use DDS to pass information. So, I wouldn't expect it to behave any differently.

I'll look at the test, but these demos do work: https://github.com/ros2/ros2/wiki/Intra-Process-Communication

[2015-10-14 01:02] wjwwood commented on #124
So, my theory as to why your test doesn't work, but my demos do, is that your test finishes before the two DDS participants have had time to discover each other. My demos just don't start working until the discovery process is complete, see:

https://github.com/ros2/demos/blob/master/intra_process_demo/src/cyclic_pipeline/cyclic_pipeline.cpp#L63

I added a sleep in your test and it passes:

[code]

[2015-10-15 16:40] jacquelinekay commented on #5
Fixed by #129

[2015-10-15 16:40] #5 closed

[2015-10-15 18:19] dirk-thomas commented on #52
I implemented the test in ros2/system_tests#45.

[2015-10-15 19:03] dirk-thomas commented on #52
@esteve Can you please test the original problem related to parameter events again with the patches being merged and either close this ticket or fill in more information what still doesn't work.

[2015-10-15 20:21] #52 closed

[2015-10-20 20:51] garyservin commented on #35
@tfoote can you add more info for this issue? I'm feeling a bit out out of context here. Thanks!

[2015-10-21 19:51] tfoote commented on #35
This was mostly in the context of an async service. Where at the time of response the initial request may be out of scope. In that case the response could be coupled with the request.

For example [here]( https://github.com/ros2/examples/blob/master/rclcpp_examples/src/services/add_two_ints_client_async.cpp#L35) you could print both the request and the result instead of just the result. This saves

[2015-10-23 23:26] wjwwood commented on #48
Ok, I've been working a couple different options since my last comment. I've also brought in @gerkey and @codebot to help figure out what the right path forward is.

----

First, the flexdll path had some issues. I think the technical solution might work, but integrating it into the CMake linking step and convincing msbuild to do something other than `link.exe` is proving to be very difficult and

[2015-10-26 16:00] dirk-thomas commented on #48
I understand why the easy path was chosen but I disagree with the reasoning behind it. This is not about adding a little bit more of technical debt which we can easily pick up later (likely very much later). This is affecting a core part of our software architecture. Imo delaying it will inflict a significantly higher cost later.

Looking at our Windows CI job which has an ever increasing number o

[2015-10-30 19:40] jacquelinekay opened #141 "parameter client: pass vectors by reference"
I noticed this while combing through the rclcpp library PR, but I wanted to make note of it here: we should pass std::vectors and other potentially large objects by reference. There are a few places where this is not done in `parameter_client` and possibly elsewhere.

[2015-11-02 20:20] #141 closed

[2015-11-06 05:01] #48 closed

[2015-11-10 21:36] jacquelinekay commented on #77
I'm going to look at abstracting out `std::mutex` and locking/synchronization logic from rclcpp this week.

[2015-11-10 21:57] jacquelinekay commented on #104
I have a branch abstracting out allocations in services and clients, but I'm blocked by an issue with allocations from within the stdlib (`std::promise`). I've asked it on Stack Overflow:

http://stackoverflow.com/questions/33638134/stdpromise-with-custom-allocator-appears-to-use-global-new

[2015-11-11 00:52] jacquelinekay commented on #124
duplicate of ros2/rmw_connext#112

[2015-11-11 01:21] jacquelinekay commented on #85
there should also be multi-threaded implementations of `spin_once` and `spin_until_future_complete...

I'm pulling this out of the backlog because of my current work on abstracting synchronization in rclcpp.

[2015-11-11 21:10] jacquelinekay commented on #104
It turns out the issue with `promise` will be fixed in gcc 5. Unless it gets backported to gcc 4.8 or 4.9, that means we won't be able to use `std::promise` for RT services and clients until we start targeting 16.04.

[2015-11-12 00:23] esteve opened #150 "Services using 100% of CPU"
Dave Sandage reported this on the NG SIG:

[2015-11-13 01:00] jacquelinekay opened #154 "rclcpp lifecycle: refine design of init, shutdown"
See discussion on ros2/rclcpp#152

[2015-11-19 02:11] #35 closed

[2015-11-30 19:06] jacquelinekay commented on #77
Here is a naive lock-free executor implementation with "n" threads that uses a lock-free queue:

Start one writer thread and n - 1 reader threads.

Writer thread:
[code]

Reader thread:
[code]

This implementation relies on two fundamental assumptions:

1. lock_free_queue is a correct implementation of a lock-free single producer multi-consumer queue. I will probably use an external for this, e.g.

[2015-11-30 20:07] dirk-thomas commented on #77
Before considering a dependency on boost we should make sure that it doesn't affect using the real time approach on a embedded devices. What are the effects on the library/executable size and/or memory requirements when adding it?

[2015-11-30 21:06] jacquelinekay commented on #77
I would ask @codebot to weigh in here about Boost and embedded devices.

From what I know, for the class of 32-bit microcontrollers that Morgan is focusing on, you generally have one core and probably don't even have an operating system, so multithreading is both impractical and unavailable. Therefore you wouldn't need a lock-free executor and should just use the SingleThreadedExecutor instead. Th

[2015-11-30 23:29] jacquelinekay commented on #77
As a matter of fact, there's a problem with using the Boost lockfree queue here that points out a fundamental problem with this outline.

boost::lockfree::queue<T> requires that T be trivially constructible/destructible, i.e. a Plain Old Datatype.

executor::AnyExecutable does not fit this bill, since it contains shared pointers as member variables and its destructor compares and exchanges an atom

[2015-12-01 03:03] wjwwood commented on #77
There maybe other issues that you cannot work around but for the trivially constructable issue you could try swapping those to weak pointers.

[2015-12-01 21:04] jacquelinekay commented on #77
It appears that WeakPtr does not have a trivial destructor.

[2015-12-02 02:30] jacquelinekay commented on #77
repost from closed PR:

Ideas discussed today (12/1/15):

    We can only put POD structures into lock-free queues. That's how we got to using raw pointers here.
    Storing raw pointers is dangerous; we could consider some kind of mock object instead, but still have a problem of managing ownership and storage of the underlying data.
    We're currently not queuing work, but rather relying on DDS

[2015-12-02 04:50] gbiggs commented on #77
For what it's worth, the RTM executor works in the same way as Orocos's. A real fine component is limited to periodic invocation.

Being able to have an event-driven node that is real-time safe would be great, but I suspect that the majority use case for real-time is periodically executing control loops. Even a (relatively linear) data processing pipeline executing in such an environment seems lik

[2015-12-11 18:21] tfoote opened #173 "subscriber callbacks bound to class methods do not compile"
It fails due to an inability to resolve an overloaded function.

[code]

The full error is here: https://gist.github.com/tfoote/17222805a01e7c05c3f1

[2015-12-11 18:52] jacquelinekay commented on #173
Can you make this a test case in system_tests/test_rclcpp instead?

[2015-12-11 19:01] jacquelinekay commented on #173
Are you working on a fix for this right now? I will take a look if you're not actively working on it.

[2015-12-11 19:55] tfoote commented on #173
@esteve found a workaround to use a lambda function. I'll add a unit test for it too.

[2015-12-11 19:59] jacquelinekay commented on #173
You mean using a lambda function in the example? Or to make bound functions work as the input to create_subscription?

None of our tested rclcpp code so far uses `std::bind`. Any code that captures arguments does so using lambdas.

Playing around with this, I found another "workaround" that compiles:
[code]

Ideally we would support any valid callback signature for create_subscription, so I think

[2015-12-11 20:56] esteve commented on #173
@tfoote could you have a look at this branch and see if it works? Thanks.

https://github.com/ros2/rclcpp/tree/std_bind_function_traits

[2015-12-11 21:54] esteve commented on #173
@tfoote I got your example compiling with my branch, I'll clean up the changes here and submit them for review.

[2015-12-12 00:02] tfoote commented on #173
@esteve I can confirm that your branch works for me, but I see it's not a cross platform solution unfortunately :-(

[2015-12-15 05:36] tfoote opened #179 "creating a subscription after spinning does not work"
The callback are never invoked.

[2015-12-15 08:44] tfoote opened #181 "Rate::sleep fails to compile on OSX"
It is missing coverage and it looks like it has a duration_cast missing.

Found working toward: https://github.com/ros2/ros2/pull/160

http://ci.ros2.org/job/ci_osx/599/console
[code]

[2015-12-16 00:58] esteve commented on #173
@tfoote I got the workaround to compile on all three platforms in #183, I'll see if I can compile the `std::bind` test in ros2/system#88

[2015-12-17 00:35] tfoote commented on #173
fixed in #183

[2015-12-17 00:35] #173 closed

[2015-12-17 23:58] esteve opened #189 "Review callback passing strategy"
Review callback passing strategy and find a uniform approach.

See #188

[2015-12-18 02:25] #181 closed

[2015-12-18 03:49] tfoote opened #190 "rate.sleep will sometimes return slightly early from a sleep"
I was working on the unit tests with @gerkey for rate.sleep and expected the sleep to not return before expected.

On repeated runs it had a jitter on the order of 10us. (The printout is in nanoseconds. and the expected duration is 100 ms

Console output of observed delta: https://gist.github.com/tfoote/0ec473b38bc517d12779

We added an epsilon to the unit tests for now (https://github.com/ros2/rc

[2016-01-08 21:09] jacquelinekay commented on #190
Is the console output from Linux?

[2016-01-08 21:21] gerkey commented on #190
This problem was fixed in the test, in #191.

[2016-01-08 21:21] #190 closed

[2016-01-08 21:24] jacquelinekay commented on #190
But the issue that `Rate::sleep` wakes up 10 microseconds early still persists, right?

[2016-01-08 21:51] gerkey commented on #190
Nope, it was working properly the whole time. The bug was in the test, which caused the addition of the epsilon workaround mentioned here. But then the test was fixed and the workaround removed.

[2016-01-30 15:37] firesurfer opened #192 "Segfault at: spin_until_future_complete"
Short description of my program:
static method A: gets a node passed, accesses a parameter server via an AsyncParametersClient
returns some information gained from the parameter server

static method B:gets a node passed: accesses a service that is hosted somewhere.
returns some information gained from the service

Both methods have somewhere a call to rclcpp::spin_until_future_complete.

Example:

[2016-01-31 23:12] jacquelinekay commented on #192
Thanks for reporting this. Can you post a minimal working example that compiles online somewhere and link to it here (perhaps via Gist)?

[2016-02-01 12:34] firesurfer commented on #192
Hey, unfortunately I don't have the time to create a minimal example at the moment. I try to give one at the end of the week.

At the moment I did a small fix in  rclcpp/client.hpp:

in the function handle_response
[code]

With this fix everthing is working without any segfaults.
But I don't think that this should be permanent fix.

[2016-02-03 14:24] firesurfer commented on #150
Hey,
is there already a fix available for this issue?

[2016-02-03 14:54] firesurfer commented on #192
Hey,
I create a minimum demo on:
https://github.com/firesurfer/Segfault_demo

It consists of two parts: a segfault demo server and a segfault demo client. The segfault occurs in the client (test.cpp)

[2016-02-03 16:51] jacquelinekay commented on #192
Thanks. I'll take a look at this today.

[2016-02-03 22:41] jacquelinekay commented on #192
The segfault is generalizable to services/clients, it's not specific to parameters (parameters are implemented on top of services/clients). I rewrote the test with a plain service and client and reproduced the segfault in ros2/system_tests#104.

My potential fix is in ros2/rclcpp#193. It's not much more complicated than what you did, but I'm also not sure if that should be the permanent fix.

[2016-02-05 02:02] dirk-thomas commented on #150
@firesurfer I am not sure if the problem still exists or has been fixed already. If it would have been reported for the alpha1 I would have assumed it has been addressed by these (ros2/rmw_opensplice#60 ros2/rmw_connext#66). It would be great if you could create a simple example which demonstrates the problem.

[2016-02-08 15:31] firesurfer commented on #150
I don't think that it is this specific problem. It seems more like that a huge number of created publishers/subscribers + services + parameterclients create a huge cpu load even if they are idle.
I'm trying to reproduce this phenomena in a simple example but can't get it to work at the moment.

By profiling my application with callgrind it seems that it spends most of the time in the rclcpp::execu

[2016-02-09 10:46] firesurfer commented on #150
I found the problem. It depends on the interface the dds implementation chooses. In my case I had my application run on my laptop that is connected via wireless lan, but tried to create an example for demonstration on my desktop, which is connected via lan.

Nonetheless I find it a bit strange that using a wirelesslan connection results into a high cpu load.

[2016-02-11 23:58] jacquelinekay commented on #179
shown to work by ros2/system_tests#103

[2016-02-11 23:58] #179 closed

[2016-02-12 03:16] dirk-thomas commented on #192
Based on @gerkey investigation I think we should first merge these two (ros2/rmw_connext#131 ros2/rmw_opensplice#112) once the Windows CI job turns over and is green. They have the potential to fix other issues (like 100% cpu load, etc.) too.

[2016-02-12 07:44] gerkey commented on #192
After some investigation, with consultation from @jacquelinekay and @dirk-thomas, I believe the following things:

* The proposed fix in this PR addresses the client-side segfault. I haven't seen any client-side problems at all.
* With the client-side problem fixed, this test case now exposes a server-side problem with services.
* The timeout seen be Jenkins is due to the service server getting in

[2016-02-12 18:14] jacquelinekay commented on #192
I'm still seeing a segfault on master with the Opensplice version of the test in ros2/system_tests#104, and an occasional deadlock with ros2/rclcpp#193.

[2016-02-12 18:58] gerkey commented on #192
@jacquelinekay That's what I'd expect: running ros2/system_tests#104 without ros2/rclcpp#193 gives you a segfault (essentially the original bug reported here) and running it with ros2/rclcpp#193 gives you a deadlock (caused by the "bad state" that the service server gets into upon client disconnection). @dirk-thomas's fix in ros2/rmw_opensplice#112 addresses a similar issue but does not get rid of

[2016-02-12 18:59] jacquelinekay commented on #192
Got it, I thought you were suggesting those PRs would fix the issue, but you're saying that the failure might be due to related issues.

[2016-02-12 19:04] gerkey commented on #192
Yeah, there's definitely something still lurking in the management of service server read conditions when a client disconnects. We were able to demonstrate the problem last night with a single client that calls the service, then sleeps for several seconds, then exits. The service server looks good at first, responds correctly to the service call, still looks good, then goes bad immediately when th

[2016-02-12 21:19] dirk-thomas commented on #192
While this line listens to any instances:

https://github.com/ros2/rmw_opensplice/blob/5a56edf889f563d52be002258e6f4722cf9ddda2/rmw_opensplice_cpp/src/rmw_service.cpp#L120

that line only takes the alive ones:

https://github.com/ros2/rmw_opensplice/blob/5a56edf889f563d52be002258e6f4722cf9ddda2/rosidl_typesupport_opensplice_cpp/resource/srv__type_support.cpp.template#L91

The result is that once a

[2016-02-12 21:32] gerkey commented on #192
So changing to ANY_INSTANCE_STATE in the take() call will fix it?

[2016-02-12 21:34] dirk-thomas commented on #192
Hopefully yes, running CI jobs for it right now...

[2016-02-12 22:19] dirk-thomas commented on #192
New CI jobs:

* http://ci.ros2.org/job/ci_linux/976/
* http://ci.ros2.org/job/ci_osx/811/

[2016-02-12 23:09] dirk-thomas commented on #192
Creating a second client after the first one was destroyed fails with Connext dynamic. Looking into it...

[2016-02-13 01:56] dirk-thomas commented on #192
New CI jobs (including ros2/rmw_connext#134):

* http://ci.ros2.org/job/ci_linux/984/
* http://ci.ros2.org/job/ci_osx/816/
* http://ci.ros2.org/job/ci_windows/1067/

[2016-02-13 17:14] dirk-thomas commented on #150
We have just fixed another case where `rclcpp` would start busy looping (see ros2/rmw_opensplice#112). It would be great if you could try the latest versions from all repos and comment back if it helps for this case.

[2016-02-14 13:18] firesurfer commented on #150
I pulled the latest version from the master branch. This issue is still existing, but I can't really test it because of the exception I mentioned in https://github.com/ros2/rclcpp/pull/193

[2016-02-15 18:33] firesurfer commented on #150
By replacing the exception with a return I was able to test. The average cpu load in idle is much less than before. Around 20% on an older i7 cpu, same amount of publishers and so on as before.

But it doesn't seem to depend on whether I use a wireless or a wired connection anymore. In both cases I got the same cpu load.

[2016-02-15 19:37] dirk-thomas commented on #150
While that sounds better 20% is still far away from idle. Can you either share an example which has that problem or debug locally to figure out where the CPU is being used in your case (at best using the debugger and identifying where it probably busy loops)?

[2016-02-15 21:14] firesurfer commented on #150
I will try tomorrow tomorrow to recreate the scenario my application creates in an example. I hope this will help tracking down this issue and #192

[2016-02-16 11:47] firesurfer opened #195 "Segfault when using Parameter Client with spelling like DemoRobot"
When trying to create a demo application for #193 I got another segfault when using a Parameter Client with a spelling like DemoRobot for the parameter name.

Have a look at my demo application https://github.com/firesurfer/ros2_components_demo
It need the qt5 dev package in order to compile.

The application consists of three parts.
demo_parameter_server
demo_server
demo_client

The segfault happ

[2016-02-16 18:36] jacquelinekay commented on #195
To clarify, you only see the segfault if the name of the parameter is "DemoRobot"? Are you suggesting that the CamelCase name is the cause of the segfault? Or the particular string? That seems to be a dubious cause for the issue. Can you make a more minimal example that reproduces the segfault?

A debugger backtrace from the segfault would also be helpful, if you don't have time to make a MWE.

[2016-02-16 21:44] tfoote commented on #192
From the meeting. Merge this as is with the return after a warning. Add a todo, and after the alpha reescalate it to an exception so we can find it if it happens in the future.

[2016-02-16 22:19] #192 closed

[2016-02-17 03:01] dirk-thomas commented on #195
I tried to compile your demo application which took quite a while and some updates. Please make sure that your examples compile correctly out of the box against the latest default branches in the future.

That being said I can reproduce the segfault in the demo_client now:

[code]

[2016-02-17 03:15] dirk-thomas commented on #195
The client segfaults due to two bugs in your code:

* You must check the return value of `spin_until_future_complete` in https://github.com/firesurfer/ros2_components_demo/blob/fc7d46547d93477ac1f2a0c61a3880e5d810d757/src/ros2_components/Robot.h#L156 to ensure it is `rclcpp::executor::FutureReturnCode::SUCCESS` - lucky enough it is so this was not causing the segfault
* You must check the size of

[2016-02-17 03:15] #195 closed

[2016-02-17 14:51] firesurfer opened #196 "Feature / Question - List all parameters of a parameter server"
Is it possible to list all parameters of a parameter server ?
I created a workaround in https://github.com/firesurfer/ros2_components/blob/master/src/ros2_components/Robot.h#L119 by requesting about 20.000 possible parameter names. It would be nicer if it would be possible to get a list of all parameters

[2016-02-17 16:25] dirk-thomas commented on #196
The list parameters service call (https://github.com/ros2/rcl_interfaces/blob/master/rcl_interfaces/srv/ListParameters.srv) should provide that functionality. The service call is exposed as API in rclcpp as https://github.com/ros2/rclcpp/blob/8c47f6151bd5c68bd7b2a31e375c114ad8ba087e/rclcpp/include/rclcpp/parameter_client.hpp#L146-L150

[2016-02-17 16:39] firesurfer commented on #196
Yeah. But what to pass for as prefix if I want to list all parameters? I already tried a empty list or * but it didn't work as far as I remember.

[2016-02-17 16:58] dirk-thomas commented on #196
From looking at the implementation (https://github.com/ros2/rclcpp/blob/69f7bca85d523ee8647c2051651184023ad1c6ad/rclcpp/src/rclcpp/node.cpp#L236) I can't figure out how this is currently possible. Maybe @esteve can comment on this?

It would be good to also document the necessary arguments of this common use case in the .srv file.

[2016-02-18 10:46] firesurfer commented on #150
Hi my example is in https://github.com/firesurfer/ros2_components_demo (the same example I already used for some other issues - please pull the newest version, I separated the ros2_components_demo and the ros2_components repo)

On my system opensplice dds automatically chooses wlan0.
The demo_client takes about 90% cpu time (meassured by htop)
the demo_server takes about 50 % cpu time
and the demo

[2016-02-18 18:30] gerkey commented on #196
ros2/rclcpp#197 adds the ability to list all parameters by supplying an empty prefix list. ros2/system_tests#107 adds a test for it.

[2016-02-18 20:11] dirk-thomas commented on #196
@gerkey Can you please run a CI job for it.

[2016-02-18 21:14] gerkey commented on #196
I'd like to get feedback on the approach. Is an empty prefix list and ignored depth a good way to list all parameters?

[2016-02-18 21:55] dirk-thomas commented on #196
A think returning all parameters when an empty prefix list is passes is good.

But the depth parameter should still be honored in that case.

[2016-02-19 06:04] gerkey commented on #196
Proposal: when the prefix list is empty, a depth of `D` means: return all parameters whose names contain `<=D` separators (currently the `.` character). Does that make sense?

[2016-02-19 07:25] dirk-thomas commented on #196
I don't think `<=D` makes sense. `D=1` should return everything *without* a separator - basically the first level. And of course also the parent group name for everything with a separator.

And I assume `depth=0` has a similar semantic as an empty prefix list. So return all parameters with an arbitrary number of separators.

[2016-02-19 13:41] firesurfer commented on #196
This doens't directly affects the approaches discussed before.
From the point of usability I think it's more convenient to have two methods in the rclcpp parameter_client.hpp.
The same as at the moment
[code]
and another variant without any arguments
[code]
I think that would be less confusing than empty arguments. Internally the second method could just call the first one with an empty parameter_

[2016-02-19 16:32] gerkey commented on #196
I like the idea of adding the second signature of `list_parameters()` with no args. But we still need to decide the semantics for this query when it happens via a service call, independent of any particular client library. That is, we need to decide how to interpret the contents of the request in the [rcl_interfaces/ListParameters service](https://github.com/ros2/rcl_interfaces/blob/master/rcl_int

[2016-02-19 16:58] tfoote commented on #196
I agree that an empty list could be a special case, but I'd also argue that if you pass a zero length string as a prefix that should also match everything. Otherwise if you're passing an argument through from another source you would have to add special logic to detect the zero length prefix and follow a special special logic if you want to support the zero length prefix.

[2016-02-19 17:04] dirk-thomas commented on #196
I don't think a prefix list with one empty string had the same semantic. I understood the semantic of the prefix as follows: a prefix `foo`

* matches all parameters grouped under `foo` which means start with `foo.`.
* it does **not** match e.g. parameter `foobar`

[2016-02-19 17:45] tfoote commented on #196
The question is whether you consider there to be an implicit separator at
the beginning.

foo matches foo.* but not foobar could be rewritten as
prefix matches ."prefix".*

but if you consider it more like a path with a leading separator and empty
string matches .* implying both foo and foobar would match.

If '' does not collapse and match any, I would expect that then we could
have zero length n

[2016-03-01 21:53] dirk-thomas opened #200 "parameter API does not allow to distinguish error cases"
E.g. https://github.com/ros2/rclcpp/blob/249b7d80d8f677edcda05052f598de84f4c2181c/rclcpp/src/rclcpp/parameter_client.cpp#L246-L257 return an empty vector if something goes wrong which is also a valid response.

[2016-03-04 00:55] gerkey opened #201 "Implement wait_for_service"
We need an equivalent of [roscpp::waitForService()](http://docs.ros.org/jade/api/roscpp/html/namespaceros_1_1service.html#aabe996581255345b3383e66eaaedef5a), which waits a bounded amount of time for a service server to become available. It should be possible to build it atop [Node::count_subscribers()](https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/node.hpp#L249). Ideally it will

[2016-03-06 15:55] firesurfer opened #203 "Question: Logging in ROS 2"
Is there already any logging mechanism implemented in ROS 2 one can use to log messages to a certain topic like in ROS 1 ( http://wiki.ros.org/roscpp/Overview/Logging ) ?

[2016-03-06 17:14] dirk-thomas commented on #203
No, currently there is nothing like that. But looking into the general API for logging (at least to the console) is on the list of the current alpha cycle: ros2/ros2#198

[2016-03-06 17:14] #203 closed

[2016-03-09 01:24] jacquelinekay commented on #200
Since one of my goals for this alpha is "C Parameters" (whatever that means--since one of the questions I need to address is how much of parameter functionality should be in rcl vs. rclcpp anyway) I will also think about improving the parameter API.

[2016-03-09 01:38] jacquelinekay commented on #200
You could also argue that an exception could be thrown in rclcpp instead of, say, changing the API to return an error code (which is what I'm prototyping right now, and what would have to happen in rcl).

[2016-03-10 02:08] jacquelinekay opened #204 "Refactor to use rcl"
rclcpp should be a wrapper around rcl (similar to rclpy).

I am going to start addressing this because I think it will help me understand how to design the rcl parameters API.

[2016-03-12 00:25] jacquelinekay opened #205 "Node::remove_<subscription, publisher, service, client>"
`Node` has several functions for creating entities (subscription, publisher, service, client, timer) but not for removing them. This seems like an oversight. I think we should add `remove` functions, and entities should also remove themselves from `Node` in their destructor.

[2016-03-12 11:06] firesurfer opened #206 "Exception when using parameterclient while having node spinning in other thread"
See:
https://github.com/firesurfer/Segfault_demo
(I simply reused the demo)

It throws the following exception:

[code]

when doing

[code]

in another thread.

The exception doesn't get thrown every time but every second or third time the segfault_demo_client is run.

[2016-03-13 03:16] wjwwood commented on #206
The spin family of functions which take a node as an argument are not thread safe or reentrant. Since you call `spin_some(node)` in your thread and `spin_until_future_complete` in your main thread:

https://github.com/firesurfer/Segfault_demo/blob/master/src/test.cpp#L30

I'm not surprised that you get the error, since both functions first add the node to an executor, spin, and then remove the nod

[2016-03-13 03:28] wjwwood commented on #206
Looking closer, either of the `spin_until_future_complete` calls could trigger a problem, not just the one on line 30. I put together a slightly modified version of your example that I think might help you out:

https://gist.github.com/wjwwood/5667039b95a682e3034b

Thanks for reporting the exception that was raised, but I think that it is expected behavior (even if it is not immediately obvious wh

[2016-03-13 04:23] wjwwood commented on #205
The opposite of create is not remove... so at least I think the names of the functions should be destroy if you're going to have them.

Since they are scoped and the callback group objects which keep track of them store them as weak pointers:

https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/callback_group.hpp#L100

So when they are destroyed, they are effectively removed from any

[2016-03-13 04:26] wjwwood commented on #205
Reading more of the source (and remembering more) I think the idea is that there should not be remove or destroy functions, but I think we are missing some clean up which should happen in the destructors of these things, for example they might ought to wake up any blocking wait calls so the wait set can be remade without the recently destroyed objects. Like here:

https://github.com/ros2/rclcpp/bl

[2016-03-13 04:59] jacquelinekay commented on #205
Hmm, yeah, when I originally created this ticket I might have also been thinking of functions to remove a subscription/client/service from a node and manage the state in the node that tracks those entities (like this https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/node.hpp#L273-L276), without destroying the node itself.

[2016-03-13 05:06] wjwwood commented on #205
Searching, those might be dead code now:

[code]

It is declared, initialized, and incremented, but otherwise never referenced or decremented anywhere in `rclcpp`.

[2016-03-13 05:10] jacquelinekay commented on #205
oh, interesting. and they are private. We should definitely clean that up.

[2016-03-13 14:07] firesurfer commented on #206
Thank you for your advice. I will change the corresponding lines of code in my application.
Do you have any plans to implement the spin functions threadsafe? I think this might become a source of programming mistakes/errors if ros2 will be used by a larger community.

[2016-03-13 21:33] wjwwood commented on #206
The spin functions that do not take a node as an argument maybe thread safe already. But we will make it so or document that it is not as soon as we can. We need to do an api review of rclcpp at some point and at that time we'll more closely consider thread safety and memory allocation related properties.

[2016-03-14 15:11] firesurfer commented on #206
Replacing the spin_until_future_complete functions did work for me, but just in case I use:
[code]
and not
[code]
as you proposed. In the second case I can't access the parameter service (The call fails after a timeout of 5 seconds)

[2016-03-15 18:57] wjwwood commented on #206
Hmm, that doesn't sound right, I'll have to try that out locally.

[2016-03-16 00:49] wjwwood opened #209 "wake up spin when new waitable things are added to a node"
For example:

[code]

This code may never print "hello world" if the spin call starts before the timer is created. So to fix this, any time something that is affected by spinning is added to a node, spin should be woken up so that it can consider new work.

To accomplish this, each node will probably need a new guard condition which is triggered any time something new is added that needs to wake u

[2016-03-16 00:50] wjwwood commented on #206
@firesurfer I think what you've uncovered is another subtle bug (and race condition). I've open a ticket for it here: https://github.com/ros2/rclcpp/issues/209

[2016-03-16 09:41] firesurfer commented on #206
I would really appreciate if it would be possible to implement the spin_until_future_complete function would be implemented threadsafe. By switching to `future.wait` calls everything works but I need an extra thread for spinning. This is kind of bad in case of a library like my ros2_components repo, because the user has to make sure he spins in an extra thread.

[2016-03-16 18:27] wjwwood commented on #206
@firesurfer why do you need to `spin` in another thread if you're using `spin_until_future_complete`? You can use a `spin` in a thread OR `spin_until_future_complete` in your example and that would work. I think the only problem is when you do both... And I can't think of a reason to do that.

[2016-03-16 19:23] firesurfer commented on #206
I meant this the other way round. If I use spin in a thread I can't use `spin_until_future_complete`. But I am building a library. I don't want to force the user to spin in an extra thread, which is needed if I use `future.wait`.

[2016-03-16 20:00] wjwwood commented on #206
If you're spinning within a library (hidden from the user) and the user also spins, then I'd suggest you should use an executor in your library. Then there should be no problem. The `rclcpp::spin*` functions all operate on a global singleton executor, so you're implicitly using the same single threaded executor from different threads which is what is the issue. Simply do this in your library:

[co

[2016-04-01 21:07] #209 closed

[2016-04-04 17:40] firesurfer commented on #206
I finally found the time to deal with this problem again. I'm not sure if an extra executor and an extra node are the best solution in my case.

I created my library in a way that the user creates a node and passes it to the library like in this pseudocode:

[code]

Every Component will create a `parameter client` and a `publisher` or an `subscription` based on its name and therefore needs the nod

[2016-04-04 18:55] jacquelinekay commented on #206
@wjwwood I don't think the spin functions actually use a global singleton executor. Each function initializes its own SingleThreadedExecutor on the stack at the beginning.

https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/executors.cpp

[2016-04-04 21:04] wjwwood commented on #206
@jacquelinekay you're right, I'm not sure if I was just mistaken or if it used to be that way.

Either way, now I'm thinking that @firesurfer you may be adding the same node to multiple executors? That might be bad, probably would be bad, but I'm not sure since we've never done that.

[2016-04-05 19:26] firesurfer commented on #206
In case of using a spin function and using `spin_until_future_complete` I think from what I've read in the ros 2 code that the same node is added to multiple executors. In case this is done in the same thread this won't be a problem but in case the spin function is called from another thread this will cause a crash.

How is it intended by design to interact with ros 2 publishers and services from

[2016-04-05 20:25] wjwwood commented on #206
If you want to spin in multiple threads, then I'd recommend using the `MultiThreadedExecutor`. Unfortunately there is no document to describe how to use these yet. I had not considered the idea of spinning from an arbitrary thread. I suppose a `MultiThreadedExecutor` could have thread-safe `.spin_once()` and/or `.spin_until_future_complete(future)` functions, which could be called from any thread.

[2016-04-06 09:34] firesurfer commented on #206
I don't think that I designed the node in a wrong way (but perhaps you could point out a better way).

I've got some code that does hardware interaction and that should be called as often as possible (was used in another framework before - I simply removed the interaction with the old framework). At first I added the spin_some or spin_once function in the main loop of the program that called the f

[2016-04-07 10:59] firesurfer opened #211 "Segfault in the AsyncParameterClient"
I got another Segfault that doesn't occur on a regular base. I think it's related to the multithreading error discussed in #206

I still got the setup that I have one thread calling spin and one thread accessing the parameter client.

Output of the backtrace:

[code]

It seems to occur in the file parameter_client.cpp after line 61 in the lambda function called from:

[code]

I can't really recrea

[2016-04-07 12:10] firesurfer commented on #211
I did some debugging and discovered that this segfault can be fixed by two small changes.

1. I use my own executor when spinning in an extra thread:

[code]

The change is that `rclcpp::spin_some(node)` always creates a new `SingleThreadedExecutor`,I just keep using the same executor
[code]

2. I added a lock_guard to the `rclcpp::executors::SingleThreadedExecutor`
This seems to slightly decrease

[2016-04-13 02:57] gerkey commented on #201
Superseded by ros2/ros2#215

[2016-04-24 21:53] jacquelinekay commented on #204
I think I'm going to keep this open to ticket some things that weren't addressed by #207:

- [ ] Parameters. I'm going to start pushing parameters functionality into rcl, so another refactor will be needed in rclcpp once that is done.
- [ ] The beginnings of the graph API which are currently exposed through rmw (e.g. rmw_get_topic_names_and_types)

[2016-04-28 09:15] firesurfer opened #214 "Strg+c doesn't exit application anymore"
After the rclcpp was switched to use rcl I can't use Strg+c anymore to exit my application.

This is the code I use:

[code]

By typing "exit" the application will stop but prints `terminate called without an active exception`

[2016-04-28 15:34] jacquelinekay commented on #214
That's my fault... I'll take a look today.

[2016-05-02 09:07] firesurfer opened #216 "Massive memory leak in AsyncParameterClient with FastRTPS"
I got a massive memory leak (about 30 GB of RAM in 3 sec) due to the AsyncParameterClient

Some demo code:
[code]

[2016-05-02 16:25] dirk-thomas commented on #216
Can you please provide more information on the rmw implementation you are using as well as which alpha version of ROS 2. Also the platform and build type might be relevant.

[2016-05-02 16:25] jacquelinekay commented on #216
possibly related (if you are using Opensplice): ros2/rmw_opensplice#128

[2016-05-02 17:30] firesurfer commented on #216
@dirk-thomas

I checked out the master branch for all packages and I'm using opensplice. The platform I'm using is an up to date debian testing with gcc 5.3.1.

@jacquelinekay  I don't think it's related to https://github.com/ros2/rmw_opensplice/issues/128

1. This bug occured after rclcpp was switched to rcl (I used the ParameterClient before and it didn't took that much memory)
2. I tried creati

[2016-05-02 17:33] jacquelinekay commented on #216
ok. I'll take a look with valgrind.

[2016-05-02 21:56] dirk-thomas commented on #216
I see the same / similar problem with FastRTPS (couldn't reproduce it with OpenSplice yet). Easy to reproduce command: `/usr/bin/time -v list_parameters__rmw_fastrtps_cpp`

[2016-05-03 02:04] wjwwood commented on #201
I'm going to close this again, in favor of https://github.com/ros2/ros2/issues/215.

[2016-05-03 02:04] #201 closed

[2016-05-03 09:55] firesurfer commented on #216
Could it be possible that due to some error in the build system also the `....__rmw_opensplice_cpp` is build agaist FastRTPS ? (Or I did something wrong in my CMake-File)
Because even though I explicitly used the generated `....__rmw_opensplice_cpp` executable valgrind tells me that there are bytes lost in FastRTPS ?

[code]

[2016-05-03 15:54] dirk-thomas commented on #216
In your CMake file you are linking against `rclcpp`. But `rclcpp` already links against one specific rmw implementation - on this case FastRTPS. You need to link against `rclcpp${target_suffix}` instead (same as e.g. here https://github.com/ros2/examples/blob/master/rclcpp_examples/CMakeLists.txt ).

[2016-05-03 16:13] firesurfer opened #217 "Using OpenSplice: Could not initialize rcl node: error not set"
I fixed my wrong cmake file so the executable links to opensplice (See #216 )
Now I get the following error:
[code]

This also happens if I try to run the `talker__rmw_opensplice_cpp` example

[2016-05-03 16:30] jacquelinekay commented on #217
I believe executables linked to Opensplice require the `install/setup.bash` file to be sourced before running.

[2016-05-03 16:39] firesurfer commented on #217
Yeah that's the case. Thanks!

[2016-05-03 17:24] dirk-thomas commented on #217
I got exactly the same error message but I don't agree with closing this. The error message is completely useless. The message should state `OSPL_URI not set` but the code which intends to set the error message doesn't work correctly. As far as I can see the following line is broken: https://github.com/ros2/rcl/blob/a01943973a29ca3699a7c026a5a0a0b4acf01e18/rcl/src/rcl/node.c#L102-L103

[2016-05-03 21:08] jacquelinekay commented on #204
nevermind, I'm going to close this in favor of more specific tickets

[2016-05-03 21:08] #204 closed

[2016-05-03 23:22] jacquelinekay commented on #214
I can confirm that the exit signal doesn't work for parameter clients. If I press ctrl+c during "spin_until_future_complete", the thread

Regarding @firesurfer's example: I can make two modifications to the example to make it work as expected:

- Remove the getline logic and simply use `std::thread::join` (block until the other thread is finished).

[code]

- Use `rclcpp::ok()` in the while loop a

[2016-05-04 17:04] jacquelinekay commented on #214
So, I was mistaken thinking that the issue was originally with spin_until_future_complete, since CTRL+C works with clients, and it even works with this remote parameter client example:

https://github.com/ros2/examples/blob/remote_parameters/rclcpp_examples/src/parameters/remote_parameter_client.cpp

I realized that the example I was originally using to test this had an issue that would would caus

[2016-05-04 17:31] firesurfer commented on #214
1. Your 2nd propsed fix actually works `while(input != "exit" && rclcpp::ok())`

2. My example worked before the refactoring

3. STRG+C works with talker and listener

[2016-05-06 10:41] firesurfer opened #218 "Question: Possible to determine running nodes in a system?"
I have the task/problem to find a specific node / publisher that runs on a computer I only know the ip address from. Is this at the moment possible with ROS 2 or do I have to create my own socket that listens on a specifc port on this computer and provides the information I need to know?

[2016-05-06 16:35] wjwwood commented on #218
I'm not sure I understand the question. If you want to list all of the nodes in the ROS graph then:

Not yet, we're still in the process of writing the "graph" related API, which allows you to ask questions about the graph, like what nodes exist.

If you want to list the publishers in the ROS graph then you can use `rmw_get_topic_names_and_types`:

https://github.com/ros2/rmw/blob/master/rmw/inclu

[2016-05-06 16:35] wjwwood commented on #218
I'm going to close this because I believe the issue has been addressed. Feel free to continue to comment and I can reopen if necessary.

[2016-05-06 16:35] #218 closed

[2016-05-06 18:32] dirk-thomas commented on #217
Closed with ros2/rmw#68

[2016-05-06 18:32] #217 closed

[2016-05-07 13:11] firesurfer opened #219 "Publisher with OpenSplice does not populate all message fields correctly"
I got a rather large message in terms of many fields in a message:

[code]

I recognized while testing with opensplice as middleware that in some transfered messages the last fields are empty. For example machineip is in most cases 0. The field at the beginning of the message are transfered correctly.

Is this a bug or specified behaviour ?

[2016-05-07 16:03] dirk-thomas commented on #219
Ten fields doesn't look large to me. We already have messages with more fields in use.

And none of the fields is large in size. All strings and arrays are dynamic - no large fixed size arrays. So I don't think the message size is large either. Above 64k for a serialized message the datagrams needs to be fragmented but that didn't seem to be the case here.

[2016-05-08 13:07] firesurfer commented on #219
Okey, then I have to report another bug.

Setup:
1 Process with 1 publisher (with the message definition above) and 1 subscription. This subscription recieves the complete message. (Publisher and subscription running in the same node)

1 Process with subscription to the same topic (Subscription running in an different node). Here I got about half of the message cut off in about 80% of the cases. B

[2016-05-09 09:57] firesurfer commented on #219
I could reproduce the bug in simple demo. Please have look at https://github.com/firesurfer/message_bug

It consists of two executables:

message_bug_exec and message_bug_remote_exec

`message_bug_exec` publishes messages and also subscribes them. `message_bug_remote_exec` simply subscribes them. You will notice that in `message_bug_exec` the last field is recieved correct whereas in `message_bug_

[2016-05-09 17:34] dirk-thomas commented on #219
I can confirm the problem with OpenSplice. With Connext and FastRTPS the received message seems to be correct. Also when using a non OpenSplice publisher the OpenSplice subscriber shows the correct result. So it looks like a bug in the publishing implementation of `rmw_opensplice_cpp`.

[2016-05-09 23:10] dirk-thomas commented on #219
I updated our existing communication tests to cover this case: ros2/system_tests#118

[2016-05-13 17:09] dirk-thomas commented on #219
This seems to be a bug in OpenSplice itself: PrismTech/opensplice#25

[2016-05-31 18:14] dirk-thomas commented on #216
I just reran `/usr/bin/time -v list_parameters__rmw_fastrtps_cpp` with the latest version of FastRTPS and the massive memory usage seems to be not the case anymore. @firesurfer Can you please recheck and comment if the problem still exists for you with a current build.

[2016-06-06 17:59] jacquelinekay commented on #219
The re-enabled test passed on Linux:

http://ci.ros2.org/job/ci_linux/1393/testReport/%28root%29/test_publisher_subscriber_cpp__dynamicarrayprimitives__rmw_opensplice_cpp__rmw_fastrtps_cpp_/test_publisher_subscriber/

I will run another job with all publisher_subscriber tests to see how it does.

[2016-06-06 18:12] jacquelinekay commented on #219
I see, Opensplice to FastRTPS succeeds but Opensplice to itself does not. Looks like the issue did not magically fix itself.

[2016-06-09 12:01] gerkey opened #225 "Race condition on signal guard condition"
As identified in https://github.com/ros2/rmw_opensplice/issues/99#issuecomment-224695313, there's a race condition on detaching the shared signal guard condition from multiple wait sets. A preliminary fix is in the `global_guard` branch.

[2016-06-13 18:45] gerkey commented on #225
TODO: implement @wjwwood's suggestion (https://github.com/ros2/rmw_opensplice/issues/99#issuecomment-224712473).

[2016-06-14 18:35] dirk-thomas commented on #216
I will close this for now as it seems that this has been fixed. Please feel free to comment and if the problem still persists this can be reopened.

[2016-06-14 18:35] #216 closed

[2016-06-15 20:14] #225 closed

[2016-06-20 23:18] gerkey commented on #196
In #230, I implemented the following strategy:

* An empty `prefixes` list means that any parameter name will match.
* Given the matches against `prefixes`, the `depth` argument is used to further filter the result to be those parameters that contain `< depth` separators. I.e., `depth==1` means the first level, no separators allowed; `depth==2` means the first and second level, at most 1 separator

[2016-06-20 23:19] gerkey commented on #196
* Linux:
 * [![Build Status](http://ci.ros2.org/job/ci_linux/1479/badge/icon)](http://ci.ros2.org/job/ci_linux/1479/)
* OSX:
 * [![Build Status](http://ci.ros2.org/job/ci_osx/1147/badge/icon)](http://ci.ros2.org/job/ci_osx/1147/)
* Windows:
 * [![Build Status](http://ci.ros2.org/job/ci_windows/1487/badge/icon)](http://ci.ros2.org/job/ci_windows/1487/)

[2016-06-21 00:56] gerkey commented on #196
New feature (belatedly) merged. Thanks for the request!

[2016-06-21 00:56] #196 closed

[2016-06-23 02:49] wjwwood commented on #2
@BobDean I'm going to close this since I think most of the questions were addressed. We can continue the conversation or move it to the sig ng mailing list.

[2016-06-23 02:49] #2 closed

[2016-06-23 02:57] wjwwood commented on #108
@BobDean I'm going to close this issue too. I think my most recent comment addresses some of the "why multithreaded executor?". Another thing I'll add is that the multi-threaded executor allows you to utilize as much of the system as possible when your CPU bound (basically a thread-pool as you said). The difference is that allows uncoordinated and uncoupled pieces of code (separate nodes, a.k.a. n

[2016-06-23 02:57] #108 closed

[2016-06-23 02:58] #110 closed

[2016-06-30 13:55] firesurfer opened #232 "FastRTPS doesn't send message if publisher and subscribtion don't have the same qos_profile"
I switched to fastRTPS as middleware because of bug #219 . I realized that messages won't be transmitted if a publisher uses the rmw_qos_profile_sensor_data qos profile and the subscription uses the rmw_qos_profile_default  qos profile. Is this intended behaviour?

[2016-06-30 15:57] wjwwood commented on #232
If the publisher is unreliable and the subscriber is reliable, which I believe is the case in your scenario, then yes I would not expect them to communicate. This makes sense because the publisher is unable to delivery messages as the subscribe would like.

The opposite is not true however. A reliable publisher can publish to an unreliable subscriber.

[2016-07-01 15:40] firesurfer commented on #232
Okey, I just want to note that opensplice transmitted the message in this configuration.
I close this issue because it's apparently intended behaviour.

[2016-07-01 15:40] #232 closed

[2016-07-01 16:43] wjwwood commented on #232
We recently fixed a bug which was causing the default qos to be used always even if you specified a different one. I wonder if that was the issue. I would have expected opensplice to not communicate in that configuration either.

[2016-07-04 19:09] firesurfer opened #235 "Question - Possible to build deb packages at the moment?"
Is it possible to build deb packages of ros2 at the moment without doing the packaging by hand? I want to distribute updates of ros2 to a rack of raspberry pi's.

What way would you suggest in order to build deb packages of my own software that is build on top of ros2 ?

[2016-07-04 22:18] wjwwood commented on #235
We don't have infrastructure for debs yet. You could use something like
checkinstall though.

https://debian-administration.org/article/147/Installing_packages_from_source_code_with_checkinstall

On Monday, July 4, 2016, Lennart Nachtigall <notifications@github.com>
wrote:

--
William Woodall
ROS Development Team
william@osrfoundation.org
http://wjwwood.io/

[2016-07-08 22:58] gerkey opened #238 "ParameterVariant doesn't allow setting of name or value"
The `ParameterVariant` class requires the name and value (and thus type) of the variable to be passed to the constructor. We should add `set_name()` and `set_value()` methods.

[2016-07-09 00:39] gerkey commented on #238
Related enough to be mentioned here: `ParameterVariant` should allow setting from a `rcl_interfaces::msg::ParameterValue`.

[2016-07-11 06:18] gerkey opened #239 "Allow qos to be changed externally"
Suggestion from @stonier: allow the qos setting on a topic to be changed externally at startup, similar to how we do topic remapping (e.g., do it on the command-line using appropriate syntax).

[2016-07-11 06:20] gerkey commented on #239
To keep the syntax manageable, we might just allow profiles to be picked.

[2016-07-11 14:51] firesurfer opened #240 "FastRTPS - free(): corrupted unsorted chunks"
I got this very simple code:

https://github.com/firesurfer/ros2_components/blob/master/src/tests/create_robot.cpp

I keep having an error like this: (Not the complete output, the complete output is very long)
[code]

I could track down the error to the CMakeFile ( https://github.com/firesurfer/ros2_components/blob/master/src/tests/CMakeLists.txt ):
When I link to my ros2_components lib, even if I

[2016-07-12 16:28] dirk-thomas commented on #240
I was unable to compile the code to check if the problem happens for me as well. I clone the repos `ros2_components`, `ros2_components_msg`, and `ros2_simple_logger` (in the future please provide a rosinstall file (or at least a list) with all the required repositories to make it as easy as possible to reproduce a problem).

The `ros2_simple_logger` package is not using the include directories of

[2016-07-12 17:14] firesurfer commented on #240
I could fix the bug myself. I had bit of a mess with a singleton and a shared_ptr.
Sry for bothering you with that. I wasn't sure because of the error output which stated something about fastrtps and the debugger always jumped into the destruction of a ros2 publisher.

The `ros2_simple_logger` actually compiles fine for me. I'm using debian stretch, gcc 5.4.0 and I'm using the master branches of a

[2016-07-12 17:24] #235 closed

[2016-07-13 15:35] firesurfer commented on #240
It seems like I unfortunately need to reopen this issue, because I absolutely got no clue how to track down this error. I would really appreciate if you could have a look at it, even though I'm not sure the bug isn't in my own code. As said before I get an ` corrupted unsorted chunks` error when the application exits.

For reproduction of the error  it should be enough to run the `ros2_simple_logg

[2016-07-13 18:10] dirk-thomas commented on #240
I just tried to build the current state again and it still fails for me to link `ros2_simple_logger_test` as well as `ros2_simple_logger_echo` with the following error message:

[code]

[2016-07-19 09:32] firesurfer commented on #240
Sry for my late answer. I couldn't find the time over the weekend to deal with this issue.

Would you mind to take a look at the `CMakeLists.txt`. I tried to build the `ros2_simple_logger::msg::LoggingMessage`  message in the same package as the code that uses this message. I took the necessary cmake commands from the `system_tests` repository. (https://github.com/ros2/system_tests/blob/master/tes

[2016-07-19 10:22] firesurfer commented on #240
I think I was finally able to fix this issue my-self. At least my programs end without any error messages now. The problem was that I was linking multiple middlewares to one binary. Now I'm only linking against the default middleware.

As said before: Perhaps a simple example on how a CMakeLists.txt should look for building your own package with ros2 and ament would be very useful.

[2016-07-19 14:46] dirk-thomas commented on #240
Can this ticket be closed then?

The current examples are also being used to actually test of the functionality works across all vendors. Therefore they are not as simple as they could be. Please feel free to open a ticket on that repo to request some examples which are closer to what users should write for a single rmw impl.

[2016-07-19 15:33] #240 closed

[2016-07-19 15:43] firesurfer opened #241 "Request: Provide examples for enduser"
As said in #240 I would really appreciate some simple examples that demonstrate how to use the build system properly.

Especially an xample CMakeLists.txt (or complete package) would be usefull that shows how to:
- Build a simple program against the default rosmiddleware (The given examples are all built against all middlewares - I don't think that an enduser wants to build his code against all mi

[2016-07-27 18:14] rohbotics opened #243 "Parameter Events should be node specific"
Right now parameter events are published on a global topic `/parameter_events`.

This causes problems when there are multiple nodes listening to `/parameter_events`.
Either the message needs to be changed to contain the node name where the parameter is hosted,
or `/parameter_events` needs to become node local.

I think the local `~/parameter_events` is the cleaner way, as that way callbacks aren't

[2016-07-27 18:25] wjwwood commented on #243
I think the purpose of the `/parameter_events` topic is so that a single node can efficiently monitor all changes. It shouldn't be subscribed to by every node that has parameters. However, I do agree that the parameter events should contain the node to which the parameter belongs and possibly also the node that requested the change originally. The former might be addressed if the canonical paramet

[2016-07-27 18:49] rohbotics commented on #243
I think that view of parameter events makes sense. For example a gui showing all the parameters shouldn't have to subscribe to individual node topics.

So for dynamic parameter changes, parameter_service should provide a hook for updating the parameters, as it receives the service call in the first place.
Should the hook take the from of `on_change('param_name', callback)` or `on_param_change(call

[2016-07-27 18:54] wjwwood commented on #243
That's correct. In fact further than just having a hook for notifying the node that it has been changed, the hook would allow the node to reject the change if it desired.

I suppose you could have either:

- `node.on_param_change(callback)`
- `node.on_param_change('param_foo', callback)`
- `node.on_param_change('gains/*', callback)`

I think we didn't implement this yet because it is so tied to ho

[2016-07-28 00:24] rohbotics commented on #243
@wjwwood I made basic PR for `node.on_param_change(callback)`

[2016-08-08 16:18] dirk-thomas opened #246 "Not calling rmw_init anymore"
Regression since Alpha 5 / #207.

See https://github.com/ros2/rclcpp/pull/207#discussion_r73905491

[2016-08-22 19:07] firesurfer opened #247 "Questions about the rclcpp architecture"
I read a lot of code of the rcl and rclcpp the last days, because I'm writing a C# wrapper for ros2 at the moment. I came up with two architectural questions:

1. Why does the rclcpp has an extra intra and interprocess publish and subscribe mechanism. Shouldn't this case be coverd by the DDS implementation ?

2. Why is there an `any_executable` class which can contain a node, subscription and so o

[2016-08-23 17:32] dirk-thomas commented on #247
1. Some DDS implementations provide a shared memory transport but that still requires the data to be serialized into a shared memory segment. On the other hand the intra-process mechanism implemented in `rclcpp` allows for zero copy transport (passing a reference) without the need to serialize the data (similar to ROS 1 nodelets). So it will perform "better". This is specifically useful when runni

[2016-08-23 21:54] firesurfer commented on #247
Thank you for the explanations.

[2016-08-23 21:54] #247 closed

[2016-08-23 23:39] gerkey opened #248 "Timer unreliable on ARM"
When testing on an rpi3, I found that the `dynamic_bridge` wasn't working. I've tracked it down to the wall timer that's supposed to make the bridge poll the ROS2 graph not firing. I then tried the `timer_test` in `test_rclcpp` and found that it fails intermittently. I'm tempted to blame it on inadequate CPU cycles, but that's not very satisfying.

[2016-08-24 00:31] gerkey commented on #248
It looks like it can happen that `wait_for_work()` doesn't return even when enough time has elapsed such that a timer definitely should have been ready. It also looks like the timers can work for a while (e.g., a couple of iterations), then stop working altogether for the duration of the process. That's the behavior that I've seen at the application level with `dynamic_bridge`, too.

I guess that

[2016-08-24 00:40] wjwwood commented on #248
It could be that our code that calculates when timers are ready is broken, or it could be a race condition between the code that determines how long to wait and asking the DDS implementation to wait (with a timeout), or it could be the DDS implementation from waking up. I can give a few pointers:

This code determines how long to ask the rmw wait (and therefore the DDS wait) to wait for other even

[2016-08-24 00:47] gerkey commented on #248
Thanks, @wjwwood. Looks like this line:

https://github.com/ros2/rcl/blob/e6e7713/rcl/src/rcl/wait.c#L538

is sometimes giving back a bogus answer. Digging further.

[2016-08-24 00:53] wjwwood commented on #248
This line could be a problem since it uses int64 max:

https://github.com/ros2/rcl/blob/e6e7713/rcl/src/rcl/wait.c#L537

Not sure how it might go wrong, but if the arm is not 64-bit or if it emulates 64-bit in a weird way it might be a problem.

[2016-08-24 01:05] rohbotics commented on #248
@gerkey Turtlebot blue has a ROS2/Xenial arm64 schroot if you want to test on 64 bit.

[2016-08-24 01:20] gerkey commented on #248
I think that this line:

https://github.com/ros2/rcl/blob/master/rcl/src/rcl/timer.c#L145-L146

can experience rollover of the uint64 value used to represent the current time in nanoseconds. At first I thought that time values were totally bogus, but we're using `clock_gettime()` to get a monotonic clock, which has an arbitrary offset. If the rollover occurs between timer calls, then the calculati

[2016-08-24 01:23] gerkey commented on #248
Btw, this is a 32-bit ARM board, but I don't expect that to be the problem. Surely it can do correct 64-bit integer math?

If my hypothesis about rollover is right, then it could be that we've always had this bug but that there's something about the rpi3 that makes the monotonic clock values more likely to start near the max value and thereby expose the problem.

[2016-08-24 03:09] wjwwood commented on #248
So you think that the `last_call_time` or `now` is overflowing? I can understand an issue if `last_call_time` is large and `now` rolls over, then you'd have to wait until `now` passes `last_call_time` again before the condition would be true. Is that what you mean?

Yeah, I didn't expect it to be an issue.

Can you imagine a test that could expose this flaw in our logic? That might be easier than

[2016-08-24 03:54] gerkey commented on #248
I'm pretty sure that I saw `now` rollover. If that happens, then `last_call_time + period` is a very large number, while `now` is small, and we'll decide that the time until the next call is very long. On the other hand, I also saw a situation in which `now` was very large and `last_call_time` was very small, and I can't explain that.

I'll try tomorrow to reproduce it.

As for testing, I guess th

[2016-08-24 16:56] dirk-thomas commented on #248
If I didn't check the wrong thing the function `rcl_timer_get_time_until_next_call` seems to work just fine in the case of a steady time overflow: fede5e1c9fcb5f52751140d9f9d81449e7752f5f

But I only ran the test on my machine. Maybe the result is different on the ARM board?

[2016-08-24 18:58] gerkey commented on #248
Thanks for the test! It passes for me. But I did initially get one warning and one error during compilation:
[code]

I fixed the error with this change:
[code]

Are these issues perhaps symptomatic of the underlying problem?

Also, I'll dig into the test, to be sure that it's testing the case that I think I'm seeing.

[2016-08-24 19:06] wjwwood commented on #248
The build error means you probably have a different implementation of the C11 atomics than what comes with our systems. On ours, the uint64 atomic is just an int, but it seems to be something else, perhaps a structure. The latter is allowed by the C11 atomics interface. That's why they have macros for assignment and initialization and stuff. You patch is more correct, it just happened to work on o

[2016-08-24 22:50] gerkey commented on #248
The problem (at least the biggest problem) is in the underlying time functions of `rcl`: ros2/rcl#75.

[2016-08-24 22:50] #248 closed

[2016-08-24 22:52] gerkey commented on #248
Btw, @dirk-thomas, pushed a compile fix into your branch to add the other overflow test: cc0256c280ba4e9ded39c091d508900d8e5da75b. Will you make a PR or should I?

[2016-08-24 22:57] dirk-thomas commented on #248
I created ros2/rcl#76 but I am not convinced it should be merged.

[2016-08-25 00:05] gerkey commented on #248
I'm very happy to report that with ros2/rcl#75 in place, `dynamic_bridge` is now working on the rpi3.

[2016-08-26 23:06] wjwwood opened #249 "Add a "wait for parameter server" to be ready method"
The parameter client should have a way to wait for a parameter server to be available before trying to set/get/list parameters from it. Without this we cannot write deterministic tests, see:
- https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/pull/51#issuecomment-242872096
- https://github.com/ros2/system_tests/pull/159

The changes in https://github.com/ros2/system_tests/pull/159 should be remove

[2016-09-01 17:29] geoffviola opened #250 "MSVC 2015 warning unused parameter allocator_common.hpp in get_rcl_allocator"
At https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/allocator/allocator_common.hpp#L69, it looks like the allocator parameter is only used in non MSVC compilation. It emits a warning at the /W4 warning level. An example of inciting this warning would be to compile a use of the rclcpp::Node::create_subscription method.

[2016-09-06 23:35] #250 closed

[2016-10-24 08:41] firesurfer opened #256 "Using services async while calling spin in a second thread"
I think we already had a discussion about this kind of issue at the beginning of this year, although I can't find the related issue tracker.

Nevertheless I think it might be worse a discussion because this might be a scenario that can be found in reality.

My setup:

[code]

Doing a service call from thread 1:

[code]

I can't use the mechanism used in the examples because my node is spinning fro

[2016-10-26 03:00] xuefengchang opened #257 "compile error"
when I compile my code, I got the following errors:
ros2_ws/install/lib/librclcpp.so: undefined reference to symbol 'rcl_get_default_allocator'
ros2_ws/install/lib/librcl__rmw_fastrtps_cpp.so: error adding symbols: DSO missing from command line
how to solve this problem？

[2016-10-26 17:44] dirk-thomas opened #259 "exceptions raised in the server should be signaled to the client"
This feature is available in ROS 1 and has proven to be very valuable. Otherwise every service would need to implement this basic kind of error handling itself.

[2016-10-27 07:20] firesurfer commented on #256
I managed to solve this specific issue by starting another thread that does the service call in the callback handler of the subscription. So the callback handler returns and the spin function can be called again.
Perhaps it would still be wise to discuss this issue because I think this is a rather ugly solution.

[2016-10-28 21:29] dhood opened #263 "take request failed for server of service"
Client-server examples for Connext seem to be functioning fine but also outputting the following error:

[code]

http://ci.ros2.org/view/nightly/job/nightly_linux_release/242/testReport/(root)/test_client_scope_cpp__rmw_connext_cpp_Release/test_client_scope_cpp/

[2016-10-31 09:54] gbiggs opened #264 "has_invalid_weak_nodes can only ever be false"
In allocator_memory_strategy.hpp in the function `collect_entities`, the variable `has_invalid_weak_nodes` looks to me like it can only ever be `false`.

https://github.com/ros2/rclcpp/blob/7494350ad24201bd0ef6f75b94760830948274cb/rclcpp/include/rclcpp/strategies/allocator_memory_strategy.hpp#L143

Is the correct behaviour for line 147 to set the value to `true`?

[2016-11-01 10:08] firesurfer commented on #257
Could you post your CMakeLists.txt ?

[2016-11-01 23:37] wjwwood commented on #264
I think this line is wrong:

https://github.com/ros2/rclcpp/blob/7494350ad24201bd0ef6f75b94760830948274cb/rclcpp/include/rclcpp/strategies/allocator_memory_strategy.hpp#L147

It should be `= true` here.

[2016-11-01 23:39] wjwwood commented on #264
Think you could open a pr that fixes that? I think it means that essentially no invalid nodes are ever removed from this list:

https://github.com/ros2/rclcpp/blob/f28bb1107881a983efef78d5022a257e3b09eda4/rclcpp/src/rclcpp/executor.cpp#L331-L346

[2016-11-03 10:51] firesurfer opened #267 "create_service not working in some cases"
I pulled yesterday the lasted code from all master branches. Since then I got the problem that in one case the create_service call from the node class isn't working properly. I got the following code in the constructor of a class:

[code]
I can't access the created service and the map given by `get_topic_names_and_types` doesn't list the necessary publisher and subscriptions needed for the service

[2016-11-07 08:51] firesurfer commented on #267
I got it working. Apparently this behavior occurs if there are two services with the same name but different types.

[2016-11-10 19:05] dhood commented on #263
I don't think ros2/rcl#88 is enough to fix this error message (the error is still output on the CI from that PR: http://ci.ros2.org/job/ci_linux/1908/testReport/(root)/test_add_two_ints_server_add_two_ints_client__rmw_connext_cpp_/test_executable/)

We would also have to change the behaviour on `RCL_RET_SERVICE_TAKE_FAILED` in rclcpp: https://github.com/ros2/rclcpp/blob/f28bb1107881a983efef78d5022

[2016-11-10 19:15] dirk-thomas commented on #263
Sorry for closing this too fast. #271 should address the remaining issue.

[2016-11-10 19:16] mikaelarguedas commented on #263
My understanding was that if you receive OK you process the message while if you receive TAKE_FAILED the call didnt cause an error but there is no message to process and relay to the higher layer of the stack.
Processing the error message the same way as it is don for [rcl_take](https://github.com/ros2/rclcpp/blob/f28bb1107881a983efef78d5022a257e3b09eda4/rclcpp/src/rclcpp/executor.cpp#L248) should

[2016-11-10 20:15] dirk-thomas commented on #263
The new build doesn't have the error message anymore: http://ci.ros2.org/job/ci_linux/1910/testReport/(root)/test_add_two_ints_server_add_two_ints_client__rmw_connext_cpp_/test_executable/

[2016-11-10 21:25] #263 closed

[2016-11-15 00:01] codebot opened #272 "destroyed nodes can cause Executor to crash"
User error alert! This is probably because I'm still learning C++11 :face_with_head_bandage: but I suspect I might not be the only person who tries to do this:
[code]
which results in this:
[code]
with this backtrace:
[code]
I'm not sure what the right answer is. If it's possible to somehow generate a warning and say something like "hey there! I hope you're having a gr8 day. You should probably ho

[2016-11-16 06:07] Karsten1987 opened #273 "no std::bind with custom arguments for callbacks"
I want to pass custom arguments to my callback function and use std::bind for it. However, I believe that function_traits are not allowing passing a functor with custom arguments.

This little demo shows the block which does not compile.
https://github.com/ros2/examples/blob/callback_error/rclcpp_examples/src/services/add_two_ints_server.cpp#L58-L68

[2016-11-16 23:19] Karsten1987 opened #274 "creation of service-client leads to bad weakptr exception"
See the following code for demonstrating the issue.
https://github.com/ros2/examples/blob/callback_error/rclcpp_examples/src/services/add_two_ints_client.cpp#L47

The work around is to put the instantiation of the client outside the constructor, i.e. a `init` function. Reason why the constructor doesn't work is related to this:
https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/node_

[2016-11-16 23:21] Karsten1987 commented on #273
@esteve can you provide some help here? I guess that https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/function_traits.hpp doesn't allow additional arguments?

[2016-11-17 15:55] esteve commented on #273
@Karsten1987 sure, I just submitted #278 which should work with your example, it's just a quick hack. There's one caveat, though, you can't wrap the `std::bind` in a `std::function` (https://github.com/ros2/examples/blob/callback_error/rclcpp_examples/src/services/add_two_ints_server.cpp#L61), you have to pass the `std::bind` to `create_service` as is, like this:

[code]

I haven't tested the pull

[2016-11-17 17:59] #264 closed

[2016-11-18 09:43] esteve commented on #273
@Karsten1987 I think this would work, without changing anything in `rclcpp`:

[code]

note that I removed the fourth argument in the `std::function` definition. `std::bind` can be wrapped in a `std::function` even though their parameters don't match, as long as when you call it the call signature is compatible. When the wrapped `std::bind` gets called, it'll be compatible since it only has three p

[2016-11-18 15:41] Karsten1987 commented on #273
@esteve thanks a bunch for iterating on this. Your solution(s) definitely do the trick.

The fact that you can't easily store them in a `std::function` may become a bit inconvenient at one point; In case you want to store functors in a callback group. Despite the fact that you can't use `auto` that easily.  Is there anyway around this caveat?

In any case, that works just fine and we can simply do

[2016-11-29 01:10] mikaelarguedas opened #280 "spin_some never exits"
If we let a few messages (~10-20) queue before processing them, `spin _some` never exits.
Discourse thread: http://discourse.ros.org/t/fastrtps-throughput-issues/625/8
Reproduceable example: https://github.com/ros2/examples/commit/1278fb5d44329820fd07cad3e81e722ee485c174
I didn't have time to investigate but am ticketing it so that we don't forget

[2016-11-29 14:29] geoffviola opened #281 "Subscription callback should support const reference by default"
I noticed that the any_subscription_callback supports shared_ptr and unique_ptr, but not const&: https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/any_subscription_callback.hpp. It seems simpler to have const& on the subscription callback. The user almost always uses the data in the callback scope. Generally, he will not change the owner of the message data to avoid copying. The rcl

[2016-11-29 20:59] Sarcasm opened #282 "Warning against defining user-defined literals in the global namespace"
Hello,

I was just giving a small glimpse at the code, and I noticed that some user-defined literals are not part of the rclcpp namespace.

- [rclcpp/include/rclcpp/rclcpp.hpp#L31-L34](https://github.com/ros2/rclcpp/blob/a987f8d01515562f5727158eb25a957150db4e45/rclcpp/include/rclcpp/rclcpp.hpp#L31-L34)

I think it is dangerous, and as a user of the library, I would prefer that the library does not

[2016-11-29 23:21] wjwwood commented on #282
Yeah, this was sortof a temporary solution because C++14 was widely available at the time and the chrono literals were only added in C++14. We should consider removing this in favor of the literals provided by C++14 (http://en.cppreference.com/w/cpp/chrono/operator%22%22s). Now that C++14 is more widely available, we'll likely make it a requirement, unless we run into something that blocks us from

[2016-11-30 09:35] esteve commented on #273
@Karsten1987 you can store `std::bind` in a `std::function` without #278, as long as:

- the `std::bind` uses at most 3 placeholder arguments
- the placeholder arguments appear sequentially. That is, `std::bind(func, std::placeholder::_2, std::placeholder::_1)` won't work

so given that, this should be fine with the current codebase without any changes to `function_traits.hpp`:

[code]

[2016-11-30 13:45] Sarcasm commented on #282
Ok, thank you.

Let me know if a pull request interest you, that would be a good excuse for me to take a look at ros2.

[2016-11-30 19:15] wjwwood commented on #282
We're always happy to see a pull request. If you're interested in making one, I'd suggest putting the literals in the `rclcpp::literals` namespace, perhaps in their own `rclcpp/literals.hpp` file which would be included in `rclcpp/rclcpp.hpp`, and then either do `using namespace rclcpp::literals` in `rclcpp/rclcpp.hpp` to preserve existing behavior or go and update all of the examples and demos in

[2016-11-30 19:16] wjwwood commented on #282
This would also be a good opportunity to consider using the `constexpr` like the "possible implementation" example on the cppreference website.

[2016-11-30 19:51] dirk-thomas commented on #282
If the C++14 `chrono_literals` work on all current platforms (Ubuntu Xenial, Mac OS, Windows using VS 2015 Update 3) it would be good to use them.

[2016-11-30 19:54] wjwwood commented on #282
That's fine too, but we have to make an explicit decision to require that version of C++, which means making an announcement, updating the wiki pages, and updating the `-std` statements in all packages. That's probably not something an external contributor could do on their own, but @Sarcasm is welcome to open prs to help get the ball moving on that too, as an alternative to what I described above

[2016-11-30 20:54] Sarcasm commented on #282
I will take a look at the first proposition for now.

Regarding the switch to C++14, a quick look seems to indicate that it should be possible for the 3 platforms you listed.
Apparently the chrono literals are available since GCC 5, Clang 3.4 and MSVC 14

- http://en.cppreference.com/w/cpp/compiler_support

I have to get more familiar with the CMakeLists.txt of the ros2 packages but I can already

[2016-12-01 10:33] firesurfer commented on #267
Perhaps it would be great to implement a check in the rclcpp or the rcl if a service of the same name but different type has already been added.

[2016-12-01 10:48] firesurfer commented on #256
With an update to the master branch about two weeks ago this scenario isn't working anymore again. It took me quite a while debugging, but apparently the executor can't take the service handle (or thinks the service handle isn't valid for some reason).

While stepping through the rclcpp with the debugger the service_handles are valid until this line:
executor.cpp line 387
[code]

Afterwards it goe

[2016-12-09 21:17] wjwwood opened #288 "add option structure for some classes"
For example, the `Node::create_subscription()` method has many arguments now, like:

- callback
- qos settings
- callback group
- ignore_local_publishers
- message memory strategy
- allocator

In the future it might have more, like other kinds of callbacks (e.g. on publisher match), intra process settings, etc. So it would be nice to convert the parameters that have default values in an options st

[2016-12-09 22:16] dirk-thomas opened #289 "reduce complexity of traits"
With the newer version of VS 2015 Update 3 some of the complexity added to the traits might be obsolete. From a brief look at the history these PRs seems like good candidates: #122, #157

Based on the discussion in ros2/rclcpp#286.

[2016-12-17 00:21] wjwwood commented on #282
@Sarcasm, since we decided (and executed) to make the switch to c++14, I'm going to touch each of your pull requests to use the `std::chrono_literals` throughout and remove the literals defined in `rclcpp`.

[2016-12-17 10:18] #282 closed

[2016-12-17 10:18] wjwwood commented on #282
Thanks for contribution @Sarcasm, sorry for the delay while we sorted out the c++14 stuff.

[2016-12-17 10:45] Sarcasm commented on #282
No problem I understand the decision was an important one, I'm glad you made the switch.
Thank you for the taking the time to look at the PRs.

[2016-12-19 14:42] firesurfer opened #294 "Certain service names result into service call failure"
I realized that certain names result into failing service calls if more than one service with this naming pattern was created.

I created an example: https://github.com/firesurfer/service_name_demo

This probably also resolves #256

[2016-12-19 16:41] dirk-thomas commented on #294
Can you please describe what behavior you are seeing and how "this" resolves 256.

[2016-12-19 17:03] firesurfer commented on #294
I see I did an error after debugging #256 for several hours today. Seems like it doesn't correspond to the name luckily.
I tried recreating the scenario from #256 in an example. Seems like I wasn't successfull by doing so.
Sry for a wrong issue.

[2016-12-19 17:03] #294 closed

[2016-12-22 01:10] rohbotics opened #295 "Parameter Service not started by default in Node"
I can't find when we stopped doing this, (or if we ever did), but the parameter service should be started along with the Node.

There might be some circular references, as ParameterService stores a shared_ptr of Node, but it should work with weak_ptr.

Some discussion here:
https://discourse.ros.org/t/composition-and-parameters-best-practice-suggestions/1001

[2016-12-22 18:52] rohbotics opened #296 "Support for multiple parameter change callbacks"
This will be long, and might be better suited for the discourse, let me know.

Currently rclcpp only supports registering one `param_change_callback`, and if you try to register a second one, it overwrites the first callback.

The problem with having multiple callbacks is supporting atomically setting parameters. Currently the callbacks that are registered do two things, verify that the parameters

[2016-12-23 00:56] wjwwood commented on #296
Thanks for starting the discussion @rohbotics, at some point this might belong on the parameter's design doc (once we have somewhat of a consensus and a list of the possible options).

---

I think option B is the most flexible but also the most complicated to use. However, I am actually leaning towards A. I think A becomes necessary anyways to allow group verification of some parameters but not o

[2016-12-29 17:01] ahcorde commented on #295
Adding this line ` auto parameter_service = std::make_shared<rclcpp::parameter_service::ParameterService>(node);` behind the instance of your node should be enough.

[code]

**NOTE:**
[code]
See this comments in the code: [1](https://github.com/ros2/demos/blob/master/demo_nodes_cpp/src/parameters/set_and_get_parameters.cpp#L26) or [2](https://github.com/ros2/demos/blob/master/demo_nodes_cpp/src/pa

[2017-01-03 18:59] dirk-thomas commented on #150
@firesurfer Looking at the changes in your repo I assume this has been fixed in the meantime. Can this be closed?

[2017-01-03 19:12] geoffviola commented on #280
There's a quick fix to add "rclcpp::utilities::ok &&" to the condition in https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/executor.cpp#L191. The spinning atomic bool is not changing state. Should it update in https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/executor.cpp#L344.

[2017-01-03 19:22] wjwwood commented on #280
I think @mikaelarguedas means that it never exits because the queue is never empty, not when you ctrl-c, but that might also be an issue.

I think the right thing to do to address the original issue, is to somehow extract all work that can be done first, then burn that list down, never checking for work again.

[2017-01-03 19:39] dirk-thomas commented on #214
@firesurfer Can you please recheck if this is still a problem with the beta 1.

[2017-01-03 19:42] dirk-thomas commented on #257
Closing this ticket for no response. Please feel free to comment on the closed ticket with more information and it can be reopened.

[2017-01-03 19:42] #257 closed

[2017-01-03 20:42] firesurfer commented on #150
Yes this is fixed and can be closed.

[2017-01-03 20:43] dirk-thomas commented on #150
Thanks for confirming.

[2017-01-03 20:43] #150 closed

[2017-01-03 20:52] wjwwood commented on #295
@ahcorde is right, I remember this now. We didn't want to turn it on by default until there was an option to turn it off as well.

[2017-01-28 01:29] wjwwood commented on #267
That would definitely be an issue. We've still not decided whether or not services need to be unique (i.e. one service server per name, regardless of type).

[2017-01-28 01:33] wjwwood commented on #281
Yeah, I think it makes sense to support const reference, but never got around to doing. That would be a good enhancement. As for whether or not to use it by default, I think that might also be the right thing to do, but we were trying to stay as close as possible to ROS 1's simple examples (not a reason to not change, but just a historical reason why it is that way right now):

http://wiki.ros.org

[2017-02-10 15:30] AravindaDP opened #305 "Open Client API for inheritance"
Hi
Like in https://github.com/ros2/rclcpp/pull/258 where Node/Publisher API is opened for inheritance shouldn't we open the client API also for inheritance?

Probably the reason behind Node/Publisher API being allowed to inherit may not apply Client API. Anyway the reason I do this suggestion is for the mocking/unit testing perspective.

For example. Now I could pass in a publisher into my node cl

[2017-02-27 06:13] wjwwood commented on #305
@AravindaDP Sorry for the delay in responding. Yes! that is the reason we decided to break up the Node class into pure virtual components, so that we could do mocking more easily and so that we could build different node classes with different API's exposed.

If you'd like to try and do a similar thing to Service servers/clients and/or publishers and subscribers then we'd be happy to try and integ

[2017-02-27 06:15] wjwwood commented on #305
Also, if you'd like to just propose one or more methods be made `virtual`, you can do that too. We haven't really reviewed that part of the API very closely yet, so it's quite possible it totally makes sense and we just overlooked it the first time through.

[2017-03-01 23:04] wjwwood opened #308 "SyncParametersClient prevents future publishers and services from being created"
I've got a really strange situation where anything (in this case publishers and service servers) created after using the `SyncParametersClient` does not show up on the network. The workflow is as follows:

- create node
- create parameter service
- create publisher on `taco`
- create `SyncParametersClient` and use it
- create publisher on `map`

The observed behavior is that the parameter service'

[2017-03-01 23:10] wjwwood commented on #308
To clarify, the publishers and service servers can be created successfully (no exception and objects are valid afterwards) and you can call `.publish()` on the publishers, but they will never show up in `rostopic_list` (which uses `get_topic_names_and_types`) and a subscriber of those topics (C++ or Python) will not receive any data (even if both are using default QoS settings). The topics do show

[2017-03-02 16:12] Karsten1987 opened #310 "Implement rclcpp::time"
I open an issue for sync between the @ros2/team in order to prevent double implementations.

[2017-03-02 16:29] mikaelarguedas commented on #310
Cross referencing with the original issue: https://github.com/ros2/ros2/issues/178

[2017-03-14 16:51] geoffviola commented on #280
Will this bug be fixed for beta 2? Beta 1 doesn't have opensplice middleware and this bug makes fastRTPS not useful so we're still using alpha8.

[2017-03-15 05:37] wjwwood commented on #280
Not sure. It might be addressable when we make some changes to support more complicated custom executors, which is something @Karsten1987 and his colleagues are working on.

[2017-03-21 13:36] PhilKW opened #312 "Calling a Service from an other Service leading to a std::runtime_error"
I need to call a service from a service call, which is embedded in a Node class.
To make the problem clear I adapted the Add two Ints example:
Node 1 provides the standard Add two Ints service.
[code]

Node 2 provides a second service, which calls the Add two Ints service from Node 1 when called.
[code]

Node 3 is the standard client from the Add two Ints example calling the service from Node 2.

[2017-03-22 00:43] #310 closed

[2017-03-27 20:59] BrannonKing commented on #280
I think a "maximum time" parameter on spin_some would be useful. You could default it to something large. I think, though, if I had a 30fps render loop and I wanted to "spin some" each loop, I would be able to figure out how much time I could allot to the spin. Obviously, I could do that trivially by calling spin_once directly in my own loop.

[2017-03-28 00:40] wjwwood commented on #280
@BrannonKing "maximum time" might be misleading, since we cannot actually make a guarantee about when a single item will be finished. It could, however, have a timeout after which no new items would be started. The logic would be something like:

- enter spin_some
- get a list of all work to be done right now
- while timeout not exceeded and more items to execute from list, execute next item

If t

[2017-03-28 13:31] ArkturusMengsk opened #315 "Non periodic timer"
I am in need of a non periodic timer, that I can start and stop multiple times.
The ros2 timer created with `create_wall_timer` inside a node is naturally periodic, which is not a problem, if it would be possible to stop the timer and start it again later.

There is the possibility to `cancel` the timer, but no way to start it all over again.
`cancel` itself calls `rcl_timer_cancel` from rcl. Ther

[2017-04-02 22:09] Alex031544 opened #317 "No shutdown after SIGINT"
Hi,

in our project we found out, that it seems that the signal `SIGINT` isn't been handled and `rclcpp::shutdown()` is not called.

Regards,
Alex

[2017-04-03 01:51] wjwwood commented on #317
@Alex031544 is your program overriding the signal handler? That, or not ever calling `rclcpp::init()`, is the only reason that would occur.

This line:

https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/utilities.cpp#L64

Gets printed when I send `SIGINT` to any of our demos, like `talker`.

You haven't given enough information for me to help you.

[2017-04-03 18:04] Alex031544 commented on #317
Hello,

here are some simple examples to proof our suspicion:

1. A first example which show an code how we think it shall work:
![screenshot from 2017-04-02 13-07-44](https://cloud.githubusercontent.com/assets/12674675/24622412/40155194-18a5-11e7-96ae-bf60feeb0155.png)
   We expect that after `SIGINT` (**Ctrl+C**) `rclcpp::spin(node);` will terminate and two outputs will be visible on the termina

[2017-04-03 18:52] wjwwood commented on #317
@Alex031544 it looks like you're using OpenSplice? Can you try with one of the implementations we currently support like Fast-RTPS or Connext? Which version of ROS 2 are you using? I can't tell you how to change implementations without knowing which version you're using.

I can't think of any reason off hand that our signal handler would not cause `rclcpp::spin()` to exit.

Also, I'd like to easil

[2017-04-03 19:15] Alex031544 commented on #317
Yeah sorry for that, but the screenshot was taken yesterday. The sources are gone.

The version of ROS2 on my machine is *release-beta1* and yes we are using opensplice. The reason for that is that we got the best results of stability during our first tests based on *alpha7*.

Here the code:
[code]

[2017-04-03 19:16] Karsten1987 commented on #317
So I just tried this with connext, and it exits just fine on connext and fastrtps:

[code]

[2017-04-03 19:25] Alex031544 commented on #317
hm. But where `rclcpp` is called? And why it doesn't work as expected for opensplice?

[2017-04-03 20:08] wjwwood commented on #317
I don't know what you're asking here.

I don't know off-hand. We decided to stop testing and fixing issue with OpenSplice for now:

https://github.com/ros2/ros2/wiki/Alpha8-Overview#changes-to-supported-dds-vendors

However, you can feel free to open issues on the `rmw_opensplice` issue tracker, and if you figure out what the issue with the signal handler is, we'd be happy to help you get a patch

[2017-04-03 20:21] Alex031544 commented on #317
I don't end my question above:

But where `rclcpp::shutdown` is called? I expected that the signal handler calls them.

[2017-04-03 20:28] wjwwood commented on #317
`rclcpp::shutdown()` itself is not called from the signal handler, but the same effect is put in motion. For example, this is the code in the signal handler:

https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/utilities.cpp#L87-L98

And this is the code of `rclcpp::shutdown()`:

https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/utilities.cpp#L165-L176

This duplication of code

[2017-04-03 23:09] Alex031544 commented on #317
I put `shutdown` inside the signal handler but this shows no effect.

The question I ask to myself is why both handlers (ROS2 and our) of the example above are bind to the signal. I thought that only on signal handler can be bound to a signal.

I will do further investigations and leave my results here if I found something new.

[2017-04-03 23:13] wjwwood commented on #317
That is typically the case (always the case in my experience), and that's why the ROS 2 signal handler is careful to store the existing signal handler:

https://github.com/ros2/rclcpp/blob/734ac278dbafe92d13269438cce95635d50e39fe/rclcpp/src/rclcpp/utilities.cpp#L111-L123

and then call it during our own signal handler:

https://github.com/ros2/rclcpp/blob/734ac278dbafe92d13269438cce95635d50e39fe/r

[2017-04-06 23:26] satyan opened #318 "rclcpp lifecycle: what is the design motivation for separate lifecycle_node and node classes?"
I was trying to use lifecycle_node for making managed nodes and discovered that they don't extend Node class. It seems like composition is preferred, which is fine. But, wanted to learn what's the design motivation to create a parallel structure for the lifecycle strategy.

Appreciate the response.

[2017-04-07 01:40] wjwwood commented on #318
We have a node class which has lifecycle and one that does not because we thought it made sense to have lifecycle be an addition on top of the "core" node functionality. It's a parallel structure because we wanted to avoid inheritance in favor of composition (as you noted already).

In the future it's possible that the plain `rclcpp::Node` class will be one which has lifecycle features within it,

[2017-04-07 01:40] #318 closed

[2017-04-07 02:36] Karsten1987 commented on #318
Yeah, @wjwwood basically answered the question already. We decided to favor composition mainly of being able to test/mock the individual components of the node class.

As you might have noticed, we tried to keep the basic interface / public member function of the lifecycle node as similar as the original node class. This is a) for not breaking the API too much and b) for being able to migrate the

[2017-04-07 09:39] ArkturusMengsk opened #319 "100% processor utilisation if timer is canceled"
As soon as a wall timer is canceled, the processor load will grow immediately to 100%.

`myTimer = this->create_wall_timer(1s, std::bind(&TestNode::timeout, this));`
`myTimer->cancel();`

[2017-04-07 14:43] dirk-thomas commented on #319
Please provide a complete example (see http://sscce.org).

[2017-04-07 15:17] ArkturusMengsk commented on #319
That is nearly all, that is needed to reproduce the described behavior.

main.cpp
[code]

testnode.h
[code]

testnode.cpp
[code]

[2017-04-26 18:58] mikaelarguedas commented on #319
@ros2/team please try to reproduce and comment here

[2017-04-26 23:29] dhood opened #324 "TestStateMachineInfo.available_transitions test flaky"
This test has failed on 93 out of the past 100 of the linux "repeated" nightly jobs.

e.g. http://ci.ros2.org/job/nightly_linux_repeated/624/testReport/junit/(root)/TestStateMachineInfo/available_transitions/

It has also failed twice on OSX (jobs 603 and 622, both mini2). Is it possible there's a race condition?

[2017-04-27 00:38] Karsten1987 commented on #324
The lifecycle implementation needs a general overlook. There are no rmw_allocators used and some functions definitely deserve a "__attribute__((warn_unused_result))" .

Do you have an idea when this flakiness started?

[2017-04-27 18:45] dhood commented on #324
since Dec 15 (http://ci.ros2.org/view/nightly/job/nightly_linux_repeated/499/) which I think is when it was initially added

[2017-05-09 00:48] wjwwood commented on #315
High @ArkturusMengsk, sorry it took so long for me to get back to you. You're not crazy, it's intended that both the use cases you described ought to work, either:

- Start a timer, cancel it, start it again later or
- Start a timer, delete it (implies removing it from any lists of timers), and create a new one later

I'll have to have a look at the code to see what we've missed. As you pointed ou

[2017-05-09 01:34] wjwwood commented on #315
For at least the second case (canceling, deleting and replacing with a new timer) it appears to work. I looked into how the timers are stored in node. As I thought (though I didn't suggest it in my previous post because I wasn't sure yet) the `TimerBase` shared pointer returned by `rclcpp::Node::create_wall_timer` is _scoped_, meaning that when you delete the shared pointer returned to you, it is

[2017-05-09 02:10] wjwwood commented on #315
I tested the other use case of reusing a timer over and over again, and indeed there is functionality in `rcl` (the core C api) that was not exposed in our C++ api. I opened this pull request to add a method for resetting the timer in C++: https://github.com/ros2/rclcpp/pull/326

With that I can run this code successfully:

[code]

With those two examples and the pull request I linked to I think i

[2017-05-09 02:12] wjwwood commented on #315
Btw, I put those two examples in our demo package too: https://github.com/ros2/demos/pull/127

[2017-05-09 11:46] ArkturusMengsk commented on #315
Thank you for attending the issue.
I really missed the self removal from all lists and searched for a way to do this manually. Clearly my fault.

The way you fixed the second part with opening the reset method to the C++ world, looks good to me. This is exactly, what I was missing.
I'm not able to test your changes right now, but I will do this tomorrow.

Thank you!

[2017-05-10 07:34] #315 closed

[2017-05-10 18:50] mikaelarguedas commented on #319
@wjwwood to see if recent changes fixed this

[2017-05-16 19:06] clalancette commented on #280
I believe I am also running into this issue on the Turtlebot2 with FastRTPS.  I have the kobuki_node (which subscribes to the cmd_vel topic), and a keyboard teleop program (which publishes to the cmd_vel topic).  If I set the QoS on both sides to have a depth of 10, everything is fine.  If I set the QoS to have a depth of 1, then I spin forever in "spin_once", never finishing.  I'm not exactly sur

[2017-05-17 22:01] wjwwood commented on #280
`spin_once` will block until there is something to do (like new data received) unless you set a timeout. This is expected behavior, so unless it never returns even with a timeout set, then I'd say this is a different issue @clalancette.

Even if that is the case I think there are two separate issues being discussed here, as I point out in https://github.com/ros2/rclcpp/issues/280#issuecomment-2701

[2017-05-23 14:25] clalancette commented on #280
I'm not sure why I said "spin_once"; the actual problem I'm having is with spin_some().  I did some debugging on it, and I think it is similar to what @mikaelarguedas said; sometimes, the queue never seems to empty out.  More specifically, what happens when we get into this situation is that get_next_subscription() always sets any_exec->subscription, which makes get_next_ready_executable() return

[2017-05-26 01:20] breh opened #329 "Unexpected behavior of rclcpp_lifecycle::Transition.label() and rclcpp_lifecycle::State.label()"
I'm playing with lifecycle transitions and trying to use Transition and State objects. Unfortunately I'm seeing weird behaviors when it comes to dealing with labels in those objects.

Looks like the way how label strings are handled is not correct - the constructor takes a string reference and then it passes the pointer to the underlying string using c_str() to the actual handle holding the label.

[2017-05-26 02:50] Karsten1987 commented on #329
Thanks for reporting it, I ran into it earlier this week and hopefully patched it in https://github.com/ros2/rclcpp/pull/327

This is going to be merged hopefully soon.

[2017-05-26 03:03] breh commented on #329
Great, thanks. Will try to verify tomorrow or next week :).

[2017-05-26 05:04] BrannonKing opened #330 "waiting for AsyncParametersClient's internal services to be ready"
When sending parameters to another node using `AsyncParametersClient` on top of CoreDX middleware, there is some delay between the constructor completing and the internal clients of `AsyncParametersClient` being ready. The individual client classes have `service_is_ready` and `wait_for_service` to deal with this issue, but they aren't exposed on the parameters client. Hence, I added the two method

[2017-05-26 13:48] BrannonKing commented on #330
Is it possible that the lack of calling spin* while waiting for the graph event causes my problem? Maybe CoreDX can't prep its clients without some spin calls? I wanted to modify `NodeGraph::wait_for_graph_change` to call spin_once inside its predicate. However, I can't see how to access the executor in that context.

[2017-05-26 21:16] wjwwood commented on #330
@BrannonKing you do not need to spin to wait for graph events because the necessary waiting is done in the `GraphListener`'s thread, see:

https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/graph_listener.hpp
https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/graph_listener.cpp#L166

[2017-05-26 21:16] wjwwood commented on #330
Make sure the `test_graph` test in the `rcl` package passes with CoreDX.

[2017-05-26 21:47] BrannonKing commented on #330
test_graph passed. I do see this one fail: test_get_node_names__rmw_coredx_cpp

[2017-06-04 20:44] Karsten1987 commented on #329
@breh Did that work for you?

[2017-06-04 20:47] Karsten1987 commented on #324
I believe that can be closed, right?

[2017-06-05 11:57] firesurfer commented on #214
@dirk-thomas I didn't recieve any notification about your last comment.
I can confirm that the issue doesn't exist anymore. The `rclcpp::ok()` returns false in case STRG+C was called.  (The code I'm currently using: https://github.com/firesurfer/ros2_components/blob/master/src/ros2_components/ManagedNode.cpp#L92)

[2017-06-05 11:57] #214 closed

[2017-06-05 18:54] dhood commented on #324
Could you reference the changes that would have fixed it? It did still fail [11 days ago](http://ci.ros2.org/view/nightly/job/nightly_linux_repeated/663/), but maybe the changes are more recent

[2017-06-05 19:00] Karsten1987 commented on #324
I believe this fixed it:
https://github.com/ros2/rclcpp/pull/327

It was committed 11days ago :)

On Mon, Jun 5, 2017 at 11:54 AM, dhood <notifications@github.com> wrote:

[2017-06-05 19:03] dhood commented on #324
looks like it worked then!

[2017-06-05 19:03] #324 closed

[2017-06-05 19:56] Karsten1987 opened #335 "support for AsyncSpinner"
As we currently don't have the ROS2 equivalent for the AsyncSpinner, I helped myself out by excluding the `executor::spin()` function and running this in a separate thread.
Is that the recommended way and how such an asyncspinner could look like in the ROS2 world?

[code]

[2017-06-05 20:10] wjwwood commented on #335
This was already asked in the forum (at least I think it is a duplicate):

https://discourse.ros.org/t/async-executor-in-ros2/1575

I'd recommend what I put in the discourse thread or this:

[code]

[2017-06-05 20:14] Karsten1987 commented on #335
great. thanks for the link. I didn't see that.

[2017-06-05 20:14] #335 closed

[2017-06-07 18:23] wjwwood commented on #330
I don't have any other ideas. If this feature works in Fast-RTPS and Connext and test_graph passes, then I guess it must be a gap in the test_graph tests.

Is it possible for you to test one of our other rmw implementations, like Fast-RTPS?

[2017-06-07 22:15] Karsten1987 commented on #329
I am closing this, assuming it worked out for you as well.
Please feel free to re-open or post comment on this ticket.

[2017-06-07 22:15] #329 closed

[2017-06-09 15:44] BrannonKing commented on #330
I recompiled this today and it seems to work with both Fast-RTPS and CoreDX. I don't know why it didn't work with CoreDX before; perhaps something in the framework has changed over the past two weeks to resolve that stall I was seeing. I also found my linkage problem. I've put in a pull request for the above methods: https://github.com/ros2/rclcpp/pull/337

[2017-06-22 05:42] allenh1 commented on #317
@wjwwood @dhood is this possibly related to that issue you were experiencing with AMCL last Thursday?

[2017-06-22 18:08] dhood commented on #317
nah that was a launch issue, resolved by https://github.com/ros2/launch/pull/55 thanks

[2017-06-22 18:53] dirk-thomas commented on #246
Addressed long time ago: ros2/rcl#69

[2017-06-22 18:53] #246 closed

[2017-07-07 21:34] dirk-thomas commented on #330
@BrannonKing Can this be closed?

[2017-07-10 17:48] BrannonKing commented on #330
Now that the `wait_for_service` method is available, we should call it from the parameter CLI tool.

[2017-07-10 17:51] dirk-thomas commented on #330
The current parameter CLI tool is written in C++ and we don't plan to spend any time on it. The goal is to replace it with a Python implementation in the `ros2cli` framework as soon as parameters are implemented in `rclpy`.

[2017-07-10 17:58] BrannonKing commented on #330
Let's use it in the Python impelmentation, then. I may put in a pull request for the current tool. At ASI we're using a separate tool that loads params from YAML. The wait method will help us there.

[2017-07-10 17:58] #330 closed

[2017-07-19 23:32] jpgr87 opened #343 "function_traits - decltype cannot resolve address of overloaded function with gcc 7"
I'm building ros2 beta2, and I've run into some issues with some code in function_traits and its tests.

* fedora 26 x86_64
* gcc-7.1.1

[code]

[2017-07-20 17:02] allenh1 commented on #343
Let me look into this -- I have GCC 8 on my laptop. let me see if I can reproduce this, or if I need to talk to the GCC people again. ;)

[2017-07-20 18:50] allenh1 commented on #343
Full compiler error:

[code]

[2017-07-20 22:21] jpgr87 commented on #343
Yes, I was building beta2 following the instructions [here](https://github.com/ros2/ros2/wiki/Linux-Development-Setup)

The command I used was:
[code]

[2017-07-26 18:27] mikaelarguedas commented on #343
@allenh1 to provide feedback on this and move in the appropriate column

[2017-07-28 16:50] clalancette commented on #343
I think this is originally @esteve 's code. @esteve , any thoughts on what is going on here and how to fix it?

[2017-07-28 18:08] allenh1 commented on #343
I'm currently talking to the GCC people to find out if this is a bug. I'll post back when I know more.

[2017-07-29 10:28] esteve commented on #343
@clalancette thanks for reaching out. I've submitted https://github.com/ros2/rclcpp/pull/346 which should address this.

@allenh1 it's actually an issue in `function_traits`. `function_traits` is rather fragile when dealing with `std::bind` because there's no requirement in the C++ standard on how to implement it, so `function_traits` depends on the internal implementation to match the return type

[2017-08-01 20:18] #343 closed

[2017-08-01 20:21] mikaelarguedas commented on #343
Closed via #346 thanks @jpgr87 for the initial report

[2017-08-02 18:49] Karsten1987 opened #347 "rclcpp time should use rcl api"
connects to https://github.com/ros2/rclcpp/pull/332#commitcomment-23439355

[2017-08-04 03:34] Karsten1987 commented on #347
close with #348

[2017-08-04 03:34] #347 closed

[2017-08-04 03:49] Karsten1987 commented on #274
I tested the mentioned code snippet again and it works just fine now. Must have been resolved while doing the rclcpp node refactoring.

[2017-08-04 03:49] #274 closed

[2017-08-04 04:16] Karsten1987 opened #349 "resetting subscriber leads to crash"
given the following code: https://gist.github.com/Karsten1987/82837b87fd11ef23353754b9fa31cf7a

the situation:

1.) node spawns a subscriber and a publisher
2.1) main thread spins the executor, having sub and pub talking
2.2) second thread randomly stops the subscription (resetting the shared_ptr of it)
3.) program crashes with the backtrace at the bottom of the gist.

quickly discussed the proble

[2017-08-06 04:00] Karsten1987 opened #352 "rclcpp::Time operators"
top level issue for getting more functionality in rclcpp::Time, i.e. operators

[2017-08-07 02:34] Karsten1987 commented on #352
Given the feedback so far (see https://github.com/ros2/rclcpp/pull/351#discussion_r131553665), I think there is a conceptual issue here.

According to `builtin_msgs/time`, seconds can be negative. https://github.com/ros2/common_interfaces/blob/master/builtin_interfaces/msg/Time.msg#L1
According to `rcutils/time_point_value_t`, a time value can't be negative. https://github.com/ros2/rcutils/blob/ma

[2017-08-07 02:42] mikaelarguedas commented on #352
I'm not familiar with the rationale that led to the definition of Time and time_point in the first place so I cannot really give an opinion to the first questions. I guess it depends what origin we plan user to use for time. As long as there is a way to have a different time reference a negative value on that scale could (at least theoretically) exist isn't it ?

I think that you could achieve thi

[2017-08-07 05:06] wjwwood commented on #352
This is what I would do to convert between the types:

- When converting a `builtin_interfaces/Time` to a `rcl_time_point_t`:
  - Ensure the `Time.sec` is not negative, otherwise raise an error that we cannot represent time points before the unix epoch
 - When converting a `rcl_time_point_t` to a `builtin_interfaces/Time`:
  - Ensure the time point value does not exceed a 32-bit seconds component

[2017-08-07 15:52] Karsten1987 commented on #352
Ensure the Time.sec is not negative, otherwise raise an error that we cannot represent time points before the unix epoch

With the idea in mind, that `builtin_interfaces` and `rclcpp::Time` should be easily convertible, saying that future API should use `rclcpp::Time`, all these APIs have to implement exception handling on top of it when getting their times from any ROS message via the inbuilt tim

[2017-08-09 16:33] mikaelarguedas commented on #352
@Karsten1987 can this be closed now that #351 has been merged ?

[2017-08-09 16:42] #352 closed

[2017-08-10 05:26] Karsten1987 commented on #273
@esteve thanks a bunch for the work you've put into it.
As we currently don't have a real show-stopper with it, i'll go ahead and close it. We can open or refer to it when we actually start dealing with MSVC2017.
Cheers!

[2017-08-10 05:26] #273 closed

[2017-08-15 22:37] mikaelarguedas opened #357 "Time operator tests failing on Windows Debug"
Operator tests introduced in #351 are failing on the windows debug nightly:
example ci: http://ci.ros2.org/view/nightly/job/nightly_win_deb/573/testReport/junit/(root)/TestTime/operators/

@Karsten1987 will look into it soon, ticketing it here in the meantime to leave a paper trail

[2017-08-23 00:25] dhood commented on #349
this is the permalink to the function @Karsten1987 is referencing in his post (in case those lines move around): https://github.com/ros2/rclcpp/blob/b90676871d397cbfdcfecdf265869efb0bd97d9f/rclcpp/include/rclcpp/subscription.hpp#L81-L83

[2017-08-23 00:38] dhood opened #360 "Expose timeout option for parameter service calls by SyncParametersClient"
As an example, [SyncParametersClient::set_parameters](https://github.com/ros2/rclcpp/blob/40b09b5b14c6df9fe9eaf6a6a907c65c5b70747e/rclcpp/src/rclcpp/parameter_client.cpp#L324..L337) doesn't take a timeout option. So, if anything goes wrong in the service call (e.g. the server goes down), we will get stuck waiting indefinitely.

Exposing a timout that is set to -1 by default (as is done for [SyncPa

[2017-08-26 01:49] mikaelarguedas commented on #357
This has been fixed in #362
Test passed a 100 times on this job http://ci.ros2.org/job/ci_windows/3167/

[2017-08-26 01:49] #357 closed

[2017-08-28 17:51] dhood commented on #249
closed by https://github.com/ros2/rclcpp/pull/342 and https://github.com/ros2/rclcpp/pull/356 (adding features), and https://github.com/ros2/system_tests/pull/219 (updating tests)

[2017-08-28 17:51] #249 closed

[2017-08-30 19:18] dirk-thomas commented on #219
Seems to work with OpenSplice 6.7, see ros2/system_tests#222.

[2017-08-30 21:29] #219 closed

[2017-08-31 20:52] Karsten1987 opened #365 "SyncParameterClient always points to its own node"
I was trying to get started with the rclcpp implementation for parameters and stumbled upon a question I couldn't figure out.

The `AsyncParameterClient` takes two arguments:
1.) The node to spawn the service clients on
2.) A remote_node name to which service server the client points to

The `SyncParameterClient` takes only one argument, i.e. the node to spawn the service clients on and always poi

[2017-09-01 01:45] wjwwood commented on #319
@ArkturusMengsk I was able to reproduce this (thanks for the minimal example!) and we came up with a fix in https://github.com/ros2/rcl/pull/163.

Thanks again for helping us narrow it down, and sorry it took us so long to get to it.

[2017-09-05 21:02] andrew-konecki-apexai opened #370 "gcov Integration for gtest Coverage"
I was wondering if there were any metrics with the use of gtest within the rclcpp package?  I am specifically trying to determine code coverage that gtest is providing with respect source of the package with say gcov.

At the moment I am attempting to figure out where I would need to include the compilation options to support this.  Is there a place within the Ament system that would provide this

[2017-09-05 21:31] dirk-thomas commented on #370
`ament_tools` doesn't offer a way to specify package specific options. A [new build tool](http://design.ros2.org/articles/build_tool.html) should definitely offer that capability.

Currently we don't have a way to compute such metrics. While it would certainly be nice to have this hasn't made it up on the list of priorities in the past.

[2017-09-06 00:19] Karsten1987 commented on #365
Given today's offline discussion, it does make sense to adjust the `syncparameterclient` API to the asynchronous one.

Reasons for that is that the node interface provides means to query the local parameters and there is no direct need to go through service calls to fetch these.

[2017-09-08 18:14] mikaelarguedas commented on #319
I'm going to close thins now that ros2/rcl#163 has been merged. Thanks again @ArkturusMengsk for the original report and the reproducible example!

[2017-09-08 18:14] #319 closed

[2017-09-23 01:37] ayrton04 opened #377 "Support for array parameters"
I recently posted a [question](https://discourse.ros.org/t/array-parameters/2607/2) on the Discourse site about support for array parameters for primitive data types. Unless there are any specific objections to me doing so, I'd like to submit a PR to enable this functionality.

Let me know if this ticket should be in `rcl_interfaces` instead. Also, if there are any opinions about what the [type na

[2017-09-25 18:51] wjwwood commented on #377
@ayrton04 it would be nice to first have a pull request that modifies the design doc for parameters which addresses issues like what to call the types, how they will behave, how it might impact the API, or other considerations. Also it should then remove this section 😄:

http://design.ros2.org/articles/ros_parameters.html#support-for-arrays-of-primitives

After that we'll have an agreed on approac

[2017-09-26 09:41] ayrton04 commented on #377
@wjwwood Yes, good call. I'll start with PRs to update the design documentation.

Pushing shared functionality into `rcl` is a great idea. I'll admit to having already started on the new array data type parameters, and it's all been pretty straightforward so far (especially since `BYTES` was already implemented), so hopefully resolving conflicts when the core functionality moves to `rcl` won't be

[2017-09-26 15:24] sloretz opened #378 "OSX Static assertion failure from test_intra_process_manager.cpp:18"
## Bug report

**Required Info:**

- Operating System:
  - mini2 maxOS Sierra
- Installation type:
  - Source - CI job
- Version or commit hash:
  - 5813ba54db8e975e1f3f256ba34614ed62356ec2
- DDS implementation:
  - fastRTPS, connext
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Run a CI job, this is the command that failed
[code]

#### Expected behavior
rclcpp tests

[2017-09-26 16:17] sloretz commented on #378
rclcpp did not fail to  compile on mini1. Looks like it has an older version of xcode than mini2

mini1 version: 8.2.1
mini2 version: 9.0

[2017-09-26 16:22] sloretz commented on #378
Testing possible fix http://ci.ros2.org/job/ci_osx/2594/

[2017-09-28 02:09] #378 closed

[2017-10-02 18:46] #365 closed

[2017-10-13 14:07] gavanderhoorn opened #385 "'change_state' svc cb in LifecycleNode::init(..) not set(..) with std::move(..)?"
This is more a question than an issue: all callbacks for the lifecycle management services are `std::move(..)`ed in the `AnyServiceCallback<..>::set(..)` calls in `LifecycleNodeInterfaceImpl::init(..)`, except the one for `change_state` ([here](https://github.com/ros2/rclcpp/blob/2c6d95946eb852fb1fa6da7e81d4b30a9e7a7ad3/rclcpp_lifecycle/src/lifecycle_node_interface_impl.hpp#L100)).

It's probably

[2017-10-14 06:09] Karsten1987 commented on #385
thanks @gavanderhoorn for catching that. Related PR can be found here: https://github.com/ros2/rclcpp/pull/387

[2017-10-16 05:40] #385 closed

[2017-10-16 09:44] gavanderhoorn commented on #385
Good to know I'm not 'crazy' :)

👍 @Karsten1987.

[2017-11-08 01:41] dhood opened #392 "Single-threaded executor can be starved by timers"
**Context** (comes from https://github.com/ros2/demos/pull/187): A single-threaded executor has a timer scheduled for every N seconds, and also a service server.

**Bug**: If the timer callback takes >=N seconds to complete, the executor will never process service requests once the timer is triggered for the first time.

This is because of the combination of the following:

1. When the spinning ex

[2017-11-09 01:50] gaoethan opened #393 "wrapper object use after free"
## Bug report

**Required Info:**

- Operating System:
  -  N/A
- Installation type:
  -  N/A
- Version or commit hash:
  -  master
- DDS implementation:
  -  N/A
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

It occurs the issue of wrapper object use after free with `c_str()` in the code snippet like the following in [transition.cpp](https://github.com/ros2/rclcpp/b

[2017-11-09 06:28] gaoethan opened #394 "Missing copy constructor and assignment operator"
## Bug report

**Required Info:**

- Operating System:
  -  N/A
- Installation type:
  -  source
- Version or commit hash:
  -  master
- DDS implementation:
  -  N/A
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

In the following design of [state.cpp](https://github.com/ros2/rclcpp/blob/master/rclcpp_lifecycle/src/state.cpp#L47-L58):
[code]
Class `rclcpp_lifecycle::S

[2017-11-09 18:40] mikaelarguedas commented on #392
related to executor starvation reported https://github.com/ros2/rclcpp/issues/280
Right now we will match the behavior of rclpy and provide documentation as of how to make custom executors.

[2017-11-09 18:50] Karsten1987 commented on #393
Good catch.
It might be worth checking into returning a `const char *` for the `label()` function if you intend on going with `strcpy()`

I'd propose you file a PR for this ticket so we can run CI on it.

[2017-11-09 18:53] Karsten1987 commented on #394
That's definitely a missing feature! Thanks for catching this.
I also propose you open a PR so we can run CI on it.

[2017-11-13 06:42] minggangw opened #397 "Reset the error when rcl_take_response failed"
In the latest implementation of `rcl` of [rcl_take_response](https://github.com/ros2/rcl/blob/master/rcl/src/rcl/client.c#L279), the function will set the error message when returning `RCL_RET_CLIENT_TAKE_FAILED` and we have to reset the error so long as the return value doesn't equal to `RCL_RET_OK`. PR #396 has been submitted.

[2017-11-13 19:06] dhood commented on #397
Thanks for the patch @minggangw

The equivalent situation for services (`rmw_take_request`) has been discussed in https://github.com/ros2/rcl/commit/534a49c480df9a45098b4b74e0390764f6f810f6#commitcomment-19763950: the conclusion was that `rcl_take_response` returning false isn't actually an error state. This resulted in https://github.com/ros2/rcl/pull/88

Look like the parallel PR is just missing

[2017-11-14 07:03] minggangw commented on #397
Hi @dhood, we are implementing a rcl Node.js client named [rclnodejs](https://github.com/RobotWebTools/rclnodejs), which is under the [Web Robot Tools](https://github.com/RobotWebTools) umbrella. I found this problem when running the unit test by `npm test` and we created an [issue](https://github.com/RobotWebTools/rclnodejs/issues/144) to track. It seems that although the `RCL_RET_CLIENT_TAKE_FAI

[2017-11-15 18:50] dhood commented on #397
Yes, I agree that the parallel of PR https://github.com/ros2/rcl/pull/88 is just missing for clients, and then there will be no error message to be cleared. This is proposed in https://github.com/ros2/rcl/pull/182 so I'll close this ticket as it should address your initial issue.

Great to hear the context around the contributions.. I was wondering what client library you were using, but you are d

[2017-11-15 18:50] #397 closed

[2017-11-17 08:14] minggangw opened #398 "Build failed on macOS platform after SHA a215d2d22e0328"
## Bug report

**Required Info:**

- Operating System:
  - macOS with xcode 8.3.3
- Installation type:
  - build from source
- Version or commit hash:
  - a215d2d22e0328
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Build ROS2 by instruction from https://github.com/ros2/ros2/wiki/OSX-Development-Setup

#### Expected behavior
Can bu

[2017-11-17 08:40] mikaelarguedas commented on #398
Thanks @minggangw for reporting.
You are totally right, the header is missing, surprised cpplint didnt complain about the missing header.
 #399 should fix this

[2017-11-17 19:26] #398 closed

[2017-11-19 06:12] minggangw commented on #398
@mikaelarguedas thanks for fixing it quickly 👍

[2017-11-19 09:49] tfoote opened #401 "The ros_clock create_jump_callback is not safe to overwrite the shared pointer"
The tests pass if the callback_holder is created anew instead of overwriting the old one. There's clearly cleanup not working correctly.

[2017-11-22 04:44] #401 closed

[2017-11-27 21:26] deng02 commented on #280
So we are running into this issue with the latest release of ROS2. It can easily be reproduced by creating a subscriber that is slower than the publisher i.e. if you create a talker that pushes out N messages per second, and create a corresponding listener that each second spins with a QoS depth of N-1, you'll see the listener process jack up to almost 100% on the CPU and it never exits the spin_s

[2017-11-27 22:05] dhood opened #409 "Can't create ParameterService from within node constructor"
Working on https://github.com/ros2/demos/pull/192 I realised that classes that inherit from Node don't have an appropriate constructor they can call (from what I can see) to create a parameter service.

The only ParameterService constructor there is [takes a node shared pointer](https://github.com/ros2/rclcpp/blob/070b3125c1a7f76fbde3e31973d89a052a2ea652/rclcpp/include/rclcpp/parameter_service.hpp

[2017-11-27 22:20] Karsten1987 commented on #409
I can't tell why they are differently, but I think it's a good idea to expose a function in the node class similar to regular services, such as `node->create_parameter_<service|client>` and internally forward this to the `node_parameter_interface`. This goes along with the current implementation of pubs, subs and srvs and therefore can be called from the constructor.

[2017-11-27 23:47] wjwwood commented on #409
What @Karsten1987 suggested is ok, but we should also be able to have a constructor signature for the parameter client/service classes which take `Node *` and then get the interface pointers and pass them along to the more complicated constructor, that way you can pass `this` in the constructor.

We can do both things.

[2017-11-28 00:38] dhood commented on #409
Would we expect someone to pass `this` (a `Node *`) into the constructor of a parameter client, though? I didn't think we wanted to support that. It's not supported for other entities e.g. non-parameter clients, but I didn't feel like it's "still todo", but rather because we want users to call `create_*` methods on the node instead of calling the constructors directly.

The idea I had with the sug

[2017-11-28 01:22] wjwwood commented on #409
You may be right about not wanting to use `Node *`, I'd have to look more closely at the API to see if it doesn't make sense.

Either way the `create_parameter_service` like thing would be fine. However, I don't see how you get rid of the constructor that takes the various node interface pointers. I don't see any issue with that constructor -- we don't have to advise users to use it (i.e. use it o

[2017-11-28 01:36] Karsten1987 commented on #409
I don't think there is, but we could provide two constructors as we do with the [ParameterClients](https://github.com/ros2/rclcpp/blob/022b2b1b807d8239b492e81a8fc156e36c60724d/rclcpp/include/rclcpp/parameter_client.hpp#L52-L64) currently. One which can take a node shared_ptr and then calls the second constructor with all single interfaces. With that the user could still use a relatively straightfo

[2017-11-28 01:43] dhood commented on #409
Yeah I meant the one that takes the Node shared pointer, not the one that takes the interfaces (parameter services only have the former at the moment (pt 1) but at the time I was using parameter clients as an example and they have both so it was ambiguous).

I've seen in todos that we have been meaning to make the parameter service start automatically with the node, and these seem like good propos

[2017-11-28 01:46] wjwwood commented on #409
I think we should be careful in using the parameter client as the standard for the parameter service. They're used in fundamentally different ways. The client needs to be kept by the user so they can call methods on it. Whereas for the parameter server you just create it and forget it. So I think it's more appropriate for the node to create it and own it, especially since, unlike subscriptions, it

[2017-11-28 02:30] dhood commented on #409
Correction: My point about "needing it anyway for remote parameter requests" only applies to parameters clients.

@wjwwood your last post has made me realise why the API is different for parameter services/clients: perhaps it's because, for parameter services at least, the API (and passing the node in) was only ever supposed to be temporary until it could be put behind the scenes. It didn't make s

[2017-11-28 03:30] wjwwood commented on #409
I mean, that's fine, but I think that the parameters client is pretty different from the normal service clients (they are typed and are kept track of buy the node whereas the parameter clients are not templated/typed and the node doesn't need to keep track of it directly), so I don't think there is a need to make them the same though it's fine if they end up similar. The way I view the parameter c

[2017-12-04 01:12] #409 closed

[2017-12-05 06:12] dirk-thomas commented on #280
@deng02 The detailed information were really helpful. Based on that I was able to implement a patch. But that requires to expose more information in the FastRTPS API. I have created a PR against upstream (also considering other ways how to address this): eProsima/Fast-RTPS#166 Once we get a response on that I will hopefully be able to move forward and fix this issue.

[2017-12-05 14:24] dirk-thomas commented on #280
@geoffviola @BrannonKing @deng02 It would be great of you could try the proposed patch (eProsima/Fast-RTPS#166 and ros2/rmw_fastrtps#178) and report back if it addresses your problem.

[2017-12-05 15:58] dirk-thomas commented on #280
I ran the reproduceable example (ros2/examples@1278fb5) mentioned in the description and without the patch the listener was running forever and could not be Ctrl-C-ed. With the patch it exists on its own after printing a few received messages.

[2017-12-05 19:01] dirk-thomas opened #421 "add test to check behavior when the queue size of the subscriber is reached"
To cover the issue #280.

[2017-12-05 19:02] #280 closed

[2017-12-06 06:54] Karsten1987 commented on #394
closed via https://github.com/ros2/rclcpp/pull/419

[2017-12-06 06:54] #394 closed

[2017-12-06 06:55] Karsten1987 commented on #393
closed via #418

[2017-12-06 06:55] #393 closed

[2018-01-05 19:04] sloretz commented on #243
What is the plan for this ticket? It appears the topic `parameter_events` is currently in the namespace given to the constructor of `Node`, not the global namespace.

https://github.com/ros2/rclcpp/blob/6129a12df5ec21b7ccbf6879036281b1374db0fb/rclcpp/src/rclcpp/node_interfaces/node_parameters.cpp#L41-L46

[2018-01-07 22:39] mikaelarguedas commented on #243
This will be addressed during the [parameter refactor](https://github.com/ros2/ros2/issues/432).
https://github.com/ros2/rcl_interfaces/pull/27 aims to add the missing information to the paramer event messages so that the full node name is provided.

[2018-01-15 14:37] sagniknitr opened #430 "Use std::vector to store publisher shared_ptrs"
Should I implement my own STL allocator to store ,say suppose , a vector of publisher shared_ptrs pointing to different message structures(sensor/std/geometry etc.). It seems using the std::vector doesn't work ( compilation errors) for storing these shared pointers..

[2018-01-15 16:05] wjwwood commented on #430
You cannot store publishers of different message types in a vector, since they’re templated on the message type and are therefore not the same type and std vector only stores homogeneous types. However, you can store a vector of `rclcpp::PublisherBase` which is the common base class for all publishers.

[2018-01-16 09:41] #430 closed

[2018-01-16 19:37] deng02 commented on #349
We have been hitting this issue when using the ROS2-to-ROS1 ros1_bridge with bridge_all_2to1_topics set to false.  When the ROS1 subscriber for a topic disappers the ROS2 subscriber is destroyed and sometimes this happens while the wait set is still holding a raw pointer to a member of that object.  The result is various segfault errors within rmw_wait.

[2018-01-19 14:46] sagniknitr opened #432 "use of functors in publisher_factory.cpp"
Hi,
Is there any design related reasons for which functors ( std::function() ) are used in rclcpp/publisher_factory.cpp (https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/publisher_factory.hpp)  instead of function templates ?
The link https://stackoverflow.com/questions/14677997/stdfunction-vs-template describes that functors are slow at runtime. I am curious to know the reason for

[2018-01-23 21:40] wjwwood commented on #432
We need `std::function` to support lambda's with captured variables as well as `std::bind`. We also need to store various types of callbacks but call them uniformly.

It's possible we could have an alternative signature that uses a function template, for simple cases (function pointer to a free function). However, it looks like most compilers make this optimization for you (`std::function` has no,

[2018-01-23 21:40] #432 closed

[2018-02-16 18:49] guillaumeautran opened #438 "rclcpp logging still uses fprintf"
rclcpp logging still uses fprintf all over the place. We should align the logging with the standard RCLUTILS_LOG_XXX macros.

[2018-02-16 20:04] wjwwood commented on #438
Indeed that's a good goal, though I think @dhood might have been waiting to resolve some lingering logging pr's before doing this? Maybe not. Either way, help is appreciated.

[2018-02-16 20:05] dhood commented on #438
nah, I just added some logging, didn't convert all of the existing print statements

[2018-02-16 20:09] wjwwood commented on #438
Cool, then just something that needs to be done. I put the "help wanted" tag on it.

[2018-02-16 22:12] guillaumeautran commented on #438
I've got a patch almost ready to go (doing some testing). Will push it up soon.

[2018-02-19 23:27] matt-attack opened #440 "Add RCL_ROS_TIME based timers"
Currently there are only wall_time based timers. It would be very useful for bag playback or any other instance that `use_sim_time` is enabled to have some kind of timer that can use ROS time as a backing. This would allow for pausing the system or slowing it down to match the playback of the bag file.

This would likely require having a thread running in the background monitoring these timers or

[2018-02-20 16:04] matt-attack opened #441 "Make number of threads in MultiThreadedExecutor configurable"
Currently the MultiThreadedExecutor just uses the number of hardware cores/threads as the number of threads to use: https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/executors/multi_threaded_executor.cpp#L29

It would be useful for it to be optionally configurable through an argument to the constructor so that one can effectively limit the maximum resource usage, much like how this coul

[2018-02-20 16:40] dirk-thomas commented on #441
Please consider to provide a PR for this, e.g. exposing the limit as an optional constructor argument.

[2018-02-20 17:46] jlblancoc commented on #441
Why not adding a new field to ExecutorArgs instead of adding a ctor parameter?

[2018-02-20 18:10] dirk-thomas commented on #441
That would be an option too. (It might not apply to all executors though, e.g. single threaded ones.)

[2018-02-26 16:36] Karsten1987 commented on #421
@dirk-thomas I'll assign you to this ticket and given that the referencing issue is closed, I'll add this ticket to the bouncy milestone.
Feel free to re-assign or remove it from the milestone if you think so.

[2018-02-26 16:40] Karsten1987 commented on #370
@andrew-konecki-apexai does this answer your question? If so, feel free to close this issue or re-iterate over it in case there are some more open questions.

[2018-02-26 16:46] Karsten1987 commented on #317
@Alex031544 given that we by now call `rclcpp::shutdown` in all of our demos and there is no update on this ticket, I'll take it this issue is resolved.
Thanks for iterating over it and please feel free to re-open it in case you still have trouble with it.

[2018-02-26 16:46] #317 closed

[2018-02-26 16:53] Karsten1987 commented on #308
@wjwwood Do you think this is still an open issue?
I'll assign you to this ticket and add it to the bouncy milestone. I guess, it'd be great if we could verify that this behavior is still the same with the current ros2 master. If so, we can tackle it for the next release.
Feel free to re-assign the ticket.

[2018-02-26 16:55] dirk-thomas commented on #421
Since I won't be working on this any time soon I will unassign myself. I also don't think having a test is critical for the next release either and will therefore also remove the milestone.

[2018-02-26 16:56] Karsten1987 commented on #305
@AravindaDP I am closing this ticket due to inactivity.
Thanks for bringing the topic forward and please feel free to re-open the ticket in case there's any update.

[2018-02-26 16:57] dirk-thomas commented on #370
Based on the time since this was filled and that there was no response since then I will close this for now. Please feel free to comment and it can be considered to be reopened.

[2018-02-26 16:57] #370 closed

[2018-02-26 17:17] Karsten1987 commented on #305
I am re-opening this ticket for visibility but add it to the untargeted milestone. @AravindaDP, this means we won't spend time on it in the near future, but again please feel free to bring forward any concern you might face with this issue.

[2018-02-26 17:24] dirk-thomas commented on #421
I don't think `untargeted` is a good choice either. That will imply that we will "never" take another look at this ticket. Adding test coverage for this seems to be a reasonable thing in the future though.

[2018-02-26 19:35] Karsten1987 commented on #241
@firesurfer I believe you can find a simple example of a CMakeLists.txt in [here](https://github.com/ros2/examples/blob/master/rclcpp/minimal_publisher/CMakeLists.txt).

I am going to close this issue because I think it is not related to rclcpp. Please feel free to open another issue, e.g. on the examples repo if you think these can be improved or made clearer.

[2018-02-26 19:35] #241 closed

[2018-02-26 19:55] Karsten1987 commented on #205
@wjwwood is that still an ongoing discussion? It looks to me as if using shared_ptr/weak_ptr doesn't require any destroy functions.

[2018-02-26 19:57] Karsten1987 commented on #189
@esteve is that still an open issue? If so, could you please elaborate on it?

[2018-02-26 19:59] Karsten1987 commented on #154
closing this as the related PR is closed.

[2018-02-26 20:02] Karsten1987 commented on #115
@wjwwood Can this be closed given that we have the composition demos?

[2018-02-26 20:14] Karsten1987 commented on #114
@wjwwood same as https://github.com/ros2/rclcpp/issues/115#issuecomment-368631239

[2018-02-26 20:20] Karsten1987 commented on #3
@wjwwood @dirk-thomas Do you think it's worth iterating over this ticket?

[2018-02-26 21:32] wjwwood commented on #114
I would say no. We still do not have CMake infrastructure to let users easily create node components. And I still think we should.

[2018-02-26 21:33] wjwwood commented on #115
No, the demo just demonstrates the technology, it doesn’t provide a general purpose executable that people can rely on going forward. It wouldn’t be a good idea for people to build robot launch files that launch critical executables from a demo package.

[2018-02-26 21:34] dirk-thomas commented on #3
We should make a decision and then just implement it that way.

[2018-02-26 21:44] wjwwood commented on #205
Have the functions mentioned been removed? If not then I’d say the task in this issue is not done yet. I don’t think any more discussion needs to be done.

[2018-02-27 21:30] dhood commented on #3
To summarise the relationship between `rclcpp::ok()`, signals, and `rclcpp::shutdown()` in the current state of the code:

- `rclcpp::ok()` returning true suggests that a signal has been received (and not cleared).
- The rclcpp signal handler will call the user's signal handler, then call `trigger_interrupt_guard_condition`.
- `trigger_interrupt_guard_condition` will wake up waitsets and set the s

[2018-02-28 19:16] dhood commented on #3
To conclude (wanted to get that post out before the meeting), my opinion is that if we want to rename `rclcpp::ok()` it should not be to something that implies shutdown, but interruption.

I'd vote for keeping it as `rclcpp::ok`, or returning a state enum.

I considered `rclcpp::signal_received()` or (not entirely accurate) `rclcpp::interrupted()` but both introduce concepts that users are not nec

[2018-02-28 19:23] dirk-thomas commented on #3
I don't think `ok` is a good name since there is not clear what "ok" / "not ok" stands for. `Interrupted` seems to describe best what the boolean value currently expresses.

[2018-02-28 19:36] Karsten1987 commented on #3
I personally also vote for keeping it as `ok`. I believe that the snippet like
[code]
is well established in the ROS world and users know how to handle it. I am not saying, we couldn't convince them to use `interrupted` instead, I just don't see a strong argument for why we should do it. Just my 2 cents.

[2018-02-28 20:04] wjwwood commented on #3
@Karsten1987 I also think `ok` is fine to keep, but I don't think your example would ever exist, you'd do this maybe though:

[code]

[2018-02-28 20:11] wjwwood commented on #3
I actually don't think that using `SIGINT` to interrupt spin, only to go back into it is a good pattern to encourage. The idea is that when `SIGINT` comes, you should be shutting down. I understand the point that this is not strictly the case, but I wouldn't differentiate between the two. If the user wants to handle the signals themselves then that's fine, but I'm speaking about the default behavi

[2018-02-28 20:24] allenh1 commented on #3
+1

[2018-02-28 21:16] dhood commented on #3
Since interruption doesn't trigger shutdown, I'm not convinced it makes sense to conflate them so explicitly. That doesn't mean we have to differentiate interruption and shutting down, though: `!ok` is nice and vague in that sense :smile:

As an example of why conflating them is confusing, consider the case where you want to explicitly call shutdown before a main exit, e.g. to deregister our signa

[2018-02-28 21:22] wjwwood commented on #3
If that's the case then I'd say it's mostly an oversight, since that is what ROS 1 does, e.g. see the recommendation for a custom signal handler:

http://wiki.ros.org/roscpp/Overview/Initialization%20and%20Shutdown#Custom_SIGINT_Handler

Also from that page:

So I think that's worth emulating, or at least I don't know why would change that (maybe I just implemented it incorrectly in `rclcpp`).

[2018-03-02 17:03] matt-attack opened #447 "rclcpp::Node::make_shared() or destructor does not appear to be threadsafe"
Trying to create then destroy many nodes at the same time causes a wide variety of different crashes. It seems that either creating or destroying a node is not thread safe.

Here's a minimal example that crashes almost every time for me:
[code]

Often I will get
[code]

Sometimes I get:
[code]

Other times:
[code]

[2018-03-02 23:27] wjwwood commented on #154
I don't think this was the right action, as the related PR was closed (declined) but the topic is still an issue, see: https://discourse.ros.org/t/how-to-shutdown-and-reinitialize-a-publisher-node-in-ros-2/4090/1f

[2018-03-02 23:32] wjwwood commented on #154
We could clean this issue up and make it clearer what needs to be done.

[2018-03-03 01:24] wjwwood commented on #447
The short answer is that I would not expect it to be thread-safe. Unfortunately rclcpp hasn't gone through an API review yet and still lacks clarity on a lot of these kinds of details and therefore also lacks documentation on these points.

However, if you look into the functions that `rclcpp` is ultimately calling in `rcl`, there are several which are explicitly marked as not thread-safe, e.g. [`

[2018-03-12 18:27] wjwwood commented on #349
I believe https://github.com/ros2/rclcpp/pull/431 closes this, please comment here if this is still an issue.

[2018-03-12 18:27] #349 closed

[2018-03-16 10:31] sagniknitr commented on #447
@wjwwood  Is there any chance it is caused due to deadlock in Fast-RTPS threads ? It seems there is a issue on Fast RTPS (https://github.com/eProsima/Fast-RTPS/issues/190) which may relate to this.

[2018-03-19 15:49] matt-attack commented on #447
@sagniknitr I have seen that issue come up as well, so it's very possible its at least related

[2018-03-20 04:52] wjwwood commented on #308
I was unable to reproduce this with this code using master and fastrtps:

[code]

[2018-03-20 04:52] #308 closed

[2018-03-28 10:26] gong0029 opened #455 "Client (async_send_request) could not return when the data (message) is lost"
In ROS2 client, if the message is lost, the client function "async_send_request" will not return any more. I try to solve the problem in rmw level and hack the code in function "rmw_take_response" to return RMW_RET_ERROR if the message is lost, but it doesn't work.

The reason is that:

In function "Executor::execute_client":

   if (status == RCL_RET_OK) {
        client->handle_response(request_

[2018-03-29 00:48] wjwwood commented on #455
I don't understand your question, because `async_send_request` should not block depending on whether the request message is sent or received successfully. It should send (or queue to send) and then return immediately.

Also, `async_send_request` should not directly be calling `rmw_take_response` and therefore should not block it from returning. The executor will call that if and only if `rmw_wait`

[2018-03-29 02:24] gong0029 commented on #455
I mean async_send_request will not return until the response is received successfully (because async_send_request need to return the response value).

If you set *taken=false in "rmw_take_response", then "rcl_take_response" will return  RCL_RET_CLIENT_TAKE_FAILED and "execute_client" will not execute "handle_response". Then "async_send_request" will not return.

[2018-03-29 07:01] wjwwood commented on #455
I don't believe that's true, as you can see here that function does not call `rcl_take_response`:

https://github.com/ros2/rclcpp/blob/ef17ec624849d269429166fc4b7dca4d93d15895/rclcpp/include/rclcpp/client.hpp#L223-L247

And even if it did try to take a response, it would just fail immediately since you didn't wait in between.

Perhaps you could post some steps to reproduce it or at least give some

[2018-03-29 08:49] gong0029 commented on #455
In "async_send_request", the function will be blocked at "return f;"(line 256) until the function "handle_response" execute "callback(future);"(the last line). But if you set *taken=false in "rmw_take_response", then "execute_client" will not execute the function "handle_response".

If you wangt to reproduce it, you can simply change the file rmw_respomse.cpp (for example we use fastrtps) and add

[2018-03-30 00:16] dhood opened #457 "Test of node->now() flaky on OS X"
[This test](https://github.com/ros2/rclcpp/blob/787de6ebf1a8748cd36802f8c1e6a41fc0f85fed/rclcpp/test/test_node.cpp#L113) is flaky:
[code]

The failures that I've seen are always on OS X, at the last line.

Here are some examples:
https://ci.ros2.org/view/nightly/job/nightly_osx_repeated/1039/testReport/junit/rclcpp/TestNode/now/ (mini1)
https://ci.ros2.org/view/nightly/job/nightly_osx_repeated/104

[2018-03-30 00:18] #441 closed

[2018-03-30 00:36] tfoote commented on #457
That's very surprising. This test was setup as a tripwire and should not be anywhere near performance limits. Otherwise we can't do timing in under ~1ms.

The tolerance is there to account for calling "now" twice in a row via the two different APIs.  `node->now()` and  [clock `now()` ](https://github.com/ros2/rclcpp/blob/787de6ebf1a8748cd36802f8c1e6a41fc0f85fed/rclcpp/src/rclcpp/clock.cpp#L76) Whi

[2018-03-30 10:01] #211 closed

[2018-03-30 10:02] #206 closed

[2018-03-30 16:31] dhood commented on #312
@PhilKW sorry that this ticket was not on our radar, I just stumbled upon it today. You probably have already found the solution to your issue but for posterity:

Instead of using `spin_until_future_complete` in Node 2 (since the node is already being spun on), you can send the async request with a callback that will get triggered when it is completed. [This demo](https://github.com/ros2/demos/blo

[2018-03-30 16:31] #312 closed

[2018-03-30 18:16] dirk-thomas commented on #457
As far as I understand the [underlying code](https://github.com/ros2/rclcpp/blob/45dcd0c6e58bf54d771ae8635d30cc91f8a08e2d/rclcpp/src/rclcpp/node.cpp#L207-L217) both ways to retrieve the current time are identical.

Therefore `EXPECT_GE` basically checks that the returned time is not going backwards. That makes sense even though a single comparison might not say a lot.

But what is the goal of `EXP

[2018-03-30 23:58] tfoote commented on #457
The goal of this check is to make sure that it's still using the same clock and not somehow completely different. There's some threshold that should be reasonable to expect it to be closer than.

A 1ms hiccup between two consecutive calls in the same thread without a yield seems to be quite large and possibly indicative of another issue.

[2018-03-31 00:03] dirk-thomas commented on #457
Why do you think so? As as describe above you might just "loose" the CPU and on a system with a non-realtime kernel it might take hundreds of milliseconds until the code path continues.

[2018-03-31 01:03] wjwwood commented on #455
Hmm, I don't think that's the way futures are supposed to work. My expectation is that `return f;` will simply be copying a shared pointer to a `std::future` (which is what `SharedFuture` is), only when you try to wait on the future would it block.

But I will try to reproduce your example and see if I can reproduce it.

[2018-04-02 03:29] gong0029 commented on #455
Fine. Thanks for your help. I don't  exactly know how "std::future" works. I wonder if "return f" does not block the function "async_send_request", how to guarantee to obtain the response from the RPC call?

[2018-04-02 18:11] dhood commented on #457
Sounds like this underpins a number of other test failures we see sometimes, e.g.
These `rcl` timer failures on Windows (e.g timer shouldn't be ready but it is, timer took too long to wake up): https://ci.ros2.org/view/nightly/job/nightly_win_rep/1034/testReport/rcl/
Or this `rclpy` timer failure on OS X (waits for 0.0005s for a timer with period 0.001s, checking it doesn't receive anything, but i

[2018-04-02 18:18] dirk-thomas commented on #457
Imo unit tests should not test for performance explicitly. They should be satisfyable even on "slow" system or systems with concurrent load.

Separate performance tests could ensure that we are satisfied with the latency (whatever else) but those shouldn't cause flaky failures on our regular builds.

[2018-04-02 18:28] dhood commented on #457
I suppose the approach will depend on the "type" of test then.

E.g. "timer shouldn't be ready so soon, but for some reason it is" is difficult to _ever_ guarantee on slow systems the way that the test is written, so could be removed/disabled.

While "timer is expected to wake up eventually but took too long to wake up" is _possible_ to satisfy and might just need its tolerance relaxed. That's ass

[2018-04-02 18:49] dhood opened #458 "Access violation in new test_utilities test"
See for example https://ci.ros2.org/view/nightly/job/nightly_win_rep/1034/testReport/junit/(root)/projectroot/test_utilities/
[code]

RC 3221225477 is [access violation](http://www.febooti.com/products/automation-workshop/online-help/events/run-dos-cmd-command/exit-codes/), so there is likely a bug in the memory usage of this PR https://github.com/ros2/rclcpp/pull/454 or its counterpart in `rcl`

[2018-04-04 14:34] mjcarroll commented on #458
Address Sanitize seems to indicate some issues, tracking down the source now.

[2018-04-05 17:53] mikaelarguedas commented on #457
Conclusion from triage meeting:
Unit test should not test performance or have very relaxed acceptance criterias to account for the (non) real-time nature of the platform they run on.
We can keep the low frequency tests as regular unit tests.
The performance ones should be adapted to have more permissive acceptance criteria and labeled as performance tests.
example of tests to be adapted (not a ful

[2018-04-11 00:35] wjwwood commented on #317
@EwingKang my opinion on this issue is that either:

- you are not returning from a callback in your node
- you are using something that overrides the signal handler for SIGINT but does not call the ROS signal handler afterwards

In either case, I recommend you add console output and/or more of the code that's not working.

[2018-04-11 01:54] EwingKang commented on #317
Hello, @wjwwood  Thanks for your reply. The following is my OmniIo node. All of the node did return normally as far as I tested (with printf). The destructor is never called like afore mentioned.
- I'm running this node under `sueo -sE` because it need to access the motherboard GPIO library.
- Also, all the clock call(clk2, clk3, or even `this-now()`) will fail, they always stuck at the same numbe

[2018-04-11 03:52] EwingKang commented on #317
I've found out how to trigger my issue. It turns out if I link a perticular library within the `add_executable()` in CMakeLists.txt, the signal_handler() sould stop working, i.e. showing only `signal_handler(2)` but no return of spin(node)

I guess it kinda make sense since the library is about motherboard hardware(GPIO, I2C, sensor etc) stuff, so it probably mess with linux kernal. What bothers m

[2018-04-11 17:43] #458 closed

[2018-04-12 09:27] sagniknitr opened #460 "ros::NodeHandle::resolveName() like function in rclcpp::Node ?"
## Feature Request

Does the rclcpp::Node class support the resolveName function ( similar to ros::NodeHandle::resolveName) ?
If not , I would be happy to submit a PR on this.

[2018-04-16 08:57] gong0029 commented on #455
Did you successfully reproduce the example? @wjwwood

[2018-04-16 14:02] wjwwood commented on #455
@gong0029 I haven't had time to reproduce it. Hopefully, I'll get to it soon.

[2018-04-16 14:56] jespersmith opened #462 "Ability to serialize messages without publishing"
## Feature request

#### Feature description
It can be advantageous to send the messages over a custom protocol (to allow sending data over WAN or non-network data link like SPI etc) while still leveraging the serialization that ROS2 provides.

A function to the RCLCPP to serialize ROS2 messages to a byte array (maybe std::vector<uint8_t>) would help to implement this functionality.

#### Implemen

[2018-04-16 15:04] wjwwood commented on #462
This is related to the set of changes connected to this pr: https://github.com/ros2/rclcpp/pull/388

That lets you publish and take messages in the serialized format (`uint8_t` buffer). We'll need this feature you've described (as well as its corollary) to properly implement rosbag's as well.

/cc @Karsten1987

[2018-04-16 15:42] Karsten1987 commented on #462
The basic outline for the new API can be found in the demo PR https://github.com/ros2/demos/pull/185  .
I am currently working on this, still having some code cleanup and memory management organization to do on it. That is to say, that it's not ready to merge yet.
There is currently only a publish/take function to publish and receive messages in a serialized form. A second set of function is yet t

[2018-04-24 14:15] mjcarroll opened #464 "Bionic Fast-RTPS SEGFAULT on Parameters"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 Bionic
- Installation type:
  - Source
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

In the migration to Bionic, we uncovered a few failing tests, all involving Fast-RTPS, which involves segfaults in the use of Parameters. ros2/ros2#481

To reproduce:
`ro

[2018-04-24 15:33] mjcarroll commented on #464
After some inspection, I think that the issue arises from the fact that by default, the `rcl_interfaces::msg::SetParametersResult` field `reason` is an empty string.  If I populate the `reason` field with an arbitrary (non-zero-length) string, then the program no longer crashes.

I also see that there was a modification to handle a bug in zero length arrays upstream, I'm going to see if it's relat

[2018-04-24 16:54] mikaelarguedas commented on #464
Thanks @mjcarroll for picking this up.

To give slightly more context on this based on our investigations from last week:

- the issue seems to be on our side in the typesupport introspection.
- we seem to be giving invalid memory to FastRTPS to stuff the messages, it can be that we don't allocate the structures properly or that we have a bug in our offset calculations in the typesupport structure

[2018-04-24 16:57] mjcarroll commented on #464
Upstream fix was not related.

[2018-04-25 15:15] mjcarroll commented on #464
I built a small test program to isolate the serialization/deserialization mechanisms:
https://gist.github.com/mjcarroll/5ef1437a2a4ab95e8d14e13c53c9fcfd

The problem is reproducible, with a segfault occurring in the deserialization phase.

[2018-04-25 17:33] mikaelarguedas commented on #464
this seem to happen only on parameters so far. All the topic tests from test_communication pass (once identified we should add a regression test case in test communication to cover a similar message type though).
It seems related to bionic (and it's gcc / stl versions) as we cannot reproduce it on xenial.

Last bit of information @mjcarroll found is that if we resize the container before passing i

[2018-04-25 17:51] Karsten1987 commented on #464
just fyi:
https://github.com/ros2/system_tests/blob/expose_cdr/test_communication/test/test_message_serialization.cpp
These are the tests I am currently running for my PR, it seems to work fine so far on osx.

However, there is this PR open for FastCDR which resizes the buffer before taking the payload from the wire. Don't think it's really related to this question, but I link it here for complete

[2018-04-26 03:05] mjcarroll commented on #464
@mikaelarguedas it's in the gist above, I hadn't landed it anywhere more permanent before, but seems reasonable to make it a regression test once we figure it out.

[2018-04-26 03:07] mikaelarguedas commented on #464
Duh :confounded:, thanks

[2018-04-26 03:08] mjcarroll commented on #464
@Karsten1987 If you get a chance, you should include a message that includes an array of sub-messages that also includes a string, which is what the parameters response message is.  That would execute the same code paths I'm currently debugging.

[2018-04-26 03:14] mjcarroll commented on #464
Just kidding, I read your code and you are already doing it :)

I will test yours on Bionic and see what happens.

[2018-04-26 03:37] tfoote opened #465 "Extend Time implementation into Timer and Rate objects"
The Timer and Rate need to use a clock, with a coupled time source to accurately sleep.

 *  [ ] Remove internal Rate sleep method, and externalize it with a valid clock or pass in the clock.
 *  [ ] Provide a sleep method for the Timer class.

[2018-04-27 00:38] dhood commented on #438
closed by https://github.com/ros2/rclcpp/pull/439

[2018-04-27 00:38] #438 closed

[2018-04-27 00:46] mikaelarguedas commented on #438
What should we do for the commented out (f)printf calls still in the repo?
There seem to also be some printf still in use for the signal handlers.

[2018-04-27 00:57] dhood commented on #438
I imagine it will be updated when [that TODO](https://github.com/ros2/rclcpp/commit/49e9ed34b30202a98fd5aa825130e910dc813d34) gets addressed (unless you're speaking about something else)

Also has a [todo](https://github.com/ros2/rclcpp/blob/07e5be76218bd830c787b1d5c4af12e9eb6d5f6e/rclcpp/src/rclcpp/utilities.cpp#L138) that would need a decision (and it would need to update the behaviour on launch

[2018-04-27 01:03] mikaelarguedas commented on #438
It seems that we can easily miss it when we adress the TODO as the TODO doesnt mention it.
https://github.com/ros2/rclcpp/pull/466

[2018-05-02 14:06] mjcarroll opened #469 "Bionic test_register_custom_callbacks Timeout"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 Bionic
- Installation type:
  - Source
- Version or commit hash:
  - master
- DDS implementation:
  -
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Run rclcpp_lifecycle test_register_custom_callbacks.  After the test has passed, the program fails to terminate.  In CI, this causes the test to time

[2018-05-02 15:06] dhood commented on #469
I've seen the following output on a nightly once:

[code]

It was [this ARM build](https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_repeated/394/testReport/junit/(root)/projectroot/test_register_custom_callbacks/) from April 21st. That's just a flaky test though, not a consistent failure like you see on bionic, and tbh I only saw it that one time during a weekend where we had a lot of ad

[2018-05-02 15:48] mikaelarguedas commented on #469
Interestingly this hang shows up only on jobs using FastRTPS by default but the same test passed on all jobs using Connext by default:
https://ci.ros2.org/job/ci_linux/4261/testReport/rclcpp_lifecycle/TestRegisterCustomCallbacks/custom_callbacks/
https://ci.ros2.org/job/ci_linux/4264/testReport/rclcpp_lifecycle/TestRegisterCustomCallbacks/custom_callbacks/

I confirmed locally that the test never

[2018-05-03 14:00] #464 closed

[2018-05-03 15:47] mjcarroll commented on #469
Asan and Tsan return no issues.

[2018-05-03 15:48] mjcarroll commented on #469
If all of the `register_on_XXX` methods are commented out, the program doesn't hang.  Enabling even a single registration causes the program to hang.

[2018-05-04 08:03] wjwwood opened #471 "Executor::spin_some() should check for work only once"
I believe `spin_some` behaves contrary to how most people would assume. I believe most people assume that if there are three things to do when you call `spin_some()` only three things will be done then it would return. Even if new work items come up during that execution.

However, right now `spin_some()` will check if there is work to do after each work item is completed. This means that if you h

[2018-05-04 08:04] wjwwood commented on #471
This was previous discussed in a related, but ultimately different, issue:

https://github.com/ros2/rclcpp/issues/280#issuecomment-289627771

[2018-05-04 18:10] #469 closed

[2018-05-04 18:43] tj10200 commented on #471
Hey, I'm pretty new to working on github projects. I'd like to take a shot at fixing this issue. Can you give me permission to create branches so I can submit a pull request? Or what is the process there?

[2018-05-04 18:48] dhood commented on #471
Hi @tj10200, rather than giving contributors write access, we ask them to make a pull request from a fork (see https://help.github.com/articles/fork-a-repo/). Let us know if you get stuck at a particular point.

In terms of general contribution workflow, if you'd like to work on this issue you can claim it (as you have done), and comment here for general discussion on the direction of the work, an

[2018-05-04 21:42] tj10200 commented on #471
Thanks @dhood, I appreciate the help. I submitted a pull request with a minor change on the loop, but maybe I got ahead of myself a bit. Is there a README on how to get the project building. Specifically how to get ament_cmake_ros and ament_cmake projects integrated so the CMakeLists can find them?

[2018-05-04 21:52] wjwwood commented on #471
@tj10200 there are quite a few dependencies for `rclcpp`, I'd recommend follow our ROS 2 development setup here:

https://github.com/ros2/ros2/wiki/Installation#building-from-source (use one of the ones from the "Building from Source" list)

Then you'll be able to build and test only `rclcpp` using the `--only rclcpp` argument to our build tool (`ament.py build`). There's also these references:

-

[2018-05-07 11:29] tj10200 commented on #471
Hi, @wjwwood. I've gone through a few iterations of trying to get the code to build using the guides you provided and keep getting stuck on this compilation error in the rclcpp project:

service.hpp:128:71: error: there are no arguments to ‘rcl_node_get_logger_name’ that depend on a template parameter, so a declaration of ‘rcl_node_get_logger_name’ must be available [-fpermissive]
               r

[2018-05-07 15:30] mikaelarguedas commented on #471
`rcl_get_logger_name` has [been added](https://github.com/ros2/rcl/pull/212) after the Ardent release, so my guess is that you;re using an old version of the code.

Can you try to build the entire stack from source following [these instructions](https://github.com/ros2/ros2/wiki/Linux-Development-Setup) ?
In the step "[Get ROS 2.0 code](https://github.com/ros2/ros2/wiki/Linux-Development-Setup#get

[2018-05-08 11:55] tj10200 commented on #471
Thanks all, I got the code building. It was a combination of not using master and the rviz directory not building on my VM which led to missing cmake dependencies when I went back and tried to use --only rclcpp.

[2018-05-14 15:54] dirk-thomas opened #473 "/clock topic should have same type as in ROS 1"
It should be `rosgraph_msgs/Clock` rather than `rcl_interfaces/Time`.

[2018-05-15 20:28] ernestmc commented on #473
@tfoote this is important to bridge Gazebo with ROS2. Do you think it's an easy solution or are there design issues involved?

[2018-05-17 17:06] tfoote commented on #473
Yeah, there's no technical reason. I proposed making the message the same as in ROS1 shortly before ardent but we were approaching the code freeze and we'll need to do a global search and replace in the codebase to match this change.

[2018-05-18 22:20] sloretz opened #475 "Expected vs Unexpected parameters Node::create_param()"
## Feature request
Allow node author to define expected parameters and what happens when an unexpected parameter is set.

#### Feature description

This issue is a first step towards larger features like parameter constraints (allowed types, read-only parameters, allowed ranges, etc...). These will be ticketed separately.

If a node does not use parameters:
  * Universal parameters like `use_sim_t

[2018-05-21 21:31] sloretz commented on #475
Related to the discussion concluded here: https://github.com/ros2/rclcpp/pull/309#issuecomment-286906648

[2018-05-29 19:22] dhood opened #479 "Member callback not working for GTest class with gcc7"
In https://github.com/ros2/rclcpp/issues/343 we saw `decltype cannot resolve address of overloaded function` issues with gcc7. That prompted https://github.com/ros2/rclcpp/pull/346 which resolved it for the most part.

There seems to be a case that is not covered still, which has shown up in testing of the turtlebot demo (in particular, map_server) on Bionic (which has gcc7).

I narrowed it down t

[2018-05-29 22:52] AndyZe opened #482 "Duretion: why no .seconds()?"
## Bug report

**Required Info:**

- Operating System:
 Ubuntu 16.04
- Installation type:
  - binary
- Version or commit hash:
  - rclcpp: 0.4.0-0xenial-20180208-1432
- Client library (if applicable):
  - rclcpp

#### Feature description
Feedback from a new ROS2 user: I think the new clock is unnecessarily confusing. Why does the constructor take seconds and nanoseconds, but there's only a method

[2018-05-29 23:00] wjwwood commented on #482
There's not floating point seconds method right now. You could do `duration.nanoseconds() / 1e9` to get floating seconds. There's no reason to not have a `seconds() -> double` method, I think a pr would be accepted.

I will say that the Time interfaces (along with others) are still subject to change in C++. For one thing, the steady clock and system clocks should not be diffable and should produce

[2018-05-29 23:03] dirk-thomas commented on #482
Might such a method be subject to precision loss? In that case it might be better to not provide it.

[2018-05-30 00:32] tfoote commented on #482
A conversion to double will potentially loose information. If we provide it it should have a explicit/unique signature so it's not accidentally used. Can you just use the datatypes instead of an untyped double?

[2018-05-30 13:32] AndyZe commented on #482
My use case is multiplying a double to integrate:

`error_integral_ += error_.at(0) * delta_t_.nanoseconds()/1e9;`

[2018-05-30 16:33] wjwwood commented on #482
As long as the loss of precision is documented I think it would be ok, but I agree avoiding doing that lossy conversion for the user is not ideal.

@AndyZe to answer your question

more directly: it takes seconds and nanoseconds because that's the message storage format, and it has an option to return nanoseconds (that's "as nanoseconds" not the nanoseconds component of the time) because that's un

[2018-05-30 18:38] AndyZe commented on #482
I think it makes sense, too. It's ambiguous, currently. What it this going to do?
`rclcpp::Time old(2, 13e9);`

Is that 15 seconds, or ?

[2018-05-30 20:07] wjwwood commented on #482
That's correct, it is 4 seconds, see:

https://github.com/ros2/rclcpp/blob/d82ce9666c0d672886d6c64f9c6ea59bfd809bb3/rclcpp/src/rclcpp/time.cpp#L48-L57

[2018-05-31 00:11] dirk-thomas commented on #473
Addressed by #474.

[2018-05-31 00:11] #473 closed

[2018-05-31 08:31] esteve commented on #479
@dhood I think it's caused by the `TEST_F` macro doing its voodoo behind the scenes and the template signature in `function_traits` for `std::bind` being too strict. The signature for GCC 7.1 expects this:

<pre>
std::_Bind&lt;ReturnTypeT(<b>ClassT</b>::*(<b>ClassT</b> *, FArgs ...))(Args ...)&gt;
</pre>

but `GTest` generates this instead:

<pre>
std::_Bind&lt;void (<b>TestSubscription</b>::*(<b>

[2018-06-01 17:30] dhood commented on #479
Fixed by https://github.com/ros2/rclcpp/pull/484 (thanks for the explanation and fix, @esteve!)

[2018-06-01 17:30] #479 closed

[2018-06-01 22:39] dirk-thomas opened #487 "deleting parameters doesn't actually remove them"
When deleting a parameter from a node in C++ it is not being removed from the storage. Instead a parameter with the value type "not set" is being kept.

For future list requests that is confusing since the parameter was explicitly deleted. It should be removed from the entirely.

The line in question currently unconditionally sets the parameter in the map: https://github.com/ros2/rclcpp/blob/d298f

[2018-06-01 22:59] dirk-thomas commented on #487
The existing comment mentions that the parameter is intentionally kept in the map with a "not set" type: https://github.com/ros2/rclcpp/blob/d298fa4445c49ce2229752f79e92533bab1caaaa/rclcpp/src/rclcpp/node_interfaces/node_parameters.cpp#L102-L104

Imo that is not a good idea:

* First that makes it impossible to remove a once added parameter completely and the system can never get back into the pre

[2018-06-04 22:01] sloretz opened #490 "Impossible to tell which parameters were gotten if some don't exist"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  -  source
- Version or commit hash:
  - 2cb890e1f235af3ba110dc0e44eb30f50a7f2285
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

In another terminal
[code]

#### Expected behavior

I would expect the returned output from the service

[2018-06-04 22:06] #487 closed

[2018-06-04 22:08] dirk-thomas commented on #490
Based on the documentation of the service interface that is exactly what needs to happen: https://github.com/ros2/rcl_interfaces/blob/8e826d4342a70a17358a27bcf384f695ad32cefd/rcl_interfaces/srv/GetParameters.srv#L7

[2018-06-05 19:22] clalancette opened #491 "Add the ability to have asynchronous service callbacks"
## Feature request

Add in an API to do asynchronous service callbacks for service servers.

#### Feature description

It is currently possible in ROS2 to have a service callback in a thread by using separate callback groups and using a multi-threaded executor.  However, it would probably be nice to allow for an API where the user can specify that their service is asynchronous.  During the initial

[2018-06-05 21:25] sloretz opened #492 "Do argument parsing outside of node constructor"
## Feature request
Things that come from command line arguments should be separately passed into the node's constructor rather than passing in arguments and asking the node to do the parsing.

#### Feature description
Currently command line arguments may be passed to a node via an argument to the node's constructor. This separates the responsibility of parsing arguments from actually using them. A

[2018-06-06 17:23] #490 closed

[2018-06-06 23:00] mikaelarguedas commented on #377
Closing this as https://github.com/ros2/design/pull/152 has been merged. Thanks again @ayrton04 for the contribution!